.salon-location .location-main i{
    display: inline-block;
    background: url("images/ui-icon-location.png") no-repeat;
    width: 26px;
    height: 45px;
    margin-right: 2px;
    vertical-align: middle;
}
.salon-cities-tabs{
    display: inline-block;
    padding: 5px 10px;
}
.salon-cities-tabs a{
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
}
.salon-active a {
    color: #434343;
    text-decoration: none;
}

.front-location-title{
    font-family:  'OpenSans_regular', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #434343;
}
.salon-information{
    padding: 15px 0;
}
.location-title{
    font-size: 24px;
    margin: 0 0 5px;
    font-family:  'OpenSans_Semibold', sans-serif;
}
.title-info{
    margin: 0 0 5px;
}
.title-info span{
    font-family:  'OpenSans_regular', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.location-top-info{
    font-family:  'OpenSans_regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #434343;
}
.adress-centre{
    line-height: 1.9;
    font-size: 15px;
}
.adress-centre span{
    font-family:  'OpenSans_regular', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.adress-centre span.adress{
    font-size: 16px;
    font-weight:400;
}
.location-top-info > .location-adress, .top-work-hours, .top-phone, .top-skype, .location-galery-main, .location-map-main {
    display: inline-block;
   /* margin: 0 17px;*/
}
.location-top-info .location-adress, .location-top-info .top-work-hours, .location-top-info .top-phone, .location-top-info .top-skype{
    margin: 0 3% 0 0;
}
.product-cart__image.location-image {
    float: left;
    width: 100%;
}
.location-image .noprint{
    margin: 0;
    width: 18%;
}
.location-image .product-image-block {
    float: right;
    width: 80%;
    padding: 0;
}
.location-image .product-image-block .product-main-image {
    padding: 0;
    margin: 0;
    box-shadow: none;
    float: left;
}
.location-image .noprint .detail__gallery .detail__gallery__item {
    box-shadow: none;
    padding: 0;
}
.location-image .noprint .detail__gallery {
    overflow: hidden;
    padding: 1px;
    display: block;
    float: left;
}

.front-location-kyiv{
    border-bottom: 1px dashed #d6dbdf;
}

.location-galery-main{
    width: 48%;
}
.location-map-main{
    float: right;
    width: 50%;
    overflow: hidden;
}
.bx-yandex-view-layout{
    width: 100%;
    float: right;
}

#footer-wrapper {
    clear: both;
    position: relative;
    z-index: 10;
    width: 100%;
    /*border-top: 1px solid #dedede;*/
    background-color: #F6F6F6;
}

#footer {
    position: relative;
    max-width: 1200px;
    padding: 40px 20px 20px 20px;
    margin: 0 auto;
    color: #434343;
}

.contacts-city {
    display: block;
    font-weight: 600;
    font-size: 16px;
    color: #4B80BB;
    font-family: 'OpenSans_Semibold', sans-serif;
    margin: 0 0 14px 0px;
}
.contacts-phones {
    font-size: 16px;
    /*font-weight: 600;
    display: block;*/
    margin: 0 0 14px;
    font-family:  'OpenSans_regular', sans-serif;
    font-weight: 400;
}
.contacts-callback {
    margin: 0 0 15px;
}

#footer_new {
    padding: 36px 20px 20px 20px !important;
}

#footer_new span{
  font-weight: normal;
  font-family: 'OpenSans_regular';
}

#footer_new li{
  font-weight: normal;
  font-family: 'OpenSans_regular';
}

#footer_new a{
  font-weight: normal;
  font-family: 'OpenSans_regular';
}

.footer__inner {
    position: relative;
    padding: 0;
    margin: 0 0 5px;
    overflow: hidden;
}

.footer__contacts {
    float: right;
    width: 18%;
    margin: -2px 2% 2% 0;
    color: #434343;
    font-family:  'OpenSans_regular', sans-serif;
    font-weight: 400;
    font-size: 15px;
}


.contacts-address {
    margin: 0 0 8px;
    font-size: 13px;
    min-height: 54px;
}
.contacts-work-time {
    margin: 0 0 5px;
}
.footer-menu {
    float: right;
    width: 20%;
    margin: 0 0% 2% 0;
}
.info-menu{
    color: #434343;
}

.info-menu :first-child li a{
    font-family:  'OpenSans_regular', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.info-item{
    margin: 0 0 10px;
}
.info-item a{
    font-family:  'OpenSans_regular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color:#434343;
}




.footer-links{
    display: inline-flex;
}
.info-menu{
    padding: 0 20px;
}
.info-menu_last{
    padding: 0 20px;
}
.info-menu :first-child a{
    font-weight: 600;
}

// ---------------------- end of file --------------------------


.info-item {
    margin: 0 0 16px !important;
}
.footer-items{
	margin-right: 51px;
}
.footer-info{
	margin-right: 54px;
}

.contacts-work-time{
	overflow: auto;
}
.information{
	margin-top: -1px;
}

.contacts-work-time {
    margin: 0 0 10px 0px !important;
}
.phones-footer {
    margin: 0 0 10px 0px !important;
}
.oplata-footer, .soc-footer{
	margin-top: 83px;
}
.oplata-footer img{
	margin-top: 14px;
}
.soc-footer_ico{
	margin-top: 14px;
}
.soc-footer_ico a{
  margin-right: 11px;
}
