$main-grey: #d6dbdf;
$bg-grey: #F6F6F6;
$main-blue: #4B80BB;
$text-color: #434343;

$main-font: 'OpenSans', Arial, sans-serif;
$main-font-semibold: 'OpenSans_SemiBold', sans-serif;
$main-font-light: 'OpenSans_Light', sans-serif;
$main-font-bold: 'OpenSans_Bold', sans-serif
