/*------------------------------------------------------------
===========  Media-queries from 1000px to 1024px   ===========
----------------------------------------------------------- */

@media screen and (min-width: 1024px) {
    .toppest-menu {
        display: block !important;
    }
    .location-galery-main{
        width: 50%;
    }



}

@media screen and (max-width: 1150px) {
    // .header__middle{
    // //  #   width: 55%;
    // //   #  margin: 0;
    // }
    // .header__middle-inner, .contacts__callback, .contacts__tabs__box, .contacts__tabs {
    // // #    margin: 0;
    // }
    // .search-block{
    // //  #   margin: 85px 0 0;
    // }
	// #search {
	// 	width: 332px;
	// }
    // .top-menu-left-text{
    //     padding: 0 3px 0 0;
    // }
    // .client-link{
    //     margin: 0;
    // }
    .response-menu li{
    //  #   padding: 10px 10px;
    }
    .front-left{
        // #width: 28%;
    }
    .news-content{
        width: 77%;
    }
    .news-post{
        width: 46%;
    }
    .items-text-detail{
        height: 129px;
    }
    // .location-top-info .location-adress, .location-top-info .top-work-hours, .location-top-info .top-phone, .location-top-info .top-skype{
    //     margin: 0 3px;
    // }
    .location-galery-main{
        width: 59%;
    }
    .location-map-main {
        width: 40%;
    }
    .product-inner{
        padding: 5px 10px;
    }
    .product-price-wrap{
        height: 8em;
    }
    .inner-price-block{
        padding: 0 4px 1px 0;
    }
    .product__avail-block{
        margin: 0;
    }
    .main-catalog-products--list .description__right__left{
        width: 45%;
    }
    .main-catalog-products--list .description__bottom{
        padding: 0 3px;
    }
    .butt3, .ui-button-blue{
        padding: 7px 12px;
    }
    .contacts__tabs{
        display: block;
        float: left;
    }
    .header__phones{
    // #    margin: 10px 0 0;
    }
    .contacts__content{
    //   #  width: 300px;
        float: left;
    }
	// .first_ph_text{
	//   display: none;
	// }
    .product-main-image{
        width: 75%;
    }

	// .search .search__q-input {
	// 	min-width: 264px;
	// }
	// .search_focused .search__q-input {
	// 	min-width: 266px;
	// }
	// .search_focused .search__submit {
	// 	padding: 10px 30px 0px 12px;
	// 	    margin: 0;
	// }
}

@media screen and (max-width: 1100px) {
    .product {
        width: 32.5%;
        height: auto;
    }
    #catalog-container .product-properties {
        display: none;
    }
    .front-menu-list li{
        width: 23%;
    }
    .main-page-header{
        width: 75%;
    }
}

@media screen and (max-width: 1000px) {
    // .top-menu-left-text{
    //     display: none;
    // }
    //
    // .footer-links{
    //     width: 100%;
    // }
    // .footer-items{
    //     width: 25%;
    // }
    // .footer__contacts{
    //     float: left;
    //     margin-left: 20px;
    //     width: 25%;
    // }
    //
    // /*-----------------------
    //  Styles for Cart Page
    //  ----------------------- */
    //
    // .cart-page .header__middle,
    // .order-page .header__middle{
    //     float: right;
    //     width: 20%;
    // }
    // .cart-page .header,
    // .order-page .header{
    //     padding-bottom: 5px;
    //     margin-bottom: 15px;
    // }
    // /*-----------------------
    //  End of the Cart Page
    //  ----------------------- */
    //
    // //----------------------------
    // //========= Product page =====
    // //----------------------------
    // .brands-container__content .brand-list .brand-item {
    //     width: 30%;
    // }

	/*
    body {
        background: none;
    }
    .header__container {
        float: none;
        margin-top: 0;
        border-radius: 0;
        box-shadow: none;
        text-align: center;
    }
    .search-block {
        margin: 0 0 10px;
    }
    .search .search__q-input {
        padding: 10px 20px 7px 20px;
        border-radius: 5px 0 0 5px;
        max-width: 415px;
    }
    .search .search__submit {
        padding-left: 20px;
        margin: 0 ;
    }
    .header__logo {
        float: left;
        text-align: center;
        margin: 0 0 12px;
    }
    .header__top-menu {
        border: none;
    }
    .search .search__q-input {
    transition: all .5s;
        min-width:0;
        width: 300px;
    }
    .page-header-wrapper{
        width: 100%;
    }
    .header__middle{
      #  width: 71%;
    }
    .toppest-menu {
        float: none;
        margin: 0 75px;
    }
    .top-cart {
      transition: all .5s;
        clear: both;
        position: absolute;
        margin: 5px;
        padding: 0;
        text-align: center;
        width: auto;
        border-radius: 2px;
        display: inline-block;
        box-shadow: none;
        float: right;
        top: 0;

    }
    .top-cart__content-full .top-cart-price{
    #    display: none;
    }
    .top-cart__content-full .top-cart-price div{
        display: none;
    }
    .cart-link-wrap{
     #   margin: 0 0 0 10px;
    }
    .cart-link-wrap:hover .cart-hover{
     #   display: none;
    }
    .cart-link--full{
     #   min-width: 45px;
    }
    .top-links-menu{
        float: left;
    }
    .toppest-menu ul{
        display: inline-block;
        float: right;
    }
    #filter-result {
        display: none !important;
    }
    .news-content{
        width: 100%;
    }
    .order-block__right,
    .order-block__left {
        display: block;
        width: auto;
    }
    .compare-page__item__image-block {
        float: none;
        margin: 0;
        padding: 0;
    }
    .profile-table td {
        padding: 3px 2px;
        display: block;
        width: auto;
    }
    .block-icons-list__link > span {
        font-weight: 400;
    }
    .footer__inner {
        margin: 0 0 12px;
    }
    .brands-container__content{
        width: 65%;
    }
    .brands-container__content .brand-list .brand-item{
        width: 25%;
    }
    .location-top-info .location-adress, .location-top-info .top-work-hours, .location-top-info .top-phone, .location-top-info .top-skype{
        margin: 5px 32%;
        display: block;
    }
    .location-tab{
        padding: 0 35%;
    }
    .news-and-socials .front-follow .front-follow__title{
        display: none;
    }
    .news-and-socials{
        border-bottom: none;
    }
    .news-content{
        border-bottom: 1px solid #eaeaea;
    }
    .front-follow{
        float: none;
        padding: 0 36% 10px;
    }
    .top-menu-left-text{
        display: none;
    }
    .best_price_guarantee{
        font-size: 11px;
        padding: 10px 20px;
    }
    .product-main-image{
        width: 70%;
    }
    .main-page-header{
        width: 87%;
    }
	*/
}
// @media screen and (max-width: 930px) {
//     .location-galery-main{
//         width: 48%;
//     }
//     .location-map-main{
//         width: 48%;
//
//     }
//     .top-skype{
//         width: 100%;
//     }
//
// }
