@import 'variables';
@import 'base/typography';
@import 'base/base';
@import 'layout/forms';
@import 'layout/components';
@import 'layout/header';
// @import 'layout/middle';
@import 'layout/footer';
// @import "w1000px";
// @import "w799px";
// @import "w320px";
// @import "responsive_tabs";
@import 'vendor/owl-carousel';
// Начало страниц
@import 'pages/home';
@import 'pages/cart';
@import 'pages/cart-thanks';
@import 'pages/profile';
@import 'pages/overviews';
@import 'pages/overview-one';
@import 'pages/delivery-page';
@import 'pages/category-components';
@import 'pages/product';
@import 'pages/category';
@import 'pages/categories';
@import 'pages/search';
@import 'pages/category-manufacturer';
@import 'pages/404';

// Media queries
@import 'media/desktop';
@import 'media/tablet';
@import 'media/phone';