@import "variables";
@import "base";
@import "header";
@import "middle";
@import "footer";
// @import "w1000px";
// @import "w799px";
// @import "w320px";
// @import "responsive_tabs";

// Начало страниц
@import "pages/cart";
@import "pages/cart-thanks";
@import "pages/personal-cabinet";
@import "pages/overview-page";
@import "pages/delivery-page";

// Media queries
@import "media/desktop";
@import "media/tablet";
@import "media/phone";