div.mfeedback {}
div.mf-name, div.mf-email, div.mf-captcha, div.mf-message {width:80%; padding-bottom:0.4em;}
div.mf-name input, div.mf-email input {width:60%;}
div.mf-message textarea {width: 60%;}
span.mf-req {color:red;}
div.mf-ok-text {color:green; font-weight:bold; padding-bottom: 1em;}

.cb-wrapper {
    display: none;
    position: fixed;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
    bottom: 0;
    right: 0;
    background: #000;
    overflow: hidden;
    z-index: 7000;
    height: 100%;
    width: 100%;
}
.callback-block {
    display: none;
    color: #434343;
	width: 252px;
    position: fixed;
    z-index: 7500;
    top: 20%;
    left: 50%;
    margin-left: -125px;
    padding: 15px 23px;
    overflow: hidden;
    border: 1px solid #b1c3bc;
    border-radius: 4px;
    box-shadow: 0 0 20px #414b4d;
    background: #fff;
   /* background: -moz-linear-gradient(top, #9fafa8 0%, #8b9e96 9%, #859991 15%, #859991 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9fafa8), color-stop(9%,#8b9e96), color-stop(15%,#859991), color-stop(100%,#859991));
    background: -webkit-linear-gradient(top, #9fafa8 0%,#8b9e96 9%,#859991 15%,#859991 100%);
    background: -o-linear-gradient(top, #9fafa8 0%,#8b9e96 9%,#859991 15%,#859991 100%);
    background: -ms-linear-gradient(top, #9fafa8 0%,#8b9e96 9%,#859991 15%,#859991 100%);
    background: linear-gradient(to bottom, #9fafa8 0%,#8b9e96 9%,#859991 15%,#859991 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fafa8', endColorstr='#859991',GradientType=0 );*/
}
.callback-block input[type='text'] {
    padding: 8px;
   /* box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.38);*/
    border: 1px solid #4B80BB;
	width: 90%;
    border-radius: 5px;
}
.callback-block textarea {
    padding: 8px;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.38);
    border: none;
    border-radius: 4px;
}
.feedback__title {
    font: bold 24px Calibri, Arial, sans-serif;
    text-shadow: 0px -1px 1px rgba(53, 77, 97, 0.7);
    margin: 0 0 12px;
}
.callback__entity {
    margin: 0 0 12px;
}
.callback__entity > label {
    display: block;
    margin: 0 0 2px;
}
.callback__submit {
    color: #fff;
    border: none;
    padding: 9px 22px;
    font-weight: bold;
    font-size: 14px;
    /*text-shadow: 0 2px 1px rgba(47, 119, 3, 0.5);*/
    border-radius: 5px;
    background: #D34F27;
   /* background: -moz-linear-gradient(top, #b0ef6c 0%, #d5ffa7 3%, #8eea13 6%, #81e10f 34%, #5dc802 94%, #77d410 97%, #52b10f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0ef6c), color-stop(3%,#d5ffa7), color-stop(6%,#8eea13), color-stop(34%,#81e10f), color-stop(94%,#5dc802), color-stop(97%,#77d410), color-stop(100%,#52b10f));
    background: -webkit-linear-gradient(top, #b0ef6c 0%,#d5ffa7 3%,#8eea13 6%,#81e10f 34%,#5dc802 94%,#77d410 97%,#52b10f 100%);
    background: -o-linear-gradient(top, #b0ef6c 0%,#d5ffa7 3%,#8eea13 6%,#81e10f 34%,#5dc802 94%,#77d410 97%,#52b10f 100%);
    background: -ms-linear-gradient(top, #b0ef6c 0%,#d5ffa7 3%,#8eea13 6%,#81e10f 34%,#5dc802 94%,#77d410 97%,#52b10f 100%);
    background: linear-gradient(to bottom, #b0ef6c 0%,#d5ffa7 3%,#8eea13 6%,#81e10f 34%,#5dc802 94%,#77d410 97%,#52b10f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0ef6c', endColorstr='#52b10f',GradientType=0 );
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(63, 80, 65, 0.61);*/
}
.mfeedback .form_error {
    color: #FFFFFF;
    background: #CC3A59;
    padding: 4px 8px;
    margin: 0 0 4px;
    border-radius: 4px;
}
.callback-block .mf-req {
    color: #FE2251;
}
.callback-block .mf-ok-text {
    color: #fff;
    background: #60CE2C;
    padding: 4px 8px;
    margin: 0 0 4px;
    border-radius: 4px;
}
.callback-block .closeCB {
    width: 25px;
    height: 25px;
    background: url(images/ui-icon-close.png) no-repeat;
    position: absolute;
    right: 11px;
    top: 9px;
    cursor: pointer;
}
.callback-block .mfeedback {
    clear: both;
}