#order_click_basket .border {
    border-bottom: 2px solid #f1f2f2;
    line-height: 0;
    padding: 0;
}
#order_click_basket tr:first-child th {
	background: #f1f2f2;
}
#order_click_basket th,
#order_click_basket td {
	border: 1px solid rgb(233, 231, 231);
	padding: 12px;
}
#order_click_basket td.sub {
    height: 18px;
    padding-left: 64px;
    vertical-align: top;
}
#order_click_basket .product img {
    margin-right: 9px;
}
#order_click_basket .sub img {
    margin-top: -5px;
}
#order_click_basket .product span {
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-top: 12px;
}
#order_click_basket .sub span {
    margin-top: 6px;
}
#order_click_basket .btn {
    float: right;
    margin-top: 5px;
}
#order_click_basket .count {
    float: right;
    margin: 0;
    width: 28px;
}
#order_click_basket .count input {
    border: 0 none;
    color: #737373;
    float: left;
    font-family: Arial,Helvetica,Sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    width: 28px;
}
#order_click_basket .price {
    color: #737373;
    padding-right: 10px;
}
#fastbuy_price {
	font-size: 24px;
}
#order_click_basket .total {
    color: #257ab3;
	font-size: 24px;
}
#order_click_basket .delimiter {
    height: 38px;
    width: 2px;
}
#order_click_total {
    margin-top: 3px;
}
#order_click_contacts {
    margin-bottom: 2px;
    margin-right: 30px;
}
#order_click_contacts label {
    font-size: 18px;
}
#order_click_contacts input {
    float: left;
    font-size: 20px;
    height: 25px;
    padding-left: 10px;
    padding-top: 3px;
    width: 152px;
	border: 1px solid grey;
}
#order_click_contacts span.input-left {
    background: url("/bitrix/templates/main/images/contacts_input_corners.gif") no-repeat scroll 0 0 transparent;
    float: left;
    height: 30px;
    width: 3px;
}
#order_click_contacts span.input-right {
    background: url("/bitrix/templates/main/images/contacts_input_corners.gif") no-repeat scroll -3px 0 transparent;
    float: left;
    height: 30px;
    width: 3px;
}
.order_click_constraint {
    color: gray;
}
#order_click_extra_caption {
    background: none repeat scroll 0 0 #E5E5E5;
    clear: both;
    float: left;
    font-size: 14px;
    margin-left: 88px;
}
#order_click_extra_caption > div {
    float: left;
    padding: 5px 14px 0;
}
.tab_corner_left {
    background: url("/images/tab_corners_gray.gif") no-repeat scroll 0 0 transparent;
    float: left;
    height: 30px;
    width: 13px;
}
.tab_corner_right {
    background: url("/images/tab_corners_gray.gif") no-repeat scroll -13px 0 transparent;
    float: left;
    height: 30px;
    width: 13px;
}
#order_click_extra {
    background: url("/bitrix/templates/main/images/extra_background_g.png") repeat-x scroll 0 0 transparent;
    clear: both;
    float: left;
    font-size: 12px;
    height: 178px;
    width: 100%;
}
#order_click_extra #left-panel {
    clear: left;
    float: left;
    height: 177px;
}
#order_click_extra #right-panel {
    background: url("/bitrix/templates/main/images/extra_background.png") no-repeat scroll right bottom transparent;
    clear: right;
    float: right;
    height: 177px;
    width: 380px;
}
#order_click_extra table {
    margin-left: 10px;
    margin-top: 26px;
}
#order_click_extra #right-panel table {
    margin-left: 20px;
}
#order_click_extra #left-panel input, #order_click_extra #left-panel select {
    width: 249px;
}
#order_click_extra #right-panel input, #order_click_extra #right-panel select {
    width: 221px;
}
.order_click_form {
    font-size: 13px;
}
.order_click_form td {
    padding-top: 0;
    vertical-align: top;
}
.order_click_form label {
    display: inline-block;
    width: 120px;
}
.order_click_form select {
    background: none repeat scroll 0 0 white;
    border-color: #BDBDBD;
    color: black;
    font-size: 13px;
    height: 19px;
    margin-bottom: 10px;
}
.wide {
    font-size: 11px;
    margin-top: 3px;
    width: 400px;
}
#order_click_success {
    margin-bottom: 16px;
    padding: 0 22px;
}
#order_click_success p {
    font-family: Tahoma,Arial,Sans-serif;
    font-size: 13px;
    margin: 0;
}
#order_click_success #greeting {
    font-size: 14px;
    padding: 13px 0 10px;
}
#order_click_success #total {
    font-size: 22px;
    font-weight: 600;
    padding-top: 8px;
}
#order_click_success_extra {
    background: url("/bitrix/templates/main/images/auth_background.png") repeat-x scroll 0 0 transparent;
    clear: left;
    float: left;
    font-family: Tahoma,Arial,Sans-serif;
    font-size: 13px;
    padding-top: 0;
    width: 100%;
}
#order_click_success_extra_inner {
    background: url("/bitrix/templates/main/images/auth_background_corner.png") no-repeat scroll right top transparent;
    clear: both;
    float: left;
    margin: 0 23px 23px;
    padding-top: 27px;
}
#order_click_success_extra_inner td {
    vertical-align: top;
}
#order_click_success_extra #form {
    clear: left;
    float: left;
    padding-top: 16px;
}
#order_click_success_extra #social {
    clear: right;
    float: right;
}
#order_click_success_extra #social ul {
    float: left;
    list-style-type: none;
}
#order_click_success_extra #social ul li a {
    cursor: pointer;
    float: left;
    margin: 0 2px 2px;
}
.form_error {
    margin-bottom: 3px;
    margin-left: 5px;
}


.fastbuy {
    overflow: hidden;
}
.fastbuy__title {
    margin: 0 0 16px;
    border-bottom: 1px dotted #999999;
    padding-bottom: 4px;
    font-size: 20px;
    color: #000;
}
.fastbuy__wrap {
    overflow: hidden;
}
.fastbuy__wrap__left {
    float: left;
    width: 30%;
}
.fastbuy__info {
    color: #fead25;
    overflow: hidden;
    margin: 0 0 5px;
}
.fastbuy__info span {
    color: #6f6e6e;
}
.fastbuy__image-block {
    overflow: hidden;
    margin: 0 0 20px;
}
.fastbuy__return-block span {
    color: #a6a7a7;
    font-size: 10px;
}
.fastbuy__return-link {
    font-size: 12px;
    display: inline-block;
    border-bottom: 1px dashed #035a9a;
    text-decoration: none;
}
.fastbuy__return-link:hover {
    text-decoration: none;
    color: red;
    border-color: red;
}
.fastbuy__wrap__right {
    float: right;
    width: 66%;
}
.fastbuy__name {
    font-size: 17px;
    font-weight: bold;
    margin: 0 0 5px;
}
.fastbuy__counts {
    overflow: hidden;
    color: #6f6e6e;
    margin: 0 0 4px;
}
.fastbuy__counts > span {
    margin: 0 5px 0 0;
}
.fastbuy__counts-input {
    width: 20px;
    padding: 5px 10px !important;
}
.fastbuy__counts .basket-del {
    cursor: pointer;
    padding: 0px;
    width: 22px;
    height: 22px;
    line-height: 22px;
}
.fastbuy__counts .basket-add {
    cursor: pointer;
    padding: 0px;
    width: 22px;
    height: 22px;
    line-height: 22px;
}
.fastbuy__counts .disable {
    opacity: 0.8;
}
.fastbuy__price-container {
    font-size: 21px;
    font-weight: bold;
    color: #5A5A5A;
    margin: 0 0 6px;
}
.fastbuy__bottom {
    color: #6f6e6e;
    margin: 0 0 18px;
}
.fastbuy__bottom__title {
    margin: 0 0 12px;
}
.fastbuy__bottom__text {
    color: #a6a7a7;
    font-size: 14px;
    font-style: italic;
}
.fastbuy__phone-block {
    overflow: hidden;
}
.fastbuy__phone-input {
    margin: 0 11px 11px 0;
}

/* Offers styles */
.detail__matrix-block {
    overflow: hidden;
    margin: 0 0 12px;
}
.detail_page_offers_block {
    margin: 0 0 4px;
}
.detail_page_offers_block > strong {
    display: block;
    margin: 0 0 4px;
    font: bold 18px Calibri, Arial, sans-serif;
}
.detail_page_offers_block ul {
    list-style: none;
    font-size: 12px;
    overflow: hidden;
    padding: 4px 0 4px 10px;
}
.detail__prop {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 2% 2% 0;
}
.detail__prop  a {
    text-decoration: none;
}
.detail__prop a.disabled {
    text-decoration: line-through;
    color: #999;
    cursor: default;
}
.detail__prop-square {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(184, 184, 184);
}
.detail__prop-text {
    font-size: 11px;
    color: #585456;
    display: block;
    padding: 2px 1px 2px 1px;
}
.detail__prop a.active {
    color: #21B59E;
}
.detail__prop a.active .detail__prop-square {
    box-shadow: 0px 0px 2px 2px rgba(0, 95, 87, 0.2);
    border-color: #00b4a5;
}
.detail_page_offers--razmer .detail__prop-square {
    padding: 8px 9px 13px 9px;
    text-align: center;
    border: none;
    border-radius: 4px;
    border: 1px solid #8e9696;
    min-width: 40px;
    width: auto;
    height: auto;
    background: #fbfbfb;
    background: -moz-linear-gradient(top, #fbfbfb 0%, #e4e4e4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#e4e4e4));
    background: -webkit-linear-gradient(top, #fbfbfb 0%,#e4e4e4 100%);
    background: -o-linear-gradient(top, #fbfbfb 0%,#e4e4e4 100%);
    background: -ms-linear-gradient(top, #fbfbfb 0%,#e4e4e4 100%);
    background: linear-gradient(to bottom, #fbfbfb 0%,#e4e4e4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e4e4e4',GradientType=0 );
}
.detail__ostatok {
    color: #00b7a7;
    font-size: 14px;
    display: block;
    padding: 2px 0;
    text-align: right;
    position: absolute;
    right: 3px;
    bottom: 3px;
}
.detail__ostatok--active:before {
    font-size: 11px;
    content: 'x';
}
.detail_page_offers--razmer .detail__prop-text {
    font: bold 18px 'Cuprum', Calibri, Arial, sans-serif;
    color: #73747c;
}
.detail_page_offers--razmer a.active .detail__prop-square {
    background: none;
    border-color: #00b4a5;
}

.detail_page_offers--razmer {
    float: left;
    width: 55%;
    margin: 0 2% 2% 0;
}
.detail__table-sizes {
    float: left;
    width: 20%;
    margin: 30px 2% 2% 0;
}
.detail__table-sizes > a {
    color: #0aaad6;
    display: block;
    font: 13px 'Cuprum', Calibri, Arial, sans-serif;
    text-decoration: underline;
    padding-left: 23px;
    background: url(images/ui-icon-table-sizes.png) no-repeat left top;
}
.detail_page_qty_input {
    float: left;
}
.detail_page_qty_input span {
    display: block;
    margin: 0 0 5px;
}
.detail_page_qty_input form {
    float: left;
}
.detail_page_qty_input input[type=number] {
    width: 35px;
    text-align: center;
    padding: 5px 14px;
    border: 1px solid #d7d6d6;
}
.have_to_buy .brands-container__content{
    float: left;
    width: 100%;
}
