/**********************************************
* Computer with screen width less than 1200px *
***********************************************/
@media screen and (max-width: 1199px){
    // Основные контейнеры
    .page-header-wrapper__inner,
    .header__top-menu__inner,
    .page-main-menu,
    .page-inner,
    .front-bg,
    .front-category-wrap,
    #footer{
        max-width: 940px;
        margin-left: auto;
        margin-right: auto;
    }

    .front-bg{
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }

// ********************************************
// *        Стили шапки                       *
// ********************************************
    .top-menu-left-text{ // описание в левом верхнем углу
        display: none;
    }


    #search {
        width: 332px;
    }
    .client-link{
        margin: 0;
    }
    .first_ph_text{
	  display: none;
	}
    .search .search__q-input {
		min-width: 264px;
	}
	.search_focused .search__q-input {
		min-width: 266px;
	}
	.search_focused .search__submit {
		padding: 7px 30px 6px 12px;
		    margin: 0;
	}
    // =======================================
    // Конец стилей шапки mw: 1199px
    // =======================================

// ********************************************
// *        Главная страница сайта            *
// ********************************************
    .home-page .front-middle .front-right{
        width: 670px;
    }
    .home-page .brands-container__content{
        width: 655px;
    }
    .home-page  .brand-list .brand-item{
        width: 158px;
        padding: 6px 0;
    }
    .news_item__img-wrap{
        width: 290px;
    }

    .footer__socials > li{
        margin: 0 12px 4px 0;
    }
    .footer__socials > li:last-child{
        margin-right: 0;
    }



        // =======================================
        // Конец стилей главной страницы mw: 1199px
        // =======================================

    // ********************************************
    // *           Страница категрии              *
    // ********************************************

    .catalog-top-menu__link{
        padding: 0 8px;
    }
    .product-inner{
        padding: 5px 10px;
    }
    .product-price-wrap{
        height: 8em;
    }
    .inner-price-block{
        padding: 0 4px 1px 0;
    }
    .product__avail-block{
        margin: 0;
    }
    .main-catalog-products--list .description__right__left{
        width: 45%;
    }
    .main-catalog-products--list .description__bottom{
        padding: 0 3px;
    }
    .butt3, .ui-button-blue{
        padding: 7px 5px;
    }
    .butt3 i{
        width: 28px;
    }
    .product-main-image{
        width: 75%;
    }
    .product {
        width: 32.5%;
        height: auto;
    }
    #catalog-container .product-properties {
        display: none;
    }


    // ====================
    // Конец страницы категории mw: 1199px
    // ====================

    // ***********************************
    // * Product page  - Карточка товара *
    // ***********************************
    .product-cart__image {
        width: 640px;
    }
    .product-image-block{
        padding: 0;
    }
    .detail__gallery{
        width: 95px;
        padding: 0 5px;
    }
    .detail__gallery__item{
        margin-bottom: 5px;
    }
    .product-main-image{
        width: 515px;
        padding: 0 5px;
    }
    .product-right-block{
        margin-bottom: 0;
        height: 345px;
        overflow: hidden;
    }
    .product-right-block__inner{
        margin: 0;
        height: 100%;
    }

    .product-right-block__inner-left{
        clear: both;
        float: none;
        width: 100%;
    }
    .product-right-block__inner-left > .manufacturer,
    .warranty,
    .shop_works-time{
        border: none;
        display: inline-block;
        width: 225px;
    }
    .product-right-block__inner-left-bottom{
        margin-bottom: 7px;
    }
    .left-bottom-item{
        display: inline-block;
    }
    .item-detail-menu-wrap{
        width: 100%;
        box-sizing: border-box;
    }
    .item-detail-menu-wrap .item-detail-menu-item a{
        padding: 17px 17px;
    }


    // =================================
    // Конец карточки товара mw: 1199px
    // =================================
// ************************************************************
// *   Стили страницы доставки - delivery page  *
// ************************************************************
    .delivery-service-info{
      padding: 0 20px;
      width: 235px;
    }
    .delivery-service-desc{
      width: 295px;
    }
    // ==================================================
    // Конец страницы доставки - delivery page mw: 1199px
    // ==================================================
// ************************************************************
// *   Стили блока с адрессом который идет перед футером     *
// ************************************************************

    .location-galery-main {
        width: 49%;
    }
    .location-map-main {
        width: 49%;

    }

    .location-top-info .location-adress,
    .location-top-info .top-work-hours,
    .location-top-info .top-phone,
    .location-top-info .top-skype{
        margin: 0 3px;
    }


    // =======================================
    // Конец стилей блока с адресом mw: 1199px
    // =======================================

// ***********************
// *   Стили ФУТЕРА     *
// ***********************
    #footer{
        padding: 40px 0 20px;
    }
    #footer .info-menu{
        padding: 0;
    }
    .footer-links{
        width: 550px;
    }
    .footer-items,
    .footer-info,
    .information{
        width: 160px;
    }
    .footer__contacts{
        float: right;
        margin: 0;
        width: 180px;
    }


    /*-----------------------
     Styles for Cart Page
     ----------------------- */

    .cart-page .header__middle,
    .order-page .header__middle{
        float: right;
        width: 20%;
    }
    .cart-page .header,
    .order-page .header{
        padding-bottom: 5px;
        margin-bottom: 15px;
    }
    /*-----------------------
     End of the Cart Page
     ----------------------- */







}

//--------------------------------------------
//--------------------------------------------

/**********************************************
* Computer with screen width less than 993px *
***********************************************/
@media screen and (max-width: 992px){
    // Основные контейнеры
    .page-header-wrapper__inner,
    .header__top-menu__inner,
    .page-main-menu,
    .page-inner,
    .front-bg,
    .front-category-wrap,
    #footer{
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
    }

    .front-bg{
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }

//****************************************
// *           Стили шапки               *
//****************************************
    .header__middle-inner {
        display: none;
    }
    #search {
        width: 190px;
        top: -7px;
        left: -34px;
    }
    .search .search__q-input {
        width: 140px;
        min-width: 140px;
        padding: 9px 0px 0px 0px;
    }

    .search__submit {
        padding: 7px 11px 6px 14px;
        margin: 0;
    }

    .search_focused .search__submit {
        padding: 7px 7px 6px 16px;
        margin: 0;
    }

    .client-link{
		    width: 104px;
        font-size: 12px;
    background: url("images/ui-icon-arrow-menu-down-tablet.png") no-repeat 100% center;
    padding: 0px 0px 3px 0px;
    //  #   display: none;
    }
	.top-client {
		margin: 3px 0px 0px 27px;
	}
    .client-link span{
		border-bottom: 1px solid #afafaf;
        // #text-decoration: underline;
        color: #0d0d0d;
        font-size: 15px;
    }
    .client-link:hover{

        // #background: url("images/ui-icon-arrow-menu-down-tablet.png") no-repeat 94% center;
    }
    .client-link:hover span{
		border-bottom: none;
        text-decoration: none;
        color: #D34F27;
        cursor: pointer;
    }
    .contacts__content{
        width: auto;
        margin: 3px 0 0;
        float: left;
    }
    .contacts__tabs-link{
        margin: 3px 7px 0;
    }
    .head_phones_select{
        font-size: 11px;
    }
    .head_phones_select-city{
        border: none;
        padding: 7px 0;
        font-size: 11px;
    }
    .contacts__callback{
        font-size: 11px;
    }
    .response-menu li{
        // #padding: 4px 8px 0px 0px;
		padding: 4px 0px 0px 22px;
    }
	 .response-menu li:first-child{
        // padding: 4px 8px 0px 22px;
    }

    .header__phones-top-menu{
        display: block;
    }
	.phone-header span {
		font-size: 16px;
	}
	.contacts__callback {
		margin: 0px 0px 0;
	}
	.toppest-menu ul {
		padding: 3px 6px;
	}
	.page-header-wrapper {
		padding: 0px 16px;
	}
	.contacts__content {
		padding-left: 0px;
	}
	.logo-main{
		width: 150px;
	}
	.page-header-wrapper__inner {
		padding: 40px 1px 0px 0px;
	}
	.head_color {
		background: url("http://modelistam.com.ua/site_new/test_1/head_color_bg_02.png") #F6F6F6 repeat-x center;
		margin: -130px 0 12px;
		height: 108px;
	}
    .toppest-menu li b {
        display: none;
    }
    .login-text_sm{
        display: inline-block;
    }
    .login-text_full{
        display: none;
    }

	.top-links-menu {
		top: 113px;
	}
	.header-cart-link i{
		background: url("images/svg/Cart-menu.svg") no-repeat;
		width: 34px;
		height: 35px;
		display: block;
	}
	.top-cart-block{
		float: right;
	}
	    .header-wishlist-link i{
        background: url("images/svg/Heart-menu-default.svg") no-repeat left center;
        margin: 0 0 7px 6px;
        width: 37px;
        height: 25px;
		border: none;

    }
    .top-wishlist-block:hover .header-wishlist-link i{
        background: url("images/svg/Heart-menu-active.svg") no-repeat left center;
		border: none;

    }
    .header-compare-link i{
        background: url("images/svg/Scale-menu-default.svg") no-repeat left center;
        margin: 0 0 7px 10px;
        width: 37px;
        height: 25px;
		border: none;
    }
    .top-compare-block:hover .header-compare-link i{
        background: url("images/svg/Scale-active.svg") no-repeat left center;
		border: none;
    }
    .header-price-link i{
    background: url("images/svg/Money-menu-default.svg") no-repeat left center;
        margin: 0 0 0 7px;
        width: 37px;
        height: 33px;
		border: none;

    }
    .top-price-block:hover .header-price-link i{
        background: url("images/svg/Money-menu-active.svg") no-repeat left center;
		border: none;

    }
    .header-waiting-link i{
    //  #   background: url("images/ui-icon-waiting.png") no-repeat left center;
        margin: 0 0 5px 10px;
        width: 37px;
        height: 23px;
		border: none;
    }
    .top-waiting-block:hover .header-waiting-link i{
        background: url("images/ui-icon-waiting-hover.png") no-repeat left center;
		border: none;
    }
    .cart-link-wrap {
        display: none;
    }
	.top-cart-block{
		    margin-left: 30px;
	}
    // .header-cart-link i {
    //     background: url("images/svg/Cart-menu.svg") no-repeat;
    //     width: 34px;
    //     height: 35px;
    //     display: block;
    // }
    // ====================
    // Конец стилей шапки mw: 992px
    // ====================

// ********************************************
// *        Главная страница сайта            *
// ********************************************
    .home-page .front-left{
        display: none;
    }
    .mobile-menu{
        // display: block;
        // position: static;

    }

    .mobile-menu .main-catalog-link-mobile{
        // float: left;
        // display: block;
        // color: #fff;
        // font-size: 16px;
        // font-weight: 600;
        // margin-right: 10px;
        // background: #4B80BB url("images/ui-icon-arrow-menu-down.png") no-repeat 94% center;
        // padding: 6px 30px 6px 12px;
        // border-radius: 3px;
    }
    .home-page .front-middle .front-right{
        width: 100%;
    }
    .brand-categories{
        width: 200px;
    }
    .brand-active {
        background: url(images/ui-icon-brand-active.png) -70px 0 no-repeat;
    }
    // вы смотрели + в корзине
    .how-many-items .items-in-cart span{
        margin-top: -60px;
    }
    .poly-items__item .product-wishlist-block{
        width: 40%;
        float: right;
    }
    .poly-items__item .product-wishlist-block a > div{
        display: none;
    }
    .poly-items__item .product-wishlist-block .top-wishlist-link{
        padding: 11px 0;
    }
    .poly-items__item .product-wishlist-block{
        width: 30%;
    }
    .home-page .product-add-basket{
        padding: 0;
        width: 70%;
    }

    .home-page .brands-container__content{
        width: 500px;
    }
    .home-page  .brand-list div.brand-item{
        width: 160px;
        padding: 6px 0;
    }

    .poly-items__item .butt2{
        padding: 7px 12px;
    }


    // news and groups
    .news-content{
        width: 100%;
    }
    .front-follow{
        float: none;
        width: 100%;
        text-align: center;
    }
    .news-and-socials .front-follow__title,
    .news-and-socials .socials-container{
        display: none !important;
    }
    .news_item__img-wrap{
        width: 290px;
    }

    .footer__socials > li{
        margin: 0 12px 4px 0;
    }
    .footer__socials > li:last-child{
        margin-right: 0;
    }

    .front-menu-list li{
        width: 22%;
        vertical-align: top;
    }
    .category-top-items-wrap .category-top-items-block{
        width: 49%;
    }
    .category-top-items-block div.poly-items{

    }
    .poly-items__inner__inner-category{
        padding-bottom: 10px;
    }




    // =======================================
    // Конец стилей главной страницы mw: 992px
    // =======================================

// ********************************************
// *           Страница категрии              *
// ********************************************
    .front-right{
        width: 100%;
    }
    .section-viewed-block{
       display: none;
   }
   .sidebar-left{
       width: 90%;
       max-width: 375px;
   }
   .filter-header{
       border-bottom: 1px solid $main-grey;
       box-sizing: border-box;
       height: 40px;
       line-height: 40px;
       padding: 0 25px;
       margin: 0;
       font-size: 1em;

   }
   .filter-button{
       height: 30px;
   }
   .checkbox-black{
       margin-right: 25px;
   }
   .sidebar-filter{
       display: none;
       position: absolute;
       top: 0;
       left: 10px;
       width: 100%;
       z-index: 99999;
   }
   .filter-values-block{
       display:none;
       margin: 0;
   }
   .catalog-content{
       width: 100%;
       margin: 0;
   }
   .catalog-top-menu__item{
       box-sizing: border-box;
       width: 140px;
   }
   .catalog-top-menu__link{
       padding: 0;
   }

   // Styles for category page
   // the filter and sort buttons
   .catalog-view-changer{
       display: none;
   }
   .mobile-filter-links{
       display: block;
       width: 100%;
       border-bottom: 1px solid $main-grey;
       padding: 2% 0 2% 6%;
       text-align: center;
       box-sizing: border-box;
   }

   .filter-link, .sort-link{
       border: 1px solid #000;
       border-radius: 6px;
       padding: 8px 10px;
       width: 40%;
       display: block;
       float: left;
       background: url(images/ui-icon-sort-down.gif) 95% center no-repeat;
   }
   .filter-link:hover, .sort-link:hover{
       cursor: pointer;
       background: $main-blue;
       color: #fff;

   }
   .filter-link{
       margin-right: 2%;

   }
   .product-sort-simple{
       display: none;
   }
   #sort-form, .sort{
       border: none;
       height: 0;
       position: static;
       margin: 0;
   }
   .product-sort-simple{
       width: 90%;
       max-width: 450px;
       position: absolute;
       right: 0;
       z-index: 9999;
       background: $bg-grey;
       border: 1px solid $main-grey;
       border-bottom: none;
       box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
   }
   .product-sort-simple b{
       display: none;
   }
   .product-sort__link{
       display: block;
       width: 100%;
       font-size: 1rem;
       text-decoration: none;
       // text-transform: capitalize;
       padding: 10px 25px 5px;
       border-bottom: 1px solid $main-grey;
       color: $text-color;
   }
   .product-sort__link:hover{
       background: $bg-grey;
   }
   .product-filter:nth-child(1) .filter-values-block, 	.product-filter:nth-child(2) .filter-values-block{
       display: block;
   }
   .checkbox-black-checked{
       margin-right: 25px;
   }

   .product-title{
       margin-right: 0;
       width: 100%;
   }

   .inner-price-block{
       display: inline-block;
       float: left;
   }
   .product-add-basket{
       width: 100%;
       float: left;
       padding: 20px 0 0;
   }
   .description__bottom__right{
       position: absolute;
       bottom: -10px;
       right: 0px;
   }


    // ==================================
    // Конец страницы категории mw: 992px
    // ==================================

// ***********************************
// * Product page  - Карточка товара *
// ***********************************
.detail-container__content > .pagetitle{
    padding-right: 0;
}
    .product-cart__image {
        width: 460px;
    }
    .product-image-block{
        padding: 0;
    }
    .detail__gallery{
        width: 34px;
        padding: 0;
    }
    .detail__gallery__item{
        margin: 0;
        padding: 0;
        margin-bottom: 25px;
        border: 2px solid #3492C7;
        border-radius: 50%;
        height: 30px;
        width: 30px;

    }
    .detail__gallery__item a{
        height: 30px;
        width: 30px;
        display: block;
    }
    .detail__gallery__item img{
        display: none;
    }
    .product-main-image{
        width: 406px;
        padding: 0 5px;
        min-height: 305px;
    }
    .product-right-block{
        width: 260px;
        height: auto;
    }
    .product-right-block__inner-left-bottom{
        display: none;
    }
    .product-right-block__inner-left div{
        padding: 9px 0;
    }

    .product-right-block__inner-left{
        padding-left: 125px; // освободить место под рейтинг
    }
    .top-right-block{
        padding-top: 7px;
        margin: 0;
    }
    .product-avail-yes{
        width: 100px;
    }
    div.stock-alert-block{
        display: none;
    }
    .product-actions{
        border: none;
        margin: 0;
        padding: 0;
    }
    .detail-action-block .product-compare-block,
    .detail-action-block .product-wishlist-block,
    .detail-action-block .price-alert-block,
    .detail-action-block .stock-alert-block{
        margin: 0 10px;
    }
    .rating-block{
        position: absolute;
        top: 372px;
        left: 25px;
    }


    .video-item-detail{
        float: none;
        padding: 0;
        width: 500px;
        margin: 0 auto 25px;
    }
    .product-bottom{
        float: none;
        width: 100%;
    }

    // табы выбора контента
    .item-detail-menu-item{
        position: relative;
    }

    li.item-detail-menu-item span{
        display: block;
    }
    .item-detail-menu-item > ul{
        display: none;

    }

    .item-detail-menu-item:hover > ul{
        display: block;
        position: absolute;
        top: 53px;
        left: -57px;
        background: #fff;
        border: 1px solid #777;
        z-index: 9999;
        width: 215px;
    }
    .item-detail-menu-item:hover > ul > li{
        display: block;
        border-bottom: 1px dashed $main-grey;
    }
    .item-detail-menu-item:hover > ul > li:last-child{
        border-bottom: none;
    }
    // =================================
    // Конец карточки товара mw: 992px
    // =================================
// ************************************************************
// *   Стили страницы доставки - delivery page  *
// ************************************************************
    .delivery-service i{
        display: none;
    }
    .delivery-cities .delivery-cities-tabs{
      padding: 0;
    }
    .delivery-city-link{
      display: block;
      background: $main-blue;
      padding: 5px 15px;
      color: #fff;
      border: none;
      border-radius: 5px;
    }
    .delivery-active a{
      background: none;
      border: 1px solid $main-grey;
      color: #000;
    }
    // ==================================================
    // Конец страницы доставки - delivery page mw: 1199px
    // ==================================================
// ************************************************************
// *   Стили блока с адрессом который идет перед футером     *
// ************************************************************

    .brands-container__content .brand-list .brand-item {
        width: 28%;
    }

    .location-top-info .location-adress,
    .location-top-info .top-work-hours,
    .location-top-info .top-phone,
    .location-top-info .top-skype{
        width: 100%;
        margin: 5px 0;
    }
    .adress-centre{
        margin: 0 0 10px;
    }
    .location-top-info .top-skype{
        margin-bottom: 20px;
    }
    .location-galery-main{
        width: 49%;
    }

    .location-map-main{
        width: 49%;
        height: 300px;

    }

    // =======================================
    // Конец стилей блока с адресом mw: 992px
    // =======================================

//***********************
// *   Стили ФУТЕРА     *
//***********************
    #footer{
        padding: 40px 20px 20px;
    }
    #footer .info-menu{
        padding: 0;
    }
    .footer-links{
        width: 100%;
    }
    .footer-items,
    .footer-info,
    .information{
        width: 250px;
    }
    .footer__contacts{
        float: left;
        margin: 15px 0 10px 0;
        width: 250px;
    }
    // ====================
    // Конец стилей футера mw: 992px
    // ====================
}
