// Mobile phone with width less than 544 px
@media screen and (max-width: 544px){
    // Основные контейнеры
    .page-header-wrapper__inner,
    .header__top-menu__inner,
    .page-main-menu,
    .page-inner,
    .front-bg,
    .front-category-wrap,
    #footer{
        width: auto;
        min-width: 300px;

    }
    .page-header-wrapper,
    .page-header-wrapper__inner{
        padding: 0;
    }

    // ***********************
    // *   Стили шапки      *
    // ***********************
    .toppest-menu{
        position: absolute;
        top: 0;
        right: 60px;
    }
    .toppest-menu li {
		margin-top: 15px;
	}

    .top-links-menu {
        top: 102px;
    }
    .page-header-wrapper__inner {
        margin-bottom: 0;
        padding-top: 0px;
        width: 300px;
        float: left;
    }
    .header {
        padding: 0;
        margin-top: -4px;
    }
    .header__logo {
        margin: 0;
    }
    .client-link{
        display: none;
    }
    .head_color{
        height: 82px;
        margin: -80px 0 12px;
    }

    .header__top-menu__inner {
        margin:0;
        padding: 0;
    }
    .header__middle-inner {
        display: none;
    }
    .response-menu{
        display: none;
    }
    .top-cart{
        top: 15px;
        right: 0;
        height: 42px;
        width: 52px;
    }
    .top-cart em {
        display: none;
    }
    .top-wishlist-block,
    .top-price-block{
        margin: 0 0 4px 0;
    }
    .top-wishlist-block,
    .top-compare-block,
    .top-waiting-block{
        margin: 0 0 4px 3px;
    }
    .cart-link-wrap {
        padding: 0;
        margin: 0;
        width: 50px;
        height: 40px;
        background: url("images/ui-icon-cart.png") no-repeat 10px 50%;
        background-color: #FEF4CE;
        display: block;
        border: none;
        background-color: transparent;
    }
    .cart-link--full{
        min-width: 50px;
        min-height: 40px;
    }
    .top-cart__content__block {
        display: none;
    }
    .top-cart__content__block--products {
        display: block;
        font-size: 12px;
        font-weight: 600;
        margin: 20px 4px 0 23px;
        width: 24px;
    }
    div.top-cart-block{
        display: none;
    }
    .search .search__q-input {
        width: 200px;
        min-width: 0;
        margin: 0 0 8px;
        padding: 9px 12px;
    }
	.search .search__q-input {
		width: 193px;
		min-width: 0;
		margin: 0 0 0px 7px;
	}
	#search {
		left: -155px;
		top: 75px;
		width: 232px;
	}
    #pull-search{
        background-size: 75%;
        margin: 7px 0 0 7px;
    }
    #pull-search > span {
        display: none;
    }
    .detail-container__content > .pagetitle {
        padding-right: 0;
    }
    .detail-compare-block .block-item__image {
        float: none;
    }

    .front-middle .front-left {
		display: none;
	    margin-top: -17px;
	}
	// .top-links-menu {
    // 	top: 102px;
	// }

	.front-middle .front-right {
		display: none;
	}
	.page-header-wrapper {
	 	height: 165px;
	}

    .response-menu ul li a,
    .response-menu ul li a:hover,
    .response-menu ul li.current a,
    .response-menu ul li a:hover,
    .response-menu ul li.current a {
        padding: 14px 20px;
        position: relative;
        z-index: 1;
    }
    .header__top-menu{
        margin: 0;
    }

	.catalog-top-menu__item{
		width: 45%;
		padding-bottom: 8px;
	}
	.top-menu-views-item, .top-menu-video-item{
		padding-left: 4px;
	}

    #dynamic_auth{
        top:0
    }
    .header__phones-top-menu{
		// #display: none;
    }
	.phone-header {
		display: block;
        position: absolute;
		left: 63px;
	    top: 54px;
	}
	.first_ph_text{
		display: none;
	}

    .contacts__callback{
		display: none;
	}
    // боковое меню сворачивается в кнопку в хедере
    .main-catalog-link-mobile{
        position: absolute;
        top:6px;
        left: -10px;
        padding: 0 6px 0 6px;
        background: #FFEFB2;
		height: 82px;
    }
    .main-catalog-link-mobile i{
        display: block;
        margin: 10px 0 0 7px;
        width: 37px;
        height: 40px;
        background: url("images/ui-icon-mobile-menu-main.png") no-repeat left center;
    }
    .main-catalog-link-mobile span{
        color: #346CAB;
		font-family: 'OpenSans_Semibold';
    }
    .main-catalog-link-mobile:hover{
        background: #ffefb2;
        text-decoration: none;

    }
    .main-menu-list{
        top:70px;
    }
    .mobile-menu{
        display: block;
        z-index: 100;
        margin-top: 9px;
    }
    // конец кнопки бокового меню

    // =======================================
    // Конец стилей шапки mw: 544px
    // =======================================

// ********************************************
// *        Главная страница сайта            *
// ********************************************
    .home-page .head_color{
        margin-bottom: 0;
    }
    .main-page-header{
        display: none;
    }
    .home-page .front-right{
        display: block;
    }
    .home-page .front-bg{
        padding: 0;
        margin-bottom: 30px;
    }
    div.how-many-items{
        display: none;
    }
    .front-wrapper-slider{
        padding: 0;
    }
    .poly-items__title{
        margin-bottom: 0;
    }
    .poly-items__item .butt2{
        padding: 7px 11px;
    }
    .poly-items__item .product-wishlist-block .top-wishlist-link{
        padding: 13px 0;
        margin: 12px 0 0;
    }
    .front-wrapper-slider .owl-pagination{
        border: none;
        margin: 10px 0 20px;
    }
    .front-wrapper-slider .owl-pagination .owl-page{
        background: #fff;
        width: 25px;
        height: 25px;
        margin-left: 20px;
        border: 2px solid $main-blue;
        border-radius: 50%;

    }
    .front-wrapper-slider .owl-pagination .owl-page.active{
        border: 2px solid $main-grey;
    }
    .front-wrapper-slider .owl-theme .owl-controls .owl-page span{
        display: none;
    }

    .brands-main{
        display: none !important;
    }
    .news-and-socials{
        display: none;
    }

    .home-page .front-text{
        display: none;
    }


    .front-menu-list li{
        width: 45%;
        vertical-align: top;
    }
    .category-top-items-block div.poly-items{
        display: none;
    }
    .home-page .front-category-wrap{
        padding-top: 0;
        margin-top: -25px;
    }

    div.items-in-cart{
        display: none;
        margin: 0;
    }
    .home-page .product-add-basket{
        width: 100%;
    }


    // =======================================
    // Конец стилей главной страницы mw: 544px
    // =======================================

// ********************************************
// *           Страница категрии              *
// ********************************************
    .page-main-menu-wrap{
         display:none;
    }

    .catalog-h1{
        margin-top: 5px;
        font-weight: normal;
        font-family: OpenSans_Semibold, sans-serif;
    }
    .main-catalog-products{
        padding: 0;
        max-width: 400px;
        margin: 0 auto;
    }
    .product-inner{
        padding: 0;
        margin: 0;
    }
    .product {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .product-title{
        display: none;

    }
    .description__right .product-preview-text{
        height: auto;
        margin: 7px 0;
        font-size: 14px;
    }

    .product .product-inner,
    .product:nth-child(3n) .product-inner{
        border-right: none ;
    }

    .product .product-inner:hover{
         border: 1px solid #4B80BB;
    }
    .product-image__image{
        margin: 0 auto;
    }
    .product-add-basket{
        padding-top: 10px;
    }
    .product-price-wrap{
        margin: 0;
    }
    .mobile-filter-links{
        padding: 0;
    }

    .nav-elems{
        margin-left: 0;
        margin-bottom: 20px;
    }
    .pager-main-block .next-navigation {
        margin: 15px auto;
        clear: both;
        float: none;

    }




    // ===================================
    // Конец страницы категории mw: 544px
    // ===================================

// ***********************************
// * Product page  - Карточка товара *
// ***********************************
        .product-cart__image {
            width: 100%;
        }

        .detail__gallery{
            text-align: center;
        }

        .detail__gallery__item{
            border-color: $main-blue;
        }
        .detail__gallery__item img{
            display: none;
        }
        .product-main-image{
            width: 100%;
            padding: 0;
        }
        .product-right-block{
            width: 100%;
            height: auto;
        }
        .product-right-block__inner{
            background: none;
            border-bottom: 1px dashed #afafaf;
            padding: 0;
        }

        .product-right-block__inner-left-bottom{
            display: block;
            width: 100%;
        }
        .left-bottom-item{
            display: none;
        }
        .left-bottom-item:first-child,
        .left-bottom-item:nth-child(2){
            display: block;
        }

        .product-right-block__inner-left{
            padding-left: 0;
        }
        .top-right-block{
            padding-top: 15px;
            margin: 0;
        }
        .product-avail-yes{
            width: 115px;
        }

        div.stock-alert-block{
            display: none;
        }
        .product-actions{
            border: none;
            margin: 0;
            padding: 0;
            width: 175px;
        }
        .product-actions__left .product-actions__left-title,
        div.buy-credit-block{
            display: none;
        }
        .product-actions{
            margin-top: -40px;
        }
        .product-actions__left{
            float: right;
            margin-bottom: 15px;
        }
        .detail-action-block{
            width: 100%;
        }
        .product-right-block .detail-price-block {
            width: 100%;
            border-bottom: 1px dashed #afafaf;
            padding: 0 0 15px;
            margin: 0;
        }

        .detail-action-block .product-compare-block,
        .detail-action-block .product-wishlist-block,
        .detail-action-block .price-alert-block,
        .detail-action-block .stock-alert-block{
            margin: 0 4px 0 0;
        }
        .rating-block {
            position: static;
            float: left;
            padding: 10px 10px 0 0;
        }
        .item-detail-menu{
            
            h6{
                font-size: 18px;
                border: 1px solid #000;
                font-family: OpenSans_Semibold, sans-serif; 
                margin: 0;
                margin-top: -1px;
                padding: 15px 10px;
                
            }
            h6:first-of-type{
                border-top: 1px solid #000;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
            }
            h6:last-of-type{
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
            }
            h6:hover{
                background: #346cab;
            }
        }


        .item-detail-menu-item{
            display: block;
            width: 100%;
            border-bottom: 1px solid #d6dbdf;
        }
        .item-detail-menu-item:last-child{
            border-bottom: none;
        }
        .item-detail-menu-wrap .item-detail-menu-item a {
            padding: 8px 18px;
        }
        .item-detail-menu-item-active {
            background: #4B80BB;
        }

        .video-item-detail{
            float: none;
            padding: 0;
            width: 90%;
            margin: 0 auto 25px;
        }
        .product-bottom{
            float: none;
            width: 100%;
        }


        // =================================
        // Конец карточки товара mw: 544px
        // =================================

// ************************************************************
// *   Стили страницы доставки - delivery page  *
// ************************************************************
    .delivery-cities{
      border-radius: 6px;
      overflow: hidden;
    }
             .delivery-cities .delivery-cities-tabs{
               padding: 0;
               width: 100%;
               display: none;
             }
             .delivery-city-link{
               display: block;
               background: $main-blue;
               padding: 5px 15px;
               color: #fff;
               border: none;
               border-radius: 0;
             }
             .delivery-cities .delivery-active{
               display: block;
               border-radius: 5px;
             }
             .delivery-active a{
               background: $main-blue url(images/ui-icon-arrow-menu-down.png) no-repeat 95% 50%;
               padding: 10px 15px;
               font-weight: 700;
               color: #fff;
               border: none;
             }
            .delivery-active a:hover{
              background-image: none;
              color: #fff;
              font-weight: bold;
            }

             // ==================================================
             // Конец страницы доставки - delivery page mw: 1199px
             // ==================================================

// ***********************************************************
// *             Страница регистрации                        *
// ***********************************************************

.bx-auth-reg {
    width: 100%;
}
.bx-auth-input,
.registration__entity input{
    width: 100%;
    box-sizing: border-box;
}
.registration__entity input:focus{
    border: 1px solid #4B80BB;
    outline: none;
}
.registration__entity--submit input{
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding: 0 18px;
    box-sizing: border-box;
}

// ===================================
// Конец стилей страницы регистрации
// ===================================

// ***********************************************************
// *                Стили блока по брендам, над адресами
// ************************************************************
    .content-tabs-catalog{
        display: block;
        border: 1px solid #787878;
        box-sizing: border-box;
    }
    .menu-tabs-catalog-item{
        border-bottom: 1px solid #787878;
        display: block;
    }
    .menu-tabs-catalog-item__title{
        margin-right: 10px;
    }
    .menu-tabs-catalog-item__title b{
        background: url("images/ui-icon-catalog-tabs-mobile.png") no-repeat 94% center;
        width: 20px;
        height: 20px;
        display: inline-block;
        float: right;
    }
    .menu-tabs-catalog-item__title:hover,
    .menu-tabs-catalog-item__title:hover a {
        background: #346CAB;
        color: #fff;
        cursor: pointer;
    }


    .menu-tabs-catalog .menu-tabs-catalog-item:first-child .parent-inner-information{
        display: none;
        position: relative;
    }
    .menu-tabs-catalog .menu-tabs-catalog-item:first-child:hover .parent-inner-information{
        display: block;
    }
    .menu-tabs-catalog .menu-tabs-catalog-item:nth-child(2){
        display: block;
    }
    .menu-tabs-catalog .menu-tabs-catalog-item:nth-child(3), .menu-tabs-catalog .menu-tabs-catalog-item:nth-child(4){
        position: relative;
        left: 0;
    }
    .menu-tabs-catalog-item:hover .parent-inner-information{
        display: block;
    }
    .brands-container__content .brand-list .brand-item{
        width: 48%;
        padding: 5px 0px;
    }
    .detail__brands{
        padding: 2px;
    }


    //=========================================================
    //    Конец блока по брендам mw: 544px
    //=========================================================
// ************************************************************
// *   Стили блока с адрессом который идет перед футером     *
// ************************************************************
    .front-location-title,
    .title-info span{
        font-size: 14px;
        text-align: left;
    }
    .front-location-title{
        padding-bottom: 15px;
        margin-bottom: 10px;
        border-bottom: 1px dashed $main-grey;
    }
    .location-title{
        font-size: 17px;
        text-align: center;
    }

    .location-galery-main{
        width: 100%;
    }
    .location-map-main{
        width: 100%;
        height: 100%;
    }
    .front-right{
        display: none;
    }
    // =======================================
    // Конец стилей блока с адресом mw: 544px
    // =======================================


    // *****************************
    // *       Стили ФУТЕРА        *
    // *****************************
    #footer{
        display: none;
    }
    .footer-login-mobile{
        display: block;
        float: left;
    }
    .footer-login-mobile > #dynamic_auth .toppest-menu{
        display: block;
    }
    .footer-login-mobile > #dynamic_auth .toppest-menu #top-login-link{
        display: inherit;
    }
    #footer-wrapper{
        background: none;
        border-top: 1px dashed #afafaf;
        padding: 10px 0 70px;
    }
}
