.order-block {
    overflow: hidden;
    margin: 0 0 18px;
    color: #5a5a5a;
    font-size: 14px;
}
.order-block__main-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 24px;
}
.order-block__left {
    display: inline-block;
    width: 47%;
    vertical-align: top;
    margin-right: 1%;
    background: #fffdf6;
    border: 1px solid #e0e0e0;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 4px;

}
.order-block__left-inner {
    margin: 0 0 30px;
}
.order-block-left__bottom {
    margin: 0 0 12px;
}

.order-block-left__bottom .butt3--big{
    background: #659812;
}

.order-block__right {
    margin: 0 0 20px;
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
.page-order__table {
    width: 100%;
}
.page-order__table select,
.page-order__table textarea{
    max-width: 180px;
}
.page-order__table > tbody > tr > td {
    width: 50%;
    padding: 5px 7px 5px 0;
    vertical-align: middle;
    box-sizing: border-box;
}
.order-addr-input {
    min-width: 136px;
}
.order_prop_group_name {
	font-weight: bold;
}
.order-block__cart-table {
    margin: 0;
    font-size: 14px;
}
.order-block__cart-table td {
    padding: 12px;
    border-bottom: 1px solid #dcdcdc;
}
.order_cart_items_line--name {
    min-width: 150px;
}
.order_cart_items_line--total-quantity {
    font-size: 14px;
    min-width: 60px;
}
.order_cart_items_line--total-price {
    font-weight: bold;
    font-size: 14px;
    min-width: 70px;
}
.order_cart_items_line--price {
    min-width: 70px;
}
.order-block__cart-table .order_cart_items_header {
    padding: 12px;
    border-bottom: 1px solid #dcdcdc;
    font-weight: normal;
    text-align: center;
}
.order-block__cart-table .order_cart_items_header:first-child {
    text-align: left;
}
.order-block__total {
    overflow: hidden;
    padding: 12px;
    font-size: 18px;
}
.order-block__total__left {
    float: left;
    margin: 0 25px 10px 0;
}
.order-block__total__right {
    float: left;
}
.order-block__cart {
    overflow: hidden;
    margin: 0 0 22px;
    font-size: 13px;
}
.order-block__cart .cart-title {
    margin: 0;
    padding: 12px;
    border: 1px solid #dcdcdc;
    font-size: 18px;
    overflow: hidden;
}
.order-block__cart .cart-title > a {
    float: right;
    text-decoration: underline;
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 4px;
}
.order-block__cart .cart-title > a:hover {
    color: #32abed;
}
.order-block__cart-inner {
    border: 1px solid #dcdcdc;
    border-top: none;
    padding: 10px 0;
}

tr.prop_error td {color: #f00;}
tr.prop_error td input {border: #f00 1px solid;}
