// signup block
.h-signup
	.container
		p.h-signup__heading.
			Сообщим о распродажах и акциях.<br>
			Сами пишем статьи и составляем <br>
			обзоры о вашем хобби.
		form.h-signup__form.clearfix
			input.h-signup__field.h-signup__field--name(type="text", placeholder="Ваше имя")
			input.h-signup__field.h-signup__field--email.h-signup__email-input(type="email", placeholder="Ваш email", required)
			input.h-signup__submit(type="submit", value="Подписаться")
			p.h-signup__form-caption Только нужная и интересная информация. Не чаще раза в неделю