section.popup-b.popup-login#popupLogin
	header
		h2.popup-login__title Вход
		a(href="#").popup-login__reg-link Регистрация
	form(action="/", method="POST", name="login").login-form
		
		label(for="email").login-form__label E-mail
		input(type="email", required, autofocus).login-form__input.form-control
		
		label(for="email").login-form__label Пароль
		input(type="password", required).login-form__input.form-control

		.form-group
			input(type="checkbox", id="forgotPassword").custom-checkbox
			label(for="forgotPassword").custom-checkbox__label.login-form__label
				span.custom-checkbox__box.login-form__checkbox-box 
				|  Запомнить меня
		.form-group
			//- .login-form__invalid-data Неправильный логин или пароль
			input(type="submit", value="Войти").btn.login-form__btn
			a(href="#").login-form__reminder-link Забыли пароль?
	.social-login
		h2.social-login__title Вход через социальные сети
		ul.social-login__links.clearfix
			li.social-login__link.social-login__link--fb
				a(href="#", title="facebook")
			li.social-login__link.social-login__link--vk
				a(href="#", title="vkontakte")
			li.social-login__link.social-login__link--gp
				a(href="#", title="google plus")

	a.popup-b__close(href="#")