// ОСНОВНОЕ МЕНЮ
nav.main-nav
	// класс main-nav-home  - только для главной страницы
	//- j-menu-item - для работы скрипта
	.main-nav__mobile-links
		.main-nav__item
			.main-nav-link.main-nav-link--wsub
				a(href="#") Покупателю
				.main-nav-link__btn <i></i><i></i>
			.main-nav-submenu.main-nav-submenu--l1
				.main-nav-submenu__item
					.main-nav-link.main-nav-submenu__link
						a(href="#") Акции
				.main-nav-submenu__item
					.main-nav-link.main-nav-submenu__link
						a(href="#") Скидки
				.main-nav-submenu__item
					.main-nav-link.main-nav-submenu__link.main-nav-link--wsub
						a(href="#") Дисконтная программа
						
		.main-nav__item
			.main-nav-link
				a(href="#") Доставка и оплата
		.main-nav__item
			.main-nav-link
				a(href="#") Контакты
		.main-nav__item
			.main-nav-link
				a(href="#") О нас

	.main-nav__top-links
		a.main-nav__top-link.main-nav__top-link--discount(href="#") Акции и скидки
		a.main-nav__top-link.main-nav__top-link--new(href="#") Новинки
	// Основная часть меню, которая содержит ссылки на категории
	.main-nav__menu
		.main-nav__item
			.main-nav-link
				a(href="#") Автомобили
				.main-nav-link__btn <i></i><i></i>
			// Фоновое изображение прописывается как свойство дата, чтобы не подгружать картинки на мобильном
			.main-nav-submenu__wrapper(data-bg='dist/images/home-page/auto-menu-bg.jpg')
				.main-nav-submenu.main-nav-submenu--l1
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Багги
							.main-nav-link__btn <i></i><i></i>

						.main-nav-submenu.main-nav-submenu--l3
							h3.main-nav__submenu-heading Тип двигателя
							.main-nav__submenu-content
								.main-nav__link-3l
									a(href="#") ДВС
								.main-nav__link-3l
									a(href="#") Электромотор
							h3.main-nav__submenu-heading Привод
							.main-nav__submenu-content
								.main-nav__link-3l
									a(href="#") 4WD полный
								.main-nav__link-3l
									a(href="#") 2WD задний
							h3.main-nav__submenu-heading Масштаб
							.main-nav__submenu-content
								.main-nav__link-3l
									a(href="#") 1:8
								.main-nav__link-3l
									a(href="#") 1:10
								.main-nav__link-3l
									a(href="#") 1:18
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Трагги
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Монстры
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Шорт-корс
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Краулеры
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Ралли
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Картинг
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Шоссейные (скоростные)
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Шоссейные (для дрифта)
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Трассовые
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Игрушки
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a.media-link.media-top-link(href="#")
								i.media-choice-icon.media-icon
								| Как выбрать
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a.media-link.media-top-link(href="#")
								i.media-review-icon.media-icon
								| Обзоры
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a.media-link.media-top-link(href="#")
								i.media-video-icon.media-icon
								| Видео
				
		.main-nav__item
			.main-nav-link
				a(href="#") Самолеты
				.main-nav-link__btn <i></i><i></i>
			.main-nav-submenu__wrapper
				.main-nav-submenu.main-nav-submenu--l1.j-nav-submenu
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Для FPV и съемки
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") С камерой
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Полный комплект
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Модели планеров
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Реактивные
		.main-nav__item
			.main-nav-link
				a(href="#") Вертолеты
		.main-nav__item
			.main-nav-link
				a(href="#") Квадракоптеры
				.main-nav-link__btn <i></i><i></i>
			// Фоновое изображение прописывается как свойство дата, чтобы не подгружать картинки на мобильном
			.main-nav-submenu__wrapper(data-bg='dist/images/home-page/auto-menu-bg.jpg')
				.main-nav-submenu.main-nav-submenu--l1
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Квадракоптеры
							.main-nav-link__btn <i></i><i></i>

						.main-nav-submenu.main-nav-submenu--l3
							h3.main-nav__submenu-heading Сложность
							.main-nav__submenu-content
								.main-nav__link-3l
									a(href="#") Начинающим
								.main-nav__link-3l
									a(href="#") Профессионалам
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Гексакоптеры
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Октокоптеры
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Для хобби
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") С видеокамерой
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") С подвесом для GoPro или аналогов
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") С FPV системой
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a.media-link.media-top-link(href="#")
								i.media-choice-icon.media-icon
								| Как выбрать
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a.media-link.media-top-link(href="#")
								i.media-review-icon.media-icon
								| Обзоры
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a.media-link.media-top-link(href="#")
								i.media-video-icon.media-icon
								| Видео
		.main-nav__item
			.main-nav-link
				a(href="#") Авиамодели
		.main-nav__item
			.main-nav-link
				a(href="#") Катера и яхты
				.main-nav-link__btn <i></i><i></i>
			// Фоновое изображение прописывается как свойство дата, чтобы не подгружать картинки на мобильном
			.main-nav-submenu__wrapper(data-bg='dist/images/home-page/auto-menu-bg.jpg')
				.main-nav-submenu.main-nav-submenu--l1
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Электрокатера
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Катера для рыбалки
							.main-nav-link__btn <i></i><i></i>
						.main-nav-submenu.main-nav-submenu--l2
							.main-nav-submenu__item
								.main-nav-link.main-nav-submenu__link
									a(href="#") Мини, электро
							.main-nav-submenu__item
								.main-nav-link.main-nav-submenu__link
									a(href="#") С электродвигателем
									.main-nav-link__btn <i></i><i></i>
								.main-nav-submenu.main-nav-submenu--l3
									h3.main-nav__submenu-heading Источник питания
									.main-nav__submenu-content
										.main-nav__link-3l
											a(href="#") На батарейках
										.main-nav__link-3l
											a(href="#") На аккумуляторах
							.main-nav-submenu__item
								.main-nav-link.main-nav-submenu__link
									a(href="#") С двс двигателем
							.main-nav-submenu__item
								.main-nav-link.main-nav-submenu__link
									a(href="#") С бензиновым двигателем
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Подводные лодки
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Модели яхт
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a.media-link.media-top-link(href="#")
								i.media-choice-icon.media-icon
								| Как выбрать
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a.media-link.media-top-link(href="#")
								i.media-review-icon.media-icon
								| Обзоры
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a.media-link.media-top-link(href="#")
								i.media-video-icon.media-icon
								| Видео
		.main-nav__item
			.main-nav-link
				a(href="#") Танки
		.main-nav__item
			.main-nav-link
				a(href="#") Мотоциклы
		.main-nav__item
			.main-nav-link
				a(href="#") Коллекционные
		.main-nav__item
			.main-nav-link
				a(href="#") Стендовые
		.main-nav__item
			.main-nav-link
				a(href="#") Другая техника
		.main-nav__item
			.main-nav-link
				a(href="#") Копмплектующие
				.main-nav-link__btn <i></i><i></i>
			.main-nav-submenu__wrapper(data-bg='dist/images/home-page/auto-menu-bg.jpg')
				.main-nav-submenu.main-nav-submenu--l1
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Фото, видео
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Радиоуправление
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Аккумуляторы
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Зарядные устройства
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Электроника
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Двигатели
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Топливо
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Жидкости
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Запчасти
							.main-nav-link__btn <i></i><i></i>
						.main-nav-submenu.main-nav-submenu--l2
							.main-nav-submenu__item
								.main-nav-link.main-nav-submenu__link
									a(href="#") Инструменты
									.main-nav-link__btn <i></i><i></i>
								.main-nav-submenu.main-nav-submenu--l2
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Отвертки
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Ключи
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Наборы инструментов
							.main-nav-submenu__item
								.main-nav-link.main-nav-submenu__link
									a(href="#") Болты
							.main-nav-submenu__item
								.main-nav-link.main-nav-submenu__link
									a(href="#") Подшипники
							.main-nav-submenu__item
								.main-nav-link.main-nav-submenu__link
									a(href="#") Кабели
					.main-nav-submenu__item
						.main-nav-link.main-nav-submenu__link
							a(href="#") Аксессуары

		.main-nav__item
			.main-nav-link
				a(href="#") Производители
	// Ссылки на медиа контент (.main-nav-home__media-links - класс для главной страницы)
	.main-nav__media-links.main-nav-home__media-links
		.main-nav-link.main-nav-media-link
			a.media-link.media-top-link(href="#")
				i.media-review-icon.media-icon
				| Обзоры
		.main-nav-link.main-nav-media-link
			a.media-link.media-top-link(href="#")
				i.media-article-icon.media-icon
				| Статьи
		.main-nav-link.main-nav-media-link
			a.media-link.media-top-link(href="#")
				i.media-news-icon.media-icon
				| Новости
		.main-nav-link.main-nav-media-link
			a.media-link.media-top-link(href="#")
				i.media-events-icon.media-icon
				| События
		.main-nav-link.main-nav-media-link
			a.media-link.media-top-link(href="#")
				i.media-video-icon.media-icon
				| Видео
// Конец основного меню