nav.cabinet-menu.personal-nav
  a(href="#").cabinet-menu-link Как сэкономить
  a(href="#").cabinet-menu-link Мои заказы
  a(href="#").cabinet-menu-link Доставка и оплата
  a(href="#").cabinet-menu-link.active Рекомендации
  a(href="#").cabinet-menu-link Избранное
  a(href="#").cabinet-menu-link Сравнение
  a(href="#").cabinet-menu-link Поддержка
  a(href="#").cabinet-menu-link Лист ожидания
  a(href="#").cabinet-menu-link Следить за ценой
  a(href="#").cabinet-menu-link Профиль
  a(href="#").cabinet-menu-link
    i.cabinet-menu-link__icon.cabinet-menu-link__icon--logout
    | Выход