/*---------------------------------------
 start of _base.scss
----------------------------------------*/
// @font-face {
//     font-family: OpenSans_light; /* Имя шрифта */
//     src: url(fonts/OpenSans-Light.ttf); /* Путь к файлу со шрифтом */
// }

// @font-face {
//     font-family: OpenSans_Semibold; /* Имя шрифта */
//     src: url(fonts/OpenSans-Semibold.ttf); /* Путь к файлу со шрифтом */
// }

html, body {
    height: 100%;
}
body {
    font: 14px  $main-font;
    font-weight: 400;
    color: $main-text-color;
    min-width: 320px;
}

body.modal-open {
    // overflow: hidden;
    // position:fixed;
    // width: 100%;
    
}

a {
    color: $link-color;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}
a:link {
    outline: 0;
}
p {
    margin: 0 0 18px;
}
object,
embed,
iframe {
    max-width: 100%;
}
.i-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
ins {
    text-decoration: none;
}
.u-inline-block{
    display: inline-block !important;
}
br.clear {
    clear: both;
}
.clear {
    clear: both;
    font-size: 0px;
    height: 0px;
}
.hidden {
    display: none;
}
.bold {
    font-weight: 600;
}
.adaptive-img {
    display: block;
    max-width: 100%;
    height: auto;
}
.adaptive-img--center {
    margin: 0 auto;
}
.underline {
    text-decoration: underline;
}


.required {
    color: #ed0005;
}
.icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 0px;
    background-repeat: no-repeat;
    background-position: 0 center;
    width: 17px;
    height: 18px;

    &--paper-plane {
        background-image: url('images/personal-cabinet/svg/icon-send.svg');
        background-size: 18px;
    }

    &--close {
        background-image: url('images/ui-icon-delete.png');
        background-size: 12px;
        background-position: center 40%;
    }
}
select:-moz-focusring { // убираем outline в мозилле
    color: transparent;
    text-shadow: 0 0 0 #000;
}

strong, b {
    font-weight: normal;
    font-family: $main-font-bold;
}
.text-center {
    text-align: center;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.page-inner {
    padding: 0 10px 0;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;

    .container {
        padding: 0 !important;
    }
}

.container {
    .page-inner {
        padding: 0 !important;
    }
}

.page-inner, .container {
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    min-width: 360px;
    box-sizing: border-box;
    // overflow: hidden;

    &:after {
        display: table;
        content: "";
        clear: both;
    }

    @media (min-width: 544px) {
        max-width: 576px;
    }
    @media (min-width: 768px) {
        max-width: 768px;
        padding: 0 15px;
        box-sizing: border-box;
    }
    @media (min-width: 994px) {
        max-width: 940px;
    }

    @media (min-width: 1235px) {
        max-width: 1200px;
        padding: 0 15px;
    }

    & & {
        padding: 0 !important;
    }
}


.u-mobile {
    @media (min-width: 768px) {
        display: none !important;
    }
}

.mobile-hidden {
    @media (min-width: 0px) and (max-width: $mobile-max) {
        display: none !important;
    }
}

.tablet-hidden {
    @media (min-width: $tablet-min) and (max-widht: $tablet-max) {
        display: none !important;
    }
}

.desktop-hidden {
    @media (min-width: $desktop-min) {
        display: none !important;
    }
}


.btn{
    display: inline-block;
    // width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    font: 18px $main-font;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    &:hover {
        text-decoration: none;
    }

    &--danger {
        background-color: #d34f27;
        color: #fff;

        &:hover,
        &:focus {
            background-color: #c44a25;
        }
    }
    &--succes {
        background-color: #659913;
        color: #fff;

        &:hover,
        &:focus {
            background-color: #5d8c12;
        }
    }

    &--sale {
        background-color: #ce3b1e; 
        color: #fff;

        &:hover,
        &:focus {
            background-color: #bd371c;
        }
    }

    &--add {
        background-color: #76972a;
        color: #fff;

        &:hover,
        &:focus {
            background-color: darken(#76972a, 3%);
        }
    }
}

h1 {
    overflow: hidden;
    margin: 0 0 21px;
    font: 20px $main-font-semibold;
    color: #151515;
}
h2, h3 {
    font: 20px/1.6 $main-font-semibold;
    margin-top: 0;
}
p {
    font: 1em/1.5 $main-font;
    margin: 0 0 18px;
}

span.bb-dashed {
    border-bottom: 1px dashed #ddd;
}
span.bb-solid {
    border-bottom: 1px solid #777;
}

.collapsed {
    display: none !important;
}


.fl_r {
    float: right;
}

.fl_l {
    float: left;
}

.main-bg {
    background-color: $main-bg;
}

.more-link {
    font-size: 16px;

    span {
        border-bottom: 1px solid #aabdd7;
        display: inline-block;
        line-height: 16px;
    }

    &::after {
        display: inline-block;
        content: "";
        background: url("images/ui-icon-catalog-next.png") no-repeat 0 center;
        height: 100%;
        width: 20px;
        min-height: 8px;
        margin-left: 7px;
    }

    &:hover {
        color: darken($link-color, 5%);

        span {
            border-bottom-color: $link-color;
        }
    }
}

.mobile-none {
    @media (max-width: $mobile-max) {
        display: none;
    }
}

img.alignright { float: right; margin: 0 0 1em 1em; } 
img.alignleft { float: left; margin: 0 10px 0 0; vertical-align: middle;} 
img.aligncenter { display: block; margin-left: auto; margin-right: auto; } 
.alignright { float: right; } 
.alignleft { float: left; } 
.aligncenter { display: block; margin-left: auto; margin-right: auto; } 
.larger-font { font-size: 1.1em; }
/*--------------------------
 ^ end of _base.scss
 --------------------------*/