/*---------------------------------------
 start of _base.scss
----------------------------------------*/
@font-face {
    font-family: OpenSans_light; /* Имя шрифта */
    src: url(fonts/OpenSans-Light.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: OpenSans_Semibold; /* Имя шрифта */
    src: url(fonts/OpenSans-Semibold.ttf); /* Путь к файлу со шрифтом */
}

html, body {
    height: 100%;
}
body {
    font: 14px  'OpenSans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #434343;
    min-width: 320px;
}

body.modal-open {
    // overflow: hidden;
    // position:fixed;
    // width: 100%;
    
}

a {
    color: #346cab;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
    // color: #4B4B4B;
}
a:link {
    outline: 0;
}
p {
    margin: 0 0 18px;
}
object,
embed,
iframe {
    max-width: 100%;
}
.i-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
ins {
    text-decoration: none;
}
.u-inline-block{
    display: inline-block !important;
}
br.clear {
    clear: both;
}
.clear {
    clear: both;
    font-size: 0px;
    height: 0px;
}
.hidden {
    display: none;
}
.bold {
    font-weight: 600;
}
.adaptive-img {
    display: block;
    max-width: 100%;
    height: auto;
}
.adaptive-img--center {
    margin: 0 auto;
}
.underline {
    text-decoration: underline;
}


.required {
    color: #ed0005;
}

/* BUTTONS */
// .butt1 {
//     display: inline-block;
//     box-sizing: border-box;
//     padding: 7px 20px 8px 20px;
//     border: none;
//     font-size: 14px;
//     font-family: 'OpenSans', sans-serif;
//     font-weight: 600;
//     color: #fff !important;
//     text-align: center;
//     text-decoration: none;
//     text-transform: uppercase;
//     position: relative;
//     vertical-align: top;
//     cursor: pointer;
//     background: #32abed;
// }

// .butt1 > span {
//     word-break: break-word;
// }
// .butt1:hover {
//     text-decoration: none;
//     color: #fff;
//     background: #2a90c7;
// }

// .butt2 {
//     display: inline-block;
//     box-sizing: border-box;
//     padding: 7px 17px 8px;
//     border: none;
//     font-size: 14px;
//     font-weight: 600;
//     color: #fff !important;
//     text-align: center;
//     text-decoration: none;
//     position: relative;
//     vertical-align: top;
//     cursor: pointer;
//     background: #D34F27;
//     border-radius: 3px;
// }
// .butt2 > span {
//     word-break: break-word;
// }
// .butt2:hover {
//     /*color: #666666;*/
//     text-decoration: none;
//     background: #C03911;
// }
// .butt3,
// .ui-button-blue {
//     background: #D34F27 ;
//     display: inline-block;
//     padding: 7px 10px;
//     border-radius: 4px;
//     font-size: 13px;
//     font-weight: 600;
//     /*text-transform: uppercase;*/
//     border: none;
//     color: #fff;
//     text-align: center;
//     text-decoration: none;
//     position: relative;
//     vertical-align: middle;
//     cursor: pointer;
// }
// .butt3 > span {
//     word-break: break-word;
//     font-size: 16px;
//     font-family:  'OpenSans', sans-serif;
//     font-weight: 600;
//     float: right;
// }
// .butt3 > *{
//     display: inline-block;
// }
// .butt3:hover,
// .ui-button-blue:hover {
//     text-decoration: none;
//     color: #fff;
//     background: #C03911;
// }
// .butt3--toCart,
// .butt3--big {
//     background: #D34F27;
//     padding: 7px 20px 8px 20px;
//     font-size: 14px;
//     font-weight: 600;
//     border-radius: 4px;
// }
// .butt3--toCart:hover,
// .butt3--big:hover {
//     background: #ea831e;
// }
// .butt3--reserv {
//     padding-left: 18px;
// }
// .noavail {
//     background:  #A8A8A8;
// }
// .noavail:hover {
//     background: #bbbbbb;
// }
// .butt3 i{
//     width: 31px;
//     height: 21px;
//     background: url("images/ui-icon-catalog-cart.png") no-repeat left center;
// }
// .page-cart-item-quantity > *{
//     display: inline-block;
// }
// .butt4 {
//     border: 1px solid #4B80BB;
//     border-radius: 3px;
//     color: #434343;
//     display: inline-block;
//     padding: 4px 4px;
//     font-size: 18px;
//     font-weight: 300;
//     text-transform: uppercase;
//     text-align: center;
//     text-decoration: none;
//     position: relative;
//     cursor: pointer;
// }
// .butt4:hover {
//     border-color: #434343;
//     text-decoration: none;
// }
// .buttCartActive {
//     background: #7BAE2A;
// }
// .buttCartActive:hover {
//     background: #8BAE4A;
// }
// .buttCartActive i{
//     width: 26px;
//     height: 21px;
//     background: url("images/ui-icon-cart-check.png") no-repeat left center;
// }
strong, b {
    font-weight: normal;
    font-family: 'OpenSans_Semibold', sans-serif;
}
.text-center {
    text-align: center;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.page-inner {
    padding: 0 10px 0;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    &:after {
        display: table;
        content: "";
        clear: both;
    }

    @media (min-width: 544px) {
        max-width: 576px;
    }
    @media (min-width: 768px) {
        max-width: 768px;
        padding: 0 15px;
        box-sizing: border-box;
    }
    @media (min-width: 994px) {
        max-width: 940px;
    }

    @media (min-width: 1235px) {
        max-width: 1200px;
        padding: 0 15px;
    }
}
.u-mobile {
    @media (min-width: 768px) {
        display: none !important;
    }
}

.btn{
    display: inline-block;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    font: 18px 'OpenSans';
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    &:hover {
        text-decoration: none;
    }
}

h1 {
    overflow: hidden;
    margin: 0 0 21px;
    font: 20px 'OpenSans_SemiBold';
    color: #151515;
}
h2 {
    font: 20px 'OpenSans_SemiBold';
    margin-top: 0;
}
p {
    font: 1em/1.5 'OpenSans', sans-serif;
    margin: 0 0 18px;
}
/*--------------------------
 ^ end of _base.scss
 --------------------------*/
