.news-list .preview_picture {
	float: left;
	margin: 0 18px 0 0;
	border: 1px solid #bcbbb6;
}
.news-date-time {
	color: #b1b1b2;
	margin: 0 0 16px;
	font-size: 12px;
}
.news-item {
	padding:26px;
    border-bottom: 1px dashed #C2C2C2;
}
.news-item--review {
	padding-bottom: 26px;
}
.news-item  a {
	text-transform: uppercase;
	display: block;
	margin: 0 0 2px;
	font-size: 16px;
	color: #45a0e1;
}
.news-item  a:hover{
	color: #035a9a;
}
.items-text-preview {
	margin: 2px 0;
}
.news-item:hover .news-item-item{
    border: 1px solid #EAEBEC;
    cursor: pointer;
}
.item-name{
    padding: 30px 0 0;
}
.email-subscribe{
    background: #FEF4CE;
}
.email-subscribe div{
    display: inline-block;
}
.subscribe-left{
    padding: 25px;
    float: right;
}
.subscribe-header{
    font-family: 'open sans', sans-serif;
    font-size: 18px;
}
.subscribe-header span{
    font-weight: bold;
}
#subscribe-form{
    padding: 25px 0 0;
}
#subscribe-form input{
    display: block;
    margin: 25px 0 0;
}
#subscribe-form .subscribe__q-input{
    border: 1px solid #000;
    padding: 14px 18px 15px 18px;
    position: relative;
    z-index: 2;
    min-width: 294px;
    box-sizing: border-box;
    border-radius: 5px;
}
#subscribe-form .subscribe__q-input:focus{
    border: 2px solid #346CAB;
    outline: none;
}
#subscribe-form .subscribe__submit{
    background: #346CAB;
    color: #fff;
    font-size: 18px;
    padding: 14px 51px 15px 51px;
    border-radius: 5px;
    border: none;
    display: inline-block;
}
#subscribe-form span{
    padding: 25px 10px 10px;
    float: right;
}
.subscribe-right{
    padding: 25px;
}
.subscribe-right i{
    text-decoration: underline;
    color: #777;
    display: block;
    width: 255px;
    height: 255px;
    background: url("images/ui-icon-subscribe.png") no-repeat left center;
}