.feedback-form {
	margin: 0 0 12px;
}
.feedback-form .field-entity {
    margin: 0 0 10px;
}
.feedback-form .field-title {
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    min-width: 85px;
}
.form-input {
    display: inline-block;
    vertical-align: top;
}