doctype html
html(lang="ru")
	head
		title Personal cabinet
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		script(src="dist/js/vendor/modernizr-2.8.3.min.js")
		link(rel="stylesheet" href="dist/normalize.css")
		link(rel="stylesheet" href="dist/template_styles.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
	body.cart-page
		.page-inner
			.order-block
				.cart-mobile-opener Итого без доставки: <span>12 304 грн</span>
					// кнопка раскрытия корзины для мобильной версии

				.order-block__right
					// содержимое корзины
					.cart-sale-offer
						b Хотите скидку 3%? 
						|  Добавьте в корзину товаров на 3000 грн
					.order-block__cart.clearfix
						// Корзина

						// Начало товара
						.cart-product.clearfix

							a.cart-product__item-delete(href="#")
							.cart-product__image
								a(href="#")
									img(src="dist/images/temporary/avto.jpeg", alt="some description")
							.cart-product__name
								a(href="#") Монстр Traxxas E-Revo Brushed с аккумуляторами TRA5603
							.cart-product__quantity
								a(href="#").cart-product__quantity-btn.cart-product__quantity--del
									i
								input.cart-product__quantity-input(name="qty[785]" type="text" id="qty_785" size="1" maxlength="7" value="1" readonly="")
								a.cart-product__quantity-btn.cart-product__quantity--add(href="#")
									i
								span.cart-product__price 12 045 грн
							// Сопутствующие товары
							.recomended-goods
								h3.recomended-goods__heading Рекомендуем к этому товару:
								ul.recomended-goods__list
									li.recomended-goods__item
										a(href="#") Батарейки
									li.recomended-goods__item
										a(href="#") Аккумуляторы
									li.recomended-goods__item
										a(href="#") Сумки
							// Конец сопутствующих товаров

							// Всплывающий блок редактирования товара
							div
								.popup-back
									.close-popup
										a(href="#" rel="#").come-back
											i
											span Вернуть
									.product-wishlist-block.cart-wishlist-block
										a(href="#product-wishlist-" rel="<?=$arResult['AJAX_CALL_ID']?>" class="top-wishlist-link wishlist-link ajax_link_main_catalog cart-wishlist" params="do=add2wishlist&id=<?=$offer_id?>")
											i
											span В избранное
									.delete-detail-block
										a(href="#").page-cart__delete_checkbox
											i
											span Удалить
										input(type="checkbox" name="del[<?=$item['ID']?>]" value="1").delete_checkbox
						// Конец товара


						// Начало товара
						.cart-product.clearfix

							a.cart-product__item-delete(href="#")
							.cart-product__image
								a(href="#")
									img(src="dist/images/temporary/avto.jpeg", alt="some description")
							.cart-product__name
								a(href="#") Монстр Traxxas E-Revo Brushed с аккумуляторами TRA5603
							.cart-product__quantity
								a(href="#").cart-product__quantity-btn.cart-product__quantity--del
									i
								input.cart-product__quantity-input(name="qty[785]" type="text" id="qty_785" size="1" maxlength="7" value="1" readonly="")
								a.cart-product__quantity-btn.cart-product__quantity--add(href="#")
									i
								span.cart-product__price 12 045 грн
							// Комплект с товаром
							.product-set
								h3.product-set__heading Комплект со скидкой 10%
								img.product-set__good-photo(src="dist/images/temporary/cart-recomended.png", alt="recomended good")
								.product-set__good-name
									a(href="#") Аккумулятор Hubsan Li-Po 3,7В 380 мАч...
								.product-set__price
									.product-set__price-new 300 грн
									.product-set__price-old
										del 330грн
									a.product-set__btn-add(href="#") Добавить



							// Всплывающий блок редактирования товара
							div
								.popup-back
									.close-popup
										a(href="#" rel="#").come-back
											i
											span Вернуть
									.product-wishlist-block.cart-wishlist-block
										a(href="#product-wishlist-" rel="<?=$arResult['AJAX_CALL_ID']?>" class="top-wishlist-link wishlist-link ajax_link_main_catalog cart-wishlist" params="do=add2wishlist&id=<?=$offer_id?>")
											i
											span В избранное
									.delete-detail-block
										a(href="#").page-cart__delete_checkbox
											i
											span Удалить
										input(type="checkbox" name="del[<?=$item['ID']?>]" value="1").delete_checkbox
						// Конец товара

						// Начало товара
						.cart-product.clearfix

							a.cart-product__item-delete(href="#")
							.cart-product__image
								a(href="#")
									img(src="dist/images/temporary/avto.jpeg", alt="some description")
							.cart-product__name
								a(href="#") Монстр Traxxas E-Revo Brushed с аккумуляторами TRA5603
							.cart-product__quantity
								a(href="#").cart-product__quantity-btn.cart-product__quantity--del
									i
								input.cart-product__quantity-input(name="qty[785]" type="text" id="qty_785" size="1" maxlength="7" value="1" readonly="")
								a.cart-product__quantity-btn.cart-product__quantity--add(href="#")
									i
								span.cart-product__price 12 045 грн
									

							// Всплывающий блок редактирования товара
							div
								.popup-back
									.close-popup
										a(href="#" rel="#").come-back
											i
											span Вернуть
									.product-wishlist-block.cart-wishlist-block
										a(href="#product-wishlist-" rel="<?=$arResult['AJAX_CALL_ID']?>" class="top-wishlist-link wishlist-link ajax_link_main_catalog cart-wishlist" params="do=add2wishlist&id=<?=$offer_id?>")
											i
											span В избранное
									.delete-detail-block
										a(href="#").page-cart__delete_checkbox
											i
											span Удалить
										input(type="checkbox" name="del[<?=$item['ID']?>]" value="1").delete_checkbox
						// Конец товара

						.order-total-sum Итого без доставки: 
							span  12 304 грн
				// end of .order-block__right

				// ************************************************
				// Начало блока с формой заказа

				.order-block__left#orderBlock
					ul.order-tabs.clearfix
						li.active-tab#new-buyer-tab Новый покупатель
						li#old-buyer-tab Покупал(а) раньше

					.new-buyer
						form.order-form(method="post" action="" id="orderFormNew")
							// Имя
							.form-group
								input.form-control.inp-required(type="text" minlength="3" placeholder="Имя" name="Name" required id="name" )
							// Телефон
							.form-group
								input.inp-required#phone-number.form-control(type="tel" name="Tel" required pattern="0[0-9]{9}|[+]{0,1}38{0,1}[ -]{0,1}0[0-9 -]{9,13}" placeholder="Моб. телефон" title="0хх-ххх-хх-хх,\n0хх ххх хх хх,\n0xxxxxxxxx,\n+38 0хх ххх-хх-хх")
							// Email
							.form-group
								label(for="email") Получите скидку и личный кабинет
								input.form-control(type="email" placeholder="Эл. почта" data-id="email" id="email" pattern=".*@.*[.].*")
								.text-muted для информации о статусе заказа
							// custom radion input
							.custom-radio
								input.custom-radio__input(type="radio" id="deliveryByCopmany" name="deliveryAndPayment")
								label.custom-radio__label.order-form__radio-label(for="deliveryByCopmany")
									span.custom-radio__circle
										i.custom-radio__circle-inner
									h3.custom-radio__heading Доставка и оплата
								.custom-radio__toggled-content
									.form-group
										select.custom-select(name="deliveryCompany" data-id="deliveryCompany")
											option(value="new post") Новая Почта
											option(value="ukrpost") Укрпочта
											option(value="courier") Курьером
									.form-group
										select.custom-select(name="city" data-id="city")
											option(value="0") Киев
											option(value="1") Харьков
											option(value="2") Львов
									.form-group
										select.custom-select(name="address" data-id="address")
											option(value="0") Склад №9, ул. Ак. Грушевского 12
											option(value="1") Склад №10, ул. Ак. Грушевского 586
											option(value="2") Склад №101, ул. Ак. Грушевского 13254
									h3.order-form__heading Оплачу
									.form-group
										select.custom-select(name="paymentMethod" data-id="paymentMethod")
											option(value="0") При получении
											option(value="1") Безналичный расчет



							// Блок ЗАБЕРУ В МАГАЗИНЕ
							.custom-radio
								input.custom-radio__input(type="radio" id="fromShop" name="deliveryAndPayment")
								label.custom-radio__label.order-form__radio-label(for="fromShop")
									span.custom-radio__circle
										i.custom-radio__circle-inner
									h3.custom-radio__heading Заберу в магазине
								.custom-radio__toggled-content
									.form-group
										select.custom-select(name="shopAddress" data-id="shopAddress")
											option(value="0") - Выберите магазин -
											option(value="1") г. Харьков, ул.Сумская, 77/79 
											option(value="2") г. Киев, ул. Трутенко, 10, корпус А, оф. 201

							
							
							a.contentToggleLink(href="#") Добавить примечание к заказу
							.order-comment
								.form-group
									textarea.form-control#orderComment(name="orderComment", cols="30", rows="3")

							.form-group.promokod-hint(data-title="Подсказка по промокоду")
								input.form-control.order-form__promokod(type="text" name="promokod" data-id="promokod" placeholder="промо-код (если есть)" title="Введите в поле вромокод, если он у вас есть для получения скидки")

							input.btn.btn-cart(type="submit" value="Подтвердить заказ")
					//end of new-buyer

					// start of old-buyer or logged in buyer
					.old-buyer
						form.order-form(method="post" action="" id="orderFormOld")
							.order-form__separator
								
								.buyer-info
									span.buyer-info__item Алексей
									span.buyer-info__item +38 067 777-77-77
									span.buyer-info__item alexey@mysite.com

								a.contentToggleLink.cotentToggleLink--nb(href="#") Изменить мои данные
								.change-info
									// Имя
									.form-group
										input.form-control.inp-required(type="text" minlength="3" placeholder="Имя" name="Name" required id="name" value="Алексей")
									// Телефон
									.form-group
										input.inp-required#phone-number.form-control(type="tel" name="Tel" required pattern="0[0-9]{9}|[+]{0,1}38{0,1}[ -]{0,1}0[0-9 -]{9,13}" placeholder="Моб. телефон" title="0хх-ххх-хх-хх,\n0хх ххх хх хх,\n0xxxxxxxxx,\n+38 0хх ххх-хх-хх" value="+38 067 777-77-77")
									// Email
									.form-group
										input.form-control(type="email" placeholder="Эл. почта" data-id="email" pattern=".*@.*[.].*" value="alexey@mysite.com")
							.order-form__separator
								h3.order-form__heading Доставка
								.form-group
									select.custom-select(name="deliveryCompany" data-id="deliveryCompany")
										option(value="new post") Новая Почта
										option(value="ukrpost") Укрпочта
										option(value="courier") Курьером
								
								.buyer-info
									span.buyer-info__item Новая Почта
									span.buyer-info__item Киев
									span.buyer-info__item Склад №9, ул. Голосеевская, 1

								a.contentToggleLink.cotentToggleLink--nb(href="#") Изменить адрес доставки
								.change-info
									.form-group
										select.custom-select(name="city" data-id="city")
											option(value="1") Харьков
											option(value="2") Львов
											option(value="0" selected) Киев
									.form-group
										select.custom-select(name="address" data-id="address")
											option(value="0") Склад №9, ул. Ак. Грушевского 12
											option(value="1" selected) Склад №9, ул. Голосеевская, 1
											option(value="2") Склад №101, ул. Ак. Грушевского 13254
							.order-form__separator
								h3.order-form__heading Оплата
								.buyer-info
									span.buyer-info__item При получении
								a.contentToggleLink.cotentToggleLink--nb(href="#") Выбрать другой способ
								.change-info
									.form-group
										select.custom-select(name="paymentMethod" data-id="paymentMethod")
											option(value="0" selected) При получении
											option(value="1") Безналичный расчет
						
							a.contentToggleLink(href="#") Добавить примечание к заказу
							.order-comment
								.form-group
									textarea.form-control#orderComment(name="orderComment", cols="30", rows="3")

							.form-group.promokod-hint(data-title="Подсказка по промокоду")
								input.form-control.order-form__promokod(type="text" name="promokod" data-id="promokod" placeholder="промо-код (если есть)" title="Введите в поле вромокод, если он у вас есть для получения скидки")



							input.btn.btn-cart(type="submit" value="Подтвердить заказ")







			// end of .order block
		script.

			//  Стили для обработки всплывающего окна редактирования корзины
			//  при нажатии на крестик в провом верхнем углу. 
			$(".cart-product__item-delete").on("click",function(e){
				e.preventDefault();
				var ppBlock = $(this).parent().find('.popup-back');
				ppBlock.show();
				ppBlock.parent().addClass("in-tr-background");
			});
			$(".close-popup").on("click",function(e){
				e.preventDefault();
				$(".page-cart__delete_checkbox-item").show();
				$(this).parent().hide();
				$(this).parent().parent().removeClass("in-tr-background");
			});

			// Открытие области корзины по клику в мобильном виде
			$('.cart-mobile-opener').on("click", function(e) {
				$(".order-block__right").slideToggle( "slow" );
			});
			// Ссылка изменить для бывших покупателей
			$('.contentToggleLink').on("click", function(e) {
				e.preventDefault();
			// $(".change-info > input").removeAttr("hidden");
			$(this).next().slideToggle("slow");
			});
			// Табы для переключения форм в корзине
			$(".order-tabs li").on("click", function(e) {
				var blocks = $("#orderBlock > div");
				var blockClass = "." + $(this).attr("id").slice(0, 9);
				blocks.hide();
				$(blockClass).show();
				$(".order-tabs li").removeClass("active-tab");
				$(this).addClass("active-tab");
			});
			// required input
			var reqInput =  $('.inp-required')
			var timerId;

			reqInput.on("blur" , function() {
				if ($(this).val().length > 2) {
					$(this).removeClass("required");
					$(this).addClass("validated");
				} else if ($(this).hasClass("required") === false) {
					$(this).addClass("required");
				}
			});
			// Раскрытие поля для ввода комментария к заказу
			$("#orderCommentLink").on("click", function(e){
				e.preventDefault();
				$("#orderComment").toggle();
			})

			var select = document.querySelectorAll('.custom-select__select');
			for (var i of select) {
				console.log(i.text)
				if(i.value.length > 15){

					i.value = i.value.slice(0,12) + '...';
				}
				console.log(i.value);
				}

