extends ./cart-constructor.jade

block order-block

	// ************************************************
	// Начало блока с формой заказа

	.order-block__left#orderBlock
			ul.order-tabs.clearfix
				li.active-tab#new-buyer-tab Новый покупатель
				li#old-buyer-tab Покупал(а) раньше

			.new-buyer
				form.order-form(method="post" action="" id="orderFormNew")
					// Имя
					.form-group
						input.form-control(type="text" minlength="3" placeholder="Имя" name="Name" required id="name" )
					// Телефон
					.form-group
						input#phone-number.form-control(type="tel" name="Tel" required pattern="0[0-9]{9}|[+]{0,1}38{0,1}[ -]{0,1}0[0-9 -]{9,13}" placeholder="Моб. телефон" title="0хх-ххх-хх-хх,\n0хх ххх хх хх,\n0xxxxxxxxx,\n+38 0хх ххх-хх-хх")
					// Email
					.form-group
						label(for="email") Получите скидку и личный кабинет
						input.form-control(type="email" placeholder="Эл. почта" data-id="email" id="email" pattern=".*@.*[.].*")
						.text-muted для информации о статусе заказа
					// custom radion input
					.custom-radio
						input.custom-radio__input(type="radio" id="deliveryByCopmany" name="deliveryAndPayment")
						label.custom-radio__label.order-form__radio-label(for="deliveryByCopmany")
							span.custom-radio__circle
								i.custom-radio__circle-inner
							h3.custom-radio__heading Доставка и оплата
						.custom-radio__toggled-content
							.form-group
								select.custom-select(name="deliveryCompany" data-id="deliveryCompany")
									option(value="new post") Новая Почта
									option(value="ukrpost") Укрпочта
									option(value="courier") Курьером
							.form-group
								select.custom-select(name="city" data-id="city")
									option(value="0") Киев
									option(value="1") Харьков
									option(value="2") Львов
							.form-group
								select.custom-select(name="address" data-id="address")
									option(value="0") Склад №9, ул. Ак. Грушевского 12
									option(value="1") Склад №10, ул. Ак. Грушевского 586
									option(value="2") Склад №101, ул. Ак. Грушевского 13254
							h3.order-form__heading Оплачу
							.form-group
								select.custom-select(name="paymentMethod" data-id="paymentMethod")
									option(value="0") При получении
									option(value="1") Безналичный расчет



					// Блок ЗАБЕРУ В МАГАЗИНЕ
					.custom-radio
						input.custom-radio__input(type="radio" id="fromShop" name="deliveryAndPayment")
						label.custom-radio__label.order-form__radio-label(for="fromShop")
							span.custom-radio__circle
								i.custom-radio__circle-inner
							h3.custom-radio__heading Заберу в магазине
						.custom-radio__toggled-content
							.form-group
								select.custom-select(name="shopAddress" data-id="shopAddress")
									option(value="0") - Выберите магазин -
									option(value="1") г. Харьков, ул.Сумская, 77/79 
									option(value="2") г. Киев, ул. Трутенко, 10, корпус А, оф. 201

					
					
					a.contentToggleLink(href="#") Добавить примечание к заказу
					.order-comment
						.form-group
							textarea.form-control#orderComment(name="orderComment", cols="30", rows="3")

					.form-group.promokod-hint(data-title="Подсказка по промокоду")
						input.form-control.order-form__promokod(type="text" name="promokod" data-id="promokod" placeholder="промо-код (если есть)" title="Введите в поле вромокод, если он у вас есть для получения скидки")
						.promokod-icon
						.promokod-info Это попап окно с информацией по поводу промокода
					.order-form__hidden
						input(type="hidden" value="1" maxlength="7" id="qty_1" name="productQuantity")
						input(type="hidden" value="1" maxlength="7" id="qty_2" name="productQuantity")
						input(type="hidden" value="1" maxlength="7" id="qty_3" name="productQuantity")

					input.btn.btn-cart(type="submit" value="Подтвердить заказ")
			//end of new-buyer

			// start of old-buyer or logged in buyer
			.old-buyer
				form.c-login-form(method="post" action="" id="loginForm")
					
					// Email
					.form-group
						label(for="login")
							h2.order-form__heading Введите логин и пароль:
						input.form-control(type="email" placeholder="Эл. почта" data-id="login" required id="login" pattern=".*@.*[.].*")
					// Password
					.form-group
						input.form-control(type="password" placeholder="Пароль" data-id="password" required id="password" minlength="4" maxlength="18")


					input.btn.btn-cart(type="submit" value="Войти")
