doctype html
html(lang="ru")
	head
		title Personal cabinet
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		script(src="dist/js/vendor/modernizr-2.8.3.min.js")
		link(rel="stylesheet" href="dist/normalize.css")
		link(rel="stylesheet" href="dist/template_styles.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
	body.cart-page
		.page-inner
			.order-block
				.cart-mobile-opener Итого без доставки: <span>12 304 грн</span>
					// кнопка раскрытия корзины для мобильной версии

				.order-block__right
					// содержимое корзины
					.cart-sale-offer
						b Хотите скидку 3%? 
						|  Добавьте в корзину товаров на 3000 грн
					.order-block__cart.clearfix
						// Корзина

						// Начало товара
						.cart-product.clearfix

							a.cart-product__item-delete(href="#")
							.cart-product__image
								a(href="#")
									img(src="dist/images/temporary/avto.jpeg", alt="some description")
							.cart-product__name
								a(href="#") Монстр Traxxas E-Revo Brushed с аккумуляторами TRA5603
							.cart-product__quantity
								a(href="#" data-product="qty_1").cart-product__quantity-btn.cart-product__quantity--del
									i
								span.cart-product__quantity-field 1 шт
								a.cart-product__quantity-btn.cart-product__quantity--add(href="#" data-product="qty_1")
									i
								span.cart-product__price 12 045 грн
							// Сопутствующие товары
							.recomended-goods
								h3.recomended-goods__heading Рекомендуем к этому товару:
								ul.recomended-goods__list
									li.recomended-goods__item
										a(href="#") Батарейки
									li.recomended-goods__item
										a(href="#") Аккумуляторы
									li.recomended-goods__item
										a(href="#") Сумки
							// Конец сопутствующих товаров

							// Всплывающий блок редактирования товара
							div
								.popup-back
									.close-popup
										a(href="#" rel="#").come-back
											i
											span Вернуть
									.product-wishlist-block.cart-wishlist-block
										a(href="#product-wishlist-" rel="<?=$arResult['AJAX_CALL_ID']?>" class="top-wishlist-link wishlist-link ajax_link_main_catalog cart-wishlist" params="do=add2wishlist&id=<?=$offer_id?>")
											i
											span В избранное
									.delete-detail-block
										a(href="#").page-cart__delete_checkbox
											i
											span Удалить
										input(type="checkbox" name="del[<?=$item['ID']?>]" value="1").delete_checkbox
						// Конец товара


						// Начало товара
						.cart-product.clearfix

							a.cart-product__item-delete(href="#")
							.cart-product__image
								a(href="#")
									img(src="dist/images/temporary/avto.jpeg", alt="some description")
							.cart-product__name
								a(href="#") Монстр Traxxas E-Revo Brushed с аккумуляторами TRA5603
							.cart-product__quantity
								a(href="#" data-product="qty_2").cart-product__quantity-btn.cart-product__quantity--del
									i
								span.cart-product__quantity-field 1 шт
								a.cart-product__quantity-btn.cart-product__quantity--add(href="#" data-product="qty_2")
									i
								span.cart-product__price 12 045 грн
							// Комплект с товаром
							.product-set
								h3.product-set__heading Комплект со скидкой 10%
								p.product-set__warn Скидки не суммируются
								a(href="#")
									img.product-set__good-photo(src="dist/images/temporary/cart-recomended.png", alt="recomended good")
								.product-set__good-name
									a(href="#") Аккумулятор Hubsan Li-Po 3,7В 380 мАч Аккумулятор Hubsan Li-Po 3,7В 380 мАч Аккумулятор Hubsan Li-Po 3,7В 380 мАч
								.product-set__bottom
									.product-set__price
										.product-set__price-new 30000
											i грн
										.product-set__price-old
											del 33000грн
									a.product-set__btn-add(href="#") Добавить



							// Всплывающий блок редактирования товара
							div
								.popup-back
									.close-popup
										a(href="#" rel="#").come-back
											i
											span Вернуть
									.product-wishlist-block.cart-wishlist-block
										a(href="#product-wishlist-" rel="<?=$arResult['AJAX_CALL_ID']?>" class="top-wishlist-link wishlist-link ajax_link_main_catalog cart-wishlist" params="do=add2wishlist&id=<?=$offer_id?>")
											i
											span В избранное
									.delete-detail-block
										a(href="#").page-cart__delete_checkbox
											i
											span Удалить
										input(type="checkbox" name="del[<?=$item['ID']?>]" value="1").delete_checkbox
						// Конец товара

						// Начало товара
						.cart-product.clearfix

							a.cart-product__item-delete(href="#")
							.cart-product__image
								a(href="#")
									img(src="dist/images/temporary/avto.jpeg", alt="some description")
							.cart-product__name
								a(href="#") Монстр Traxxas E-Revo Brushed с аккумуляторами TRA5603
							.cart-product__quantity
								a(href="#" data-product="qty_3").cart-product__quantity-btn.cart-product__quantity--del
									i
								span.cart-product__quantity-field 1 шт
								a.cart-product__quantity-btn.cart-product__quantity--add(href="#" data-product="qty_3")
									i
								span.cart-product__price 12 045 грн
									

							// Всплывающий блок редактирования товара
							div
								.popup-back
									.close-popup
										a(href="#" rel="#").come-back
											i
											span Вернуть
									.product-wishlist-block.cart-wishlist-block
										a(href="#product-wishlist-" rel="<?=$arResult['AJAX_CALL_ID']?>" class="top-wishlist-link wishlist-link ajax_link_main_catalog cart-wishlist" params="do=add2wishlist&id=<?=$offer_id?>")
											i
											span В избранное
									.delete-detail-block
										a(href="#").page-cart__delete_checkbox
											i
											span Удалить
										input(type="checkbox" name="del[<?=$item['ID']?>]" value="1").delete_checkbox
						// Конец товара

						.order-total-sum Итого без доставки: 
							span  12 304 грн
				// end of .order-block__right

				//- Здесь будут блоки с формой для cart and cart-return
				block order-block



			// end of .order block
		script(src="dist/js/pages/cart.js")