doctype html
html(lang="ru")
	head
		title Personal cabinet
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		script(src="dist/js/vendor/modernizr-2.8.3.min.js")
		link(rel="stylesheet" href="dist/normalize.css")
		link(rel="stylesheet" href="dist/template_styles.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
	body
		.page-inner
			h1 Комплектующие

			main(role="main").c-components-main
				section.components-category
					h2.components-category__heading
						a(href="#") Для самолетов
					.components-category__inner
						.components-category__content
							.component-item
								.component-item__img
									a(href="#")
										img(src="dist/images/temporary/category/component1.jpg", alt="лопасти для самолетов")
								.component-item__name
									a(href="#") Пропеллеры к электродвигателям

							.component-item
								.component-item__img
									a(href="#")
										img(src="dist/images/temporary/category/component2.jpg", alt="лопасти для самолетов")
								.component-item__name
									a(href="#") Пропеллеры к ДВС

							.component-item
								.component-item__img
									a(href="#")
										img(src="dist/images/temporary/category/component3.jpg", alt="лопасти для самолетов")
								.component-item__name
									a(href="#") Складные пропеллеры

							.component-item
								.component-item__img
									a(href="#")
										img(src="dist/images/temporary/category/component4.jpg", alt="лопасти для самолетов")
								.component-item__name
									a(href="#") Импеллеры и аксессуары

							.component-item
								.component-item__img
									a(href="#")
										img(src="dist/images/temporary/category/component5.jpg", alt="лопасти для самолетов")
								.component-item__name
									a(href="#") Фюзеляж
							.component-item
								.component-item__img
									a(href="#")
										img(src="dist/images/temporary/category/component5.jpg", alt="лопасти для самолетов")
								.component-item__name
									a(href="#") Фюзеляж
						a.components-category__btn(href="#") Показать больше

				section.components-category
					h2.components-category__heading 
						a(href="#") Для вертолетов
					.components-category__inner
						.components-category__content
							.component-item
								.component-item__img
									a(href="#")
										img(src="dist/images/temporary/category/component11.jpg", alt="лопасти для самолетов")
								.component-item__name
									a(href="#") Пропеллеры к электродвигателям

							.component-item
								.component-item__img
									a(href="#")
										img(src="dist/images/temporary/category/component12.jpg", alt="лопасти для самолетов")
								.component-item__name
									a(href="#") Пропеллеры к ДВС

							.component-item
								.component-item__img
									a(href="#")
										img(src="dist/images/temporary/category/component13.jpg", alt="лопасти для самолетов")
								.component-item__name
									a(href="#") Складные пропеллеры

							.component-item
								.component-item__img
									a(href="#")
										img(src="dist/images/temporary/category/component14.jpg", alt="лопасти для самолетов")
								.component-item__name
									a(href="#") Импеллеры и аксессуары

							.component-item
								.component-item__img
									a(href="#")
										img(src="dist/images/temporary/category/component15.jpg", alt="лопасти для самолетов")
								.component-item__name
									a(href="#") Фюзеляж
						a.components-category__btn(href="#") Показать больше

				section.components-category
					h2.components-category__heading
						a(href="http://google.ru") Для квадракоптеров
					.components-category__inner
						.components-category__content
							.component-item
								.component-item__img
									a(href="#")
										img(src="dist/images/temporary/category/component1.jpg", alt="лопасти для самолетов")
								.component-item__name
									a(href="#", title="Пропеллеры к электродвигателям") Пропеллеры к электродвигателям

							.component-item
								.component-item__img
									a(href="#")
										img(src="dist/images/temporary/category/component2.jpg", alt="лопасти для самолетов")
								.component-item__name
									a(href="#") Пропеллеры к ДВС

							.component-item
								.component-item__img
									a(href="#")
										img(src="dist/images/temporary/category/component3.jpg", alt="лопасти для самолетов")
								.component-item__name
									a(href="#") Складные пропеллеры

							.component-item
								.component-item__img
									a(href="#")
										img(src="dist/images/temporary/category/component4.jpg", alt="лопасти для самолетов")
								.component-item__name
									a(href="#") Импеллеры и аксессуары

							.component-item
								.component-item__img
									a(href="#")
										img(src="dist/images/temporary/category/component5.jpg", alt="лопасти для самолетов")
								.component-item__name
									a(href="#") Фюзеляж
						a.components-category__btn(href="#") Показать больше

			aside.c-components-aside
				nav
					ul.components-aside-menu
						li.components-aside-menu__item
							a(href="#") Для самолетов
						li.components-aside-menu__item
							a(href="#") Для вертолетов
						li.components-aside-menu__item
							a(href="#") Для квадракоптеров
						li.components-aside-menu__item
							a(href="#") Для другой техники
				section.c-viewed-items
					h2.c-viewed-items__title Вы смотрели
					.c-viewed-items__inner
						.c-viewed-items__item
							.c-viewed-items__img
								a(href="#")
									img(src="dist/images/temporary/avto.jpeg", alt="some viewed item")
						.c-viewed-items__item
							.c-viewed-items__img
								a(href="http://google.ru")
									img(src="dist/images/temporary/avto.jpeg", alt="some viewed item")
						.c-viewed-items__item
							.c-viewed-items__img
								a(href="#")
									img(src="dist/images/temporary/avto.jpeg", alt="some viewed item")
						.c-viewed-items__item
							.c-viewed-items__img
								a(href="#")
									img(src="dist/images/temporary/avto.jpeg", alt="some viewed item")
		script(src="dist/js/pages/category-components.js")







