doctype html
html
	head
		title Overview-one
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/assets/owl.carousel.min.css")
		link(rel="stylesheet" href="dist/normalize.css")
		link(rel="stylesheet" href="dist/template_styles.css")
		script(src="dist/js/vendor/modernizr-2.8.3.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/owl.carousel.min.js")
	body.overview-one
		.page-inner
			h1 Выбор радиоуправляемого внедорожника: серьезный подход к вопросу 
			main.ov-main-content
				article.ov-article
					p
						img(src="dist/images/temporary/owerview-banner-big.jpg" alt="some picture")
					p.
						<em>Сегодня RC тачки достаточно доступны, разнообразны, универсальны. Машины класса оффроад можно катать абсолютно на любой пересеченной местности и ничто не остановит их: песок, снег, ямы, трамплины, лужи, камни, гравий. Развлекаться с ними можно везде: в закрытом помещении, на улице, на природе.</em>
					p
						<iframe src="https://www.youtube.com/embed/j8jTy-9BEyM" frameborder="0" allowfullscreen></iframe>
					p Мы выделим для Вас несколько преимуществ радиоуправляемых моделей внедорожников перед другими классами тачек:
						ul  
							li в среднем этот вид развивает скорость в пределах 50 км/ч, а некоторые представители гораздо большую;  
							li они пройдут там, куда никто не сможет добраться – это вездеходы с заглавной буквы;  
							li большинство моделей имеет радиус действия дистанционного пульта управления в районе 80 метров;  
							li автомодели обладают реалистичной колесной базой, могучим двигателем, профессиональной подвеской и настоящими маслонаполненными амортизаторами;  
					p отлично чувствуют себя на любом природном покрытии: травяном, асфальтовом или грунтовом! Для них нет границ! Также у Вас есть возможность устраивать гонки в закрытом помещении, предварительно продумывая и создавая специальную трассу с разными препятствиями. Естественно, уровень сложности и протяженность трассы можно будет легко откорректировать по желанию участников;  
					p Вы обладаете полным контролем над болидом – машина очень легко выполняет все Ваши команды благодаря установленной электронике высокой точности;  
					p Вы сможете с легкостью преобразить Вашу модель радиоуправляемого внедорожника при помощи наклеек или реклам на корпусе авто.
					p А еще, каждый автомобиль обладает яркой индивидуальностью и персональными характеристиками.
					

						
				// Блок со связанными товарами - related products
				section.overview-comparison
					h3.overview-comparison__heading Смотрите также
					a(href="#").overview-comparison__link Обзор-сравнение лучших ралли
					
					
					.o-compared-item.clearfix
						.o-compared-item__photo
							a(href="#")
								img(src="dist/images/sample-airplane.jpg")
								span.product-compared-place 1
						.o-compared-item__content
							.o-compared-item__product-status
								span.product-new Новинка
							h3.o-compared-item__heading
								a(href="#") Планер Nine Eagles Sky Climber 3G Autopilot RTF, 2008 мм NE250205
							.o-compared-item__price
								div.o-compared-item__current-price 1255 грн
						
							.o-compared-item__buy 
								a.o-buy-btn.u-incart-btn(href="#") В корзине
								.o-compared-item__wishlist
									a.o-wishlist-link(href="#")
										span.o-wishlist__text В избранное

					.o-compared-item.clearfix
						.o-compared-item__photo
							a(href="#")
								img(src="dist/images/sample-airplane.jpg")
								span.product-compared-place 2
						.o-compared-item__content
							.o-compared-item__product-status
								span.product-top Топ продаж
							h3.o-compared-item__heading
								a(href="#") Планер Nine Eagles Sky Climber 3G Autopilot RTF, 2008 мм NE250205
							.o-compared-item__price
								div.o-compared-item__new-price 1255 грн
								span.o-compared-item__old-price
									del 1322 грн
								
							.o-compared-item__buy 
								a.o-buy-btn(href="#") Купить
								.o-compared-item__wishlist
									a.o-wishlist-link(href="#") 
										span.o-wishlist__text В избранное

					.o-compared-item.clearfix
						.o-compared-item__photo
							a(href="#")
								img(src="dist/images/sample-airplane.jpg")
								span.product-compared-place 3
						.o-compared-item__content
							.o-compared-item__product-status
								span.o-compared-item__product-discount -20%
							h3.o-compared-item__heading
								a(href="#") Планер Nine Eagles Sky Climber 3G Autopilot RTF, 2008 мм NE250205 some additionel text to truncate
							.o-compared-item__price
								div.o-compared-item__new-price 1255 грн
								span.o-compared-item__old-price
									del 1322 грн
								
							.o-compared-item__buy 
								a.o-buy-btn(href="#") Купить
								.o-compared-item__wishlist
									a.o-wishlist-link.o-wished(href="#")
										span.o-wishlist__text В избранном
					//.get-to-know
					footer.overview-comparison__footer
						a.o-read-overview-btn(title="Нажми, чтобы увидеть новый обзор " href="#") Ознакомиться с обзором
				section.ov-socials
					.ov-video-related 
							span С этой публикацией связано
							a.ov-video.video(href="#") видео
							div.ov-share 
								a(href="#")
									span.bb-dashed Поделиться
					.ov-tags
						ul
							li теги
							-for(var x=0; x<5; x++)
								li
									a(href="#") Some long tag


					// Блок комментариев
				section.comments-block.clearfix
					form(name="commentform" id="commentForm" action="/" method="POST" class="comment-add-new")
						span.comment-avatar
							img(src="dist/images/overview-page/comment-default-avatar.png" alt="avatar")
						.textarea-wrapper
							textarea(rows="1" name="commenttext" class="commenttext u-placeholder-text") Оставьте свой комментарий ...
							.textarea-attachments
								input(type="file" name="files0" id="fileButton")
								label.attachments-btn(for="fileButton")
					.comment-socials-block.clearfix
						ul.comment-sort
							li.active-link Новые
								ul
									li
										a(href="#") Популярные
							li Популярные
								ul
									li
										a(href="#") Новые
						ul.comment-social
							li
								a.comment-share(href="#") Поделиться
							li
								a.comment-signup(href="#") Подписаться
							li
								a.comment-rss(href="#") RSS


					.comments
						-for (var x=0; x<5; x++)
							.comment-item.clearfix
								.comment-head
									.comment-avatar
										img(src="dist/images/overview-page/comment-default-avatar.png" alt="avatar")
										i.c-gplus
										// i.c-vk
										// i.c-fb
									span.comment-author John Doe
									.comment-rating 0
										a.comment-rate.rate-up(href="#") up
										a.comment-rate.rate-down(href="#") down

								.comment-body
									p Some comment text, that was left here by some stranger
									.comment-date 01-04-16
									.comment-reply-on-comment
										a(href="#") ответить
						.comment-item.comment-reply.clearfix
								.comment-head
									.comment-avatar
										img(src="dist/images/overview-page/comment-default-avatar.png" alt="avatar")
										i.c-gplus
										// i.c-vk
										// i.c-fb
									span.comment-author John Doe
									.comment-rating 0
										a.comment-rate.rate-up(href="#") up
										a.comment-rate.rate-down(href="#") down

								.comment-body
									p Some comment text, that was left here by some stranger
									.comment-date 01-04-16
									.comment-reply-on-comment
										a(href="#") ответить



						

			// Начало сайдбара
			aside.ov-aside.clearfix
				// Блок подписки
				section.ov-signup-wrapper
					.ov-signup
						form.ov-signup-form(name="signup" action="/")
							input.form-control.ov-signup-form__input(type="text" required placeholder="Эл. почта для рассылки" pattern=".*@.*[.][a-z]+")
							input.ov-signup-form__submit(type="submit" value="Держите в курсе")
					.ov-cat-wrapper
						h2.ov-cat-heading
							a(href="#") Рубрики обзоров
						ul.ov-cat
							-for(var x=0; x<5; x++)
								li
									a(href="#") Some category name
				// Блок с похожими обзорами
				section.ov-aside-content.ov-similar-review.clearfix
					h2.ov-similar-heading
						a(href="#") Похожие обзоры
					-for (var x=0; x<2;x++)
						.ov-similar-item.clearfix
							.ov-similar-item__img
								a(href="#")
									img(src="dist/images/temporary/overview-banner-small-2.jpg" alt="Some img")
							span.item-new-overview Новинка
							span.item-anouncement-overview Анонс
							h3
								a(href="#") Краткий обзор наиболее популярных компаний, выпускающих R/C модели
							.ov-similar-item__preview-text
								p.
									Hitec северокорейская компания, основанная в 1973 году, производитель радиоаппаратуры: передатчиков, приёмников, сервомашинок, прочей электроники, аксессуаров; авиамоделей.

				// Блок с видео-обзорами
				section.ov-aside-content.clearfix
					h2.ov-video-heading.video
						a(href="#") Видео Планета Хобби
					-for (var x=0; x<3; x++)
						.ov-video-item
							.ov-video-item__img
								a(href="#")
									img(src="dist/images/temporary/overview-banner-video.jpg" alt="some image")
							a(href="#") Обзор квадрокоптера Nine Eagles Galaxy Visitor 6 FPV
					.ov-video-item
						.ov-video-item__img
							a(href="#")
								img(src="dist/images/temporary/avto.jpeg" alt="some image")
						a(href="#") Обзор квадрокоптера Nine Eagles Galaxy Visitor 6 FPV
				// Блок с событиями
				.ov-aside-content.u-noborder.clearfix
					h2.ov-events-heading
						a(href="#") События
					ul.ov-events
						-for (var x=0; x<5; x++)
							li
								a(href="#") Встреча форумчан в Киеве. Профессионалы и любители радиоуправляемых моделей
			section.ov-more-articles
				h2.ov-more-articles__heading
					a(href="#") Нам есть что еще рассказать
				ul.o-more
					each value in ["Авто", "Самолеты", "Вертолёты", "Квадракоптеры"]
						li.o-more__category 
							a.o-more__link.o-more__category-link(href="#")=value 
							ul.o-more__items
								li.o-more__item
									a.o-more__link(href="#") Jet Racers Part 1
								li.o-more__item
									a.o-more__link(href="#") Mini-Z 2.4Ghz
								li.o-more__item
									a.o-more__link(href="#") Машины 1/43
								li.o-more__item
									a.o-more__link(href="#") Sony 600TVL Super HAD board camera for FPV
								li.o-more__item
									a.o-more__link(href="#") FrSky telemetry dashboard and sensor hub (part 1)

		script(src="dist/js/pages/overview.js")
		//- script.
		//- 	$(document).ready(function() {
 
		//- 		//- var owl = $("#owl-alike-products"); 
		//- 		var form = $("#commentForm")
		//- 		var textarea = $(".commenttext");
		//- 		var inputContent;
		//- 		textarea.blur(function() {
		//- 			inputContent = $(this).val();
		//- 			if (inputContent === "") {
		//- 				$(this).val("Оставьте свой комментарий ...");
		//- 				$(this).addClass("u-placeholder-text");
		//- 			}
		//- 		});
		//- 		textarea.focus(function(){
		//- 			inputContent = $(this).val();
		//- 			if (inputContent == "Оставьте свой комментарий ..."){
		//- 				$(this).val("");
		//- 				$(this).removeClass("u-placeholder-text");
		//- 			}
		//- 		});
		//- 		textarea.keydown(function (e) {
		//- 			if (!e.shiftKey && e.keyCode == 13){
		//- 				form.submit();
		//- 			}

		//- 		});
			
		//- 	});
		//- script.
		//- 	$(document).ready(function() {
		//- 		var el = document.querySelectorAll('.o-compared-item__heading a');
		//- 		function ellipsis(obj, len) {
		//- 			var text = obj.innerHTML;
		//- 			if (text.length > len) {
		//- 				text = text.slice(0, len - 3) + '&hellip;'; 
		//- 				obj.innerHTML = text;
		//- 			}
		//- 		}
				
		//- 		for (var i = 0; i < el.length; i++){
		//- 			ellipsis(el[i], 65);
		//- 		}
			
			
		//- 	});

