doctype html
html
	head
		title Overview page
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/assets/owl.carousel.min.css")
		link(rel="stylesheet" href="dist/normalize.css")
		link(rel="stylesheet" href="dist/template_styles.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/owl.carousel.min.js")
	body.overview-one
		.page-inner
			h1 Выбор радиоуправляемого внедорожника: серьезный подход к вопросу
			.ov-main-content
				.ov-article
					p
						img(src="dist/images/temporary/owerview-banner-big.jpg" alt="some picture")
					p.
						Сегодня RC тачки достаточно доступны, разнообразны, универсальны. Машины класса оффроад можно катать абсолютно на любой пересеченной местности и ничто не остановит их: песок, снег, ямы, трамплины, лужи, камни, гравий. Развлекаться с ними можно везде: в закрытом помещении, на улице, на природе.
					p
						<iframe src="https://www.youtube.com/embed/j8jTy-9BEyM" frameborder="0" allowfullscreen></iframe>
					p.
						Мы выделим для Вас несколько преимуществ радиоуправляемых моделей внедорожников перед другими классами тачек:  
						в среднем этот вид развивает скорость в пределах 50 км/ч, а некоторые представители гораздо большую;  
						они пройдут там, куда никто не сможет добраться – это вездеходы с заглавной буквы;  
						большинство моделей имеет радиус действия дистанционного пульта управления в районе 80 метров;  
						автомодели обладают реалистичной колесной базой, могучим двигателем, профессиональной подвеской и настоящими маслонаполненными амортизаторами;  
						отлично чувствуют себя на любом природном покрытии: травяном, асфальтовом или грунтовом! Для них нет границ! Также у Вас есть возможность устраивать гонки в закрытом помещении, предварительно продумывая и создавая специальную трассу с разными препятствиями. Естественно, уровень сложности и протяженность трассы можно будет легко откорректировать по желанию участников;  
						Вы обладаете полным контролем над болидом – машина очень легко выполняет все Ваши команды благодаря установленной электронике высокой точности;  
						Вы сможете с легкостью преобразить Вашу модель радиоуправляемого внедорожника при помощи наклеек или реклам на корпусе авто.  
						А еще, каждый автомобиль обладает яркой индивидуальностью и персональными характеристиками.
				// Блок со связанными товарами - related products
				.alike-products.ov-alike-products
					h3 Смотрите также
					a Обзор сравнение лучших ралли
					// Блок контейнер слайдера
					.owl-carousel#owl-alike-products
						// Item added to order
						.item
							a(href="#")
								img(src="dist/images/sample-airplane.jpg" alt="sample")
							span.product-new Новинка
							span.product-top Топ продаж
							h3.product-carousel-title
								a(href="#") Планер Nine Eagles Sky Climber 3G Autopilot RTF, 2008 мм NE250205
							span.old-price
								del 1322 грн
							span.sale-amount 3%
							div.new-price 1255 грн 
							a.btn.btn-submit.btn-product-order.u-ordered(href="#") В корзине
							.product-wishlist-block
								a.top-wishlist-link.wishlist-link.ajax_link_main_catalog(href="#") В избранное

						-for (var x=0; x<2; x++)
							.item
								a(href="#")
									img(src="dist/images/sample-airplane.jpg" alt="sample")
								span.product-new Новинка
								span.product-top Топ продаж
								h3.product-carousel-title
									a(href="#") Планер Nine Eagles Sky Climber 3G Autopilot RTF, 2008 мм NE250205
								span.old-price
									del 1322 грн
								span.sale-amount 3%
								div.new-price 1255 грн 
								a.btn.btn-submit.btn-product-order(href="#") Купить 
								.product-wishlist-block
									a.top-wishlist-link.wishlist-link.ajax_link_main_catalog(href="#") В избранное

						// Item added to wishlist
						.item
								img(src="dist/images/sample-airplane.jpg")
								span.product-top Топ продаж
								h3.product-carousel-title
									a(href="#") Планер Nine Eagles Sky Climber 3G Autopilot RTF, 2008 мм NE250205
								div.product-carousel-price 1455 грн 
								a.btn.btn-submit.btn-product-order(href="#") Купить
								.product-wishlist-block
									a.wishlist-link.wished(href="#") В избранном
					.get-to-know
						a.btn.u-ordered.ov-read-review-btn(href="#") Ознакомиться с обзором
				.ov-socials
					.ov-video-related 
							span С этой публикацией связано
							a.ov-video.video(href="#") Видео
							div.ov-share.share 
								a(href="#") Поделиться
					.ov-tags
						ul
							li теги
							-for(var x=0; x<5; x++)
								li
									a(href="#") Some long tag


					// Блок комментариев
					.comments-block.clearfix
						form(name="commentform" id="commentForm" action="/" method="POST" class="comment-add-new")
							span.comment-avatar
								img(src="dist/images/overview-page/comment-default-avatar.png" alt="avatar")
							.textarea-wrapper
								textarea(rows="1" name="commenttext" class="commenttext u-placeholder-text") Оставьте свой комментарий ...
								.textarea-attachments
									input(type="file" name="files0" id="fileButton")
									label.attachments-btn(for="fileButton")
						.comment-socials-block.clearfix
							ul.comment-sort
								li.active-link Новые
									ul
										li
											a(href="#") Популярные
								li Популярные
									ul
										li
											a(href="#") Новые
							ul.comment-social
								li
									a.comment-share(href="#") Поделиться
								li
									a.comment-signup(href="#") Подписаться
								li
									a.comment-rss(href="#") RSS


						.comments
							-for (var x=0; x<5; x++)
								.comment-item.clearfix
									.comment-head
										.comment-avatar
											img(src="dist/images/overview-page/comment-default-avatar.png" alt="avatar")
											i.c-gplus
											// i.c-vk
											// i.c-fb
										span.comment-author John Doe
										.comment-rating 0
											a.comment-rate.rate-up(href="#") up
											a.comment-rate.rate-down(href="#") down

									.comment-body
										p Some comment text, that was left here by some stranger
										.comment-date 01-04-16
										.comment-reply-on-comment
											a(href="#") ответить
							.comment-item.comment-reply.clearfix
									.comment-head
										.comment-avatar
											img(src="dist/images/overview-page/comment-default-avatar.png" alt="avatar")
											i.c-gplus
											// i.c-vk
											// i.c-fb
										span.comment-author John Doe
										.comment-rating 0
											a.comment-rate.rate-up(href="#") up
											a.comment-rate.rate-down(href="#") down

									.comment-body
										p Some comment text, that was left here by some stranger
										.comment-date 01-04-16
										.comment-reply-on-comment
											a(href="#") ответить



						

			// Начало сайдбара
			.ov-aside.clearfix
				// Блок подписки
				.ov-signup
					form.ov-signup-form(name="signup" action="/")
						input(type="text" required placeholder="Эл. почта для рассылки")
						input(type="submit" value="Подписаться")
					h2.ov-cat-heading Рубрики обзоров
					ul.ov-cat
						-for(var x=0; x<5; x++)
							li
								a(href="#") Some category name
				// Блок с похожими обзорами
				.ov-aside-content.ov-similar-review.clearfix
					h2.ov-similar-heading Похожие обзоры
					-for (var x=0; x<2;x++)
						.ov-similar-item.clearfix
							a(href="#")
								img(src="dist/images/temporary/overview-banner-small-2.jpg" alt="Some img")
							span.item-new-overview Новинка
							span.item-anouncement-overview Анонс
							h3
								a(href="#") Краткий обзор наиболее популярных компаний, выпускающих R/C модели
							p.
								Hitec северокорейская компания, основанная в 1973 году, производитель радиоаппаратуры: передатчиков, приёмников, сервомашинок, прочей электроники, аксессуаров; авиамоделей.
				// Блок с видео-обзорами
				.ov-aside-content.clearfix
					h2.ov-video-heading.video Видео Планета Хобби
					-for (var x=0; x<4; x++)
						.ov-video-item
							a(href="#")
								img(src="dist/images/temporary/overview-banner-video.jpg" alt="some image")
							a(href="#") Обзор квадрокоптера Nine Eagles Galaxy Visitor 6 FPV
				// Блок с событиями
				.ov-aside-content.u-noborder.clearfix
					h2.ov-events-heading События
					ul.ov-events
						-for (var x=0; x<5; x++)
							li
								a(href="#") Встреча форумчан в Киеве. Профессионалы и любители радиоуправляемых моделей
			div.ov-more-articles
				h2 Нам есть что еще рассказать
				ul
					each value in ["Авто", "Самолеты", "Вертолёты", "Квадракоптеры"]
						li 
							a(href="#")=value 
							ul
								li
									a(href="#") some article 1
								li
									a(href="#") some article 2
								li
									a(href="#") some article 3
								li
									a(href="#") some article 4
								li
									a(href="#") some article 5


		script.
			$(document).ready(function() {
 
				var owl = $("#owl-alike-products"); 
				var form = $("#commentForm")
				var textarea = $(".commenttext");
				var inputContent;
				textarea.blur(function() {
					inputContent = $(this).val();
					if (inputContent === "") {
						$(this).val("Оставьте свой комментарий ...");
						$(this).addClass("u-placeholder-text");
					}
				});
				textarea.focus(function(){
					inputContent = $(this).val();
					if (inputContent == "Оставьте свой комментарий ..."){
						$(this).val("");
						$(this).removeClass("u-placeholder-text");
					}
				});
				textarea.keydown(function (e) {
					if (!e.shiftKey && e.keyCode == 13){
						form.submit();
					}

				});
				
				
				owl.owlCarousel({
				    loop:true,
				    margin:10,
				    navigationText: false,
				    responsiveClass:true,
				    responsive:{
				    	0:{
				    		items:1,
				    		nav:true
				    	},
				        460:{
				            items:2,
				            nav:true
				        },
				        768:{
				            items:2,
				            nav:false
				        },
				        1000:{
				            items:3,
				            nav:true,
				            loop:false
				        },
				        1200:{
				            items:3,
				            nav:true,
				            loop:false
				        }
				    }
				});
			
			
			});

