extend product-page.jade

block title
	title Product page

block buy-block
	// блок с информацией для заказа\покупки	
	.product-card__buy-block.product-info
		// Блок с основной информацией для заказа товара и кнопкой купить: цена, цвет, код товара и т.д.
		.product-feature.product-feature--best-price(title="узнать подробности") Гарантия лучшей цены
		// .product-feature.product-feature--order Товар под заказ
		div.product-group
			span.product-info__status.product-info__status--available Есть в наличии
			//span.product-info__status.product-info__status--not-available Нет в наличии
			//span.product-info__status.product-info__status--waiting Ожидается
			span.product-info__code Код:&nbsp;TM503018-T86
		form(action="/" name="product-buy" id="productCardBuy" class="product-card__order-form")
			// Блок выбора цвета, выбор цвета в через радио кнопку. Показ цвета через инлайновый стиль спану.
			.product-info__color.color-product-info
				| Цвета:
				.color-product-info__choosed-color
					span(style="background: white").color-product-info__color-label
				.color-product-info__colors.product-colors
					.product-colors__item
						input.product-colors__radio(type="radio" name="productColors" id="color-1" value="white" checked)
						label(for="color-1")
							span(style="background-color: white").color-product-info__color-label
							| Белый
					.product-colors__item
						input.product-colors__radio(type="radio" name="productColors" value="red" id="color-2")
						label(for="color-2")
							span(style="background-color: red").color-product-info__color-label
							| Красный
					.product-colors__item
						input.product-colors__radio(type="radio" name="productColors" value="yellow" id="color-3")
						label(for="color-3")
							span(style="background-color: yellow").color-product-info__color-label
							| Желтый
			// Блок с опцией выбора набора
			ul.product-info__set-option.set-option-product.clearfix
				li.set-option-product__item
					input.set-option-product__radio.radio-hidden(type="radio" name="productSet" value="0" id="productWithoutSet")
					label.set-option-product__label(for="productWithoutSet") Без набора
						// a.tip-btn.popup-open-link(href="#", data-popup-target="setInfoPopup")
						// ^ эта подсказка была удалена в новом варианте дизайна

				li.set-option-product__item
					input.set-option-product__radio.radio-hidden(type="radio" name="productSet" value="1" id="productWithSet" checked)
					label.set-option-product__label(for="productWithSet") С набором
			
			div.product-info__buy-block
				.product-info__price-block
					// span.product-info__price-current 3 160
					// 	i.price__sm  грн
					span.product-info__price-new.new-price 3 160
						i.price__sm  грн
					span.product-info__price-old 3 500 грн
				input.product-btn.product-btn--buy#submitOrderBtn(type="submit" value="Купить")
				//input.product-btn.product-btn--order(type="submit" value="Заказать")
				//input.product-btn.product-btn--inform(type="submit" value="Сообщить о поступлении")
				//- span.mobile-buy-option
				//- 	a(href="#fast_buy").fastbuy-link Быстрая покупка
				//- ^ нет в новой версии дизайна

			
		ul.product-info__buy-options.p-buy-options
			li.p-buy-options__heading Другие варианты покупки:
				ul.p-buy-options__inner
					li.p-buy-options__option
						a.popup-open-link(href="#", data-popup-target='withDiscountPopup') Со скидкой
					li.p-buy-options__option
						a.popup-open-link(href="#", data-popup-target='creditPopup') В кредит
					li.p-buy-options__option
						.p-buy-options__table-show
							span.p-buy-options__table-show-title еще
							span.p-buy-options__table-hidden
								a.popup-open-link(href="#fast_buy", data-popup-target='quickOrder').fastbuy-link Быстрая покупка
		.product-info__actions
			.personal-actions
				.personal-actions__action.action-personal.action-personal--wishlist
					i
					span.action-personal__title Отложить
				.personal-actions__action.action-personal.action-personal--compare
					i
					span.action-personal__title Сравнить
				.personal-actions__action.action-personal.action-personal--watch-price.action-personal--selected
					i
					span.action-personal__title Следить за ценой
			div.product-info__rating-block
				a(href="#").category-product__review-link Обзор-сравнение
				.rateit-block
					.rateit__range
						.rateit__selected
							.rateit__hover
					|  на базе 122 оценок
	// конец блока с информацией для заказа\покупки
