doctype html
html(lang="ru")
	head
		title Product
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/assets/owl.carousel.min.css")
		link(rel="stylesheet" href="dist/normalize.css")
		link(rel="stylesheet" href="dist/template_styles.css")
		
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/owl.carousel.min.js")
		script(src="dist/js/vendor/modernizr-2.8.3.min.js")
		script(src="dist/js/pages/product.js")
	body
		.page-inner
			section.product-card
				h1.product-card__title Самолет Hubsan Spy Hawk H301F 843 мм 2.4 & 5.8GHz с бортовой видеокамерой и системой FPV RTF
				// Шапка товара с основной информацией для покупки
				section.product-card__header
					// Блок, который содержит информацию по товару: картинки, цену, производителя и т.д
					.product-card__image-block
						// Блок с изображениями товара
						.product-card__main-image
							img(src="dist/images/temporary/product-main-img-desc.jpg", alt="some image")
						.product-card__gallery.gallery-product
							.gallery-product__item
								img(src="dist/images/temporary/owerview-banner-big.jpg", alt="some image")
							.gallery-product__item
								img(src="dist/images/temporary/product-main-img.jpg", alt="some image")
							.gallery-product__item.gallery-product__item--active
								img(src="dist/images/temporary/product-main-img-desc.jpg", alt="some image")
							.gallery-product__item
								img(src="dist/images/temporary/avto.jpeg", alt="some image")

					.product-card__buy-block.product-info
						// Блок с основной информацией для заказа товара и кнопкой купить: цена, цвет, код товара и т.д.
						.product-feature.product-feature--best-price Гарантия лучшей цены
						div(style="margin-bottom: 15px;")
							span.product-info__status.product-info__status--available Есть в наличии
							span.product-info__code Код: 193878
						form(action="" name="product-buy" id="productCardBuy" class="product-card__order-form")
							ul.product-info__set-option.set-option-product.clearfix
								li.set-option-product__item
									input.set-option-product__radio.radio-hidden(type="radio" name="productSet" value="0" id="productWithoutSet")
									label.set-option-product__label(for="productWithoutSet") Без набора
										span.tip-btn
										div.tip-content Это подсказка для этого блока

								li.set-option-product__item
									input.set-option-product__radio.radio-hidden(type="radio" name="productSet" value="1" id="productWithSet" checked)
									label.set-option-product__label(for="productWithSet") С набором
							// Блок выбора цвета, выбор цвета в через радио кнопку. Показ цвета через инлайновый стиль спану.
							.product-info__color.color-product-info
								| Цвета:
								.color-product-info__choosed-color
									span(style="background: white").color-product-info__color-label
								.color-product-info__colors.product-colors
									.product-colors__item
										input.product-colors__radio(type="radio" name="productColors" id="color-1" value="white" checked)
										label(for="color-1")
											span(style="background-color: white").color-product-info__color-label
											| Белый
									.product-colors__item
										input.product-colors__radio(type="radio" name="productColors" value="red" id="color-2")
										label(for="color-2")
											span(style="background-color: red").color-product-info__color-label
											| Красный
									.product-colors__item
										input.product-colors__radio(type="radio" name="productColors" value="yellow" id="color-3")
										label(for="color-3")
											span(style="background-color: yellow").color-product-info__color-label
											| Желтый
							div.product-info__buy-block
								.product-info__price-block
									span.product-info__price-new.new-price 3 160
										i.new-price__sm  грн
									span.product-info__price-old 3 500 грн
								input.product-btn.product-btn--buy(type="submit" value="Купить" role="button")
								//- span.mobile-buy-option 
								//- 	a(href="#fast_buy").fastbuy-link Быстрая покупка

							
						ul.product-info__buy-options.p-buy-options
							li.p-buy-options__heading Другие варианты покупки:
								ul.p-buy-options__inner
									li.p-buy-options__option
										a(href="#") Со скидкой
									li.p-buy-options__option
										a#followbuyCreditProduct-link(href="#") В кредит
									li.p-buy-options__option.fastbuy-link
										a(href="#fast_buy") Быстрая покупка
						.product-info__actions
							.personal-actions
								.personal-actions__action.action-personal.action-personal--wishlist
									i
									span.action-personal__title Отложить
								.personal-actions__action.action-personal.action-personal--compare
									i
									span.action-personal__title Сравнить
								.personal-actions__action.action-personal.action-personal--watch-price
									i
									span.action-personal__title Следить за ценой
							.rateit-block
								.rateit__range
									.rateit__selected
										.rateit__hover
								|  на базе 122 оценок
									

					aside.product-card__shop-info.shop-info
						.product-manufacturer Производитель:
							a(href="#")  HSP Racing
						.product-warranty Гарантия: 24 мес
						.shop-info__work-time <a href="/about/shop/">Магазин</a> открыт до 21
						ul.shop-info__pages
							li.shop-info__page
								a.shop-info__page-link(href="#") Доставка и оплата
							li.shop-info__page
								a.shop-info__page-link(href="#") Возврат и обмен
							li.shop-info__page
								a.shop-info__page-link(href="#") Гарантия качества
							li.shop-info__page
								a.shop-info__page-link(href="#") Сервисный центр
							li.shop-info__page
								a.shop-info__page-link(href="#") Консультация
				// Тело с детальным описанием, характеристиками и доп. блоками
				section.product-card__details.details-product
					// Блок который содержит детали по товару: описание, характеристики, отзывы и т.д
					.details-product__menu-wrapper
						ul.details-product__menu.menu-details
							// Меню по табам
							li.menu-details__item
								a.menu-details__link.menu-details__link--active(href="#" data-id="about") О товаре
							li.menu-details__item
								a.menu-details__link(href="#" data-id="characteristics") Характеристики
							li.menu-details__item
								a.menu-details__link(href="#" data-id="comments") Отзывы
							li.menu-details__item
								a.menu-details__link(href="#" data-id="accessories") Аксессуары
							li.menu-details__item
								a.menu-details__link(href="#" data-id="repairParts") Запчасти
							li.menu-details__item
								span.menu-details__tablet-toggler Детальнее
								ul.menu-details__tablet-toggled
									li.menu-details__item
										a.menu-details__link(href="#" data-id="questionsAndAnswers") Вопросы и ответы
									li.menu-details__item
										a.menu-details__link(href="#" data-id="consulting") Получить консультацию
					// 1 таб - О товаре
					div.item-detail__mobile-menu-item.mobile-menu-item--active О товаре
					article#about.details-product__detail-item.item-detail.about-product.clearfix.item-detail--active
						section.about-product__video
							ul.videos-tabs
								li.video-tab(data-order="1").
									<iframe src="https://www.youtube.com/embed/UlIHuxD7RPY" frameborder="0" allowfullscreen="" style="width: 490px; height: 367.5px;"></iframe>
								li.video-tab(data-order="2").
									<iframe width="494" height="301" src="https://www.youtube.com/embed/ztHNNW7QFyE" frameborder="0" allowfullscreen></iframe>
								li.video-tab(data-order="3").
									<iframe width="494" height="301" src="https://www.youtube.com/embed/ztHNNW7QFyE" frameborder="0" allowfullscreen></iframe>
							//- ul.tabs-control
							//- 	li.tabs-control__item
							//- 		a.tabs-nav(href="#" data-nav="1") 1
							//- 	li.tabs-control__item
							//- 		a.tabs-nav.tabs-nav--active(href="#" data-nav="2") 2
							
						section.about-product__text
							h2.item-detail__title Описание
							p Улыбчивый планер станет отличным другом для мальчишек и девчонок. Пенолет Smily имеет довольно необычную форму.
							p.
								Выполнен он в форме круга, как и положено смайлику, однако у него есть свой нос с пропеллером и хвост для улучшенной аэродинамики. На верхней стороне корпуса нарисована улыбательная мордашка.
							p.
								Материал планера Smily очень прочный и легкий, а самое главное – неубиваемый. Это пенистый Flexipor/EPP, который стойко перенесет любые испытательные взлеты и падения. Несмотря на необычную форму, модель достаточно быстра и маневренна. С ней можно выполнять различные трюки, в том числе и элементы высшего пилотажа.
							p.
								Пенолет Smily идеально подходит для развлекательных полетов, а также для использования в гордских условиях. С ним необязательно искать огромное поле, так как он достаточно компактен.
							h2 Характеристики
							table.product-characteristics
								tbody
									tr.characteristic
										td.characteristic-name Класс модели
										td.characteristic-value Багги
									tr.characteristic
										td.characteristic-name Масштаб
										td.characteristic-value 1/10
									tr.characteristic
										td.characteristic-name Материал 
										td.characteristic-value Пластик
									tr.characteristic
										td.characteristic-name Комплектация модели
										td.characteristic-value Полная (RTR, RTF)
							h2 Комплектация
							ol
								li Полностью собранная модель самолёта Spy Hawk с видеокамерой
								li Пульт управления
								li Li-Po аккумулятор 7.4v 450mAh
								li Зарядное устройство
								li Инструкция

						section.product-card__need-to-purchase.purchase-product
							h2.purchase-product__title Требуется докупить (не входит в комплекцию)
							.purchase-product__products.products-purchase
								.products-purchase__item.purchase-item
									.purchase-item__img
										a(href="#")
											img(src="dist/images/temporary/need-product2.jpg", alt="some image")
									.purchase-item__desc
										.purchase-item__name
											a(href="#") Батарейки 1.2 B, LR6/2B "АА" x 2шт. (Sanyo, LR6/2B)
										.purchase-item__category
											a(href="#") Батарейки
									form.purchase-item__form.purchase-form(action="/")
										input.purchase-form__qty(type="number" value="1" min="0" name="prod-qty")
										span.purchase-item__price
											b 24
											|  грн
										input.product-btn.product-btn--buy.purchase-item__btn(type="submit" value="В корзину")
								.products-purchase__item.purchase-item
									.purchase-item__img
										a(href="#")
											img(src="dist/images/temporary/need-product1.jpg", alt="some image")
									.purchase-item__desc
										.purchase-item__name
											a(href="#") Батарейка Duracell AAA LR03
										.purchase-item__category
											a(href="#") Батарейки
									form.purchase-item__form.purchase-form(action="/")
										input.purchase-form__qty(type="number" value="1" min="0")
										span.purchase-item__price 
											b 1 124
											|  грн
										input.product-btn.product-btn--buy.purchase-item__btn(type="submit" value="В корзину")
								.products-purchase__item.purchase-item
									.purchase-item__img
										a(href="#")
											img(src="dist/images/temporary/need-product1.jpg", alt="some image")
									.purchase-item__desc
										.purchase-item__name
											a(href="#") Батарейка FUJITSU (2шт.)
										.purchase-item__category
											a(href="#") Батарейки
									form.purchase-item__form.purchase-form(action="/")
										input.purchase-form__qty(type="number" value="1" min="0" pattern="[0-9]+")
										span.purchase-item__price 
											b 156
											|  грн
										input.product-btn.product-btn--buy.purchase-item__btn(type="submit" value="В корзину")

					// 2 таб - характеристики
					div.item-detail__mobile-menu-item Характеристики
					article#characteristics.details-product__detail-item.item-detail.characteristics-product
						h2.item-detail__title Характеристики
						table.product-characteristics
							tbody
								tr.characteristic
									td.characteristic-name Класс модели
									td.characteristic-value Багги
								tr.characteristic
									td.characteristic-name Масштаб
									td.characteristic-value 1/10
								tr.characteristic
									td.characteristic-name Материал 
									td.characteristic-value Пластик
								tr.characteristic
									td.characteristic-name Комплектация модели
									td.characteristic-value Полная (RTR, RTF)
								tr.characteristic
									td.characteristic-name Класс модели
									td.characteristic-value Багги
								tr.characteristic
									td.characteristic-name Масштаб
									td.characteristic-value 1/10
								tr.characteristic
									td.characteristic-name Материал 
									td.characteristic-value Пластик
								tr.characteristic
									td.characteristic-name Комплектация модели
									td.characteristic-value Полная (RTR, RTF) 
								tr.characteristic
									td.characteristic-name Класс модели
									td.characteristic-value Багги
								tr.characteristic
									td.characteristic-name Масштаб
									td.characteristic-value 1/10
								tr.characteristic
									td.characteristic-name Материал 
									td.characteristic-value Пластик
								tr.characteristic
									td.characteristic-name Комплектация модели
									td.characteristic-value Полная (RTR, RTF)
	
					// 3 таб - отзывы
					div.item-detail__mobile-menu-item Отзывы
					section#comments.details-product__detail-item.item-detail.characteristics-product
						h2.item-detail__title Отзывы
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam totam numquam amet tenetur corrupti ea, eveniet! Ratione quasi accusantium obcaecati porro nemo, qui, placeat, dolorem molestias deleniti earum repellendus aspernatur?

					// 4 таб - Аксессуары
					div.item-detail__mobile-menu-item Аксессуары
					section#accessories.details-product__detail-item.item-detail.characteristics-product
						

					// 5 таб - Запчасты
					div.item-detail__mobile-menu-item Запчасти
					section#repairParts.details-product__detail-item.item-detail.characteristics-product
						h2.item-detail__title Запчасти
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quas quasi, ipsa amet eius numquam unde odio quo, aut reprehenderit, consectetur! Optio autem cupiditate totam, excepturi, iure aspernatur vero minus.
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum dignissimos voluptate nisi at fugit quos sit reprehenderit quaerat vitae dicta aspernatur, corporis consequatur animi quas iure, ea tempora fugiat. Adipisci.

					// 6 таб - вопросы и ответы
					div.item-detail__mobile-menu-item Вопросы и ответы
					article#questionsAndAnswers.details-product__detail-item.item-detail.characteristics-product
						h2.item-detail__title Вопросы и ответы
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quam eligendi quasi, culpa quis sunt, illo, quae, odio odit placeat dolores enim vitae officia itaque! Soluta officiis dolores, molestiae rerum!

					// 7 таб - Получить консультацию
					div.item-detail__mobile-menu-item Получить консультацию
					article#consulting.details-product__detail-item.item-detail.characteristics-product
						h2.item-detail__title Получить консультацию
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quam eligendi quasi, culpa quis sunt, illo, quae, odio odit placeat dolores enim vitae officia itaque! Soluta officiis dolores, molestiae rerum!
					
					// Начало секции с аксессуарами
					section.accessories
						h2.accessories__heading <strong>Аксессуары</strong> к Самолет Hubsan Spy Hawk H301F 843 мм 2.4 & 5.8GHz с бортовой видеокамерой и системой FPV RTF
						// Tab 1
						div.item-detail__mobile-menu-item Аккумуляторы
						.details-product__detail-item.item-detail.accessories__item
							.owl-carousel
								.similar-product
									.similar-product__inner
										.similar-product__photo
											a(href="#")
												img(src="dist/images/temporary/product/item1.jpg", alt="image")
										.similar-product__content
											.similar-product__product-status
												span.product-status.product-status--top Топ продаж
											h3.similar-product__heading
												a(href="#") Аккумулятор Hubsan Li-Po 7,4В 450 мАч 2S
											.similar-product__price
												span.product-price--current 288
													span.product-price__text--small грн
											.similar-product__buy
												a.product-btn.similar-product__btn.similar-product__btn--incart(href="#") В корзине
												.similar-product__wishlist
													a.o-wishlist-link.o-wished(href="#")
														span.o-wishlist__text В избранном
								.similar-product
									.similar-product__inner
										.similar-product__photo
											a(href="#")
												img(src="dist/images/temporary/product/item2.jpg", alt="image")
										.similar-product__content
											.similar-product__product-status
												span.product-status.product-status--new Новинка
											h3.similar-product__heading
												a(href="#") Мини трагги WL-Toys Speed Racing 1:32 красный RTR
											.similar-product__price
												span.product-price--current 556
													span.product-price__text--small грн
											.similar-product__buy
												a.product-btn.similar-product__btn.similar-product__btn--buy(href="#") Купить
												.similar-product__wishlist
													a.o-wishlist-link(href="#")
														span.o-wishlist__text В избранное
								.similar-product
									.similar-product__inner
										.similar-product__photo
											a(href="#")
												img(src="dist/images/temporary/product/item3.jpg", alt="image")
										.similar-product__content
											.similar-product__product-status
												span.product-status.product-status--new Новинка
												span.product-status.product-status--discount -10%
											h3.similar-product__heading
												a(href="#") Передатчик Hubsan H301C-09 для планера Spy Hawk 2.4GHz
											.similar-product__price
												span.product-price--new 600
													span.product-price__text--small грн
												span.product-price--old 785 грн
											.similar-product__buy
												a.product-btn.similar-product__btn.similar-product__btn--buy(href="#") Купить
												.similar-product__wishlist
													a.o-wishlist-link(href="#")
														span.o-wishlist__text В избранное
								.similar-product
									.similar-product__inner
										.similar-product__photo
											a(href="#")
												img(src="dist/images/temporary/product/item4.jpg", alt="image")
										.similar-product__content
											.similar-product__product-status
												// no status
											h3.similar-product__heading
												a(href="#") Плата видеомодуля планера Hubsan Spy Hawk H301C
											.similar-product__price
												span.product-price--current 600 
													span.product-price__text--small грн
											.similar-product__buy
												a.product-btn.similar-product__btn.similar-product__btn--buy(href="#") Купить
												.similar-product__wishlist
													a.o-wishlist-link(href="#")
														span.o-wishlist__text В избранное
								.similar-product
									.similar-product__inner
										.similar-product__photo
											a(href="#")
												img(src="dist/images/temporary/product/item5.jpg", alt="image")
										.similar-product__content
											.similar-product__product-status
												// no status
											h3.similar-product__heading
												a(href="#") Сервопривод планера Hubsan Spy Hawk
											.similar-product__price
												span.product-price--current 338
													span.product-price__text--small грн
											.similar-product__buy
												a.product-btn.similar-product__btn.similar-product__btn--buy(href="#") Купить
												.similar-product__wishlist
													a.o-wishlist-link(href="#")
														span.o-wishlist__text В избранное
						// Tab 2
						div.item-detail__mobile-menu-item Сумки
						.details-product__detail-item.item-detail.accessories__item
							.owl-carousel
								.similar-product
									.similar-product__inner
										.similar-product__photo
											a(href="#")
												img(src="dist/images/temporary/product/item1.jpg", alt="image")
										.similar-product__content
											.similar-product__product-status
												span.product-status.product-status--top Топ продаж
											h3.similar-product__heading
												a(href="#") Аккумулятор Hubsan Li-Po 7,4В 450 мАч 2S
											.similar-product__price
												span.product-price--current 288
													span.product-price__text--small грн
											.similar-product__buy
												a.product-btn.similar-product__btn.similar-product__btn--incart(href="#") В корзине
												.similar-product__wishlist
													a.o-wishlist-link.o-wished(href="#")
														span.o-wishlist__text В избранном
								.similar-product
									.similar-product__inner
										.similar-product__photo
											a(href="#")
												img(src="dist/images/temporary/product/item2.jpg", alt="image")
										.similar-product__content
											.similar-product__product-status
												span.product-status.product-status--new Новинка
											h3.similar-product__heading
												a(href="#") Мини трагги WL-Toys Speed Racing 1:32 красный RTR
											.similar-product__price
												span.product-price--current 556
													span.product-price__text--small грн
											.similar-product__buy
												a.product-btn.similar-product__btn.similar-product__btn--buy(href="#") Купить
												.similar-product__wishlist
													a.o-wishlist-link(href="#")
														span.o-wishlist__text В избранное
								.similar-product
									.similar-product__inner
										.similar-product__photo
											a(href="#")
												img(src="dist/images/temporary/product/item3.jpg", alt="image")
										.similar-product__content
											.similar-product__product-status
												span.product-status.product-status--new Новинка
												span.product-status.product-status--discount -10%
											h3.similar-product__heading
												a(href="#") Передатчик Hubsan H301C-09 для планера Spy Hawk 2.4GHz
											.similar-product__price
												span.product-price--new 600
													span.product-price__text--small грн
												span.product-price--old 785 грн
											.similar-product__buy
												a.product-btn.similar-product__btn.similar-product__btn--buy(href="#") Купить
												.similar-product__wishlist
													a.o-wishlist-link(href="#")
														span.o-wishlist__text В избранное
								.similar-product
									.similar-product__inner
										.similar-product__photo
											a(href="#")
												img(src="dist/images/temporary/product/item4.jpg", alt="image")
										.similar-product__content
											.similar-product__product-status
												// no status
											h3.similar-product__heading
												a(href="#") Плата видеомодуля планера Hubsan Spy Hawk H301C
											.similar-product__price
												span.product-price--current 600 
													span.product-price__text--small грн
											.similar-product__buy
												a.product-btn.similar-product__btn.similar-product__btn--buy(href="#") Купить
												.similar-product__wishlist
													a.o-wishlist-link(href="#")
														span.o-wishlist__text В избранное
								.similar-product
									.similar-product__inner
										.similar-product__photo
											a(href="#")
												img(src="dist/images/temporary/product/item5.jpg", alt="image")
										.similar-product__content
											.similar-product__product-status
												// no status
											h3.similar-product__heading
												a(href="#") Сервопривод планера Hubsan Spy Hawk
											.similar-product__price
												span.product-price--current 338
													span.product-price__text--small грн
											.similar-product__buy
												a.product-btn.similar-product__btn.similar-product__btn--buy(href="#") Купить
												.similar-product__wishlist
													a.o-wishlist-link(href="#")
														span.o-wishlist__text В избранное
				
				// Начало дополнительных блоков: похожие товары, вы смотрели и т.д.
				section.additional-blocks
					// Похожие товары
					h2.additional-blocks__heading С этой моделью также смотрят
					.similar-products-block.clearfix#owl-similar-products.owl-carousel
						.similar-product
							.similar-product__inner
								.similar-product__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.similar-product__content
									.similar-product__product-status
										span.product-status.product-status--new Новинка
									h3.similar-product__heading
										a(href="#") Модель р/у планера VolantexRC FPVRaptor V2 (TW-757-V2) 2000мм 2.4GHz...
									.similar-product__price
										span.product-price--current 5 025 
											span.product-price__text--small грн
									.similar-product__buy
										a.product-btn.similar-product__btn.similar-product__btn--incart(href="#") В корзине
										.similar-product__wishlist
											a.o-wishlist-link.o-wished(href="#")
												span.o-wishlist__text В избранном

						.similar-product
							.similar-product__inner
								.similar-product__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.similar-product__content
									.similar-product__product-status
										span.product-status.product-status--new Новинка
										span.product-status.product-status--discount -10%
										
									h3.similar-product__heading
										a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
									.similar-product__price
										span.product-price--new 2600 
											span.product-price__text--small грн
										span.product-price--old 2785 грн
									.similar-product__buy
										a.product-btn.similar-product__btn.similar-product__btn--buy(href="#") Купить
										.similar-product__wishlist
											a.o-wishlist-link(href="#")
												span.o-wishlist__text В избранное

						.similar-product
							.similar-product__inner
								.similar-product__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.similar-product__content
									.similar-product__product-status
										span.product-status.product-status--top Топ продаж
										span.product-status.product-status--discount -10%
									h3.similar-product__heading
										a(href="#") Модель р/у планера VolantexRC FPVRaptor (TW-757) 1600мм 2.4GHz KIT
									.similar-product__price
										span.product-price--new 896 
											span.product-price__text--small грн
										span.product-price--old 1024 грн
									.similar-product__buy
										a.product-btn.similar-product__btn.similar-product__btn--buy(href="#") Купить
										.similar-product__wishlist
											a.o-wishlist-link(href="#")
												span.o-wishlist__text В избранное

						.similar-product
							.similar-product__inner
								.similar-product__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.similar-product__content
									.similar-product__product-status
										
									h3.similar-product__heading
										a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
									.similar-product__price
										.product-price.product-price--current 1024 грн
									.similar-product__buy
										a.product-btn.similar-product__btn.similar-product__btn--buy(href="#") Купить
										.similar-product__wishlist
											a.o-wishlist-link(href="#")
												span.o-wishlist__text В избранное

						.similar-product
							.similar-product__inner
								.similar-product__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.similar-product__content
									.similar-product__product-status
										
									h3.similar-product__heading
										a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
									.similar-product__price
										.product-price.product-price--current 1024 грн
									.similar-product__buy
										a.product-btn.similar-product__btn.similar-product__btn--buy(href="#") Купить
										.similar-product__wishlist
											a.o-wishlist-link(href="#")
												span.o-wishlist__text В избранное

						.similar-product
							.similar-product__inner
								.similar-product__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.similar-product__content
									.similar-product__product-status
										
									h3.similar-product__heading
										a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
									.similar-product__price
										.product-price.product-price--current 1024 грн
									.similar-product__buy
										a.product-btn.similar-product__btn.similar-product__btn--buy(href="#") Купить
										.similar-product__wishlist
											a.o-wishlist-link.o-wished(href="#")
												span.o-wishlist__text В избранном


