extend product-page.jade

block title
	title Product page

block buy-block
	// блок с информацией для заказа\покупки	
	.product-card__buy-block.product-info
		// Блок с основной информацией для заказа товара и кнопкой купить: цена, цвет, код товара и т.д.
		.product-feature.product-feature--best-price Гарантия лучшей цены
		// .product-feature.product-feature--order Товар под заказ
		div.product-group
			span.product-info__status.product-info__status--available Есть в наличии
			//span.product-info__status.product-info__status--not-available Нет в наличии
			//span.product-info__status.product-info__status--waiting Ожидается
			span.product-info__code Код:&nbsp;TM503018-T86
		form(action="/" name="product-buy" id="productCardBuy" class="product-card__order-form")
			ul.product-info__set-option.set-option-product.clearfix
				li.set-option-product__item
					input.set-option-product__radio.radio-hidden(type="radio" name="productSet" value="0" id="productWithoutSet")
					label.set-option-product__label(for="productWithoutSet") Без набора
						span.tip-btn
						span.tip-content Это подсказка для этого блока
							a(href="http://google.ru") Google

				li.set-option-product__item
					input.set-option-product__radio.radio-hidden(type="radio" name="productSet" value="1" id="productWithSet" checked)
					label.set-option-product__label(for="productWithSet") С набором
			// Блок выбора цвета, выбор цвета в через радио кнопку. Показ цвета через инлайновый стиль спану.
			div.product-info__buy-block
				.product-info__price-block
					// span.product-info__price-current 3 160
					// 	i.price__sm  грн
					span.product-info__price-new.new-price 3 160
						i.price__sm  грн
					span.product-info__price-old 3 500 грн
				input.product-btn.product-btn--buy(type="submit" value="Купить")
				//input.product-btn.product-btn--order(type="submit" value="Заказать")
				//input.product-btn.product-btn--inform(type="submit" value="Сообщить о поступлении")
				span.mobile-buy-option
					a(href="#fast_buy").fastbuy-link Быстрая покупка

			
		ul.product-info__buy-options.p-buy-options
			li.p-buy-options__heading Другие варианты покупки:
				ul.p-buy-options__inner
					li.p-buy-options__option
						a(href="#") Со скидкой
					li.p-buy-options__option
						a#followbuyCreditProduct-link(href="#") В кредит
					li.p-buy-options__option
						a(href="#fast_buy").fastbuy-link Быстрая покупка
		.product-info__actions
			.personal-actions
				.personal-actions__action.action-personal.action-personal--wishlist
					i
					span.action-personal__title Отложить
				.personal-actions__action.action-personal.action-personal--compare
					i
					span.action-personal__title Сравнить
				.personal-actions__action.action-personal.action-personal--watch-price.action-personal--selected
					i
					span.action-personal__title Следить за ценой
			.rateit-block
				.rateit__range
					.rateit__selected
						.rateit__hover
				|  на базе 122 оценок
	// конец блока с информацией для заказа\покупки
