extend product-page.jade

block title
	title Product - order


block buy-block
	// блок с информацией для заказа\покупки
	.product-card__buy-block.product-info
		.product-feature.product-feature--order Товар под заказ
		div(style="margin-bottom: 15px;")
			span.product-info__code Код: 193878
		form(action="" name="product-buy" id="productCardBuy" class="product-card__order-form")

			div.product-info__buy-block
				.product-info__price-block
					span.product-info__price-current 3 160
						i.price__sm  грн
				input.product-btn.product-btn--order(type="submit" value="Заказать" role="button")
				span.mobile-buy-option 
					a(href="#fast_order").fastbuy-link Быстрый заказ

		ul.product-info__buy-options.p-buy-options
			li.p-buy-options__option
				a(href="#make_order") Быстрый заказ

		.product-info__actions
			.personal-actions
				.personal-actions__action.action-personal.action-personal--wishlist
					i
					span.action-personal__title Отложить
				.personal-actions__action.action-personal.action-personal--compare
					i
					span.action-personal__title Сравнить
				.personal-actions__action.action-personal.action-personal--watch-price
					i
					span.action-personal__title Следить за ценой
			.rateit-block
				.rateit__range
					.rateit__selected
						.rateit__hover
				|  на базе 122 оценок
	// конец блока с информацией для заказа\покупки	