doctype html
html(lang="ru")
	head
		title Product page
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		script(src="dist/js/vendor/modernizr-2.8.3.min.js")
		link(rel="stylesheet" href="dist/normalize.css")
		link(rel="stylesheet" href="dist/template_styles.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
	body
		.page-inner
			h1 Монстр Traxxas E-Revo Brushed с аккумуляторами TRA5603

			section.product-card
