// profile-waiting.jade

extends ./personal-cabinet.jade

block item
	section.profile-waiting-item
		h2 Лист ожидания
		.delete-all
			i.delete-all__icon
			a.delete-all__link(href="#") удалить все товары
		section.waited-goods.clearfix
			.w-good.w-good--available
				.w-good__wrapper
					.w-good__already-available Уже в продаже
					i.w-good__delete-good
					.w-good__good-img
						img(src="dist/images/temporary/avto.jpeg", alt="some image")
					.w-good__good-status
						span.w-good__status-new Новинка
						span.w-good__discount-amount -20%
					h3.w-good__good-title
						a.w-good__good-link Самолет Hubsan Spy Hawk H301F 843 мм 2.4 & 5.8GHz с бортовой видеокамерой и...
					.w-good__price-block
						// span.w-good__price
						span.w-good__price-new 600 грн
						span.w-good__price-old 785 грн
					a.w-good__buy-btn(href="#") Купить

			.w-good
				.w-good__wrapper
					i.w-good__delete-good
					.w-good__good-img
						img(src="dist/images/temporary/avto.jpeg", alt="some image")
					.w-good__good-status
					h3.w-good__good-title
						a.w-good__good-link Самолет Hubsan Spy Hawk H301F 843 мм 2.4 & 5.8GHz с бортовой видеокамерой и...
					.w-good__price-block
						span.w-good__price 1123 грн
					a.w-good__buy-btn.w-good__buy-btn--disabled Купить
			.w-good
				.w-good__wrapper
					i.w-good__delete-good
					.w-good__good-img
						img(src="dist/images/temporary/avto.jpeg", alt="some image")
					.w-good__good-status
					h3.w-good__good-title
						a.w-good__good-link Самолет Hubsan Spy Hawk H301F 843 мм 2.4 adsfas 3 item
					.w-good__price-block
						span.w-good__price 1123 грн
					a.w-good__buy-btn.w-good__buy-btn--disabled Купить

			.w-good
				.w-good__wrapper
					i.w-good__delete-good
					.w-good__good-img
						img(src="dist/images/temporary/avto.jpeg", alt="some image")
					.w-good__good-status
					h3.w-good__good-title
						a.w-good__good-link Самолет Hubsan Spy Hawk H301F 843 мм 2.4 & 5.8GHz с бортовой видеокамерой и...
					.w-good__price-block
						span.w-good__price 1123 грн
					a.w-good__buy-btn.w-good__buy-btn--disabled Купить




