// profile-waiting.jade

extends ./personal-cabinet.jade

block item
	// =========================
	// Начало основного контента
	section.profile-delivery-cabinet
		h2 Доставка и оплата
		form.d-delivery-form(name="delivery-method" action="/" method="POST")
			// Секция с новой почтой
			section.d-delivery-item
				.custom-radio
					input.custom-radio__input.d-delivery-item__radio-input#new-post(type="radio" name="delivery-address" checked)
					label.custom-radio__label.d-delivery-item__radio(for="new-post")
						span.custom-radio__circle
							i.custom-radio__circle-inner
						h3.d-delivery-item__title.d-delivery-item__title--ib Новая почта
						a.d-delivery-item__payment-details-link(href="#") Условия доставки
					div.custom-radio__toggled-content
						section.d-delivery-item__address.delivery-item__address--new-post
							.custom-select
								select.custom-select__select
										option(value="kiyv") Киев
										option(value="kharkov") Харьков
										option(value="lviv") Львов
										option(value="odessa") Одесса
										option(value="dnepr") Днепр
							.custom-select

								select.custom-select__select
									- for (var x=0; x<20; x++)
										option(value=x) адресс новой почты #{x}
						section.d-delivery-item__payment
							header.d-delivery-item__header
								h3.d-delivery-item__title.d-delivery-item__title--ib Способ оплаты
								a.d-delivery-item__payment-details-link(href="#") Условия оплаты
							.form-group
								.custom-select
									select.custom-select__select
										option(value="0") При получении
										option(value="1") Предоплата
										option(value="2") Кредит
						input.custom-checkbox#new-post-main(type="checkbox" checked)
						label.custom-checkbox__label.d-delivery-item__checkbox(for="new-post-main")
							span.custom-checkbox__box
							| Оставить как основной способ доставки


			// Секция заберу сам
			section.d-delivery-item
				.custom-radio
					input.custom-radio__input.d-delivery-item__radio-input#by-myself(type="radio" name="delivery-address")
					label.custom-radio__label.d-delivery-item__radio(for="by-myself")
						span.custom-radio__circle
							i.custom-radio__circle-inner
						h3.d-delivery-item__title.d-delivery-item__title--ib Заберу сам(а) в магазине
				
					div.custom-radio__toggled-content
						section.d-delivery-item__address
							.custom-select
								.custom-select__bg
								.custom-select__arrow
								select.custom-select__select
									option(value="kiyv") Киев
									option(value="kharkov") Харьков
						section.d-delivery-item__payment
							header.d-delivery-item__header
								h3.d-delivery-item__title.d-delivery-item__title--ib Способ оплаты
								a.d-delivery-item__payment-details-link(href="#") Условия оплаты
							.custom-select
								.custom-select__bg
								.custom-select__arrow
								select.custom-select__select
									option(value="0") При получении
									option(value="1") Предоплата
									option(value="2") Кредит

						input.custom-checkbox.d-delivery-item__checkbox#by-myself-main(type="checkbox")
						label.custom-checkbox__label.d-delivery-item__checkbox(for="by-myself-main")
							span.custom-checkbox__box
							| Оставить как основной способ доставки

			//- section.d-delivery-form__submit
			//- 	input.btn.btn-submit.btn-save(type="submit" value="Сохранить изменения")







	// end of .profile-delivery-cabinet
	// Конец основного контента
	// =========================	