.news-date-time {
    font-size: 10px;
    color: rgb(180, 26, 26);
}
.news-list {
    overflow: hidden;
    padding: 11px 11px 0 11px;
    background: #fff;
    width: 100%;
}
.news-item {
    /*margin: 0 0 12px;
    border-bottom: 1px solid #d1d1d1;*/
    padding: 0 0 6px;
    width: 100%;
}
.news-item:last-child {
    border-bottom: none
}
.news-item__name-block {
    overflow: hidden;
    margin: 0 0 6px;
}
.news-item__name-block > a {
    color: #5a5a5a;
    font-size: 16px;
    text-decoration: underline;
}
.news_item__img-wrap {
    float: left;
    margin: 0px 0 14px 0px;
}
.items-text-preview {
    overflow: hidden;
    font-size: 15px;
    color: #5a5a5a;
}
.news-list__link-more {
    color: rgb(180, 26, 26);
}
.news-post {
    width: 55%;
}
.news-main{
    width: 100%;
    /*background: #eaeaea;
    padding: 10px;*/
}
.items-text-detail{
    width: 100%;
    padding: 10px;
    height: 140px;
    overflow: hidden;
    text-align: justify;
}
.items-text-detail--hide:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 320px;
    height: 40px;
    background: #fff;
    background: -moz-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(80%,rgba(255,255,255,1)),color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
    background: linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
}