.page404{
	max-width: 629px;
	margin-left: 40px;
	padding-bottom: 50px;

	@media(min-width: 768px){
		padding: 51px 0 243px;
	}

	@media (min-width: 1235px) {
		max-width: 495px;
		padding: 20px 0 243px 40px;
		margin-left: 0;
		background: #fff url('images/svg/arrow404.svg') 0 52% no-repeat;
	}

	&__type{
		font:  81.3px 'OpenSans_Bold', sans-serif;
		color: #cdcdcd;
		margin-bottom: -2px;
	}

	&__details{
		font-size: 16px;
		line-height: 28px;
		margin-bottom: 10px;

		@media(min-width: 768px){
			margin-bottom: 10px;
		}

		&-link{
			border-bottom: 1px solid #aabdd7;
			display: inline-block;
			line-height: 15px;

			&:hover{
				color: darken(#346cab, 20%);
				border-color: #346cab;
			}
		}
	}

}