// Cart header
.cart-page, .order-page {
    .mobile-menu{
        display: none;
    }
    .header__logo{
        margin: 8px;
    }
    .navigation-items{
        display: none;
    }
    #footer-wrapper{
        position: static;
        width: 100%;
    }
    .footer-login-mobile > #dynamic_auth .toppest-menu{
        position: absolute;
        top: 5px;
        right: 3%;
    }
    .cart-contacts__callback{
        display: none;
    }
    .page-header-wrapper{
        height: auto;
    }
    .page-header-wrapper__inner{
        width: 100%;
        padding: 0;
    }
}
    

// end of cart header
.order-block__left,
.order-block__right{
    box-sizing: border-box;
}
.order-block__right{
    display: none;
}

.order-block__left{

}

.btn{
    display: inline-block;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-cart{
    font-size: 20px;
	// font-family: OpenSans_SemiBold;
    color: #fff !important;
    background-color: #76972a;
    font-family: OpenSans_SemiBold;
    margin-top: 10px;
    margin-bottom: 23px;
    height: 53px;
    border-radius: 4px;
}

.btn-cart:hover{
    background-color: #6c8c23;
}

.order-form{
    background: #fffdf6;
    border: 1px solid #ebe0b9;
    box-sizing: border-box;
    padding: 15px 15px 10px;
    color: #000;
    font-size: 16px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    p{
        line-height: 25px;
        margin-bottom: 12px;
    }

    // input[type="text"],
    // input[type="password"],
    // textarea {
    //     width: 100%;
    //     box-sizing: border-box;
    //     margin-bottom: 15px;
    //     outline: none;
    //     border-radius: 4px;
    //     padding: 10px 15px;
    //     box-sizing: border-box;
    //     border: 1px solid #777;
    //     // color: #777;
    // }
    #orderCommentLink{
        margin-bottom: 15px;
        display: inline-block;
    }
    .order-comment{
        display: none;
    }
}
.order-form__separator{
    margin: 0 -15px 15px;
    border-bottom: 1px dashed #c2c2c2;
    padding: 0 15px 6px;
}
.order-form__label{
    color: #628d00;
    font: 15px OpenSans_SemiBold, sans-serif;
}
.buyer-info{
    font: normal 16px OpenSans, sans-serif;
    line-height: 25px;
    margin-bottom: 10px;

}
.buyer-info__item{
    display: inline-block;
    width: 100%;
}
.contentToggleLink{
    display: inline-block;
    margin-bottom: 11px;
    color: #346cab;
    border-bottom: 1px dashed #abc4df;
    padding-right: 5px;
    font: normal 15px OpenSans, sans-serif;
}
.contentToggleLink:hover{
    text-decoration: none;
}
.cotentToggleLink--nb{
    border: 0;
    text-decoration: underline;
}
.change-info{
    display: none;
}

.order-form__heading{
    font: normal 16px OpenSans_SemiBold, sans-serif;
    margin: 0 0 10px;
}

.order-form__radio-label{
    padding: 10px 0;
    padding-left: 35px;
}

// input.order-form__promokod{
//     background: #fff url(images/icon-question.png) no-repeat right 6px top 50%;
//     padding-right: 40px;
// }
// input.order-form__promokod:hover,
// input.order-form__promokod:focus{
//     background-position: right 5px top 50%;
//     padding-right: 39px;
// }

.promokod-hint{
    position: relative;
}

.promokod-icon{
    position: absolute;
    top: 6px;
    right: 10px;
    height: 30px;
    width: 30px;
    z-index: 1;
    background:  url(images/svg/Cart-question.svg) no-repeat center center;
    cursor: pointer;

}
.promokod-icon:hover{
    background: url(images/svg/Cart-question-hover.svg) no-repeat center center;

}

.promokod-info{
    position: absolute;
    background-color: #747474;
    color: #fff;
    width: 200px;
    right: 15px;
    bottom: 90%;
    font: 15px OpenSans_SemiBold;
    padding: 10px 15px;
    border-radius: 4px;
    display: none;
    transition: all 1s ease-out 0.5s;
}
// .promokod-hint:hover::after {
//     content: attr(data-title); /* Выводим текст */
//     position: absolute; /* Абсолютное позиционирование */
//     right: 0; top: 100%; /* Положение подсказки */
//     z-index: 1; /* Отображаем подсказку поверх других элементов */
//     background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
//     font-family: Arial, sans-serif; /* Гарнитура шрифта */
//     font-size: 11px; /* Размер текста подсказки */
//     padding: 5px 10px; /* Поля */
//     border: 1px solid #333; /* Параметры рамки */
// }
    

// Select styles
// .select-wrapper{
//     position: relative;
//     width: 100%;
//     box-sizing: border-box;
//     margin-bottom: 15px;
//     padding: 1px;
//     background: #fff;
//     border-radius: 4px;
//     border: 1px solid #777;
//     outline: none;

//     &:hover{
//         border: 2px solid #4b80bb;
//         padding: 0;
//     }

//     select{
//         box-sizing: border-box;
//         width: 100%;
//         padding: 10px 15px;
//         height: 44px;
//         background: transparent;
//         border: 0;
//         appearance: none;            /* remove arrow        */
//         -webkit-appearance: none;    /* remove arrow chrome */
//         -moz-appearance: none;       /* remove arrow FF     */
//     }

//     &:hover select,
//     select:focus{
//         border: none;
//         outline: none;
//     }

//     select::-ms-expand{
//         display: none;             /* remove arrow IE     */
//     }
// }



// .select-arrow{
//     position: absolute;
//     right: 0;
//     bottom: 0;
//     width: 50px;
//     height: 100%;
//     background: #3b9dcd url(images/icon-select-arrow.png) no-repeat 50% 50%;
//     z-index: 1;
// }
// .select-wrapper:hover .select-arrow{
//     width: 50px;
//     bottom: 0;
//     right: -1px;
// }

// end of select styles
// input[type="radio"]:checked + label > span > i{
//     display: inline-block;
//     border-radius: 50%;
//     background: #3b9dcd;
//     width: 16px;
//     height: 16px;
//     vertical-align: middle;
// }
// .delivery-address{
//     display: none;
// }
// .shop-address{
//     display: none;
// }
// input[type="radio"]:checked + label + .radio-toggle{
//     display: block;
// }
.order-tabs{
    margin: 0;
    margin-bottom: -1px;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;

    li{
        display: block;
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding: 15px 15px 15px 10px;
        font: 14px OpenSans, sans-serif;
        cursor: pointer;
        color: #346cab;
        // text-decoration: underline;
        // text-decoration-style: dashed;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        // span{
        //     display: inline-block;
        //     border-bottom: 1px dashed #006caf;
        //     color: #006caf;
        // }
        span{
            border-bottom: 1px dashed #abc4df;
            font-size: 14px;
        }

    }
    .active-tab{
        color: #000;
        background: #fffdf6;
        border: 1px solid #ebe0b9;
        border-bottom: 0;
        
        // font: 14px OpenSans_SemiBold, sans-serif;

        span{
            border: 0;
        }
    }
}
.email-status{
    font: italic 12px OpenSans, sans-serif;
    font-size: 12px;
    margin: -10px 0 10px;
}

.old-buyer{
    display: none;
    background: #fffdf6;
    border: 1px solid #ebe0b9;
    box-sizing: border-box;
    padding: 25px 15px 10px;
    // font-size: 14px;

    // span{
    //     font-family: OpenSans_SemiBold, sans-serif;
    //     color: #000;
    //     font-size: 16px;
    // }
}


//  Корзина right
.cart-mobile-opener{
	display: block;
	background: url(images/ui-cart-white.png) 5px 50% no-repeat,  url(images/ui-icon-arrow-menu-down.png) 95% 50% no-repeat;
	background-color: #346CAB; 
	padding: 15px 25px 15px 55px;
	margin-bottom: 30px;
	border-radius: 4px;
	color: #fff;

	span{
		display: block;
		font-weight: bold;
	}
}
.cart-sale-offer{
    box-sizing: border-box;
    padding: 15px 17px;
    margin: 0 0 20px;
    background: #fff4cd;
    border: 1px solid #f9db84;
    border-radius: 4px;
    font: 15px OpenSans;
}
.order-block__cart{
    margin-bottom: 35px;
}
.cart-product{
    padding: 60px 0 0;
    border-bottom: 1px dashed #959595;
    position: relative;
    
    @media (min-width: 994px){
        padding-top: 30px;
    }

}
.cart-product__image{
    width: 120px;
    float: left;
    // height: 120px;
    margin-right: 10px;
    padding-left: 10px;
    text-align: center;
    line-height: 120px;
    @media (min-width: 1200px){
       margin-right: 35px;
    }
}
.cart-product__image img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.cart-product__name{

}
.cart-product__name a{
    color: #434343;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
}
.cart-product__name a:hover{
    text-decoration: underline;
}
.cart-product__quantity{
    clear: both;
	margin-bottom: 15px;
	padding-left: 10px;
    // input{
    //     border: none;
    //     outline: none;
    //     text-align: center;
    //     font-size: 20px;
    //     vertical-align: top;
    // }
}
.cart-product__quantity-field{
    color: #0d0d0d;
    font: normal 20px OpenSans_SemiBold, sans-serif;
    text-align: center;
    padding: 0 10px;
    vertical-align: middle;
}
.cart-product__quantity-btn{
    border: 1px solid #4B80BB;
    border-radius: 3px;
    color: #434343;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 6px;
    vertical-align: top;
}

.cart-product__quantity--add{
    background: url("images/ui-icon-add-item.png") no-repeat center center;
}
.cart-product__quantity--del{
    background: url("images/ui-icon-delete-item.png") no-repeat center center;
}

.cart-product__price{
    display: inline-block;
    margin-left: 14px;
    font: 20px OpenSans_SemiBold;
}

.recomended-goods{
    background: #fafbfc;
    width: 100%;
    padding: 15px 15px;
    box-sizing: border-box;
    clear: both;

    @media (min-width: 994px){

    }

    @media (min-width: 1200px){
        border-radius: 2px;
        position: absolute;
        width: 250px;
        right: 70px;
        top: 32px;
        padding: 15px 20px;
    }
}

.recomended-goods__heading{
    margin: 0 0 15px;
    font: normal 15px OpenSans;
    color: #151515;

    @media (min-width: 1200px){
        margin-bottom: 10px;
    }
}
.recomended-goods__list{
    margin: 0;
    padding: 0;
}
.recomended-goods__item{
    color: #575757;
    display: inline-block;
    margin-right: 10px;

    @media (min-width: 1200px){
        display: block;
    }
}
.recomended-goods__item a{
    color: inherit;
    text-decoration: underline;
}
.recomended-goods__item a:hover{
    color: #000;
}

.product-set{
    background: #fafbfc;
    width: 100%;
    padding: 15px 15px;
    box-sizing: border-box;
    clear: both;

    @media (min-width: 1200px){
       border-radius: 2px;
       position: absolute;
       top: 32px;
       right: 70px;
       width: 250px;
       padding: 15px 20px;
    }
}


.product-set__heading{
    font: normal 15px OpenSans, sans-serif;
    color: #bf001a;
    margin: 0;
}

.product-set__warn{
    font: normal 15px OpenSans_Bold, sans-serif;
    color: #000;
    margin: 0 0 10px;
}


.product-set__good-photo{
    float: left;
    max-width: 65px;
    margin-right: 10px;

    @media (min-width: 994px) {
        margin-right: 20px;
    }

    @media (min-width: 1200px) {
        margin-right: 10px;
    }
}

.product-set__good-name{
    height: 30px;
    font: normal 13px OpenSans, sans-serif;

    @media (min-width: 1200px) {
        height: 60px;
    }
}
.product-set__good-name a{
    color: #0d0d0d;

}

.product-set__bottom{
    
    @media (min-width: 1200px) {
        clear: both;
    }
}
.product-set__price{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.product-set__price-new{
    color: #ce1e36;
    font: 20px OpenSans_Bold;
}
.product-set__price-new i{
    font-size: 15px;
    font-style: normal;
}
.product-set__price-old{
    font: 13px OpenSans;
    color: #777777;
}
.product-set__btn-add{
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    background-color: #76972a;
    padding: 7px 12px;
    border-radius: 2px;
    font: 17px OpenSans_SemiBold;
}
.product-set__btn-add:hover{
    background-color: #6c8623;
    text-decoration: none;
    color: #fff;
}
// end of product set block
.cart-product__recomended{
	/*float: right;*/
	background: #fafbfc;
	width: 100%;
	padding: 15px 15px;
	box-sizing: border-box;

	.cart-product__name{
		width: 100%;
	}
	
	h3{
		margin: 0 0 15px;
		font: normal 15px OpenSans;
	}

	ul > li{
		display: inline-block;
		margin-right: 10px;
	}
	li > a{
		color: #575757;
		font: inherit;
		text-decoration: underline;
	}
	img{
		float: left;
		margin-right: 10px;
	}
}

.product-cart__recomended-sum{
	clear: both;
	padding-top: 10px;
	
	span{
		color: #bf001a;
		font-size: 22px;
		font-weight: bold;
		font-family: OpenSans;
		margin-right: 10px;
	}
	.sum-container{
		display: inline-block;
	}
}

.btn-cart-add{
	display: inline-block;
	width: 85px;
	margin-left: 8px;
}
.cart-special-offer{
	color: #bf001a;
	font-family: OpenSans, sans-serif;
	font-style: normal;
	
}
.order-total-sum{
    background: #fffdf6;
    color: #000;
    font: normal 20px OpenSans_SemiBold, sans-serif;
    padding: 15px;
    span{
        color: #df0014;
        font: 22px OpenSans_Bold, sans-serif;
        // margin-left: 10px;
        white-space: nowrap;
    }
}

.cart-product__item-delete{
    display: block;
    width: 30px;
    height: 30px;
    background: #dddddd url(images/personal-cabinet/icon-close.png) no-repeat center center;
    border-radius: 2px;
    position: absolute;
    right: 0;
    top: 16px;
    cursor: pointer;


    @media (min-width: 994px){
        right: 19px;
        top: 32px;
        width: 21px;
        height: 21px;
        background: url(images/ui-icon-delete.png) no-repeat;
    }
}

// .cart-product__delete_checkbox-item {
//     display: block;
//     width: 21px;
//     height: 21px;
//     background: url(images/ui-icon-delete.png) no-repeat;
//     cursor: pointer;
//     position: absolute;
//     right: 10px;
//     top: 10px;
// }

.close-popup {
  padding: 5px;
  border-bottom: 1px dashed #afafaf; }
.close-popup a{
    display: block;
    height: 37px;
    line-height: 37px;
}
.close-popup i {
  display: inline-block;
  width: 37px;
  height: 37px;
  background: url(images/ui-icon-cart-close-popup.png) no-repeat;
  cursor: pointer;
  vertical-align: bottom;
  margin: 0;
}

.delete-detail-block {
  padding: 10px 5px; }

.cart-wishlist-block {
  padding: 5px;
  border-bottom: 1px dashed #afafaf; }

.close-popup,
.delete-detail-block,
.cart-wishlist-block{
    padding: 15px 20px;
}


.popup-back {
  background: #fff;
  z-index: 21;
  position: absolute;
  right: 5px;
  top: 5px;
  display: none;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

  .delete-detail-block .page-cart__delete_checkbox i {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(images/ui-icon-cart-delete-item.png) no-repeat;
  cursor: pointer;
  vertical-align: bottom; }

.delete-detail-block .page-cart__delete_checkbox span, .cart-wishlist span, .close-popup span {
  vertical-align: super;
  font-size: 15px;
  padding: 0 0 0 15px;
  color: #346cab; }
.delete-detail-block .page-cart__delete_checkbox span{
    padding-left: 20px;
}
.cart-wishlist i {
  display: inline-block;
  width: 37px;
  height: 35px;
  background: url(images/ui-icon-cart-add-wishlist.png) no-repeat;
  cursor: pointer;
  vertical-align: bottom;
  margin: 0;
}
.in-tr-background{
    z-index: 20;
    left:0;
    top: 0;
    background-color: rgba(0, 0, 0,0.1);
    // filter:alpha(opacity=75);
    // -moz-opacity: 0.75;
    // opacity: 0.75;
    width: 100%;
    height: 100%;
    position: absolute;
}

@media (min-width: 544px){
    // Cart header
 //    .cart-page,
 //    .order-page{
 //        // #footer-wrapper{
 //        //     position: relative;
 //        // }
 //        .cart-contacts__callback{
 //            display: block;
 //        }

 //    }
 //    // end of cart header
 //   .cart-contacts__content.cart-contacts{
 //        display: block;
 //        padding: 16px 0 0;
 //        width: 130px;
 //        float: right;
 //    }

 //    .order-block__left{
 //        width: 44%;
 //        float: left;
 //    }
 //    .order-block__right{
 //        width: 54%;
 //        float: right;
 //        display: block;
 //    }
 //    .order-block__cart{
 //        border: 1px solid #959595;
 //        border-radius: 4px;
 //        display: block;
 //    }
 //    .cart-mobile-opener{
	// 	display: none;
	// }

}
@media (min-width: 768px){



    // Cart header
    .cart-page,
    .order-page{
        // #footer-wrapper{
        //     position: relative;
        // }
        .cart-contacts__callback{
            display: block;
        }

    }
    // end of cart header
   .cart-contacts__content.cart-contacts{
        display: block;
        padding: 16px 0 0;
        width: 130px;
        float: right;
    }

    .order-block__left{
        width: 44%;
        float: left;
    }
    .order-block__right{
        width: 54%;
        float: right;
        display: block;
    }
    
    .cart-mobile-opener{
     display: none;
    }

    // Cart header
    .cart-page,
    .order-page{
        .navigation-items{
            display: block;
        }

    }
    // end of cart header

    .order-block__left{
        width: 340px;
        float: left;
    }
    .order-block__right{
        width: 365px;
        float: right;
    }

    .cart-product__image{
        width: 150px;
    }
    .cart-product__price{
        margin-left: 30px;
    }
}
@media (min-width: 994px){
    .cart-contacts__content.cart-contacts{
        width: 255px;
    }
    .order-block__left{
        width: 340px;
        float: left;
    }
    .order-block__right{
        width: 580px;
        float: right;
    }
    .order-block__cart{
        border: 1px solid #959595;
        border-radius: 4px;
        display: block;
    }

    .cart-product__name{
    	float: left;
    	width: 185px;

    }
    .cart-product__quantity{
    	float: left;
    }

    

	.cart-product__recomended{
	    	float: right;
	    	width: 220px;
   	    	margin: -120px 15px 0 0;
   	    	
   	    	.cart-product__name{
   	    		width: 110px;
   	    	}
   	    	
   	    	ul > li {
   	    		display: block;
   	    		margin-bottom: 5px;	
   	    	}
   	    	h3{
   	    		margin-bottom: 10px;
   	    	}
    	
	 }

	.product-cart__recomended-sum{
		
		span{
			margin: 0;
		}

		.sum-container{
			width: 81px;
			float: left;
			display: block;
		}
	}
	.btn-cart-add{
		width: 80px;
		margin-left: 3px;
	}
}
@media (min-width: 1200px){
    .cart-page .page-inner{
        padding: 0 15px 20px;
        box-sizing: border-box;
    }
    .order-block__left{
        width: 340px;
        float: left;
    }
    .order-block__right{
        width: 800px;
        float: right;
    }
    .cart-product{
        padding-bottom: 40px;
        padding-left: 15px;
    }

    .cart-product__name{
    	width: 285px;

    }
    .cart-product__recomended{
	   	width: 240px;
		margin: -124px 65px 15px 0; 

   	}
   	.btn-cart-add {
	    width: 85px;
	    margin-left: 15px;
	}
}
