$border-color: #e1e1e1;
$form-bg: #fffae6;

$set-color: #76a035;
$sticker-color: #afafaf;

$form-border: 1px solid #dcd5bd;

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.cart-content-wrapper {
  min-height: calc(100vh - 70px); // height to stick footer to bottom of the page
}

//////////////////////////////////////
///         CART HEADER            ///
//////////////////////////////////////

.cart-main-header {
	margin-bottom: 10px;
	&__inner {
		height: 72px;
		border-bottom: 1px solid $border-color;	
	}

	&__logo.header-logo {
		height: 100%;
		line-height: 72px;

		img {
			vertical-align: middle;
		}

		@media (min-width: 1235px) {
			position: static;

			img {
				height: 50px;
				width: auto;
			}
		}
	}

	&__phone.header-phone {
		display: table;
		height: 100%;
		float: right;
		width: 135px;

		@media (min-width: 768px) {
			position: static;
			width: 405px;
			text-align: right;
		}
	}

	&__phone-inner {
		display: table-cell;
		vertical-align: middle;
	}
}

.cart-page-title {
	margin-bottom: 15px;
}
//////////////////////////////////////
///         CART MAIN FORM         ///
//////////////////////////////////////

.cart-main {
	box-sizing: border-box;

	*, *:before, *:after {
	  box-sizing: inherit;
	}
}
.order-checkout {
	max-width: 400px;

	@media (min-width: 1235px) {
		float: left;
		width: 400px;
	}
}
.order-checkout-tabs,
.order-checkout-content,
.cart-content {
	margin: 0 -10px;
	
	@media (min-width: 420px) {
		margin-left: 0;
		margin-right: 0;
	}
}
.order-checkout-tabs {
	font-size: 16px;
	margin-bottom: -1px;
	&__tab {
		height: 48px;
		line-height: 48px;
		text-align: center;
		width: 50%;
		float: left;
		cursor: pointer;
		color: #346cab;

		span {
			border-bottom: 1px dashed #aabdd7;
			display: inline-block;
			line-height: 15px;
		}

		&.active {
			background-color: $form-bg;
			border: $form-border;
			border-top-right-radius: 2px;
			border-top-left-radius: 2px;
			border-bottom: 0;
			cursor: default;
			color: #000;
			outline: 0;

			span {
				border: 0;
			}
		}
	}
}

.order-checkout-content {
	background-color: $form-bg;
	border: $form-border;
	border-radius: 2px;
	margin-bottom: 30px;
	padding: 20px 10px 30px;
	display: none;
	// animation: fadeEffect 0.3s;

	&.active {
		display: block;
	}

	@media (min-width: 420px) {
		padding-left: 20px;
		padding-right: 20px;
	}

	&__login-btn {
		width: 150px;
		height: 40px;
		display: block;
		margin: 10px auto 0;
	}
}

.checkout-form {
	color: $main-text-color;
	font-size: 16px;

	&-group {
		& + & {
			margin-top: 20px;
		}

		& + &--small-margin {
			margin-top: 10px;
		}

		&:after {
			display: table;
			content: "";
			clear: both;
		}

		&--delivery {
			& + & {
				margin-top: 10px;
			}
		}

		& + &--email {
			margin-top: 15px;
		}
	}

	&__delivery-option {
		margin-top: 10px;
		display: none;

		&.active {
			display: block;
		}
	}

	&__label {
		display: inline-block;

		&--email {
			background: url('images/cart-form-icons.png') no-repeat -20px -67px;
			padding-left: 18px;
			margin-bottom: 6px;
		}
	}

	&__field {
		width: 100%;
		height: 44px;
		border: 1px solid $border-dark;
		border-radius: 3px;
		padding: 0 9px;
		font-size: 1em;
		color: #000;
		display: block;

		&.required {
			padding-right: 25px;
		}

		&.valid {
			border-color: #76972a;
		}

		&:hover {
			border-color: #4b80bb;
		}
		&:focus {
			border: 2px solid #4b80bb;
			outline: 0;
			padding: 0 8px;

			&.required:invalid {
				background-position: right 9px  top 50%;
				padding-right: 24px;
			}
			&.required:valid {
				padding: 0 9px;
				padding-right: 25px;
				border: 1px solid #76972a;
			}

		}

		&--half {
			width: 49.2958%;
			float: left;

			& + & {
				margin-left: 1.4085%;
			}

			@media (min-width: 768px) {
				width: 48.6111%;

				& + & {
					margin-left: 2.7778%;
				}
			}
		}

		&--street {
			width: 57.5%;
			float: left;
		}

		&--house {
			width: 20.2778%;
			margin-left: 2.7778%;
			float: left;
		}

		&--apartment {
			width: 16.3888%;
			margin-left: 2.7778%;
			float: left;
		}

		&--select {
			background-color: #fff;
			padding: 0 8px;
			background-image: url('images/cart-form-icons.png');
			background-repeat: no-repeat;
			background-position: right -10px top -165px;

	        appearance: none;

			&:focus {
				padding: 0 7px;
				background-position: right -11px top -166px;
			}
		}

		&--textarea {
			height: 125px;
			max-height: 125px;
			max-width: 100%;
			padding-top: 10px;
			padding-bottom: 10px;
			transition: height 0.5s;

			&:focus {
				padding-top: 9px;
				padding-bottom: 9px;
			}
		}
	}

	&__checkbox {
		&-label {
			padding-left: 24px;
			padding-top: 8px;
			margin-bottom: 0;
			padding-bottom: 0;
			font-family: $main-font;
			font-size: 15px;
		}

		&-box {
			margin: 0;
			top: 10px;
		}
	}


	&__submit {
		background-color: #659913;
		color: #fff;
		width: 100%;
		height: 53px;
		font: 20px $main-font-semibold;

		&:hover, &:focus {
			background-color: darken(#659913, 3%);
		}
	}

	&__small-caption {
		font: 13px $main-font;
		color: $text-grey;
		margin-bottom: 0;
	}

}
.promokod {
	position: relative;

	&__icon {
		position: absolute;
		display: inline-block;
		top: 5px;
		right: 0;
		width: 35px;
		height: 35px;
		background: url('images/cart-form-icons.png') no-repeat right -10px top -120px;
	}
}
.delivery-company-select {
	background-repeat: no-repeat;
	background-position: right -10px top -160px, 15px 50%;
	padding-left: 65px;
	height: 54px;

	&:focus {
		padding-left: 64px;
		background-position: right -11px top -161px, 14px 50%;
	}

	&--novaposhta {
		background-image: url('images/cart-form-icons.png'),  url(images/cart/novaposhta-icon.png);
	}

	&--intime {
		background-image: url('images/cart-form-icons.png'),  url(images/cart/intime-icon.png);
		background-position: right -10px top -160px, 8px 50%;

		&:focus {
			background-position: right -11px top -161px, 7px 50%;
		}
	}

	
}
.commentToggleLink {
	font-size: 15px;
	border-bottom: 1px dashed #c1cbd1;
	line-height: 17px;
	display: inline-block;
	padding-top: 8px;
}


//////////////////////////////////////
///         CART MAIN CONTENT      ///
//////////////////////////////////////

.cart-content {
	font-size: 16px;
	color: $main-text-color;
	margin-bottom: 15px;
	@media (min-width: 1235px) {
		width: 745px;
		float: right;
	}

}
.back-to-purchase {
	font: 17px 'OpenSans_SemiBold';
	display: inline-block;
	padding-left: 25px;
	color: #346cab;
	background: url(images/product-arrow-icon.png) no-repeat 0 50%
}
.cart-content-header,
.sale-offer {
	padding-left: 10px;
}

.cart-content-header {
	line-height: 26px;
	margin-bottom: 12px;
	&__text {
		margin-bottom: 4px;

		@media (min-width: 768px) {
			margin-bottom: 0;
		}
	}
	@media (min-width: 1235px) {
		height: 48px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0;
		&__text {
			float: left;
		}
		&__back-link {
			float: right;
		}
	}
}
.sale-offer {
	padding: 8px 10px 11px;
	background: #fff4cd;
	margin-bottom: 15px;
	border: 1px solid #f9db84;
	border-radius: 4px;
	font: 15px/1.47 $main-font;

	b {
		font-family: $main-font-bold;
	}
}

.cart-content-inner {
	@media (min-width: 1235px) {
		max-height: 770px;
		overflow-y: auto;

		&::-webkit-scrollbar-track {
            border-radius: 4px;
        }
        &::-webkit-scrollbar {
            width: 4px;
            border-left: 1px solid #e1e1e1;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background: #7b7b7b;
        }
	}
}
.cart-products-set {
	border: 2px solid $set-color;
	padding: 34px 10px;
	position: relative;
	border-radius: 4px;
}
.cart-product {

}
.cart-product-sticker {
	font-family: $main-font-semibold;
	font-size: 15px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 6px 20px 7px 16px;
	color: #fff;
	border-bottom-right-radius: 17px;
	background-color: $sticker-color;

	&--set {
		background-color: $set-color;
		padding-left: 18px;
		padding-right: 23px;
		font-size: 16px;
	}


}
.cart-content-footer {
	&__total {
		color: #d31328;

		&-discount {
			color: #628d00;
		}
	}
}
.product-total-block.product-total-block--discount {
	background-color: #fff;
	padding-right: 73px;
}

.cart-recomended-goods {
	width: 320px;
	float: left;
	font-size: 13px;

	&__heading {
		font: 13px $main-font;
		margin: 0 0 3px;
	}

	&__item {
		display: inline-block;
		margin-right: 8px;

		a {
			display: inline-block;
			border-bottom: 1px solid #aabdd7;
			line-height: 15px;
		}
	}
}

//////////////////////////////////////
///         CART FOOTER            ///
//////////////////////////////////////

.cart-main-footer {
	height: 60px; // fix height of the footer

	&__inner {
		height: 60px;
	}

	&__phone.header-phone {
		@extend .cart-main-header__phone.header-phone;
		float: none;
		margin: 0;

		@media (min-width: 768px) {
			position: static;
			width: 405px;
			text-align: left;
		}

	}
	&__phone-inner {
		@extend .cart-main-header__phone-inner;
	}
}

////////////////////////////////////////////////////////


.close-popup,
.delete-detail-block,
.cart-wishlist-block {
    height: 47px;
    border-bottom: 1px dashed #afafaf;
    font-size: 15px;

    a {
    	display: block;
    	height: 100%;
    	padding: 0 21px 0 19px;

    	&:hover {
    		background-color: darken(#fff, 2%);
    	}
    }
    span {
    	display: inline-block;
    }

    i {
    	display: inline-block;
    	height: 100%;
    	min-height: 25px;
    	background-position: 0 center;
    	background-repeat: no-repeat;
    	background-size: 25px;
    	width: 26px;
    	font-size: 0;
    	margin-right: 17px;
    	vertical-align: middle;
    }
}

.delete-detail-block {
    height: 43px;
    border-bottom: 0;
}

.close-popup i {
	background-image: url(images/ui-icon-cart-close-popup.png);
}

.delete-detail-block i {
	background-image: url(images/ui-icon-cart-delete-item.png);
	background-size: 22px;
}

.cart-wishlist i {
	background-image: url(images/ui-icon-cart-add-wishlist.png);
}


.popup-back {
  background: #fff;
  z-index: 21;
  position: absolute;
  right: 0px;
  top: 0px;
  display: none;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 1;
}



.in-tr-background{
	z-index: 20;
	left:0;
	top: 0;
	background-color: rgba(0, 0, 0,0.1);
	width: 100%;
	height: 100%;
	position: absolute;
}