.c-components-main {
    border: 1px solid #787878;
    border-radius: 3px;
    @media(min-width: 768px) {
        border: 0;
    }
    @media (min-width: 1235px) {
        float: left;

        width: 865px;
    }
}

// Секция, которая содержит категории компонентов для различных устройств(самолеты, вертолеты и т.д)
.components-category {
    @media(min-width: 768px) {
        margin-bottom: 45px;

        border-bottom: 1px solid #e1e1e1;
    }
    @media(min-width: 1235px) {
        margin: 0 0 50px;
    }
    &:last-child {
        border: 0;
    }
    &:last-child &__heading {
        border-bottom: 0;
    }
    // контейнер для содержимого вместе с кнопкой
    &__inner {
        display: none;

        border-bottom: 1px solid #787878;
        @media (min-width: 768px) {
            display: block;

            border: 0;
        }
    }
    // Контейнер для итемов комплектующих
    &__content {
        display: flex;

        padding: 0 10px;

        flex-wrap: wrap;
        justify-content: space-between;
        @media (min-width: 544px) {
            justify-content: flex-start;
        }
        @media (min-width: 768px) {
            // justify-content: space-between;
        }
    }
    // Заголовок блока по категории в состав которой входят комплектующие
    &__heading {
        font: normal 18px OpenSans_SemiBold, sans-serif;

        margin: 0;
        padding: 15px 13px;

        transition: background-image .5s;

        border-bottom: 1px solid #787878;
        background: #fff url(images/ui-icon-catalog-tabs-mobile.png) no-repeat right 15px top 50%;
        a {
            text-decoration: none;

            color: #151515;
            &:hover {
                text-decoration: none;

                color: #346cab;
                border: 0;
            }
            @media(min-width: 768px) {
                text-decoration: underline;

                color: #000;
            }
        }
        &--active {
            background-color: #346cab;
            background-image: url(images/ui-arrow-accordion-up.png);
            a {
                color: white;
            }
        }
        @media(min-width: 768px) {
            font: normal 24px OpenSans, sans-serif;

            padding: 0;

            border: 0;
            background: #fff;
        }
        @media(min-width: 1235px) {
            margin: 0 0 35px;
        }
    }
    // Кнопка показать больше
    &__btn {
        font: normal 15px OpenSans;
        line-height: 40px;

        display: block;

        width: 165px;
        height: 40px;
        margin: 0 auto 20px;

        text-align: center;
        text-decoration: none;

        color: #fffae8;
        // background: linear-gradient(to bottom, #4b80bb, #2b5b90);
        border-radius: 3px;
        background: #1581be;
        // transition: .3s;
        &:hover {
            text-decoration: none;

            color: #fffae8;
            // background: linear-gradient(to top, #4b80bb, #2b5b90);
            background: #006caf;
        }
    }
}

// Отдельная категория компонентов для устройств
.component-item {
    display: inline-block;

    width: 45%;
    max-width: 150px;
    margin-right: 2%;
    margin-bottom: 30px;
    margin-left: 2%;
    @media (min-width: 544px) {
        width: 30%;
        max-width: 160px;
        margin-right: 5%;
        margin-left: 0;
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    @media (min-width: 768px) {
        // max-width: 160px;
        margin-right: 20px;
        // margin-left: 0;
        &:nth-child(3n) {
            margin-right: 20px;
        }
        &:nth-child(4n) {
            margin-right: 0;
        }
    }
    @media (min-width: 994px) {
        // max-width: 160px;
        margin-right: 10px;
        // margin-left: 0;
        &:nth-child(3n) {
            margin-right: 10px;
        }
        &:nth-child(4n) {
            margin-right: 10px;
        }
        &:nth-child(5n) {
            margin-right: 0;
        }
    }
    // Изображение подкатегории комплектующих
    &__img {
        font-size: 0;
        line-height: 140px;

        height: 140px;
        margin-bottom: 12px;

        text-align: center;

        outline: 0;
        a {
            cursor: pointer;
        }
        img {
            max-width: 100%;
            max-height: 100%;

            vertical-align: middle;
        }
    }
    // Название подкатегории комплектующих
    &__name {
        font: normal 15px OpenSans, sans-serif;
        a {
            text-decoration: none;

            color: #346cab;
            &:hover {
                text-decoration: underline;
            }
            @media (min-width: 544px) {
                color: #000;
                border-bottom: 1px solid #afafaf;
                &:hover {
                    text-decoration: none;

                    color: #346cab;
                    border: 0;
                }
            }
        }
    }
}

// Сайдбар с меню и просмотренными товарами
.c-components-aside {
    display: none;
    float: right;

    width: 270px;
    @media (min-width: 1235px) {
        display: block;
    }
}

.components-aside-menu {
    margin-bottom: 35px;
    padding: 20px 23px 5px;

    border: 1px solid #c1c1c1;
    border-radius: 2px;
    &__item {
        font: 16px OpenSans_SemiBold, sans-serif;

        margin-bottom: 15px;
        padding-left: 30px;

        background: url(images/svg/Plus.svg) no-repeat 0 50%;
        a {
            color: #346cab;
        }
    }
}


// Блок просмотренных товаров
.c-viewed-items {
    &__title {
        font: 18px OpenSans;

        margin: 0  0 15px;

        color: #000;
    }
    &__inner {
        display: flex;

        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        display: inline-block;

        margin-right: 15px;
        &:nth-child(even) {
            margin-right: 0;
        }
    }
    &__img {
        display: inline-block;

        width: 125px;
        margin-bottom: 15px;

        cursor: pointer;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
