.category-manufacturer-header {
	@extend .search-page-header;
	margin-top: 10px;
}

.category-manufacturer-header__left {
	@extend .search-page-header__left;
	background-image: none;
	padding-left: 0;
}

.category-manufacturer-header__right {
	@extend .search-page-header__right;
}

.manufacturer-logo {
	width: 68px;
	margin-right: 16px;
	padding-top: 8px;

	img {
		max-width: 100%;
	}
}
.manufacturer-name {
}

.manufacturer-title {
	margin-bottom: 15px;
	font-size: 20px;
	line-height: 26px;

	@media (min-width: 994px) {
		margin-bottom: 10px;
	}

	@media (min-width: 1235px) {
		margin-left: 85px;
	}

}
.manufacturer-country {
	font-family: $main-font-light;
	margin-right: 15px;
	margin-left: 16px;
}
.manufacturer-about {
	font-size: 15px;
	border-bottom: 1px dashed #86accf;
	white-space: nowrap;
	display: inline-block;
    line-height: 15px;
    font-family: $main-font;

}
.related-manufacturers {
	font-size: 15px;
	font-family: $main-font;

	@media (min-width: 1235px) {
		margin-left: 85px;
	}

	&__item {
		margin-right: 15px;
		font-family: $main-font;
		border-bottom: 1px solid #86accf;
		display: inline-block;
		line-height: 18px;

		&:hover {
			border-color: $main-blue;
		}

		@media (min-width: 1235px) {
			margin-right: 9px;
		    margin-left: 7px;
		    line-height: 16px;
		}
	}
}

.category-manufacturer-content {
	margin-bottom: 35px;

	@media (min-width: 768px) {
		margin-bottom: 40px;
	}

	@media (min-width: 1235px) {
		margin-bottom: 45px;
	}
}
.category-manufacturer-pager {
	padding-bottom: 35px;
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 32px;

	@media (min-width: 768px) {
		padding-bottom: 40px;
		margin-bottom: 36px;
	}
}

.category-prefooter-description,
.manufacturer-description {
	font: 16px/2 $main-font-light;
	color: $main-text-color;

	@media (min-width: 994px) {
		padding-left: 19px;
		padding-right: 15px;
	}

	@media (min-width: 1235px) {
		padding-right: 72px;
	}

	& > p:last-child {
		margin-bottom: 0px;
	}

	h2, 
	h3 {
		font-size: 1em;
		font-family: $main-font-semibold;
		margin-bottom: 4px;
	}

	p {
		font-size: inherit;
		font-family: inherit;
		line-height: inherit;
		margin-bottom: 20px;
	}
}