.container__compare {

    @media (min-width: $desktop-min) {
        max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
    }
}

.compare-content {
    margin-bottom: 43px;
}


.compare__header {
    margin-bottom: 14px;
}

.compare__header-title {
    margin-bottom: -2px;
    font-size: 18px;

    @media (min-width: $desktop-min) {
        font-size: 20px;
        margin-bottom: 7px;
    }
}

.compare__header-link {
    display: block;
    float: left;
    font: 15px/1.8 $main-font;
    color: #111;

    & + & {
        margin-left: 25px;
    }

    span {
        border-bottom: 1px dashed #a1a1a1;
        display: inline-block;
        line-height: 16px;
    }
}
.icon--circle-plus {
    background: url("images/svg/icon-plus.svg") no-repeat 0 0;
}
.compare__header-icon {
    width: 25px;
    height: 25px;
}

.compare__items-quantity {
    color: #666;
    font-size: 0.7777em;
    margin-left: 4px;
}
.compare-items {

    &__inner {
        position: relative;
    }

    &__tabs {
        margin-top: 20px;

        @media (min-width: $desktop-min) {
            margin-top: 0;
        }
    }
}
.compare-custom-select {
    @media (max-width: $tablet-max) {
        display: block;
        width: 100%;
        max-width: 360px;
        box-sizing: border-box;
    }
}

.compare-menu {
    font-size: 15px;
    color: #151515;
    box-sizing: border-box;
    width: 100%;
    max-width: 360px;
    margin-top: -1px;
    border: 1px solid #777;
    z-index: 2;

    &.mobile-custom-options {
        @media (min-width: $tablet-min) {
            position: absolute;
            display: none;
        }

        @media (min-width: $desktop-min) {
            position: static;
            display: block;
        }
    }

    @media (min-width: $desktop-min) {
        position: static;
        display: block;
        float: left;
        overflow: hidden;
        width: 170px;
        border: 0;
        margin-top: 0;
    }

    &__item {
        cursor: pointer;
        padding: 8px 15px;
        width: 155px;
        box-sizing: border-box;      

        &.active {
            position: relative;
            background: #d5e8f3;
            outline: 0;                
        }
        @media  (max-width: $tablet-max) {
            &-mobile {
                width: 100%;

                &.active:after {
                    display: none;
                }
            }
        }

        @media (min-width: $desktop-min) {
            &:focus, &:active {
                outline: 0;
            }
            &.active:after {
                display: block;
                content: "";
                position: absolute;
                top: 0;
                left: 100%;

                width: 0;
                height: 0;
                border-style: solid;
                border-width: 18.5px 0 18.5px 15px;
                border-color: transparent transparent transparent #d5e8f3;
            }
        }
    }
}

.compare-items__tabs {
    @media (min-width: $desktop-min) {
        float: right;
        width: 993px;
    }
}

.compare-item {
    display: none;

    &.active {
        display: block;
    }

    .product-preview-item {
        @media (min-width: $desktop-min) {
            max-width: 248px;
        }
    }
}

.owl-compared-products {

    @media (max-width: 544px) {
        .category-product__buy {
            display: none;
        }

        .product-preview-item {
            padding-left: 0;
        }

        .product-preview-item__inner {
            padding: 0 16px;
            border-right: 1px solid #e2e2e2;
        }
    }
}

.compare-characheristics-tab {
    display: none;

    &.active {
        display: block;
    }
}

.compare-characteristics {

    & + & {
        margin-top: 10px;

        @media (min-width: $tablet-min) {
                margin-top: 0;
            }
    }

    &__heading {
        border-top: 1px solid #e1e1e1;
        height: 50px;
        line-height: 50px;
        font-size: 17px;
        font-family: $main-font-semibold;
        margin-bottom: 6px;
        padding: 0 10px;
        background: #f6f6f6 url("images/ui-icon-catalog-tabs-mobile-up.png") no-repeat right 12px top 50%;
        cursor: pointer;

        &.up {
            background-image: url("images/ui-icon-catalog-tabs-mobile.png");
            
        }

        @media (min-width: $tablet-min) {
            padding: 0 15px;
            background-position: right 24px top 50%;
        }

        @media (min-width: $desktop-min) {
            margin-bottom: 0;
        }
    }
}

.compare-table {
    .owl-stage {
        display: flex;
    }
    

    &__row {
        

        & > * {
            align-content: stretch;
        }
        & + & {
            padding-top: 7px;
            @media (min-width: $tablet-min) {
                padding: 0;
            }
        }

        @media (max-width: $tablet-max) {
            &:nth-child(odd) {
                background-color: $main-bg;
            }
        }

        @media (min-width: $tablet-min) {
            margin-bottom: 6px;
        }

        @media (min-width: $desktop-min) {
            display: flex;
            margin-bottom: 0;

            &:hover {
                background-color: $main-bg;
                cursor: pointer;
            }
        }
    }

    &__heading {
        h4 {
            margin: 0;
            text-align: center;
            height: 45px;
            line-height: 38px;
            font-size: 17px;

            @media (min-width: $tablet-min) {
                line-height: 48px;
            }

        }
        
        @media (min-width: $desktop-min) {
            // display: flex;
            // align-items: center;
            width: 178px;
            border-right: 1px solid #eaeaea;
            float: left;
            box-sizing: border-box;
            padding-left: 15px;

            h4 {
                font: 15px $main-font;
                height: 44px;
                line-height: 37px;
                text-align: left;
            }
        }
    }

    &__characteristics-slider {
        @media (min-width: $desktop-min) {
            width: 992px;
            width: calc(100% - 178px);
            float: right;
        }
    }

    &__cell {
        font-size: 15px;
        padding: 0 10px 15px;

        @media (min-width: $tablet-min) {
            line-height: 31px;
            padding: 0 15px 13px;
        }
        @media (min-width: $desktop-min) {
            width: 248.25px;
            box-sizing: border-box;
            // display: flex;
            // align-items: center;
        }
    }

    .owl-item {
        
        width: 50%;
        & + & {
            border-left: 1px solid #eaeaea;
        }

        @media (min-width: $desktop-min) {
            align-items: stretch;
            &:first-child {
                // border-left: 1px solid #eaeaea;
            }
        }
    }
}

.owl-item {
    & + & {
        .compare-table__cell {
            border-left: 1px solid #eaeaea;
            padding-left: 20px;
            height: 100%;
        }
    }
}

.compare-items__show-differences-btn {
    & input[type="checkbox"] {
        display: none;

        &:checked + label:before {
                background: url("images/checkbox-checked1.png") no-repeat 0 0;
            }
    }

    & label {
        font-size: 15px;
        color: $link-color;
        position: relative;
        margin-left: 31px;
        margin-bottom: 18px;

        span {
            @include bottom-line-dashed(#c1cee1, 1px);
        }

        &:hover {
            cursor: pointer;
            color: $hovered-link-color;
            border-color: $hovered-link-color;

            &:before {
                background-image: url("images/checkbox-hov.png");
            }
        }

        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            left: -31px;
            bottom: -5px;
            height: 22px;
            width: 22px;
            background: url("images/checkbox.png") no-repeat 0 0; 
        }
    }

    
    @media (min-width: $desktop-min) {
        position: absolute;
        bottom: 55px;
        width: 150px;

        & label {
            border-bottom: 0;

            &:before {
                bottom: 0;
                top: 4px;
            }
        }
    }
}