.compare-content {
    margin-bottom: 43px;
}


.compare__header {
    margin-bottom: 14px;
}

.compare__header-title {
    margin-bottom: -2px;
    font-size: 18px;

    @media (min-width: $desktop-min) {
        font-size: 20px;
        margin-bottom: 7px;
    }
}

.compare__header-link {
    display: block;
    float: left;
    font: 15px/1.8 $main-font;
    color: #111;

    & + & {
        margin-left: 25px;
    }

    span {
        border-bottom: 1px dashed #a1a1a1;
        display: inline-block;
        line-height: 16px;
    }
}

.compare__header-icon {
    width: 25px;
    height: 25px;
}

.compare__items-quantity {
    color: #666;
    font-size: 0.7777em;
    margin-left: 4px;
}
.compare-items {

    &__inner {
        position: relative;
    }

    &__tabs {
        margin-top: 20px;

        @media (min-width: $desktop-min) {
            margin-top: 0;
        }
    }
}
.compare-menu {
    font-size: 15px;
    color: #151515;
    box-sizing: border-box;
    margin-top: -1px;
    border: 1px solid #777;
    z-index: 2;

    @media (min-width: $tablet-min) {
        position: static;
        display: block;
        float: left;
        overflow: hidden;
        width: 170px;
        margin-top: 0;
        border: 0;
    }

    &__item {
        padding: 8px 15px;
        width: 155px;
        box-sizing: border-box;

        &.active {
            position: relative;
            background: #d5e8f3;
            outline: 0;

            &:after {
                display: block;
                content: "";
                position: absolute;
                top: 0;
                left: 100%;

                width: 0;
                height: 0;
                border-style: solid;
                border-width: 18.5px 0 18.5px 15px;
                border-color: transparent transparent transparent #d5e8f3;
            }
        }
    }
}

.compare-items__tabs {
    @media (min-width: $desktop-min) {
        float: right;
        width: 993px;
    }
}

.compare-item {
    display: none;

    &.active {
        display: block;
    }
}

.owl-compared-products {

    @media (max-width: 544px) {
        .category-product__buy {
            display: none;
        }

        .product-preview-item {
            padding-left: 0;
        }

        .product-preview-item__inner {
            padding: 0 16px;
            border-right: 1px solid #e2e2e2;
        }
    }
}
.compare-characheristics-tab {
    display: none;

    &.active {
        display: block;
    }
}

.compare-characteristics {

    & + & {
        margin-top: 6px;
    }

    &__heading {
        border-top: 1px solid #e1e1e1;
        height: 50px;
        line-height: 50px;
        font-size: 17px;
        font-family: $main-font-semibold;
        margin-bottom: 6px;
        padding: 0 10px;

        @media (min-width: $tablet-min) {
            padding: 0 15px;
        }
    }
}
.compare-table {
    

    &__row {
        margin-bottom: 5px;

        @media (max-width: $tablet-max) {
            &:nth-child(odd) {
                background-color: $main-bg;
            }
        }

        @media (min-width: $tablet-min) {
            margin-bottom: 0;
        }

        @media (min-width: $desktop-min) {

            &:hover {
                background-color: $main-bg;
                cursor: pointer;
            }
        }
    }

    &__heading {

        h4 {
            margin: 0;
            text-align: center;
            height: 45px;
            line-height: 38px;
            font-size: 17px;
        }
        
        @media (min-width: $desktop-min) {
            width: 178px;
            border-right: 1px solid #eaeaea;
            float: left;
            box-sizing: border-box;

            h4 {
                font: 15px $main-font;
                height: 37px;
                line-height: 37px;
            }
        }
    }
    &__characteristics-slider {
        @media (min-width: $desktop-min) {
            width: calc(100% - 178px);
            float: right;
        }
    }

    &__cell {
        font-size: 15px;
        padding: 4px 10px 15px;
        /* line-height: 35px; */

        @media (min-width: $desktop-min) {
            line-height: 37px;
            padding: 0 15px;
        }
    }

    .owl-item {
        height: 100%;
        width: 50%;
        & + & {
            border-left: 1px solid #eaeaea;
        }

        @media (min-width: $desktop-min) {
            &:first-child {
                // border-left: 1px solid #eaeaea;
            }
        }
    }
}

.owl-item {
    & + & {
        .compare-table__cell {
            border-left: 1px solid #eaeaea;
            padding-left: 15px;
        }
    }
}

