.main-nav-home {
    @media (min-width: 1235px) {
        position: relative;

        display: block;

        margin-top: 0;
        margin-left: 0;
        padding-bottom: 0;

        box-shadow: none;
        .main-nav__top-links {
            background: #fff;
        }
        .main-nav__menu > .main-nav__item:nth-last-child(3){
        	margin-top: 10px;
        }
        &__media-links {
            display: none;
        }
    }
}

.home-top-left {
    @media (min-width: 1235px) {
        display: block;
        float: left;
    }
}

// start of home slider
.home-top-right {
    @media (min-width: 1235px) {
        float: right;

        width: 870px;
    }
}
.home-slider-container {
    margin: 0 -10px;
    margin-bottom: 29px;
    @media (min-width: 544px) {
        margin: 0 0 29px;
    }
}
.home-slider {
    margin-bottom: 6px;
    &__dots-wrapper {
        font-size: 0;

        position: relative;

        overflow: hidden;

        height: 40px;

        background: #fff;
    }
    &__dots {
        white-space: nowrap;
    }
    &__custom-dot {
        display: inline-block;

        width: 80px;
        height: 40px;
        margin-right: 8px;

        cursor: pointer;

        opacity: .5;
        @media (min-width: 1235px) {
            margin-right: .892%;
        }
        &:last-child {
            margin-right: 0;
        }
        &.active {
            opacity: 1;
        }
        img {
            max-width: 100%;
            height: 100%;
        }
    }
    &__more {
        position: absolute;
        top: 0;
        right: 0;

        width: 42px;
        height: 40px;

        cursor: pointer;

        background: #fff url('images/ui-icon-catalog-next.png') no-repeat 50% 50%;
        &.left {
            left: 0;

            background-image: url('images/ui-icon-catalog-prev.png');
        }
    }
}
.home-slider.page-slider {
    .owl-nav {
        .owl-prev:hover,
        .owl-next:hover {
            padding: 0 10px 0 28px;
        }
    }
}

.popular-products-block {
    margin-bottom: 35px;
}

// Блок с ссылками на медиа контент сайта
.media-top-links {
    font-size: 16px;

    display: none;
    @media (min-width: 1235px) {
        display: block;

        margin-bottom: 27px;
    }
}
.media-top-link {
    margin-right: 67px;
    &:last-child {
        margin-right: 0;
    }
    &:hover,
    &:focus {
        span {
            border-color: #151515;
        }
    }
    span {
        border-bottom: 1px solid #d4d4d4;
    }
}
// Блок с напоминанием о содержимом корзины (в корзине n товаров на сумму N)
.incart-reminder {
    margin: 0 -10px 30px;
    padding: 7px 5px 16px 15px;

    text-align: center;

    border-radius: 3px;
    background: #f6f6f6;
    box-shadow: 2px 2px 0 0 #d9d9d9, -2px 2px 0 0 #d9d9d9;
    @media (min-width: 544px) {
        display: inline-block;

        margin: 0 0 30px;
        padding: 11px 19px 12px 19px;

        text-align: left;
    }
    @media (min-width: 1235px) {
        margin-bottom: 36px;
    }
    &__text {
        font-size: 18px;

        display: inline-block;

        vertical-align: middle;
        a {
            line-height: 19px;

            display: inline-block;

            text-decoration: none;

            color: #00619c;
            border-bottom: 1px solid #ccd7e2;
        }
    }
    &__btn {
        width: auto;
        margin-top: 15px;
        padding: 7px 17px;

        color: #fff;
        background: #d34f27;
        @media (min-width: 544px) {
            margin-top: 0;
            margin-left: 12px;
        }
        @media (min-width: 768px) {
        }
        &:hover,
        &:focus {
            background-color: #cb3d12;
        }
    }
}


.home-middle {
    clear: both;
}
.home-title {
    font: 18px 'OpenSans';

    margin-top: 0;
    margin-bottom: 10px;

    color: #000;
}
.viewed {
    color: #000;
}
.viewed-heading {
    margin-bottom: 20px;
}
.viewed-title {
    display: inline-block;

    margin: 0;
    margin-right: 20px;
}

.viewed-delete-link {
    padding-left: 19px;

    color: #777;
    background: url('images/icon-delete.png') 0 5px no-repeat;
    &:hover,
    &:focus {
        text-decoration: none;

        color: #9a0000;
        background-position: 0 -15px;
        span {
            border-color: #a17a7a;
        }
    }
    span {
        line-height: 15px;

        display: inline-block;

        border-bottom: 1px dashed #a7a7a7;
    }
}
.home-goods-slider {
    margin-bottom: 35px;
}
// Миниатюры категорий
.home-catalog {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (min-width: 1235px) {
    	margin-bottom: 25px;
    }
}
.home-catalog-item {
    float: left;

    max-width: 170px;
    min-width: 160px;
    height: 100px;
    margin-bottom: 11px;

    text-align: center;
    @media (min-width: 544px) {
        // width: 33%;
    }
    @media (min-width: 768px) {
        // width: 25%;
        margin-bottom: 18px;
    }

    @media (min-width: 994px) {
    	min-width: 185px;
    }
    @media (min-width: 1235px) {
        // width: 16.66666%;
        min-width: 160px;
        margin-bottom: 11px;
    }
    &__image {
        font-size: 0;
        line-height: 60px;

        height: 60px;
        img {
            max-width: 100%;
            max-height: 100%;

            vertical-align: middle;
        }
    }
}

.popular-goods.home-goods-slider{
	margin-bottom: 20px;

	& > .popular-products-block {
		margin-bottom: 0;
	}
}
.home-catalog-link {
    font: 14px 'OpenSans';

    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    max-width: 160px;
    height: 100px;
    padding: 5px 0;

    color: #151515;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    @media (min-width: 544px) {
        width: 170px;
        max-width: none;
    }
    &:hover,
    &:focus {
        text-decoration: none;

        color: #346cab;
        border-color: #d34f27;
    }
}
// Топ по брендам

.top-brands {
    margin-bottom: 38px;
    padding-bottom: 20px;

    color: #000;
    border-bottom: 1px solid #e2e2e2;
    @media (min-width: 768px) {
        padding-bottom: 33px;
    }
    @media (min-width: 1235px) {
    }
    &__inner {
        position: relative;
    }
    &__title {
        margin-bottom: 11px;
    }
}

.mobile-custom-select {
    font: 16px 'OpenSans';

    padding: 10px 30px 10px 12px;

    border: 1px solid #777;
    border-radius: 3px;
    outline: 0;
    background: url('images/ui-icon-catalog-tabs-mobile.png') no-repeat right 13px top 50%;
    @media (min-width: 768px) {
        display: none;
    }
    &.active {
        transition: background-image .3s ease;

        background-image: url('images/ui-icon-catalog-tabs-mobile-up.png');
    }
}

.mobile-custom-options {
    position: absolute;

    display: none;

    box-sizing: border-box;
    width: 100%;

    background-color: #fff;
    @media (min-width: 768px) {
        position: static;

        display: block;
    }
}
.top-brands-menu {
    box-sizing: border-box;
    margin-top: -1px;

    border: 1px solid #777;
    @media (min-width: 768px) {
        position: static;

        display: block;
        float: left;
        overflow: hidden;

        width: 270px;
        margin-top: 0;
        margin-right: 68px;

        border: 0;
    }
    @media (min-width: 1235px) {
        margin-right: 100px;
    }
    &__item {
        font-size: 15px;

        padding: 7px 15px;

        color: #151515;
        span {
            line-height: 15px;

            display: inline-block;

            white-space: nowrap;

            border-bottom: 1px dashed #a8a8a8;
        }
        &:hover,
        &:focus {
            cursor: pointer;

            outline: 0;
        }
        &.active {
            position: relative;

            background: #d5e8f3;

            span {
            	border: 0;
            }
            @media (min-width: 768px) {
                &:after {
                    position: absolute;
                    top: 0;
                    right: -35px;

                    display: block;

                    width: 18px;

                    content: '';

                    border: 17px solid #fff;
                    border-left: 15px solid #d5e8f3;
                }


            }
        }
    }
}

.top-brands-content {
    margin-top: 15px;
    @media (min-width: 768px) {
        margin-top: 0;
        margin-left: 338px;
    }
    @media (min-width: 1235px) {
        margin-left: 400px;
    }
    &__item {
        display: none;
        &.active {
            display: block;
        }
    }
    &__link {
        font-size: 16px;

        display: inline-block;

        width: 140px;
        margin-right: 15px;
        padding: 6px 0;

        color: #346cab;
        @media (min-width: 768px) {
            width: 150px;
            margin-right: 43px;
        }
        @media (min-width: 994px) {
            width: 145px;
            
        }

        @media (min-width: 1235px) {
        	margin-right: 54px;
        	&:nth-child(4n) {
            	margin-right: 0;
            }
        }
        &:hover,
        &:focus {
            text-decoration: none;

            color: #d34f27;
        }
    }
}

// Media and social section

.home-media-social {
    margin-bottom: 43px;
    padding-bottom: 35px;

    border-bottom: 1px solid #e2e2e2;
}

.media-content {
    // margin-bottom: 15px;
    position: relative;
    @media (min-width: 1235px) {
        float: left;

        width: 770px;
    }
    &__links {
        display: none;

        margin-bottom: 20px;
        padding-left: 14px;
        @media (min-width: 768px) {
            display: block;

            margin-bottom: 15px;
            padding: 0;
        }
    }
    &__link {
        font-size: 16px;

        width: 100%;
        padding: 10px 0;

        border-bottom: 1px solid #e2e2e2;
        @media (min-width: 768px) {
            width: auto;
            margin: 0;
            margin-right: 8px;
            padding: 8px 18px 7px 15px;

            border: 0;
        }
        &.active {
            @media (min-width: 768px) {
                border: 1px solid #e1e1e1;
                border-radius: 3px;
            }
            span {
                border: 0;
            }
        }
        span {
            line-height: 15px;

            display: inline-block;

            border-bottom: 1px dashed #a8a8a8;
        }
    }
    &__content {
        margin-top: 20px;
        @media (min-width: 768px) {
            margin-top: 0;
        }
    }
}
.mobile-custom-select .media-content__link {
    margin: 0;
    padding: 0;

    border: 0;
}

.overview-preview-home {
    &:nth-child(2) {
        display: none;
    }
    @media (min-width: 1235px) {
        &:nth-child(2) {
            display: block;
        }
    }
}


.social-groups {
    @media (min-width: 1235px) {
        float: right;

        width: 370px;
        &__links {
            margin-bottom: 20px;
        }
    }
    &__links {
        font-size: 0;
    }
    // title
    &__title {
        font: 18px 'OpenSans';

        display: inline-block;

        margin: 0;
        margin-right: 20px;
        padding: 8px 0 7px;

        vertical-align: middle;
    }
    &__group {
        display: none;
        @media (min-width: 1235px) {
            display: block;
        }
    }
}

.social-link {
    display: inline-block;

    width: 30px;
    height: 28px;
    margin-right: 15px;

    vertical-align: middle;

    background: url('images/social-media-spritesheet.png') no-repeat -5px -5px;
    &--facebook {
        width: 13px;

        background-position: -10px -335px;
        &.active,
        &:hover {
            background-position: -10px -377px;
        }
    }
    &--vk {
        background-position: -10px -574px;
        &.active,
        &:hover {
            background-position: -10px -611px;
        }
    }
    &--twitter {
        background-position: -7px -494px;
        &.active,
        &:hover {
            background-position: -7px -535px;
        }
    }
    &--youtube {
        margin-right: 13px;

        background-position: -9px -655px;
        &.active,
        &:hover {
            background-position: -9px -702px;
        }
    }
    &--google {
        margin-right: 0;

        background-position: -10px -417px;
        &.active,
        &:hover {
            background-position: -10px -455px;
        }
    }
}