$sidebar-border: 1px solid #dfdfdf;

.overviews-pagetitle {
    margin-bottom: 18px;

    @media (min-width: 768px) {
        margin-bottom: 4px;
    }

    @media (min-width: 1235px) {
        margin-bottom: 16px;
    }
}
// блок содержит все анонсы обзоров (основной контент)
.overviews-main {

    @media (min-width: 1235px) {
        width: 770px;
        float: left;
        margin-bottom: 43px;
    }

}
.overview-first-sidebar {
    margin-bottom: 25px;

    @media (min-width: 1235px) {
        margin-bottom: 0;
        border-bottom: $sidebar-border;
        padding-bottom: 30px;
        margin-bottom: 25px;
    }
}
.overview-second-sidebar {
    border-bottom: $sidebar-border;
    margin-bottom: 22px;

    @media (min-width: 1235px) {
        border-bottom: 0;
        margin-bottom: 43px;
    }
}
.overview-sidebar {
    
    @media (min-width: 1235px) {
        width: 370px;
        float: right;
    }

    &__title {
        color: #454446;
        font-size: 17px;

        @media (min-width: 768px) {
            margin-bottom: 20px;
        }

        @media (min-width: 1235px) {
            margin-bottom: 18px;
        }

        a {
            color: inherit; 
        }

        span {
            font-size: inherit;
            border-color: #bababb;
            display: inline-block;
            line-height: 18px;
        }
    }

    &__mobile-menu-btn {
        &.filter-link {
            outline: 0;
            float: none;
            width: 100%;
            @media (min-width: 768px) {
                width: 39.5664%;
                float: left;
            }
            @media (min-width: 994px) {
                display: block;
            }
            @media (min-width: 1235px) {
                display: none;
            }
        }
    }

    &__tags {

        @media (min-width: 768px) {
            float: right;
            width: 57.7236%;
        }

        @media (min-width: 1235px) {
            float: none;
            width: 100%;
            margin-bottom: 13px;
            position: relative;
            top: -6px;
        }

        &-title {
            margin-bottom: 13px;
            @media (max-width: 1234px) {
                color: #000;
                font-size: 15px;
                font-family: $main-font;
                line-height: 11px;
            }

            @media (min-width: 768px) {
                margin-bottom: 10px;
            }
            @media (min-width: 1235px) {
                margin-bottom: 5px;
            }
        }
    }

    &__category-menu {

        .category-menu {
            display: none;
            position: absolute;

            @media (min-width: 1235px) {
                position: static;
                display: block;
                padding: 3px 18px 5px 12px;
                margin-bottom: 0;

                &__item {
                    padding: 9px 0 10px;
                }
            }
            
        }

        &-title {
            display: none;

            @media (min-width: 1235px) {
                display: block;
                margin-bottom: 5px;
            }
        }
    }

    &__nav-group {

        .overview-sidebar__item {
            border-bottom: $sidebar-border;
            padding-bottom: 15px;
            margin-bottom: 25px;

            @media (min-width: 768px) {
                padding-bottom: 12px;
            }
            @media (min-width: 1235px) {
                padding-bottom: 15px;
            }

            &:last-child {
                border-bottom: 0;
                padding-bottom: 0;
            }
        }

        @media (min-width: 768px) {
            float: right;
            width: 47.29%;
        }
         @media (min-width: 1235px) {
            float: none;
            width: 100%;
        }
    }
    &__video {
      
        @media (min-width: 768px) {
            width: 50%;
            float: left;
        }

        @media (min-width: 1235px) {
            float: none;
            width: 100%;
            border-bottom: $sidebar-border;
            margin-bottom: 25px;
        }
    }
    &__signup-block {
        display: none;
        @media (min-width: 1235px) {
            display: block;
        }

        &-title {
            line-height: 12px;
            margin-bottom: 12px;
        }
    }
    &__signup {
        &.h-signup {
            padding: 8px;
            margin-bottom: 21px;
        }
    }

    &__related-overviews {
        clear: both;
        border-bottom: $sidebar-border;
        margin-bottom: 25px;

        & .overview-preview:last-child {
            margin-bottom: 0;
        }

        @media (min-width: 768px) {
            margin-bottom: 25px;
            padding-bottom: 30px;
        }

        @media (min-width: 1235px) {
            .overview-preview {
                margin-bottom: 20px;
            }
        }

    }
}

.sidebar-nav-list {
    @media (min-width: 768px) {
        position: relative;
        margin-top: -8px;
    }

    li {
        list-style: none;
    }

    &__item {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 15px;
        a {
            border-bottom: 1px solid #c1cee1;

            &:hover {
                border-color: #346cab;
            }
        }
    }
}
// Overview-page

.overview-preview {
    font-family: 'OpenSans', sans-serif;
    font-size: 15px;

    float: left;
    clear: both;

    width: 100%;
    margin-bottom: 30px;
    @media (min-width: 768px) {
        margin-bottom: 35px;
    }
    @media (min-width: 1235px) {
        clear: none;

        width: 370px;
        margin-right: 30px;
        margin-bottom: 47px;
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
    &__img {
        font-size: 0;

        margin-bottom: 15px;

        text-align: center;
        img {
            max-width: 100%;
            max-height: 100%;

            vertical-align: middle;
        }
        @media (min-width: 768px) {
            line-height: 250px;

            float: left;

            width: 370px;
            height: 250px;
            margin-right: 20px;
            margin-bottom: 0;
        }
        @media (min-width: 1235px) {
            float: none;

            margin-right: 0;
            margin-bottom: 15px;
        }
    }
    &__content {
        @media (min-width: 768px) {
            margin-left: 390px;
        }
        @media (min-width: 1235px) {
            margin-left: 0;
        }
    }
    &__status {
        margin-bottom: 3px;
    }
    &__title {
        font-size: 18px;
        line-height: 26px;

        margin-bottom: 5px;
    }
    &__excerpt {
        p {
            font: 15px/25px 'OpenSans', sans-serif;

            color: #000;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
}

.overview-status {
    font: 15px/21px 'OpenSans', sans-serif;
    &--announce {
        color: #f67700;
    }
    &--new {
        color: #008739;
    }
}

.overview-preview-home {
    
    @media (min-width: 1235px) {
        margin-bottom: 0;
    }
}


.overviews-content {
    margin-bottom: 20px;

    @media (min-width: 1235px) {
        margin-bottom: 0px;
    }

    .overview-preview {
        margin-bottom: 49px;

        @media (min-width: 768px) {
            margin-bottom: 30px;
        }

        @media (min-width: 1235px) {
            margin-bottom: 46px;
        }

        &__img {
            @media (min-width: 768px) {
                width: 368px;
                margin-right: 15px;
            }

            @media (min-width: 1235px) {
                margin-right: 0;
            }
        }

        &__content {
            @media (min-width: 768px) {
                margin-left: 386px;
                position: relative;
                top: -5px;
            }
            @media (min-width: 1235px) {
                margin-left: 0;
                position: static;
            }
        }

        &__title {
            font-family: $main-font;

            @media (min-width: 768px) {
                margin-bottom: 7px;
            }
        }

        &__status {
            @media (min-width: 768px) {
                margin-bottom: 2px;
            }
        }
    }

}
.tags {
    display: flex;
    flex-wrap: wrap;
    font: 14px $main-font;
}
.tag {
    display: inline-block;
    border: 1px solid #cdcdcd;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 13px;
    overflow: hidden;

    &__link {
        display: block;
        padding: 2px 11px 4px 11px;
        max-width: 180px;
        max-height: 25px;
        box-sizing: border-box;
        font-size: 14px;
        color: $text-grey;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover,
        &:focus {
            background-color: $bg-grey;
        }
    }
}


.sidebar-video {

    &__item {
        margin-bottom: 28px;
        &-title {
            font-size: 18px;
            font-family: $main-font;
            line-height: 26px;
            margin-bottom: 0px;

            a:hover {
                text-decoration: underline;
            }
        }

        &-thumb {
            margin-bottom: 8px;
            // min-height: 250px;
            // line-height: 250px;

        }
    }
}
// signup block
.o-signup {
    margin: 0 -10px;
    margin-bottom: 37px;
    padding: 24px 10px 33px;

    background: #fef4ce;
    clear: both;
    @media (min-width: 768px) {
        margin: 0 -15px 39px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 28px;
    }
    @media (min-width: 1235px) {
        margin: 0 0 30px;
        padding: 25px 21px;
    }

    &__heading {
        font: normal 20px OpenSans_Bold, sans-serif;
        line-height: 28px;

        margin: 0 0 0;

        color: #000;
        @media (min-width: 768px) {
            font-size: 25px;

            margin-bottom: 20px;
        }
        @media (min-width: 1235px) {
            margin-bottom: 17px;
        }
    }

    &__content {
        @media (min-width: 768px) {
            padding-left: 180px;

            background: url(images/overview-page/ui-icon-personal-subscribe-big.png) 0 13% no-repeat;
        }
        @media (min-width: 1235px) {
            padding: 0;

            background: none;
        } 
    }

    &__description {
        font: 18px $main-font;
        line-height: 28px;

        color: #000;
        @media (min-width: 768px) {
            font: 25px/35px $main-font-light;

            margin-bottom: 15px;
        }
        @media (min-width: 1235px) {
            padding: 26px 0 44px;
            padding-left: 149px;
            background: url('images/overview-page/ui-icon-personal-subscribe-big.png') 0 50% no-repeat;
            background-size: 124px;
            margin-bottom: 14px;
        }
    }
}

.o-signup-form {
    padding-top: 173px;
    background: url(images/overview-page/ui-icon-personal-subscribe-big.png) 37% 3px no-repeat;
    background-size: 148px;
    @media (min-width: 768px) {
        display: inline-block;

        width: 295px;
        margin-right: 18px;
        padding-top: 0;

        background-image: none;
    }
    @media (min-width: 1235px) {
        display: block;

        width: 100%;
    }
}

input.o-signup-form__input {
    font: normal 16px OpenSans;

    height: 51px;
    margin-bottom: 13px;

    background-image: none;
    @media (min-width: 1235px) {
        display: inline-block;
        width: 294px;
        margin: 0;
        margin-right: 16px;
        vertical-align: top;
    }
}

.o-signup-form__submit {
    font: normal 20px OpenSans_SemiBold;

    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    margin-bottom: 13px;
    padding: 12px 0;

    text-align: center;

    color: #fff;
    border: 0;
    border-radius: 4px;
    outline: 0;
    background-color: #346cab;
    @media (min-width: 768px) {
        margin-bottom: 0;
    }
    @media (min-width: 1235px) {
        display: inline-block;

        width: 295px;

        vertical-align: top;
    }

    &:hover,
    &:focus {
        background-color: darken(#346cab, 4%);
    }
}

.o-signup-legend {
    font: normal 15px OpenSans_Light;

    margin: 0;

    color: #000;
    word-spacing: -1px;

    @media (min-width: 544px) {
        word-spacing: 0px;
    }
    @media (min-width: 768px) {
        display: inline-block;

        width: 150px;

        vertical-align: bottom;
    }
    @media (min-width: 1235px) {
        display: none;
    }
}
// end of signup block

.overviews-bottom-pager {
    font-size: 16px;
    padding-bottom: 30px;
    border-bottom: $sidebar-border;
    margin-bottom: 25px;
    @media (min-width: 1235px) {
        border-top: 1px dashed #dfdfdf;
        padding-top: 26px;
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }


}


// ================ More articles ===============
.ov-more-articles{
    padding: 0;
    clear: both;
    // border: 1px solid #dfdfdf;
    border-left: 0;
    border-right: 0;
    display: none;
    margin-bottom: 45px;
    
    @media (min-width: 768px) {
        display: block;
    }
    @media (min-width: 1235px) {
        padding-top: 20px;
        border: 0;
        // border-top: 0;
    }
}


.ovp-more-articles{

    @media (min-width: 1235px) {
         border-top: 0;
         padding-top: 0;
    }
}

.ov-more-articles__heading{
    font-family: OpenSans_SemiBold;
    font-size: 20px;
    // color: #151515;
    margin-bottom: 27px;
}
.ov-more-articles__heading a{
    font-family: OpenSans_SemiBold;
    font-size: 20px;
    color: #151515;
}
.o-more{
    margin-bottom: 50px;
    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }

    @media (min-width: 1235px) {
        margin-bottom: 0;
    }

    li {
        list-style: none;
    }
    
}
.o-more__category{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    border: 1px solid #dfdfdf;
    border-left: 0;
    border-top: 0;
    padding-left: 15px;

    @media (min-width: 768px) {
        padding: 15px 15px 25px 30px;

        &:nth-child(1),
        &:nth-child(3) {
            padding-left: 0;
        }
    }

    @media (min-width: 1235px) {
        padding: 0 30px 0 30px;
        display: inline-block;
        width: 25.641%;
        border-right: 1px solid #dfdfdf;
        border-bottom: 0;

        &:first-child {
            width: 23.0769%;
        }

        &:nth-child(2) {
            border-right: 1px solid #dfdfdf;
        }

        &:nth-child(3) {
            padding-left: 30px;
        }
    }
}

.o-more__category:last-child{
    border: 0;
}
.o-more__link{
    color: #346cab;
    // text-decoration: underline;
    border-bottom: 1px solid #c1cee1;
    
    font: normal 16px OpenSans, sans-serif;
    line-height: 25px;

    &:hover {
        border-color: #346cab;
    }
}

.o-more__category-link{
    font: normal 18px OpenSans_SemiBold, sans-serif;
    text-decoration: none;
    border-bottom: 1px solid #9eb4d2;
    line-height: 0px;
    // box-shadow: 0 1px 0 0 #c1cee1;
}

// .o-more__link:hover{
//     text-decoration: none;
//     border-bottom: 0;
//     box-shadow: none;
// }
.o-more__items{
    margin: 0;
    margin-top: 15px;
}
.o-more__item{
    margin-bottom: 10px;
}
.o-more__item:last-child{
    margin-bottom: 0;
}
.ov-more-articles > ul > li:nth-child(2n){
    border-right: 0;
    margin-right: 0;
}

.ov-more-articles > ul > li:nth-child(2) {
    @media (min-width: 1235px) {
        border-right: 1px solid #dfdfdf;    
    }
}
// .ov-more-articles > ul > li:nth-last-child(1),
.ov-more-articles > ul > li:nth-last-child(2){
    border-bottom: 0;
}