.main-content{
    margin-bottom: 25px;
}

// ****************************
// *        Блок навигации слева    *
// ****************************
.cab-navigation-block{
    margin-bottom: 30px;
    box-sizing: border-box;
    position: relative;
}
.cab-nav-moblie-link{
    display: block;
    padding: 10px 15px;
    background: #1581be url(images/ui-icon-arrow-menu-down.png) no-repeat right 12px top 50%;
    color: #fff;
    border-radius: 2px;
    font-size: 1.125em;
    font-weight: bold;
}
.cab-nav-moblie-link:hover{
    color: #fff;
}
.cabinet-nav{
    display: none;
}

.cabinet-nav{
        border: 1px #dfdfdf solid;
        border-radius: 2px; 
        margin-bottom: 15px;
}

.cabinet-nav{
        list-style: none;
}
.cabinet-nav li>a{
        display: block;
        padding: 12px 15px;
        padding-left: 50px;
        border-top: 1px #dfdfdf solid;
        text-decoration: none;
        color: #000;
        font-family: OpenSans_Regular;
        font-size: 16px;
        font-weight: normal;
        background-image: url("images/personal-cabinet/spritesheet.png");
        background-repeat: no-repeat;
}
.cabinet-nav li:first-child a{
        border-top: none;
}
.nav-active {
        background-color: #fafafa;
        font-family: OpenSans_Semibold;

        i{
                display: inline-block;
                float: right;
                width: 25px;
                height: 25px;
                background: url("images/personal-cabinet/spritesheet.png") no-repeat -5px -5px;
        }
}
.cabinet-nav li>a:hover{
        background-color: #fafafa;
        font-weight: bold;
}
.economy-link{
        background-position: 5px -789px;
}

.orders-link{
        background-position: 5px -247px;
        &:hover,
        &.active{
                background-position: 5px -283px;
        }
}
.delivery-link{
        background-position: 5px -381px;

        &:hover,
        &.active{
                background-position: 5px -417px;
        }
}

.recomend-link{
        background-position: 5px -716px;
        
        &:hover,
        &.active{
                background-position: 5px -752px;
        }
}

.liked-link{
        background-position: 5px -453px;
        
        &:hover,
        &.active{
                background-position: 5px -489px;
        }
}
.compare-link{
        background-position: 5px -824px;
        
        &:hover,
        &.active{
                background-position: 5px -860px;
        }
}
.help-link{
        background-position: 5px -896px;
        
        &:hover,
        &.active{
                background-position: 5px -932px;
        }
}
.wait-link{
        background-position: 5px -173px;
        
        &:hover,
        &.active{
                background-position: 5px -209px;
        }
}
.price-link{
        background-position: 5px -646px;
        
        &:hover,
        &.active{
                background-position: 5px -681px;
        }
}
.profile-link{
        background-position: 5px -968px;
        
        &:hover,
        &.active{
                background-position: 5px -1004px;
        }
}
// Конец блока навигации

// ****************************
// *     Блок справа          *
// ****************************
.cab-info{
    margin: 30px 0 0;
}
.cab-extra-info{
    background: #fcfcfc;
    border: 1px #dfdfdf solid;
    border-radius: 10px;
    margin-bottom: 30px;
}
.cab-discount, .cab-manager{
    padding: 15px 15px 30px;
    border-bottom: 1px #dfdfdf dashed;
}
.cab-discount a{
    display: inline-block;
    color: black;
}
.cab-discount i{
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background: url("images/personal-cabinet/spritesheet.png") no-repeat -2px -358px;
}
.cab-discount p{
    margin: 10px 0 15px 0;
}
.discount-progress{
    border: 2px #f0da88 solid;
    border-radius: 10px;
    background: #fff;
}
.discount-progress ul{
    margin: 0;
    padding: 10px 0 5px 45px;
}
.discount-progress li{
    display: inline-block;
    list-style: none;
    margin-right: 15px;
}
.discount-progress li:first-child{
    font-weight: bold;
}
progress[value]{
    -webkit-appearance: none;
    appearance: none;

    // background-color: #76972a;
    border: 1px #777777 solid;
    border-radius: 10px;
    height: 12px;
    width: 220px;
    margin: 0 10px 10px;
}
progress[value]::-webkit-progress-bar {
    background-color: #fff;
    border: 0;
    border-radius: 10px;
}
.want-discount {
    color: #ce1e36;
    margin: 20px 0 10px;
    padding: 10px;
    padding-left: 35px;
    background: url("images/personal-cabinet/spritesheet.png") no-repeat -5px -792px;
}
.cab-discount b{

    background: url("images/personal-cabinet/spritesheet.png") no-repeat 0 0;
}
.cab-buy-more{
    width: 240px;
    background: url("images/personal-cabinet/spritesheet.png") no-repeat right -40px top -42px;
}

        /*Правый блок с информацией (Личный менеджер)*/
.cab-manager{
    // height: 220px;
    border-radius: 10px;
    font-size: 15px;
    padding: 30px 15px 15px;
}
.cab-manager p{
    float: left;
    margin: 0;
    margin-bottom: 10px;
    width: 58%;
}
.cab-manager img{
    float: right;
    margin-right: 20px;
}
.chat-btn{
    display: block;
    float: right;
    color: #76972a;
    background: #fff;
    border: 1px #76972a solid;
    border-radius: 10px;
    padding: 10px 15px;
    width: 100px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin: 15px 0;
}

        /*Правый блок с информацией (Сертификат)*/

.certificate{
    padding: 10px 15px 0;
    padding-bottom: 20px;
    background-color: #f0f0f0;
}
.certificate a{
    display: inline-block;
    padding: 10px 0 10px 35px;
    color: #346cab;
    background: url("images/personal-cabinet/spritesheet.png") no-repeat -5px -617px;
}
.certificate form{

}
.certificate select{
    width: 116px;
    padding: 10px;
    border: 1px #000 solid;
    border-radius: 5px;
    font-size: 15px;
    background: #fff;
}
.buy-certificate-btn{
    padding: 10px 20px;
    margin-left: 10px;
    color: white;
    background: #76972a;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 17px;
    border: none;
    outline: none;
    cursor: pointer;
}

        /*Правый блок с информацией (Лучшие предложения)*/

.cab-signup{
    padding: 15px;
    padding-top: 100px;
    border: 0;
    border-radius: 10px;
    background: #fef4ce url("images/personal-cabinet/icon-mail.png") no-repeat 50% 20px;
}
.cab-signup h2{
    margin: 5px 0 15px;
    font-size: 20px;
}
.cab-signup p,
.cab-signup-form p{
    margin: 0;
}
.cab-signup-form{
    padding: 0;
}
.cab-signup-form input[type=checkbox]{
    position: absolute;
    left: -1000px;
}
.cab-signup-form .checkbox{
    display: inline-block;
    height: 18px;
    width: 18px;
    background: #fff;
    border: 1px #000 solid;
    border-radius: 3px;
    margin-right: 15px;
    vertical-align: middle;
}
input[type=checkbox]:checked + label > .checkbox{
    background: #4b80bb url("images/personal-cabinet/spritesheet.png") no-repeat -5px -328px;
}
.label-link{
    display: inline-block;
    height: 28px;
    width: 120px;
    line-height: 18px;
    box-sizing: border-box;
    padding: 5px 15px;
    margin-bottom: 5px;
    border-radius: 4px;
    background: url("images/personal-cabinet/spritesheet.png") no-repeat    right -48px top -146px;
    color: white;
    cursor: pointer;
}
.sale-link{
    background-color: #e53326;
}
.discount-link{
    background-color: #eb9000;
}
.bestsellers-link{
    background-color: #d65826;
}
.new-link{
    background-color: #33955d;
}
.review-link{
    background-color: #5182b9;
}
.cab-signup-btn{
    margin-top: 20px;
    margin-bottom: 5px;
    width: 238px;
    height: 65px;
    line-height: 25px;
    background: #76972a;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    white-space: normal;
    cursor: pointer;
}
// ********************************
// *   Economy profile page       *
// ******************************** 
.economy-item{
    margin-bottom: 25px;

    h2{
        margin-top: 0;
    }
}
.ec-accordion-block{
    background: lightgrey;
}
// ================================
// *   / Economy profile page       *
// ================================

// ********************************
// *           Profile page       *
// ******************************** 
    .profile-item{
        margin-bottom: 25px;

        h2{
            margin-top: 0;
        }
        .birth-date-block,
        .check-input{
            box-sizing: border-box;
            width: 100%;
            border: 1px solid #959595;
            padding: 15px;
            border-radius: 2px;
            margin-bottom: 15px;
        }

    }
    .save-btn{
        width: 100%;
        background-color: #d34f27;
        box-sizing: border-box;
        padding: 10px 15px 10px;
        margin-top: 15px;
        color: #fff;
        border-radius: 5px;
        font-weight: bold;
        font-size: 1.125em;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .my-profile-info{

        &>div{
            border: 1px solid #c2c2c2;
            padding: 15px 100px 15px 58px;
            margin-bottom: 16px;
            position: relative;
            background-repeat: no-repeat;
            background-position: 15px 10px;
            border-radius: 2px;
        }
        &>div input{
            width: 70%;
            padding: 5px 15px;
            margin-bottom: 3px; 
        }
        a:hover{
            text-decoration: none;
            color: #346cab;
            cursor: pointer;
        }
    }

    .pr-name{
        background-image: url(images/svg/Enter-user-profile.svg);
    }
    .pr-phone{
        background-image: url(images/personal-cabinet/ui-icon-personal-phone.png);
    }
    .pr-email{
        background-image: url(images/personal-cabinet/ui-icon-personal-envelope.png);
    }
    .pr-password{
        background-image: url(images/personal-cabinet/ui-icon-personal-lock.png);
        background-position: 20px 50%;
    }
    .pr-change-links{
        position: absolute;
        top: 15px;
        right: 20px;

        a{
            display: inline-block;
            min-width: 14px;
            min-height: 12px;
            margin-left: 15px;
            background-repeat: no-repeat;
            background-position: 0 50%;

        }
        span{
            border-bottom: 1px dashed #abc4df;
            display: none;
        }


    }
    .pr-change-info{
        background-image: url(images/personal-cabinet/ui-icon-personal-edit.png);
    }

    .pr-add-info{
        background-image: url(images/personal-cabinet/ui-icon-personal-add.png)

    }

    .pr-password{
        a{
            border-bottom: 1px dashed #abc4df;
        }
    }
    .pr-hidden{
        display: none;
        padding-top: 15px;

        p{
            margin-bottom: 8px;
            font-size: 13px;
        }
    }
    .check-input{

        label{
            display: inline-block;
            box-sizing: border-box;
            width: 100%;
            border: 2px solid #c2c2c2;
            border-radius: 3px;
            padding: 10px 15px;
            margin-bottom: 15px;
            margin-right: 10px;
            font-size: 15px;
        }

        

        label:hover{
            background-color: #fafafa;
            cursor: pointer;
        }

        input[type=checkbox]{
            position: absolute;
            left: -9999px;
        }

        input[type=checkbox]:checked + label{
            font-weight: bold;
            color: #76972a;
            border-color: #76972a;
            background: #fff url(images/svg/Cart-check.svg) no-repeat right 5px top 50%;
        }
    }
.profile-imporve-socials{
    background: #fffae8;
    padding: 20px 15px;
    margin-bottom: 30px;
    border-radius: 5px;

    h3{
        font-size: 17px;
        margin-top: 0px;
    }

}
.tw-link,
.fb-link,
.gplus-link{
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    // overflow: hidden;
}
.tw-link{
    background: url(images/personal-cabinet/twitter-icon.png) no-repeat 0 0;
}
.gplus-link{
    background: url(images/personal-cabinet/gplus-icon.png) no-repeat 0 0;
}
.fb-link{
    background: url(images/personal-cabinet/fb-icon.png) no-repeat 0 0;
}
.tw-link:hover,
.fb-link:hover,
.gplus-link:hover{
    background-position: 0 -40px;
}
.u-hidden-input{
    position: absolute;
    left: -9999px;
}
.choose-gender{
    margin-bottom: 10px;
    font-size: 15px;
}
.choose-gender label{
    display: inline-block;
    border: 1px solid #777;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
}
label.choose-gender__male{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
label.choose-gender__female{
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: 0;
    margin-left: -4px;
}
.choose-gender input:checked + label{
    background: #51677d;
    color: #fff;
}

.pr-delete-profile{
    display: block;
    text-align: right;
    text-decoration: underline;
    color: #346cab;
}
// ********************************
// *           Profile page       *
// ********************************

// ********************************
// *        Waiting page          *
// ********************************
.profile-waiting-item{

    h2{
        margin-top: 0;
    }
}
.delete-all{
    text-align: right;
    font-size: 15px;
    margin-bottom: 20px;
}
.delete-all__icon{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(images/personal-cabinet/delete-icon.png) no-repeat 0 0;
    vertical-align: middle;
    margin-right: 10px;
}
.delete-all__link{
    color: #346cab;
    border-bottom: 1px dashed #346cab;
    text-decoration: none;
}
.delete-all__link:hover{
    text-decoration: none;
    color: #285587;
    border-color: #285587;
}

// ожидаемый товар

.w-good{
    font-size: 16px;
    padding: 65px 5px 30px;
    position: relative;
    font-family: OpenSans_Regular, sans-serif;
    color: #151515;
    box-sizing: border-box;
    border-bottom: 1px solid #eae9e7;

    @media (min-width: 544px){
        width: 50%;
        float: left;
        padding-left: 30px;
        padding-right: 30px;
    }
    @media (min-width: 768px) {
        width: 33.333%
    }
    @media (min-width: 994px){

    }
    @media (min-width: 1200px) {
        width: 50%;
        padding-left: 30px;
        padding-right: 30px;
        float: left;

        &:nth-child(even) .w-good__wrapper{
            border: 0;
        }
    }
}

.w-good__wrapper{
    @media (min-width: 544px){
        border-right: 1px solid #eae9e7;
        margin-right: -30px;
        padding-right: 30px;
    }
}
.w-good--available{
    background: #fffdf6;
}
.w-good__already-available{
    box-sizing: border-box;
    position: absolute;
    top: 12px;
    background: #fafff6 url(images/personal-cabinet/icon-check.png) no-repeat 10px 50%;
    border: 1px solid #dcedc2;
    padding: 9px 10px 11px 32px;
    border-radius: 2px;
    color: #568800;
    font: 0.9375em OpenSans_Semibold, sans-serif;
}
.w-good__delete-good{
    display: block;
    width: 30px;
    height: 30px;
    background: #dddddd url(images/personal-cabinet/icon-close.png) no-repeat center center;
    border-radius: 2px;
    position: absolute;
    right: 5px;
    top: 14px;

    @media (min-width: 544px){
        right: 0;
        top: 47px;

    }
}
.w-good__delete-good:hover{
    background-color: #c3c3c3;
    cursor: pointer;
}
.w-good__good-img{
    text-align: center;
    margin-bottom: 20px;
}
.w-good__good-status{
    min-height: 22px;
}
.w-good__status-new{
    color: #008739;
    font-size: 0.9375em;
    margin-right: 10px;
}
.w-good__discount-amount{
    font-size: 1.125em;
    font-weight: bold;
    color: #f01834;
}
.w-good__good-title{
    height: 4.5em;

    @media (min-width: 544px){
        height: 5.5em;
    }

    @media (min-width: 768px){
        height: 7.5em;
    }
    @media(min-width: 994px){
        height: 5.5em;
    }
}
.w-good__good-link{
    font-size: 0.9375em;
    color: #151515;
    font-weight: normal;
}
.w-good_good-link:hover{
    text-decoration: underline;

}

.w-good__price{
    font-size: 1.125em;
    font-weight: bold;

}
.w-good__price-new{
    font-weight: bold;
    color: #f01834;
    font-size: 1.25em;
    margin-right: 20px;
}
.w-good__price-old{
    font-size: 0.8125em;
    text-decoration: line-through;

}
.w-good__buy-btn{
    display: inline-block;
    padding: 9px 13px;
    background-color: #f24e1f;
    border-radius: 4px;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
.w-good__buy-btn:hover{
    background: #D34F27;
    color: #fff;
    text-decoration: none;
}
.w-good__buy-btn--disabled{
    background: #A8A8A8;
}
.w-good__buy-btn--disabled:hover,
.w-good__buy-btn--disabled:focus{
    background: #A8A8A8;
}
.w-good__price-block{
    margin-bottom: 20px;
    height: 2em;
}
// ********************************
// *    end of Waiting page       *
// ********************************
// ********************************
// *    How save page       *
// ********************************

.e-heading{
    border: 1px #959595 solid;
    border-radius: 5px;
    margin: 10px 0;
    padding: 0 15px;
    color: #151515;
    background: #fff;
    font-size: 1.0625em;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    height: 46px;
    line-height: 46px;
    white-space: nowrap;
    font-weight: normal;
}
.e-heading:hover{
    background-color: #fffae8;
    font-weight: 700;
}
.e-heading__arrow{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 44px;
    width: 44px;
    background: #f6f6f6 url(images/ui-icon-personal-open-detail.png) no-repeat 50% 50%;
    border-radius: 2px;
}
.e-accordion__text-item{
    padding: 20px 15px 0;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px #959595 solid;
    border-top: 0;
    margin-top: -15px;
    display: none;
    line-height: 1.5;
}

// ********************************
// *    end of How save page       *
// ********************************

// ********************************
//        Начало адаптивных стилей
// ********************************

@media (min-width: 544px) {
    .cab-nav-moblie-link{
        width: 160px;
    }
    .pr-change-links {
        a{
            padding-left: 20px;
        }

        span{
            display: inline
        }
    }
    .save-btn{
        width: 120px;
        margin: 0 0 0 10px;
    }
    .check-input label{
        width: 170px;
    }
}

@media (min-width: 768px) {
        .cabinet-nav{
            position: absolute;
            z-index: 9999;
            background: #fff;
        }
        .cab-info{
            margin: 0 0;
            width: 100%;
        }
        .cab-extra-info{
            width: 60%;
            float: left;
            box-sizing: border-box;
        }
        .cab-signup{
            width: 37%;
            float: right;
            box-sizing: border-box;
        }

        // Личный менеджер
        .cab-manager p{
            width: 50%;
        }
        
}

@media (min-width: 994px) {

    .profile{
        float: left;

    }
    .chat-btn{
        width: 125px;
    }

}

@media (min-width: 1200px) {

    .cab-nav-moblie-link{
        display: none;
    }
    .cab-navigation-block{
        float: left;
        width: 273px;
        margin-right: 40px;

    }
    .cabinet-nav{
        position: static;
        display: block;
    }
    .main-content{
        width: 570px;
        float: left;
    }
    .cab-info{
        float: right;
        width: 275px;
         margin-top: 45px;

    }
    .cab-signup,
    .cab-extra-info{
        float: none;
        width: 100%;
    }
    .chat-btn{
        float: left;
        width: 100px;
    }

    .check-input{
        
        label:nth-of-type(3n){
            margin-right: 0;
        }
    }


}