.present-nav-wrapper {
    position: relative;

    margin-bottom: 20px;
    @media (min-width: 768px) {
        margin-bottom: 15px;
    }
    @media (min-width: 1235px) {
        float: left;
    }
}
.present-nav {
    font: 16px $main-font;

    position: absolute;
    z-index: 2;

    display: none;

    width: 100%;

    color: #000;
    background: #fff;
    @media (min-width: 768px) {
        position: static;

        display: block !important;
    }
    &__mobile-select {
        // .present-nav__mobile-select
        font-family: $main-font-semibold;
    }
    &__item {
        // .present-nav__item
        font-size: 1em;
        line-height: 35px;

        box-sizing: border-box;
        height: 40px;
        padding: 0 16px;

        border: 1px solid transparent;
        border-radius: 2px;
        @media (min-width: 768px) {
            float: left;
        }
        &:focus,
        &:hover {
            color: #000;
            outline: 0;
            span {
                border-color: #000;
            }
        }
        span {
            line-height: 16px;

            display: inline-block;

            border-bottom: 1px dashed #a4a4a4;
        }
        &.active {
            border-color: #e1e1e1;
            span {
                border-bottom: 0;
            }
        }
    }
}

.present-choice {
    font-size: 18px;

    margin-bottom: 7px;
    padding-top: 14px;

    background: #f6f6f6;
    @media (min-width: $desktop-min) {
        margin-bottom: 50px;
    }
    &__inner {
        @media(min-width: $tablet-min) {
            padding: 0 27px;
        }
    }
    &__title {
        font: 1em $main-font;

        margin-bottom: 25px;
        @media (min-width: $desktop-min) {
            margin-bottom: 20px;
        }
    }
    &__banner {
        overflow: hidden;

        min-width: 100%;
        max-height: 450px;
        margin-top: 30px;
        @media (min-width: $desktop-min) {
            height: 450px;
        }
    }
    &__gift-certificate {
        line-height: 40px;

        width: 240px;
        height: 40px;
        padding: 0;
        &.desktop-hidden {
            margin-bottom: 38px;
        }
        @media (min-width: 1235px) {
            float: right;

            width: auto;
        }
        a {
            padding: 0 0 0 27px;
        }
    }
    &__select {
        // @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        // 	padding-left: 17px;
        // }
    }
    &__option {
        padding: 0;

        text-align: left;
        vertical-align: top;

        color: #346cab;
        border: 0;
        background: none;
        @media (min-width: $desktop-min) {
            padding-left: 17px;
        }
        & + & {
            margin-left: 22px;
            @media (min-width: $tablet-min) {
                margin-left: 60px;
            }
            @media (min-width: $desktop-min) {
                margin-left: 43px;
            }
        }
        &:hover,
        &:focus {
            transition: color ease .2s;

            color: #d34f27;
            outline: 0;
            svg path:first-child {
                fill: #d34f27;
            }
            svg path {
                stroke: #d34f27;
            }
        }
    }
}
.svg-icon {
    // width: 134px;
    font-size: 0;
    line-height: 90px;

    display: inline-block;

    height: 95px;
    margin-bottom: 8px;
    @media (min-width: $desktop-min) {
        margin-bottom: 11px;
    }
    svg {
        overflow: visible;

        vertical-align: bottom;
    }
    svg path {
        vertical-align: bottom;
        // fill: #346cab;

        stroke: #346cab;
    }
}

.choice-steps {
    margin-bottom: 25px;
}

.choice-step {
    font-size: 1em;
    line-height: 45px;

    position: relative;

    float: left;

    box-sizing: border-box;
    width: 45px;
    height: 45px;
    margin-right: 36px;

    text-align: center;

    border-radius: 100%;
    background: #fff;
    box-shadow: inset 0 0 0 1px #e1e1e1;
    &--current {
        box-shadow: inset 0 0 0 6px #92a1ab;
    }
    &--done {
        text-indent: -9999px;

        background: #fff url('images/present-icon-check.png') no-repeat center center;
        box-shadow: inset 0 0 0 1px #92a1ab;
    }
    & + &::after {
        position: absolute;
        top: 50%;
        right: 100%;

        display: block;

        width: 36px;

        content: '';

        border-bottom: 1px dashed #b0b0b0;
    }
}

// .banner {
// 	font-size: 0px;

// 	img {
// 		width: 100%;
// 	}
// }

.present-results {
    margin-bottom: 16px;
    &__header {
        margin-top: -7px;
        @media (min-width: $tablet-min) {
            margin-top: 0;
        }
        @media (min-width: $desktop-min) {
            border-bottom: 1px solid #e1e1e1;
        }
        &-title {
            margin-bottom: 7px;
        }
        &-btn {
            display: block;

            margin-bottom: 14px;
            padding: 0;

            border: 0;
            outline: 0;
            background: #fff;
            &:hover {
                color: #10567a;
                span {
                    border-bottom-color: inherit;
                }
            }
            span {
                font-size: 16px;

                border-bottom: 1px dashed #000;
            }
            @media (min-width: $tablet-min) {
                display: inline-block;

                margin-right: 20px;
            }
        }
        &-counter {
            font-size: 16px;

            display: inline-block;

            margin-bottom: 13px;
            padding-left: 20px;

            color: #5c8917;
            border-bottom: 0;
            background: url('images/svg/present-check.svg') no-repeat 0 5px;
            @media (min-width: $tablet-min) {
                margin-right: 20px;
            }
            @media (min-width: $desktop-min) {
                margin-bottom: 16px;
            }
        }
    }
    &__items {
        margin-bottom: 20px;
        @media (min-width: $tablet-min) {
            position: relative;
            top: -8px;

            margin-bottom: 34px;
        }
        .category-product {
            @media (min-width: 994px) {
                width: 33.3333%;
                &:nth-child(2n) {
                    .category-product__inner {
                        border-right: 1px solid #eaeaea;
                    }
                }
                &:nth-child(3n) {
                    .category-product__inner {
                        border-right-color: transparent;
                    }
                }
            }
            @media (min-width: $desktop-min) {
                width: 25%;
                &:nth-child(3n) {
                    .category-product__inner {
                        border-right: 1px solid #eaeaea;
                    }
                }
                &:nth-child(4n) {
                    .category-product__inner {
                        border-right-color: transparent;
                    }
                }
                &:nth-child(3n + 1)::after {
                    display: none;
                }
            }
        }
    }
    &__sort-form {
        @media (min-width: $desktop-min) {
            float: right;

            margin-top: -3px;
            .product-sort-simple {
                margin-right: 0;
            }
        }
        .product-sort-simple > li {
            @media (max-width: $tablet-max) {
                font-size: 15px;
                line-height: normal;

                display: inline-block;

                height: auto;
                padding: 0 20px 0 0;

                color: #3d6cab;
                border: 0;
                background-position: 100% center;
                background-size: 13px;
                &:hover {
                    color: #3d6cab;
                    border: 0;
                    background-color: transparent;
                }
            }
            @media (min-width: $desktop-min) {
                line-height: 25px;

                padding-right: 61px;
            }
        }
    }
}
.new-selection {
    // background: #f6f6f6;
    margin-bottom: 40px;
    @media (min-width: $desktop-min) {
        margin-bottom: 34px;
    }
    &__refresh-btn {
        font: 18px $main-font;

        display: block;

        margin: 0 auto;
        padding: 17px 0 19px 41px;

        text-align: left;

        color: #346cab;
        border: 0;
        outline: 0;
        background: url('images/svg/refresh.svg') no-repeat 3px center;
        background-size: 27px;
        span {
            line-height: 18px;

            display: inline-block;

            border-bottom: 1px solid #bbc8db;
        }
        &:hover {
            color: #d34f27;
            span {
                border-bottom-color: inherit;
            }
        }
        @media (min-width: $tablet-min) {
            padding-right: 9px;
            padding-left: 66px;

            background-position-x: 24px;
        }
        @media (min-width: $desktop-min) {
            padding-right: 21px;
            padding-left: 55px;

            background-position-x: 14px;
        }
    }
}
.sertificates {
    margin-bottom: 30px;
    @media (min-width: $desktop-min) {
        margin-bottom: 60px;
    }
    &__title {
        margin-bottom: 7px;
        padding-left: 30px;

        background: url('images/svg/present-icon.svg') no-repeat 0 center;
        background-size: 20px;
    }
    &__description {
        font-size: 16px;

        margin-bottom: 9px;
    }
    &__list {
        display: flex;

        flex-wrap: wrap;
        justify-content: space-between;
        &-item {
            float: left;

            width: 47%;
            img {
                width: 100%;
            }
            @media (min-width: $tablet-min) {
                width: 33%;
            }
            @media (min-width: $desktop-min) {
                width: 28%;
            }
        }
    }
}
