// .product-card__header - Блок, который содержит информацию по товару: картинки, цену, производителя и т.д

.product-card__header {
    display: flex;

    margin-bottom: 35px;

    flex-wrap: wrap;
}
// .product-card__image-block - Блок с изображениями товара
.product-card__image-block {
    float: left;

    width: 100%;
    margin-bottom: 15px;
    @media (min-width: 768px) {
        width: 476px;
        height: 350px;
        margin-bottom: 0;
    }
    @media (min-width: 994px) {
        width: 604px;
        height: 350px;
    }
    @media (min-width: 1200px) {
        width: 637px;
        height: 400px;
    }
}

.product-card__main-image {
    font-size: 0;
    line-height: 280px;

    width: 100%;
    min-height: 280px;
    margin-bottom: 15px;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    @media (min-width: 768px) {
        line-height: 350px;

        float: right;

        width: 420px;
        height: 100%;
        margin: 0;
    }
    @media (min-width: 994px) {
        width: 500px;
    }
    @media (min-width: 1200px) {
        line-height: 400px;
    }
    img {
        max-width: 100%;
        max-height: 100%;

        vertical-align: middle;
    }
}

.product-card__gallery {
    float: left;
}

.gallery-product {
    font-size: 0;

    width: 100%;

    text-align: center;
    @media(min-width: 768px) {
        width: 36px;
    }
    @media (min-width: 1200px) {
        width: 120px;
    }
}

.gallery-product__item {
    display: inline-block;

    width: 36px;
    height: 36px;
    margin-right: 10px;

    cursor: pointer;
    text-align: center;

    border: 2px solid #1581be;
    border-radius: 50%;
    @media (min-width: 768px) {
        margin: 0;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    @media (min-width: 1200px) {
        line-height: 90px;

        width: 100%;
        height: 90px;

        border: 0;
        border-radius: 0;
    }
    img {
        display: none;

        max-width: 100%;
        max-height: 100%;

        vertical-align: middle;
        @media (min-width: 1200px) {
            display: inline-block;
        }
    }
}
.gallery-product__item--active {
    border-color: #b1b1b1;
}

// Блок с выбором опций и кнопкой купить

.product-card__buy-block.product-info {
    box-sizing: border-box;
    width: 100%;
    @media (min-width: 768px) {
        position: relative;

        width: 244px;
        padding: 17px 10px 10px;

        background: #fffae8;
    }
    @media (min-width: 994px) {
        width: 336px;
        padding: 17px 20px 10px;
    }
    @media (min-width: 1200px) {
        // padding: 17px 20px 10px;
        width: 336px;
    }
}

.product-feature {
    font: 15px OpenSans, sans-serif;
    line-height: 38px;

    display: none;

    box-sizing: border-box;
    max-width: 230px;
    height: 38px;
    margin-bottom: 7px;
    padding-left: 38px;

    color: #fff;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: 12px 50%;
    @media (min-width: 768px) {
        display: block;
    }
}

.product-feature--best-price {
    background-color: #5fa124;
    background-image: url('images/ui-icon-bast-price-guarantee.png');
}

.product-info__status {
    font: 15px OpenSans_SemiBold, sans-serif;

    margin-right: 15px;
}

.product-info__status--available {
    color: #5c8917;
}

.product-info__code {
    font: 13px OpenSans, sans-serif;

    color: #777;
}


.set-option-product__item {
    float: left;
}

.radio-hidden {
    position: absolute;
    left: -99999px;
}
.set-option-product {
    font: 15px OpenSans, sans-serif;

    display: inline-block;

    width: auto;
    height: 40px;

    vertical-align: bottom;

    color: #000;
    border: 1px solid #777;
    border-radius: 3px;
}
.set-option-product__item {
    line-height: 40px;

    box-sizing: border-box;
    height: 100%;
}
.set-option-product__radio:checked + label {
    color: #fff;
    background: #51677d;
}

.set-option-product__label {
    position: relative;

    display: block;
    // width: 100%;
    // height: 100%;

    padding: 0 9px;

    cursor: pointer;

    background: #fff;
}

.tip-btn {
    display: inline-block;

    width: 18px;
    height: 18px;
    margin: 0 0 -3px 6px;

    background: url('images/svg/Cart-question.svg') no-repeat 0 0;
    background-size: 18px;
}

.tip-btn:hover {
    background-image: url('images/svg/Cart-question-hover.svg');
}

.tip-content {
    line-height: 20px;

    position: absolute;
    z-index: 12;

    box-sizing: border-box;
    width: 200px;
    // max-width: 100%;
    padding: 10px 20px;

    text-align: left;

    color: #000;
    border-width: 1px 1px 3px;
    border-style: solid;
    border-color: rgb(234, 234, 234) rgb(234, 234, 234) rgb(204, 204, 204);
    border-radius: 4px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(200, 200, 200, .498039) 1px 3px 7px 0;
}
.tip-btn + .tip-content {
    visibility: hidden;

    transition: visibility 0s, opacity .5s linear;

    opacity: 0;
}
.tip-btn:hover + .tip-content {
    visibility: visible;

    opacity: 1;
}

// Colors block
.color-product-info {
    position: relative;

    display: none;

    width: 100px;

    vertical-align: bottom;
    @media (min-width: 994px) {
        display: inline-block;
    }
}
.color-product-info__choosed-color {
    box-sizing: border-box;
    width: 65px;
    height: 40px;
    margin: 0;
    margin-top: 5px;
    padding: 2px 25px 3px 4px;

    cursor: pointer;

    border: 1px solid #777;
    border-radius: 3px;
    background: url(images/product-color-arrow.png) no-repeat right 6px top 50%;
}

.color-product-info__color-label {
    display: inline-block;

    width: 34px;
    height: 32px;
    margin: 0;
    margin-right: 13px;

    vertical-align: middle;

    border: 1px solid #a8a8a8;
    border-radius: 3px;
}
.color-product-info__colors {
    position: absolute;
    z-index: 12;
}
.product-colors {
    display: none;

    width: 170px;

    color: #000;
    border-width: 1px 1px 3px;
    border-style: solid;
    border-color: rgb(234, 234, 234) rgb(234, 234, 234) rgb(204, 204, 204);
    border-radius: 4px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(200, 200, 200, .498039) 1px 3px 7px 0;
}
.product-colors__radio {
    position: absolute;
    left: -9999px;
}
.product-colors__item {
    padding: 8px 12px;
    label {
        margin: 0;

        cursor: pointer;
    }
}
.product-colors__item:hover {
    background-color: #efefef;
}
// End of color block
.product-info__buy-block {
    display: inline-block;

    width: 192px;

    vertical-align: bottom;
}

.product-info__price-block {
    margin-bottom: 5px;
}
.product-info__price-new {
    font: 22px OpenSans_Bold, sans-serif;

    margin-right: 20px;

    color: #dc364d;
}
.new-price__sm {
    font-size: 15px;
    font-style: normal;
}
.product-info__price-old {
    font: 15px OpenSans;

    text-decoration: line-through;

    color: #777;
}

.product-card__order-form {
    margin-bottom: 15px;
}
.product-btn {
    font: 16px OpenSans_SemiBold;
    line-height: 40px;

    display: inline-block;

    box-sizing: border-box;
    height: 40px;
    padding: 0 17px;

    border: 0;
    border-radius: 3px;
    outline: 0;
}
.product-btn--buy {
    padding-left: 45px;

    color: #fff;
    background: #df3604 url('images/svg/Cart-button-white.svg') no-repeat 12px 50%;
    background-size: 24px;
}
.product-btn--buy:hover {
    background-color: #c03911;
    color: #fff;
    text-decoration: none;
}
// Buy options block
.product-info__buy-options {
    position: relative;

    display: none;

    margin-top: 15px;
    margin-bottom: 20px;
    @media(min-width: 768px) {
        display: block;
    }
}

.p-buy-options__heading {
    font: 15px OpenSans_Light;

    cursor: pointer;
    text-decoration: underline;

    color: #346cab;
    @media (min-width: 994px) {
        cursor: text;
        text-decoration: none;

        color: #151515;
    }
}
.p-buy-options__heading:hover .p-buy-options__inner {
    display: block;
}
.p-buy-options__option {
    font: 15px OpenSans;

    display: block;

    padding: 6px 12px 6px;
    @media(min-width: 994px) {
        display: inline-block;

        padding: 0;
    }
    @media(min-width: 1200px) {
        margin-right: 5px;
    }
    a {
        text-decoration: underline;

        color: #346cab;
    }
}

.p-buy-options__inner {
    position: absolute;

    display: none;

    cursor: default;

    border: 1px solid #dfdfdf;
    border-radius: 3px;
    background: #fff;
    // box-shadow: 0px 0px 0 1px rgba(0, 0, 0, 0.3); 
    @media(min-width: 994px) {
        position: static;

        display: block;

        border: 0;
        background: transparent;
    }
}

// Product actions block
.product-info__actions {
    display: flex;

    padding: 20px 0 15px;

    border: 1px dashed #c2c2c2;
    border-right: 0;
    border-left: 0;
    @media(min-width: 768px) {
        display: block;

        padding: 0;

        border: 0;
    }
    @media (min-width: 1200px) {
        position: absolute;
        right: 20px;
        bottom: 10px;
        left: 10px;
    }
}
.personal-actions {
    display: flex;

    order: 2;
    @media(min-width: 994px) {
        margin-bottom: 10px;
        padding-bottom: 8px;

        border-bottom: 1px dashed #c2c2c2;
    }
}

.action-personal {
    display: inline-block;

    width: 70px;

    cursor: pointer;
    text-align: center;
    &:hover .action-personal__title {
        color: #4b6ca7;
    }
    i {
        display: inline-block;

        width: 42px;
        height: 32px;

        background-image: url('images/svg/product-actions-sprite.svg');
        background-repeat: no-repeat;
        // margin: 0 0 0 5px;
    }
}

.action-personal--compare i {
    background-position: center -175px;
}
.action-personal--compare:hover i {
    background-position: center -140px;
}

.action-personal--wishlist i {
    background-position: center -35px;
}

.action-personal--wishlist:hover i {
    background-position: center 0;
}

.action-personal--watch-price i {
    background-position: center -105px;
}
.action-personal--watch-price:hover i {
    background-position: center -70px;
}

.action-personal__title {
    font: 11px/13px OpenSans_Light, sans-serif;

    display: inline-block;

    vertical-align: top;

    color: #777;
}

// ------------------------
// ----- Rating block -----
// ------------------------
.rateit-block {
    font: 15px OpenSans_Light, sans-serif;
    line-height: 13px;

    color: #151515;
    @media(min-width: 768px) and (max-width: 994px) {
        position: absolute;
        top: 103%;
        left: -20px;

        width: 250px;
    }
}
.rateit__range {
    line-height: 0;

    overflow: hidden;

    width: 86px;
    height: 16px;
    margin-bottom: 10px;

    cursor: pointer;

    background: url('images/ui-rate-big-default.png') repeat-x 0 0;
    @media(min-width: 768px) {
        display: inline-block;

        margin: 0;
        margin-right: 5px;

        vertical-align: bottom;
    }
}
.rateit__selected {
    width: 0;
    height: 16px;

    background: url('images/ui-rate-big-active.png') repeat-x 0 0;
}

.rateit__hover {
    width: 0;
    height: 16px;

    background: url('images/ui-rate-big-active.png') repeat-x 0 0;
}



// --------------------------------------
// ----- Product header right block -----
// --------------------------------------

.shop-info {
    font: 15px OpenSans_Light, sans-serif;

    width: 100%;

    color: #151515;
    @media (min-width: 1200px) {
        width: auto;
        padding: 17px 10px 10px 20px;
    }
    div {
        padding: 9px 0 11px;
        @media (min-width: 768px) {
            display: inline-block;

            margin-right: 30px;
        }
        @media(min-width: 1200px) {
            display: block;

            margin-right: 0;

            border-bottom: 1px dashed #c2c2c2;
        }
    }
}
.product-manufacturer a {
    color: inherit;
    border-bottom: 1px solid #b0b0b0;
}
.product-manufacturer a:hover {
    text-decoration: none;

    color: #000;
    border-color: #000;
}
div.shop-info__work-time {
    margin-bottom: 9px;
    @media (min-width: 768px) {
        display: none;
    }
    @media(min-width: 1200px) {
        display: block;
    }
    a {
        text-decoration: underline;

        color: #346cab;
    }
}

.shop-info__pages {
    @media (min-width: 768px) {
        display: none;
    }
    @media (min-width: 1200px) {
        display: block;
    }
}
.shop-info__page {
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
}
.shop-info__page-link {
    color: inherit;
    border-bottom: 1px solid #b0b0b0;
    &:hover {
        text-decoration: none;

        color: #000;
        border-color: #000;
    }
}



// -----------------------------------
// --------- Product details ---------
// -----------------------------------

.details-product__menu {
    display: none;
    @media(min-width: 768px) {
        display: block;
    }
}
// Tabs menu
.menu-details {
    display: none;

    margin-bottom: 20px;

    list-style: none;

    border: 1px solid #777;
    border-radius: 3px;
    // width: 80%;
    @media(min-width: 768px) {
        display: inline-flex;
    }
    &__item {
        font-size: 0;

        position: relative;

        display: inline-block;
    }
    &__link,
    &__tablet-toggler {
        font: 15px OpenSans;

        display: block;

        padding: 15px 20px;

        white-space: nowrap;
        text-decoration: none;

        color: #151515;
        @media (min-width: 994px) {
            padding: 15px;
        }
        @media (min-width: 1200px) {
            padding: 15px 20px;
        }
    }
    &__link--active {
        color: #fff;
        background: #777;
    }
    &__link:hover,
    &__tablet-toggler:hover {
        cursor: pointer;
        text-decoration: none;

        color: #346cab;
    }
    &__link--active:hover {
        color: #fff;
    }
    &__tablet-toggler {
        display: none;

        padding-right: 25px;

        background: url('images/select-arrow-small.png') no-repeat top 52% right 7px;
        @media (min-width: 768px) and (max-width: 994px) {
            display: block;
        }
    }
    &__item:hover > &__tablet-toggled {
        display: block;
    }
    &__tablet-toggled {
        @media (min-width: 768px) and (max-width: 994px) {
            position: absolute;
            top: 100%;
            right: 0;

            display: none;

            border: 1px solid #777;
            border-radius: 3px;
            background: #fff;
            & > li:first-child {
                width: 100%;

                border-bottom: 1px dashed #c2c2c2;
            }
        }
    }
}
.item-detail {
    font: 15px/25px OpenSans;

    display: none;

    margin-bottom: 25px;
    
    &--active {
        display: block;
    }
}

.about-product{
    p {
        font-family: inherit;
        font-size: inherit;

        margin-bottom: 10px;
    }
    h2,
    h3,
    h4 {
        font: 20px OpenSans_SemiBold;

        margin: 0 0 10px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    ol {
        padding-left: 17px;

        list-style: decimal outside;
    }
}
.item-detail__mobile-menu-item {
    font: 18px OpenSans_Semibold, sans-serif;

    margin: 0;
    margin-top: -2px;
    padding: 15px 10px;

    cursor: pointer;

    border: 1px solid #787878;
    border-radius: 2px;
    background: #fff url(images/ui-icon-catalog-tabs-mobile.png) no-repeat 95% 50%;
    @media (min-width: 768px) {
        display: none;
    }
}

.mobile-menu-item--active {
    margin-bottom: 15px;

    color: #fff;
    background: #346cab url(images/ui-arrow-accordion-up.png) no-repeat 95% 50%;
}
.item-detail__title {
    font: 20px OpenSans_SemiBold;

    margin: 0 0 10px;
    // color: #151515;
}
// About product block

.about-product__text {
    li {
        padding-left: 5px;
    }
}
.about-product__video {
    max-width: 470px;
    margin: 0 auto;
    margin-bottom: 25px;

    text-align: center;
    @media(min-width: 1200px) {
        float: right;

        margin-left: 35px;
    }
}

.video-tab {
    display: block;
}
.video-tab--hidden {
    display: none;
}
.tabs-control {
    text-align: left;
}
.tabs-control__item {
    display: inline-block;

    margin-right: 10px;
}
.tabs-nav {
    font-size: 16px;
    line-height: 40px;

    display: inline-block;
    display: block;

    width: 40px;
    height: 40px;
    padding: 0;

    text-align: center;

    color: #000;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    background-color: #f5f5f5;
    &--active {
        color: #fffafa;
        background-color: #346cab;
    }
}

.about-product__text {
    margin-bottom: 20px;
    @media (min-width:1200px) {
        float: left;

        width: 665px;
    }
}
// Product characteristics table
.product-characteristics {
    font: 15px OpenSans, sans-serif;

    width: 100%;
}
.characteristic {
    border-bottom: 1px dashed #c2c2c2;
    &:last-child {
        border: 0;
    }
}
.characteristic-value,
.characteristic-name {
    padding: 10px 5px;
}
.characteristic-value {
    font-family: OpenSans_SemiBold;
}



//purchase product
.purchase-product {
    clear: both;
    &__title {
        font: 20px OpenSans_SemiBold;

        color: #dc364d;
    }
}


.purchase-item {
    font: 15px/20px OpenSans;

    display: inline-flex;

    margin-bottom: 20px;
    padding-bottom: 20px;

    color: #151515;
    border-bottom: 1px solid #e2e2e2;

    flex-wrap: wrap;
    & > * {
        display: inline-block;
    }
    &__img {
        width: 85px;
        height: 85px;
        margin-right: 15px;
        margin-bottom: 15px;
        @media (min-width:768px) {
            margin-bottom: 0;
        }
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__desc {
        box-sizing: border-box;
        width: 200px;
        padding: 0 10px 0 0;
        @media(min-width: 544px) {
            width: 300px;
        }
    }
    &__name{
        margin-bottom: 10px;
        a {
            color: #151515;
        }
        a:hover{
            text-decoration: none;
            color: #10567a;
        }
    }

    &__category{
        a {
            text-decoration: underline;

            color: #777;
        }
        a:hover {
            color: #000;
        }
    }
}




.purchase-form__qty {
    line-height: 32px;

    box-sizing: border-box;
    width: 62px;
    height: 32px;
    padding: 0 9px;

    vertical-align: top;

    border: 1px solid #c2c2c2;
    border-radius: 2px;
}
.purchase-item__btn {
    background-color: #d34f27;
    @media(max-width: 544px) {
        width: 52px;
        padding: 0 0 0 52px;

        background-position: center center;
    }
}

.purchase-item__price {
    display: inline-block;

    box-sizing: border-box;
    width: 110px;
    padding-left: 30px;
    b {
        font: 18px OpenSans_Semibold;
    }
}

// Accessories block
.accessories{


    &__heading{
        font: 18px OpenSans_Light;
        color: #151515;

        strong{
            font-family: OpenSans_Semibold;
        }
    }

    &__item{ // блок с содержимым (сумки, аккумуляторы и т.д)
        
        @media(min-width: 768px) {
            display: block;
        }
    }
}
// Additional blocks

.additional-blocks{

    &__heading{
        margin:15px 0 20px;
        font: 18px OpenSans_Semibold;
        color: #151515;
        @media (min-width: 768px) {
            font-size: 20px;
        }
        @media (min-width: 994px) {
            margin-bottom: 35px;
        }
    }
}
// Similar products block
.similar-products-block {

    width: 100%;
    height: auto;

    padding-bottom: 15px;
    border-bottom: 1px solid #e2e2e2;

    .owl-stage-outer{
        margin-bottom: 0;
        border: 0;
    }
    .owl-item img{
        display: inline-block;
        max-width: 100%;
        width: auto;
    }
}
.similar-product {
    // float: left;
    // width: 240px;
    padding-left: 2%;
    padding-bottom: 32px;
    @media (min-width: 544px){
        padding-left: 25px;
    }
    &__inner {
        padding-right: 2%;
        @media (min-width: 544px){
            padding-right: 25px;

            border-right: 1px solid #e2e2e2;
        }
    }
    &__photo {
        font-size: 0;
        line-height: 130px;

        width: 45%;
        height: 130px;
        margin-right: 10px;
        float: left;

        text-align: center;
            
        @media (min-width: 544px) {
            width: 100%;
            height: 165px;
            margin: 0;
            margin-bottom: 15px;

            line-height: 165px;
            float: none;   
        }

        img {
            max-width: 100%;
            max-height: 100%;

            vertical-align: middle;
        }

        img:hover{
            opacity: 0.9;
        }
    }
    &__product-status {
        display: none;
        @media(min-width: 544px) {
            height: 30px;
            display: block;
        }
        
    }
    &__heading {
        font: 15px/21px OpenSans, sans-serif;
        margin: 0 0 15px;
        overflow: hidden;

        height: 130px;
        @media(min-width: 544px) {
            height: 85px;
        }

        a {
            color: #151515;
        }

        a:hover{
            text-decoration: none;
            color: #10567a;
        }

    }
    &__price {
       
        display: inline-block;
        margin-right: 20px;
        width: 100px;
        vertical-align: middle;

        & > span{
            display: block;
        }


        @media (min-width: 544px) {
            display: block;
            margin: 0;
            margin-bottom: 10px;
            height: 30px;
            width: auto;

            & > span{
                display: inline-block;
            }
        }
    }

    &__buy{
        display: inline-block;
        vertical-align: middle;

        @media (min-width: 544px) {
            display: block;
        }
    }

    &__wishlist{
        display: inline-block;
        text-indent: -9999px;
        height: 35px;
        width: 35px;

        @media (min-width: 994px) {
            text-indent: 0;
            width: auto;
        }
    }

    &__btn{
        margin-right: 5px;
        padding-left: 45px;
        color: #fff;
        text-decoration: none;
        @media (min-width: 0) and (max-width: 544px) {
            width: 52px;
            background-position: center center;
            box-sizing: border-box;
            text-indent: -9999px;
            padding: 0;
        }

        @media (min-width: 994px) {
            margin: 0;
            margin-bottom: 10px;
        }

         &:hover{
            color: #fff;
            text-decoration: none;
        }
    }

    &__btn--buy{
        
        background: #d34f27 url("images/svg/Cart-button-white.svg") no-repeat 12px 50%;
        padding: 0 16px 0 17px;
        background-size: 24px;

        &:hover{
            background-color: #c03911;
        }

        @media (min-width: 544px) {
            background: #d34f27;
        }
    }

    &__btn--incart{
        background: #76972a url(images/svg/Cart-check-white.svg) no-repeat 12px 50%;
        background-size: 24px;

        &:hover{
            background-color: #6c8c23;
        }
    }
}

.product-status{
    font: 15px OpenSans, sans-serif;
    text-decoration: none;

    &--new{
        color: #008739;
        margin-right: 15px; 
    }

    &--top{
        color: #da7600;
        margin-right: 15px;
    }

    &--discount{
        font: 18px OpenSans_Bold, sans-serif;
        color: #f01834;
    }
}
.product-price--current {
    font: 18px OpenSans_SemiBold;

    color: #151515;
}
.product-price--new{
    color: #ce1e36;
    font: 20px OpenSans_Bold;
    margin-right: 20px;
}

.product-price--old{
    color: #777;
    font: 13px OpenSans;
    text-decoration: line-through;
}

.product-price__text--small{
    font-size: .75em;
}