.promo-content__title {
	font-size: 18px;

	@media (min-width: $desktop-min) {
		font-size: 20px;
		margin-bottom: 11px;
	}
}

.promo-description {
	margin-bottom: 11px;

	@media (min-width: $tablet-min) {
		margin-bottom: 10px;
	}
	@media (min-width: $desktop-min) {
		margin-bottom: 20px;
	}

	p {
		font-size: 15px;
		line-height: 22px;
		color: $text-grey;
		max-width: 500px;

		@media (min-width: $desktop-min) {
			// width: 22%;
			float: left;
		}

	}

	&__image {
		float: left;
		margin-right: 21px;
		margin-bottom: 13px;

		@media (min-width: $tablet-min) {
			margin-bottom: 8px;
		}
		@media (max-width: $tablet-max) {
			width: 100%;
			max-width: 500px;
		}

		@media (min-width: $desktop-min) {
			margin-right: 31px;
		}

		& img {
			width: 100%;
		}
	}

	&__counter {
		float: left;
		width: 100%;
		margin-bottom: 8px;

		& div.sales-item__description {
			margin-top: -6px;
			margin-bottom: 1px;

			@media (min-width: $tablet-min) {
				margin-bottom: 0;
			}
		}

		@media (min-width: $tablet-min) {
			width: 29%;
		}

		@media (min-width: $desktop-min) {
			width: 22%;
			margin-bottom: 63px;
		}
	}

	&__text {
		float: left;
		width: 40%;

		@media (min-width: $tablet-min) {
			width: 100%;
			float: none;
		}
	}

	@media (min-width: $tablet-min) {
		& p {
			line-height: 22px;
			margin-bottom: 8px;
		}
	}
}

.promo-products {
	
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 34px;

	&__header {
		@media (min-width: $desktop-min) {
			border-bottom: 1px solid #eaeaea;
			padding-bottom: 2px;
		}
		
		&-tabs {
			display: inline-block;
		}

		&-tab-products {
			float: left;
			font-size: 22px;
			font-family: Arial;
			margin-bottom: 0;
			margin-right: 24px;
		}
	
		&-tab-info {
			@media (min-width: $tablet-min) {
				float: left;
				display: block;
				border-bottom: 1px dashed #acbed8;
				font-size: 18px;
				font-family: Arial;
				line-height: 13px;
				padding-top: 12px;
			}
		}
		&-share {
			@media (min-width: $tablet-min) {
				display: block;
				float: right;
				margin-right: 5px;
				padding-top: 6px;
				font-size: 13px;

				span {
					line-height: 20px;
					vertical-align: top;
				}
			}

			@media (min-width: $desktop-min) {
				margin-right: 3%;

				span {
					line-height: 20px;
					vertical-align: top;
				}
			}

			&-icon {
				display: inline-block;
				height: 20px;
				width: 25px;
				margin-left: 8px;
				cursor: pointer;

				&:nth-child(2) {
					margin-left: 8px;

					@media (min-width: $desktop-min) {
						margin-left: 15px;
					}
				}

				@media (min-width: $desktop-min) {
					margin-left: 7px;
				}
			}
		}
	}

	&__items {
		clear: both;

		@media (min-width: $desktop-min) {
			margin-bottom: 40px;
			border-bottom: 1px solid #eaeaea;
		}

		& .category-product {
			@media (min-width: 920px) {
				width: 33.333%;

				&:nth-child(2n) .category-product__inner {
					border-right-color: #eaeaea;
				}
			}
			@media (min-width: $desktop-min) {
				width: 25%;

				&:nth-child(3n) .category-product__inner {
					border-right-color: #eaeaea;
				}
			}
		}
	}
}

.share-icon {
	&__mail {
		background: url('images/svg/share-send.svg') no-repeat 7px 2px;

		&:hover {
			background-image: url('images/svg/share-send-hov.svg');
		}

		@media (min-width: $desktop-min) {
			background-position: 0 2px;
		}
	}

	&__fb {
		width: 20px;
		background: url('images/svg/facebook.svg') no-repeat 7px 2px;

		&:hover {
			background-image: url('images/svg/facebook-hov.svg');
		}

		@media (min-width: $desktop-min) {
			background-position: 1px 2px;
		}
	}
	&__vk {
		width: 30px;
		background: url('images/svg/vk.svg') no-repeat 0px 4px;

		&:hover {
			background-image: url('images/svg/vk-hov.svg');
		}
	}
	&__tw {
		background: url('images/svg/twitter.svg') no-repeat 0 4px;

		&:hover {
			background-image: url('images/svg/twitter-hov.svg');
		}

		@media (min-width: $desktop-min) {
			background-position: -2px 4px;
		}
	}
	&__g {
		background: url('images/svg/Google.svg') no-repeat 1px 4px;

		&:hover {
			background-image: url('images/svg/Google-hov.svg');
		}
	}
}

.promo-details {

	&__more-info {
		clear: both;
		padding-bottom: 17px;
		margin-bottom: 36px; 
		border-bottom: 1px solid #eaeaea;

		@media (min-width: $tablet-min) {
			padding-bottom: 29px;
			margin-bottom: 39px;
		}

		&-title {
			font-size: 16px;
			margin-bottom: 10px;
		}

		& p {
			font-size: 15px;
			line-height: 24px;
			margin-bottom: 10px;
		}
	}

	&__special-conditions {
		color: $text-grey;
	}
}
// .sales-item__description {
// 	margin-bottom: 10px;

// 	@media (min-width: $tablet-min) {
// 		margin-bottom: 0;
// 	}
// }



.promo-pager {
	margin-bottom: 67px;
}


// More special offers
.promo-extra {
	clear: both;

	@media (min-width: $tablet-min) {
		& .sales-item__info {
			display: none;
		}
	}

	@media (min-width: $desktop-min) {
		width: 50%;
		margin: 0 auto;
		padding-left: 4.55%;
		
		& .sales-item {
			margin-bottom: 23px;

			&__image {
				margin-right: 26px;
			}

			&__counter {
				margin-right: 0;			
			}
		}
	}
}

// Styles for timer
.sale-timer {
	padding-left: 17px;
	margin-top: -7px;
	margin-bottom:23px;
	width: 51.5%;
	float: left;

	@media (min-width: $tablet-min) {
		width: 100%;
	}

}
.countdown {
	&-item {
		float: left;
		width: 61px;
		position: relative;

		&:first-child {
			width: 41px;
		}
	}

	&-time {
		font-size: 36px;
	
		&__day {
			font-family: $main-font-bold;
		}

		&__min {
			margin-left: -20px;
		}
	}

	&-label {
		position: absolute;
		width: 80px;
		bottom: -9px;
		left: -4px;
		display: inline-block;
		font-size: 13px;
		color: $text-grey;
	}

	&-hour > &-label{
		margin-left: 6px;
	}
}
.promo-gift {
	& .sale-timer, .countdown-label {
		color: #d9450a;
	}
}


.category-product__gift {
	position: absolute;
	top: 104px;
	right: 29px;
	border: 1px solid #d34f27;
	border-radius: 3px;
	background: #fff;
	width: 80px;
	height: 110px;
	padding: 0 7px;
	box-sizing: border-box;
	text-align: center;
	font-size: 13px;
	color: #d34f27;
	overflow: hidden;

	@media (min-width: $tablet-min) {
		top: 93px;
		right: 16px;
	}

	@media (min-width: $desktop-min) {
		top: 111px;
		right: 18px;
	}

	&-title {
		margin-bottom: 5px;
	}

	&-image {
		display: block;
		width: 100%;
		height: 40px;
		line-height: 40px;
		cursor: pointer;
		margin: 0 auto 11px;
		
		& img {
			max-width: 100%;
			max-height: 100%;
			vertical-align: middle;
		}
	}

	&-name {
		display: inline-block;
		font-size: 10px;
		line-height: 14px;
		color: $link-color;
		cursor: pointer;
		max-width: 100%;
		
	}
}

@media (min-width: $desktop-min) {
	.promo-products__items .category-product:hover {
		& .category-product__gift {
			top: 114px;
			right: 21px;
		}
	}
}

.promo-extra-timer {
	padding-left: 0;

	& .countdown-hour, .countdown-min {
		display: none;
	}

	& .countdown-label {
		left: -13px;
		color: #151515;
	}
}
.promo-extra .promo-extra-timer {
	color: #151515;
}