.search-page-header {
	margin-bottom: 15px;

	@media (min-width: 994px) {
		margin-bottom: 21px;
		border-bottom: 1px solid #e1e1e1;
		padding-bottom: 10px;

		.filter-link {
			margin-bottom: 0;
		}
	}

	@media (min-width: 1235px) {
		width: 852px;
		float: right;
	}

	&__left {
		font-size: 15px;
		padding-left: 30px;
		padding-top: 6px;
		background: url(images/main-header-spritesheet.png) no-repeat -10px -391px;
		margin-bottom: 18px;
		@media (min-width: 768px) {
			
		}
		@media (min-width: 994px) {
			float: left;
			margin-bottom: 0;
			max-width: 700px;
			width: 700px;
		}

		@media (min-width: 1235px) {
			max-width: 855px;
			width: 530px;
		}

	}

	&__right {
		@media (min-width: 994px) {
			float: right;
			padding-top: 32px;

			.product-sort-simple > li {
				line-height: 25px;
			}

			.category-sort-form {
				width: 199px;
			}

			.catalog-view-changer {
				margin: 0;
			}
		}
	}
}

.search-page-title {
	// font-size: 20px;
	margin-bottom: -2px;
}
.search-results-qty {
	font-family: $main-font-light;
	// line-height: 30px;
}
.search-query {
	display: inline-block;
	background-color: #f6dd85;
	font-family: $main-font-semibold;
	padding: 0 8px 0 10px;
	height: 24px;
	line-height: 21px;
}

.search-results {
	margin-bottom: 35px;

	& > :last-child {
		margin-bottom: 0;
	}
	@media (max-width: 543px) {
		&__products {
			.category-product {
				&:first-child {
					margin-top: 0;
				}
			}
		}
	}

	@media (min-width: 768px) {
		margin-bottom: 40px;
	}

	@media (min-width: 994px) {
		margin-bottom: 50px;
		&__products {
			position: relative;
			top: -33px;
			background-color: transparent;
			margin-bottom: 7px;
		}

		&__products.category-content__products--list {
			top: 0;
			margin-bottom: 40px;
		}
	}
}
.search-sidebar__category-menu {
	padding-bottom: 8px;
	border-bottom: 1px solid #dfdfdf;
	background-color: #fff;

	.category-menu {
		border: 0;
		margin-bottom: 0;
		position: static;
		display: block;
		box-shadow: none;

	}

	.subcategory {
		font-family: $main-font-bold;
		// &:hover {
		// 	color: #346cab;
		// }

		// &.opened {
		// 	color: #346cab;
		// }
	}
	
}

.found-items-amount {
	font: 0.86666em $main-font;
	color: $text-grey;
	margin-left: 6px;

	&:hover {
		text-decoration: none;
	}
}