doctype html
html(lang="ru")
	head
		block title
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/assets/owl.carousel.min.css")
		link(rel="stylesheet" href="dist/normalize.css")
		link(rel="stylesheet" href="dist/template_styles.css")
		
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="dist/js/vendor/owl.carousel.js")
		script(src="dist/js/vendor/modernizr-2.8.3.min.js")
	
		// main script
		script(src="dist/js/base/all.js")
		script(src="dist/js/pages/404.js")

	body
		// ШАПКА
		include includes/header.pug
		// Конец шапки сайта
		// ОСНОВНОЕ МЕНЮ
		.container
			.home-top-left
				nav.main-nav.main-nav-home
					// класс main-nav-home  - только для главной страницы
					//- j-menu-item - для работы скрипта
					.main-nav__mobile-links
						.main-nav__item
							.main-nav-link.main-nav-link--wsub
								a(href="#") Покупателю
								.main-nav-link__btn <i></i><i></i>
							.main-nav-submenu.main-nav-submenu--l1
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Акции
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Скидки
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link.main-nav-link--wsub
										a(href="#") Дисконтная программа
										
						.main-nav__item
							.main-nav-link
								a(href="#") Доставка и оплата
						.main-nav__item
							.main-nav-link
								a(href="#") Контакты
						.main-nav__item
							.main-nav-link
								a(href="#") О нас

					.main-nav__top-links
						a.main-nav__top-link.main-nav__top-link--discount(href="#") Акции и скидки
						a.main-nav__top-link.main-nav__top-link--new(href="#") Новинки
					// Основная часть меню, которая содержит ссылки на категории
					.main-nav__menu
						.main-nav__item
							.main-nav-link
								a(href="#") Автомобили
								.main-nav-link__btn <i></i><i></i>
							// Фоновое изображение прописывается как свойство дата, чтобы не подгружать картинки на мобильном
							.main-nav-submenu__wrapper(data-bg='dist/images/home-page/auto-menu-bg.jpg')
								.main-nav-submenu.main-nav-submenu--l1
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Багги
											.main-nav-link__btn <i></i><i></i>

										.main-nav-submenu.main-nav-submenu--l3
											h3.main-nav__submenu-heading Тип двигателя
											.main-nav__submenu-content
												.main-nav__link-3l
													a(href="#") ДВС
												.main-nav__link-3l
													a(href="#") Электромотор
											h3.main-nav__submenu-heading Привод
											.main-nav__submenu-content
												.main-nav__link-3l
													a(href="#") 4WD полный
												.main-nav__link-3l
													a(href="#") 2WD задний
											h3.main-nav__submenu-heading Масштаб
											.main-nav__submenu-content
												.main-nav__link-3l
													a(href="#") 1:8
												.main-nav__link-3l
													a(href="#") 1:10
												.main-nav__link-3l
													a(href="#") 1:18
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Трагги
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Монстры
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Шорт-корс
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Краулеры
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Ралли
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Картинг
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Шоссейные (скоростные)
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Шоссейные (для дрифта)
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Трассовые
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Игрушки
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a.media-link.media-top-link(href="#")
												i.media-choice-icon.media-icon
												| Как выбрать
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a.media-link.media-top-link(href="#")
												i.media-review-icon.media-icon
												| Обзоры
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a.media-link.media-top-link(href="#")
												i.media-video-icon.media-icon
												| Видео
								
						.main-nav__item
							.main-nav-link
								a(href="#") Самолеты
								.main-nav-link__btn <i></i><i></i>
							.main-nav-submenu__wrapper
								.main-nav-submenu.main-nav-submenu--l1.j-nav-submenu
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Для FPV и съемки
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") С камерой
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Полный комплект
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Модели планеров
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Реактивные
						.main-nav__item
							.main-nav-link
								a(href="#") Вертолеты
						.main-nav__item
							.main-nav-link
								a(href="#") Квадракоптеры
								.main-nav-link__btn <i></i><i></i>
							// Фоновое изображение прописывается как свойство дата, чтобы не подгружать картинки на мобильном
							.main-nav-submenu__wrapper(data-bg='dist/images/home-page/auto-menu-bg.jpg')
								.main-nav-submenu.main-nav-submenu--l1
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Квадракоптеры
											.main-nav-link__btn <i></i><i></i>

										.main-nav-submenu.main-nav-submenu--l3
											h3.main-nav__submenu-heading Сложность
											.main-nav__submenu-content
												.main-nav__link-3l
													a(href="#") Начинающим
												.main-nav__link-3l
													a(href="#") Профессионалам
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Гексакоптеры
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Октокоптеры
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Для хобби
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") С видеокамерой
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") С подвесом для GoPro или аналогов
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") С FPV системой
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a.media-link.media-top-link(href="#")
												i.media-choice-icon.media-icon
												| Как выбрать
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a.media-link.media-top-link(href="#")
												i.media-review-icon.media-icon
												| Обзоры
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a.media-link.media-top-link(href="#")
												i.media-video-icon.media-icon
												| Видео
						.main-nav__item
							.main-nav-link
								a(href="#") Авиамодели
						.main-nav__item
							.main-nav-link
								a(href="#") Катера и яхты
								.main-nav-link__btn <i></i><i></i>
							// Фоновое изображение прописывается как свойство дата, чтобы не подгружать картинки на мобильном
							.main-nav-submenu__wrapper(data-bg='dist/images/home-page/auto-menu-bg.jpg')
								.main-nav-submenu.main-nav-submenu--l1
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Электрокатера
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Катера для рыбалки
											.main-nav-link__btn <i></i><i></i>
										.main-nav-submenu.main-nav-submenu--l2
											.main-nav-submenu__item
												.main-nav-link.main-nav-submenu__link
													a(href="#") Мини, электро
											.main-nav-submenu__item
												.main-nav-link.main-nav-submenu__link
													a(href="#") С электродвигателем
													.main-nav-link__btn <i></i><i></i>
												.main-nav-submenu.main-nav-submenu--l3
													h3.main-nav__submenu-heading Источник питания
													.main-nav__submenu-content
														.main-nav__link-3l
															a(href="#") На батарейках
														.main-nav__link-3l
															a(href="#") На аккумуляторах
											.main-nav-submenu__item
												.main-nav-link.main-nav-submenu__link
													a(href="#") С двс двигателем
											.main-nav-submenu__item
												.main-nav-link.main-nav-submenu__link
													a(href="#") С бензиновым двигателем
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Подводные лодки
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Модели яхт
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a.media-link.media-top-link(href="#")
												i.media-choice-icon.media-icon
												| Как выбрать
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a.media-link.media-top-link(href="#")
												i.media-review-icon.media-icon
												| Обзоры
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a.media-link.media-top-link(href="#")
												i.media-video-icon.media-icon
												| Видео
						.main-nav__item
							.main-nav-link
								a(href="#") Танки
						.main-nav__item
							.main-nav-link
								a(href="#") Мотоциклы
						.main-nav__item
							.main-nav-link
								a(href="#") Коллекционные
						.main-nav__item
							.main-nav-link
								a(href="#") Стендовые
						.main-nav__item
							.main-nav-link
								a(href="#") Другая техника
						.main-nav__item
							.main-nav-link
								a(href="#") Копмплектующие
								.main-nav-link__btn <i></i><i></i>
							.main-nav-submenu__wrapper(data-bg='dist/images/home-page/auto-menu-bg.jpg')
								.main-nav-submenu.main-nav-submenu--l1
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Фото, видео
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Радиоуправление
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Аккумуляторы
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Зарядные устройства
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Электроника
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Двигатели
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Топливо
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Жидкости
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Запчасти
											.main-nav-link__btn <i></i><i></i>
										.main-nav-submenu.main-nav-submenu--l2
											.main-nav-submenu__item
												.main-nav-link.main-nav-submenu__link
													a(href="#") Инструменты
													.main-nav-link__btn <i></i><i></i>
												.main-nav-submenu.main-nav-submenu--l2
													.main-nav-submenu__item
														.main-nav-link.main-nav-submenu__link
															a(href="#") Отвертки
													.main-nav-submenu__item
														.main-nav-link.main-nav-submenu__link
															a(href="#") Ключи
													.main-nav-submenu__item
														.main-nav-link.main-nav-submenu__link
															a(href="#") Наборы инструментов
											.main-nav-submenu__item
												.main-nav-link.main-nav-submenu__link
													a(href="#") Болты
											.main-nav-submenu__item
												.main-nav-link.main-nav-submenu__link
													a(href="#") Подшипники
											.main-nav-submenu__item
												.main-nav-link.main-nav-submenu__link
													a(href="#") Кабели
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Аксессуары

						.main-nav__item
							.main-nav-link
								a(href="#") Производители
					// Ссылки на медиа контент (.main-nav-home__media-links - класс для главной страницы)
					.main-nav__media-links.main-nav-home__media-links
						.main-nav-link.main-nav-media-link
							a.media-link.media-top-link(href="#")
								i.media-review-icon.media-icon
								| Обзоры
						.main-nav-link.main-nav-media-link
							a.media-link.media-top-link(href="#")
								i.media-article-icon.media-icon
								| Статьи
						.main-nav-link.main-nav-media-link
							a.media-link.media-top-link(href="#")
								i.media-news-icon.media-icon
								| Новости
						.main-nav-link.main-nav-media-link
							a.media-link.media-top-link(href="#")
								i.media-events-icon.media-icon
								| События
						.main-nav-link.main-nav-media-link
							a.media-link.media-top-link(href="#")
								i.media-video-icon.media-icon
								| Видео
			// Конец основного меню
			// ОСНОВНОЙ КОНТЕНТ
			.home-top-right
				section.page404
					h1.page404__type 404
					p.page404__details.
						Извините, запрашиваемая вами страница не найдена.
					p.page404__details.
						Начните поиск  <a href="#" class="page404__details-link">с главной страницы</a> или выберите подходящую категорию.
			.home-middle
				section.viewed
					header.viewed-heading
						h2.home-title.viewed-title Вы смотрели
						a.viewed-delete-link
							span очистить историю
					#owl-viewed-products.popular-products-block.clearfix.owl-carousel
						// .custom-scrollbar  - класс для отображения нижнего скроллбара. HTML код для него генеририуется в home.js
						.product-preview-item
							.product-preview-item__inner
								.product-preview-item__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.product-preview-item__content
									.product-preview-item__product-status
										span.product-status.product-status--new Новинка
										span.category-product__product-comments
											a(href="#") 16
										span(class="product-info__code") Код:&nbsp;HSP-94107Pro
									h3.product-preview-item__heading
										a(href="#") Модель р/у планера VolantexRC FPVRaptor V2 (TW-757-V2) 2000мм 2.4GHz...
									.category-product__price
										span.product-price--new 2600 
											span.product-price__text--small грн
										span.product-price--old 2785 грн
										//- span.product-price--current 13 600 
										//- 	span.product-price__text--small грн
									.category-product__buy
										a.product-btn.category-product__btn.category-product__btn--waiting(href="#") Сообщить о поступлении
										.category-product__product-links
											a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
											a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
											a.category-product__product-link.cp-watch-price-link(href="#", title="следить за ценой")

						.product-preview-item
							.product-preview-item__inner
								.product-preview-item__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.product-preview-item__content
									.product-preview-item__product-status
										span.product-status.product-status--new Новинка
										span.category-product__product-comments
											a(href="#") 16
										span.product-status.product-status--discount -10%
										
									h3.product-preview-item__heading
										a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
									.category-product__price
										// span.product-price--new 2600 
										// 	span.product-price__text--small грн
										// span.product-price--old 2785 грн
										span.product-price--current 13 600 
											span.product-price__text--small грн
									.category-product__buy
										a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
										.category-product__product-links
											a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
											a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

						.product-preview-item
							.product-preview-item__inner
								.product-preview-item__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.product-preview-item__content
									.product-preview-item__product-status
										span.product-status.product-status--top Топ продаж
										span.product-status.product-status--discount -10%
									h3.product-preview-item__heading
										a(href="#") Модель р/у планера VolantexRC FPVRaptor (TW-757) 1600мм 2.4GHz KIT
									.product-preview-item__price
										span.product-price--new 896 
											span.product-price__text--small грн
										span.product-price--old 1024 грн
									.category-product__buy
										a.product-btn.category-product__btn.category-product__btn--buy(href="#") Купить
										.category-product__product-links
											a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
											a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

						.product-preview-item
							.product-preview-item__inner
								.product-preview-item__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.product-preview-item__content
									.product-preview-item__product-status
										span.category-product__product-comments
											a(href="#") 16
										span(class="product-info__code") Код:&nbsp;HSP-94107Pro
										
									h3.product-preview-item__heading
										a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
									.product-preview-item__price
										.product-price.product-price--current 1024 грн
									.category-product__buy
										a.product-btn.category-product__btn.category-product__btn--incart(href="#") В корзине
										.category-product__product-links
											a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
											a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

						.product-preview-item
							.product-preview-item__inner
								.product-preview-item__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.product-preview-item__content
									.product-preview-item__product-status
										span.cp-status.cp-status--available В наличии
										
									h3.product-preview-item__heading
										a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
									.product-preview-item__price
										.product-price.product-price--current 1024 грн
									.category-product__buy
										a.product-btn.category-product__btn.category-product__btn--buy(href="#") Купить
										.category-product__product-links
											a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
											a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

						.product-preview-item
							.product-preview-item__inner
								.product-preview-item__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.product-preview-item__content
									.product-preview-item__product-status
										span.cp-status.cp-status--available В наличии
										
									h3.product-preview-item__heading
										a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
									.category-product__price
										// span.product-price--new 2600 
										// 	span.product-price__text--small грн
										// span.product-price--old 2785 грн
										span.product-price--current 13 600 
											span.product-price__text--small грн
									.category-product__buy
										a.product-btn.category-product__btn.category-product__btn--buy(href="#") Купить
										.category-product__product-links
											a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
											a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")


	
		// ************************************************************************************

		// Начало основного футера сайта
		footer.main-footer
			.container
				.footer-nav-wrapper.clearfix
					.footer-nav.footer-nav--categories
						h2.main-footer__heading Всегда в наличии
						ul.footer-nav__links
							li.footer-nav__link
								a(href="#") Автомобили
							li.footer-nav__link
								a(href="#") Квадракоптеры
							li.footer-nav__link
								a(href="#") Самолеты
							li.footer-nav__link
								a(href="#") Вертолеты
							li.footer-nav__link
								a(href="#") Яхты
							li.footer-nav__link
								a(href="#") Аксессуары
					.footer-nav.footer-nav--info
						h2.main-footer__heading Ваши покупки
						ul.footer-nav__links
							li.footer-nav__link
								a(href="#") Вопросы и ответы
							li.footer-nav__link
								a(href="#") Оплата и доставка
							li.footer-nav__link
								a(href="#") Гарантия
							li.footer-nav__link
								a(href="#") Условия использования сайта
						.footer-payment-methods
							p Принимаем к оплате
							img(src="dist/images/payment-methods.png", alt="методы оплаты виза, мастеркард, приватбанк")
					.footer-nav.footer-nav--site-links
						ul.footer-nav__links
							li.footer-nav__link
								a(href="#") Блог
							li.footer-nav__link
								a(href="#") Новости и события
							li.footer-nav__link
								a(href="#") О компании
							li.footer-nav__link
								a(href="#") Вакансии

				.main-footer__contacts.clearfix
					.footer-contact-info
						h2.main-footer__heading Киев
						.footer-contact-info__schedule
							span.footer-contact-info__icon.footer-contact-info__icon--schedule
							| пн-пт: 9-20, сб: 10-20
						.footer-contact-info__phone
							span.footer-contact-info__icon.footer-contact-info__icon--phone
							| (044) 221-61-00
						a(href="#").callback-link.footer-contact-info__callback перезвонить мне

						.footer-contact-info__country-phone
							p 0 800 218-817
							p.footer-contact-info__desc Бесплатно по Украине

					.footer-contact-info
						h2.main-footer__heading Харьков
						.footer-contact-info__schedule
							span.footer-contact-info__icon.footer-contact-info__icon--schedule
							| пн-пт: 9-20, сб: 10-20
						.footer-contact-info__phone
							span.footer-contact-info__icon.footer-contact-info__icon--phone
							| (057) 755-15-00
						a(href="#").callback-link.footer-contact-info__callback перезвонить мне
				.main-footer__socials
					p Следите за нами в соцсетях
					a(href="#", title="Facebook", target="_blank").footer-socials-link.fb-social-link
					a(href="#", title="Vkontakte", target="_blank").footer-socials-link.vk-social-link
					a(href="#", title="Youtube", target="_blank").footer-socials-link.youtube-social-link


				a(href="#top").footer-up-link
					span.footer-up-link__icon
					| Вверх