extends extends/cabinet-template.pug

block main-content
	main.cabinet-main-content
		include mixins/mixins.pug

		mixin compare-header(title, qty)
			header.compare__header.clearfix
				h3.pagetitle.compare__header-title.cabinet-compare__header-title.fl_l= title
					| 
					span.compare__items-quantity= qty
				.fl_r.compare__header-links
					a(href="#").compare__header-link.mobile-hidden
						i.icon.icon--paper-plane.compare__header-icon
						span Отправить на почту
					a(href="#").compare__header-link
						i.icon.icon--close.compare__header-icon
						span Удалить все
		h2.cabinet-title Избранное
		section.cabinet-products.cabinet-products--carousel
			+compare-header("Ралли", 8)
			.compared-category__items
				.owl-compared-products.products-preview-carousel.clearfix.owl-carousel
					+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 2600, 2785)
					+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'летающее крыло skywalker falcon yf-0908 kit black', 1024)
					+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 56000)
		section.cabinet-products.cabinet-products--carousel
			+compare-header("Комплектующие", 22)
			.compared-category__items
				.owl-compared-products.products-preview-carousel.clearfix.owl-carousel
					+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 2600, 2785)
					+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'летающее крыло skywalker falcon yf-0908 kit black', 1024)
					+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 56000)
		section.cabinet-products.cabinet-products--carousel
			+compare-header("Багги", 3)
			.compared-category__items
				.owl-compared-products.products-preview-carousel.clearfix.owl-carousel
					+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 2600, 2785)

block cabinet-signup
