doctype html
html(lang="ru")
	head
		title Личный кабинет - Как сэкономить
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/assets/owl.carousel.min.css")
		link(rel="stylesheet" href="dist/normalize.css")
		link(rel="stylesheet" href="dist/template_styles.css")
		
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/owl.carousel.min.js")
		script(src="dist/js/vendor/modernizr-2.8.3.min.js")

		script(src="dist/js/base/all.js")
		script(src="dist/js/pages/personal-cabinet.js")

	body
		header.main-header
			.header-top-info
				.container
					a(name="top")
					a.header-logo(href="#", title="Planeta Hobby")
						img(src="dist/images/logo.png", alt="Planeta Hobby", width="120", height="48")
					.header-phone
						span.header-phone__number 0 800 218-817 
						span.header-phone__description  Бесплатно по Украине
						a(href="#").header-phone__callback.callback-link перезвонить мне
					.header-nav
						ul.for-customer
							li.for-customer__btn 
								span Покупателю
								ul.for-customer__menu
									li
										a(href="#") Акции
									li
										a(href="#") Скидки
									li
										a(href="#") Дисконтная программа
						ul.header-nav-links
							li.header-nav-links__item
								a(href="#") Дисконтная программа
							li.header-nav-links__item
								a(href="#") Доставка и оплата
							li.header-nav-links__item
								a(href="#") Контакты
							li.header-nav-links__item.header-nav-links__item--desctop
								a(href="#") Гарантия
							li.header-nav-links__item.header-nav-links__item--desctop
								a(href="#") Сервисный центр

					
					// Корзина, видна только в мобильном виде до 768 пикселей
					a(href="#").mobile-cart-link
						span.header-link-indicator.mobile-cart-link__indicator 12
					a(href="#", title="Войти в личный кабинет", data-popup-target="popupLogin").header-profile-link.popup-open-link
						// span.bb-dashed.not-authorized Войти в личный кабинет
						span.authorized Алексей, 
							i.header-profile-link__discount ваша скидка 3%
					
			.header-stripe
				.container
					// кнопка раскрытия меню, видна только в мобильном и планшетном виде
					button.header-menu-link.active
						i.header-menu-link__icon
						| меню
					// Поиск
					form.header-search
						.container
							input.header-search__input(type="search", placeholder="модель, аксессуар, бренд, код")
							input.header-search__submit(type="submit", value="")
					// персональные ссылки
					.header-personal
						.header-personal__links.clearfix
							a.header-personal__item.active(href="#", data-id="popupWishlist")
								i.header-personal__icon.header-personal__icon--wishlist
									span.header-link-indicator.header-personal__indicator 3
								| Желания
							a.header-personal__item(href="#", data-id="popupCompare")
								i.header-personal__icon.header-personal__icon--compare
									span.header-link-indicator.header-personal__indicator 0
								| Сравнение
							a.header-personal__item(href="#", data-id="popupWatchPrice")
								i.header-personal__icon.header-personal__icon--watch-price
									span.header-link-indicator.header-personal__indicator 0
								| Цены
							a.header-personal__item.active(href="#", data-id="popupWaiting")
								i.header-personal__icon.header-personal__icon--waiting
									span.header-link-indicator.header-personal__indicator 12
								| Ожидание
						.header-personal__popups
							// Попап Ожидания
							.header-popup.header-popup-waiting#popupWaiting
								.header-popup__main.clearfix
									span.header-popup-icon.header-popup-icon--waiting
									.header-popup__text
										h2.header-popup__title Список ожиданий
										p Здесь собраны ожидаемые Вами товары

							// Попап Желания
							.header-popup.header-popup-wishlist#popupWishlist
								.header-popup__main.clearfix
									span.header-popup-icon.header-popup-icon--wishlist
									.header-popup__text
										h2.header-popup__title Список желаний
										p Запомните товар, который вам понравился, добавив его в список желаний.

							// Попап Сравнение
							.header-popup.header-popup-compare#popupCompare
								.header-popup__main.clearfix
									span.header-popup-icon.header-popup-icon--compare
									.header-popup__text
										h2.header-popup__title Сравнение товаров
										p Добавляйте товары, сравнивайте характеристики, чтобы выбрать лучшее!

							// Попап Цены
							.header-popup.header-popup-watch-price#popupWatchPrice
								.header-popup__main.clearfix
									span.header-popup-icon.header-popup-icon--watch-price
									.header-popup__text
										h2.header-popup__title Следить за ценой
										p Следить за ценой понравившегося товара очень просто


					// Иконка для раскрытия формы поиска в мобильном виде
					span.mobile-search-link
					// Корзина
					a(href="#", title="Перейти в корзину").header-cart
						i.header-link-indicator.header-cart__indicator 10
						//span.header-cart__empty Здесь пока ничего нет
						span.header-cart__total 142 458
							i.header-cart__total--text-smaller  грн
		// Конец шапки сайта
		// Хлебные крошки и Основное меню
		.container
			// Хлебные крошки
			section.breadcrumbs
				a(href="#").breadcrumbs-item.breadcrumbs-menu-btn.btn Каталог
				a(href="#").breadcrumbs-item
					span.bb-solid Главная
				a(href="#").breadcrumbs-item
					span.bb-solid Личный кабинет 
				span Как сэкономить
			// Начало основного меню

			nav.main-nav
				.main-nav__mobile-links
					.main-nav__item
						.main-nav-link.main-nav-link--wsub
							a(href="#") Покупателю
							.main-nav-link__btn <i></i><i></i>
						.main-nav-submenu.main-nav-submenu--l1
							.main-nav-submenu__item
								.main-nav-link.main-nav-submenu__link
									a(href="#") Акции
							.main-nav-submenu__item
								.main-nav-link.main-nav-submenu__link
									a(href="#") Скидки
							.main-nav-submenu__item
								.main-nav-link.main-nav-submenu__link.main-nav-link--wsub
									a(href="#") Дисконтная программа
									
					.main-nav__item
						.main-nav-link
							a(href="#") Доставка и оплата
					.main-nav__item
						.main-nav-link
							a(href="#") Контакты
					.main-nav__item
						.main-nav-link
							a(href="#") О нас

				.main-nav__top-links
					a.main-nav__top-link.main-nav__top-link--discount(href="#") Акции и скидки
					a.main-nav__top-link.main-nav__top-link--new(href="#") Новинки
				// Основная часть меню, которая содержит ссылки на категории
				.main-nav__menu
					.main-nav__item
						.main-nav-link
							a(href="#") Автомобили
							.main-nav-link__btn <i></i><i></i>
						// Фоновое изображение прописывается как свойство дата, чтобы не подгружать картинки на мобильном
						.main-nav-submenu__wrapper(data-bg='dist/images/home-page/auto-menu-bg.jpg')
							.main-nav-submenu.main-nav-submenu--l1
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Багги
										.main-nav-link__btn <i></i><i></i>

									.main-nav-submenu.main-nav-submenu--l3
										h3.main-nav__submenu-heading Тип двигателя
										.main-nav__submenu-content
											.main-nav__link-3l
												a(href="#") ДВС
											.main-nav__link-3l
												a(href="#") Электромотор
										h3.main-nav__submenu-heading Привод
										.main-nav__submenu-content
											.main-nav__link-3l
												a(href="#") 4WD полный
											.main-nav__link-3l
												a(href="#") 2WD задний
										h3.main-nav__submenu-heading Масштаб
										.main-nav__submenu-content
											.main-nav__link-3l
												a(href="#") 1:8
											.main-nav__link-3l
												a(href="#") 1:10
											.main-nav__link-3l
												a(href="#") 1:18
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Трагги
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Монстры
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Шорт-корс
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Краулеры
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Ралли
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Картинг
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Шоссейные (скоростные)
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Шоссейные (для дрифта)
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Трассовые
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Игрушки
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a.media-link.media-top-link(href="#")
											i.media-choice-icon.media-icon
											| Как выбрать
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a.media-link.media-top-link(href="#")
											i.media-review-icon.media-icon
											| Обзоры
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a.media-link.media-top-link(href="#")
											i.media-video-icon.media-icon
											| Видео
							
					.main-nav__item
						.main-nav-link
							a(href="#") Самолеты
							.main-nav-link__btn <i></i><i></i>
						.main-nav-submenu__wrapper
							.main-nav-submenu.main-nav-submenu--l1.j-nav-submenu
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Для FPV и съемки
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") С камерой
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Полный комплект
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Модели планеров
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Реактивные
					.main-nav__item
						.main-nav-link
							a(href="#") Вертолеты
					.main-nav__item
						.main-nav-link
							a(href="#") Квадракоптеры
							.main-nav-link__btn <i></i><i></i>
						// Фоновое изображение прописывается как свойство дата, чтобы не подгружать картинки на мобильном
						.main-nav-submenu__wrapper(data-bg='dist/images/home-page/auto-menu-bg.jpg')
							.main-nav-submenu.main-nav-submenu--l1
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Квадракоптеры
										.main-nav-link__btn <i></i><i></i>

									.main-nav-submenu.main-nav-submenu--l3
										h3.main-nav__submenu-heading Сложность
										.main-nav__submenu-content
											.main-nav__link-3l
												a(href="#") Начинающим
											.main-nav__link-3l
												a(href="#") Профессионалам
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Гексакоптеры
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Октокоптеры
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Для хобби
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") С видеокамерой
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") С подвесом для GoPro или аналогов
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") С FPV системой
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a.media-link.media-top-link(href="#")
											i.media-choice-icon.media-icon
											| Как выбрать
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a.media-link.media-top-link(href="#")
											i.media-review-icon.media-icon
											| Обзоры
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a.media-link.media-top-link(href="#")
											i.media-video-icon.media-icon
											| Видео
					.main-nav__item
						.main-nav-link
							a(href="#") Авиамодели
					.main-nav__item
						.main-nav-link
							a(href="#") Катера и яхты
							.main-nav-link__btn <i></i><i></i>
						// Фоновое изображение прописывается как свойство дата, чтобы не подгружать картинки на мобильном
						.main-nav-submenu__wrapper(data-bg='dist/images/home-page/auto-menu-bg.jpg')
							.main-nav-submenu.main-nav-submenu--l1
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Электрокатера
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Катера для рыбалки
										.main-nav-link__btn <i></i><i></i>
									.main-nav-submenu.main-nav-submenu--l2
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Мини, электро
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") С электродвигателем
												.main-nav-link__btn <i></i><i></i>
											.main-nav-submenu.main-nav-submenu--l3
												h3.main-nav__submenu-heading Источник питания
												.main-nav__submenu-content
													.main-nav__link-3l
														a(href="#") На батарейках
													.main-nav__link-3l
														a(href="#") На аккумуляторах
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") С двс двигателем
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") С бензиновым двигателем
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Подводные лодки
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Модели яхт
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a.media-link.media-top-link(href="#")
											i.media-choice-icon.media-icon
											| Как выбрать
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a.media-link.media-top-link(href="#")
											i.media-review-icon.media-icon
											| Обзоры
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a.media-link.media-top-link(href="#")
											i.media-video-icon.media-icon
											| Видео
					.main-nav__item
						.main-nav-link
							a(href="#") Танки
					.main-nav__item
						.main-nav-link
							a(href="#") Мотоциклы
					.main-nav__item
						.main-nav-link
							a(href="#") Коллекционные
					.main-nav__item
						.main-nav-link
							a(href="#") Стендовые
					.main-nav__item
						.main-nav-link
							a(href="#") Другая техника
					.main-nav__item
						.main-nav-link
							a(href="#") Копмплектующие
							.main-nav-link__btn <i></i><i></i>
						.main-nav-submenu__wrapper(data-bg='dist/images/home-page/auto-menu-bg.jpg')
							.main-nav-submenu.main-nav-submenu--l1
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Фото, видео
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Радиоуправление
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Аккумуляторы
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Зарядные устройства
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Электроника
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Двигатели
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Топливо
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Жидкости
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Запчасти
										.main-nav-link__btn <i></i><i></i>
									.main-nav-submenu.main-nav-submenu--l2
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Инструменты
												.main-nav-link__btn <i></i><i></i>
											.main-nav-submenu.main-nav-submenu--l2
												.main-nav-submenu__item
													.main-nav-link.main-nav-submenu__link
														a(href="#") Отвертки
												.main-nav-submenu__item
													.main-nav-link.main-nav-submenu__link
														a(href="#") Ключи
												.main-nav-submenu__item
													.main-nav-link.main-nav-submenu__link
														a(href="#") Наборы инструментов
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Болты
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Подшипники
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Кабели
								.main-nav-submenu__item
									.main-nav-link.main-nav-submenu__link
										a(href="#") Аксессуары

					.main-nav__item
						.main-nav-link
							a(href="#") Производители
				// Ссылки на медиа контент (.main-nav-home__media-links - класс для главной страницы)
				.main-nav__media-links.main-nav-home__media-links
					.main-nav-link.main-nav-media-link
						a.media-link.media-top-link(href="#")
							i.media-review-icon.media-icon
							| Обзоры
					.main-nav-link.main-nav-media-link
						a.media-link.media-top-link(href="#")
							i.media-article-icon.media-icon
							| Статьи
					.main-nav-link.main-nav-media-link
						a.media-link.media-top-link(href="#")
							i.media-news-icon.media-icon
							| Новости
					.main-nav-link.main-nav-media-link
						a.media-link.media-top-link(href="#")
							i.media-events-icon.media-icon
							| События
					.main-nav-link.main-nav-media-link
						a.media-link.media-top-link(href="#")
							i.media-video-icon.media-icon
							| Видео
			// Конец основного меню
		// Контент страницы
		.container.personal-cabinet-content
			// Блок меню личного кабинета
			aside.cabinet-menu-block
				// Кнопка раскрытия меню в мобильном и табличном виде
				.mobile-custom-select.cabinet-menu__custom-select Как сэкономить
				// Меню
				nav.cabinet-menu
					a(href="#").cabinet-menu-link.active
						i.cabinet-menu-link__icon.cabinet-menu-link__icon--save
						| Как сэкономить
					a(href="#").cabinet-menu-link
						i.cabinet-menu-link__icon.cabinet-menu-link__icon--orders
						| Мои заказы
					a(href="#").cabinet-menu-link
						i.cabinet-menu-link__icon.cabinet-menu-link__icon--profile
						| Профиль 
			.cabinet-content-block.clearfix
				// Блок main  - содержимое отличается для разных страниц личного кабинета
				main.cabinet-main-content
					h2.cabinet-title Как сэкономить
					.cabinet-how-save.j-accordion
						.how-save-item
							.how-save-item__title.j-accordion-title.active(tabindex="0")
								| Накопительная система скидок

							.how-save-item__content.j-accordion-content
								p.
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
								p.
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
						.how-save-item
							.how-save-item__title.j-accordion-title(tabindex="0")
								| Правило 10/15%

							.how-save-item__content.j-accordion-content.collapsed
								p.
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.

						.how-save-item
							.how-save-item__title.j-accordion-title(tabindex="0")
								| Акции и специальные предложения

							.how-save-item__content.j-accordion-content.collapsed
								p.
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.

						.how-save-item
							.how-save-item__title.j-accordion-title(tabindex="0")
								| Гарантия низкой цены

							.how-save-item__content.j-accordion-content.collapsed
								p.
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.

						.how-save-item
							.how-save-item__title.j-accordion-title(tabindex="0")
								| Бонусы по партнерской программе

							.how-save-item__content.j-accordion-content.collapsed
								p.
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.




				// Сайдбар личного кабинета (общее)
				aside.cabinet-sidebar
					section.cabinet-extra-info
						.personal-discount-block
							.personal-status
								a(href="#").personal-status__link
									span.bb-solid Статус 
								|  VIP
								i.personal-status-icon.personal-status-icon--vip
							
							.personal-discount-label Алексей, Ваша скидка — 3%
							.personal-discount
								ul.personal-discount-list
									li.active 3%
									li 5%
									li 10%
									li 15%
								.status-bar.discount-status-bar
									.status-bar__progress.status-bar__progress--3
									// for 5%  .status-bar__progress--5
									// for 10% .status-bar__progress--10
									// for 15% .status-bar__progress--15
							.increase-discount
								.increase-discount__title Хотите скидку в 5%?
								a(href="#").increase-discount__link 
									span Докупите еще на 7 450 грн
									i.increase-discount__link-icon
						.personal-manager-block.clearfix
							.personal-manager-block__left
								h3.personal-manager__title Ваш менеджер
								p.personal-manager__info.
									Евгений<br>
									Никитенко
								p.personal-manager__info.
									(067) 234-52-68<br>
									<a mailto="ev@modelistam.com.ua">ev@modelistam.com.ua</a>
								a.chat-btn(href="#") Онлайн чат
							.personal-manager-block__right
								img(src="dist/images/personal-cabinet/photo-manager.jpg").personal-manager__photo
								
						.gift-certificate-block
							.gift-certificate__link
								a(href="#") Подарочные сертификаты
							form.gift-certificate__form(action="/", method="POST")
								select.gift-certificate__select
									option(value="500") 500 грн
									option(value="1000") 1000 грн
									option(value="1500") 1500 грн
								input.gift-certificate__btn.btn(type="submit" value="Купить")



					section.cabinet-signup
						.cabinet-signup__icon
						form.cabinet-signup-form(method="POST", action="/")
							h3.cabinet-signup__title Лучшие предложения
							.cabinet-signup__options
								.cabinet-signup__option
									input.custom-checkbox(type="checkbox", id="suStock")
									label.custom-checkbox__label.cabinet-signup__label(for="suStock")
										span.custom-checkbox__box
										span.cabinet-signup__option-label.cabinet-signup__option-label--stock Акции
								.cabinet-signup__option
									input.custom-checkbox(type="checkbox", id="suDiscount")
									label.custom-checkbox__label.cabinet-signup__label(for="suDiscount")
										span.custom-checkbox__box
										span.cabinet-signup__option-label.cabinet-signup__option-label--discount Скидки
								.cabinet-signup__option
									input.custom-checkbox(type="checkbox", id="suHits")
									label.custom-checkbox__label.cabinet-signup__label(for="suHits")
										span.custom-checkbox__box
										span.cabinet-signup__option-label.cabinet-signup__option-label--hits Хиты
								.cabinet-signup__option
									input.custom-checkbox(type="checkbox", id="suNovelty")
									label.custom-checkbox__label.cabinet-signup__label(for="suNovelty")
										span.custom-checkbox__box
										span.cabinet-signup__option-label.cabinet-signup__option-label--novelty Новинки
								.cabinet-signup__option
									input.custom-checkbox(type="checkbox", id="suOverviews")
									label.custom-checkbox__label.cabinet-signup__label(for="suOverviews")
										span.custom-checkbox__box
										span.cabinet-signup__option-label.cabinet-signup__option-label--overviews Обзоры
							input.btn.cabinet-signup__btn(type="submit", value="Следить за лучшими предложениями")

							p.cabinet-signup__legend.
								Без спама.<br>
								Отписка в любое время


		// Все попапы
		.popup-outer
			section.popup-b.popup-login#popupLogin
				header
					h2.popup-login__title Вход
					a(href="#").popup-login__reg-link Регистрация
				form(action="/", method="POST", name="login").login-form
					
					label(for="email").login-form__label E-mail
					input(type="email", required).login-form__input.form-control
					
					label(for="email").login-form__label Пароль
					input(type="password", required).login-form__input.form-control

					.form-group
						input(type="checkbox", id="forgotPassword").custom-checkbox
						label(for="forgotPassword").custom-checkbox__label.login-form__label
							span.custom-checkbox__box.login-form__checkbox-box 
							|  Запомнить меня
					.form-group
						.login-form__invalid-data Неправильный логин или пароль
						input(type="submit", value="Войти").btn.login-form__btn
						a(href="#").login-form__reminder-link Забыли пароль?
				.social-login
					h2.social-login__title Вход через социальные сети
					ul.social-login__links.clearfix
						li.social-login__link.social-login__link--fb
							a(href="#", title="facebook")
						li.social-login__link.social-login__link--vk
							a(href="#", title="vkontakte")
						li.social-login__link.social-login__link--gp
							a(href="#", title="google plus")

				a.popup-b__close(href="#")
		// Начало основного футера сайта
		footer.main-footer
			.container
				.footer-nav-wrapper.clearfix
					.footer-nav.footer-nav--categories
						h2.main-footer__heading Всегда в наличии
						ul.footer-nav__links
							li.footer-nav__link
								a(href="#") Автомобили
							li.footer-nav__link
								a(href="#") Квадракоптеры
							li.footer-nav__link
								a(href="#") Самолеты
							li.footer-nav__link
								a(href="#") Вертолеты
							li.footer-nav__link
								a(href="#") Яхты
							li.footer-nav__link
								a(href="#") Аксессуары
					.footer-nav.footer-nav--info
						h2.main-footer__heading Ваши покупки
						ul.footer-nav__links
							li.footer-nav__link
								a(href="#") Вопросы и ответы 
							li.footer-nav__link
								a(href="#") Оплата и доставка 
							li.footer-nav__link
								a(href="#") Гарантия
							li.footer-nav__link
								a(href="#") Условия использования сайта
						.footer-payment-methods
							p Принимаем к оплате
							img(src="dist/images/payment-methods.png", alt="методы оплаты виза, мастеркард, приватбанк")
					.footer-nav.footer-nav--site-links
						ul.footer-nav__links
							li.footer-nav__link
								a(href="#") Блог
							li.footer-nav__link
								a(href="#") Новости и события 
							li.footer-nav__link
								a(href="#") О компании 
							li.footer-nav__link
								a(href="#") Вакансии 

				.main-footer__contacts.clearfix
					.footer-contact-info
						h2.main-footer__heading Киев
						.footer-contact-info__schedule
							span.footer-contact-info__icon.footer-contact-info__icon--schedule
							| пн-пт: 9-20, сб: 10-20
						.footer-contact-info__phone
							span.footer-contact-info__icon.footer-contact-info__icon--phone
							| (044) 221-61-00
						a(href="#").callback-link.footer-contact-info__callback перезвонить мне

						.footer-contact-info__country-phone
							p 0 800 218-817
							p.footer-contact-info__desc Бесплатно по Украине

					.footer-contact-info
						h2.main-footer__heading Харьков
						.footer-contact-info__schedule
							span.footer-contact-info__icon.footer-contact-info__icon--schedule
							| пн-пт: 9-20, сб: 10-20
						.footer-contact-info__phone
							span.footer-contact-info__icon.footer-contact-info__icon--phone
							| (057) 755-15-00
						a(href="#").callback-link.footer-contact-info__callback перезвонить мне
				.main-footer__socials
					p Следите за нами в соцсетях
					a(href="#", title="Facebook", target="_blank").footer-socials-link.fb-social-link
					a(href="#", title="Vkontakte", target="_blank").footer-socials-link.vk-social-link
					a(href="#", title="Youtube", target="_blank").footer-socials-link.youtube-social-link


				a(href="#top").footer-up-link
					span.footer-up-link__icon
					| Вверх