doctype html
html(lang="ru")
	head
		title Личный кабинет - Сравнение
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		//- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/assets/owl.carousel.min.css")
		link(rel="stylesheet" href="dist/normalize.css")
		link(rel="stylesheet" href="dist/template_styles.css")
		
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="dist/js/vendor/owl.carousel.js")
		script(src="dist/js/vendor/modernizr-2.8.3.min.js")
	
		// main script
		script(src="dist/js/base/all.js")
		script(src="dist/js/pages/personal-cabinet.js")

	body
		include includes/header.pug
		
		.container
			// ХЛЕБНЫЕ КРОШКИ
			section.breadcrumbs
				a(href="#").breadcrumbs-item.breadcrumbs-menu-btn.btn Каталог
				a(href="#").breadcrumbs-item
					span.bb-solid Главная
				span Сравнение
			include includes/main-nav.pug


				// контент страницы
		.container.personal-cabinet-content
			// блок меню личного кабинета
			aside.cabinet-menu-block
				// кнопка раскрытия меню в мобильном и табличном виде
				.mobile-custom-select.cabinet-menu__custom-select как сэкономить
				// меню
				nav.cabinet-menu
					a(href="#").cabinet-menu-link
						i.cabinet-menu-link__icon.cabinet-menu-link__icon--save
						| как сэкономить
					a(href="#").cabinet-menu-link
						i.cabinet-menu-link__icon.cabinet-menu-link__icon--orders
						| мои заказы
					a(href="#").cabinet-menu-link.active
						i.cabinet-menu-link__icon.cabinet-menu-link__icon--compare
						| сравнение 
					a(href="#").cabinet-menu-link
						i.cabinet-menu-link__icon.cabinet-menu-link__icon--profile
						| профиль 
			.cabinet-content-block.clearfix
				// блок main  - содержимое отличается для разных страниц личного кабинета
				main.cabinet-main-content
					include mixins/mixins.pug

					mixin compare-header(title, qty)
						header.compare__header.clearfix
							h3.pagetitle.compare__header-title.cabinet-compare__header-title.fl_l= title
								| 
								span.compare__items-quantity= qty
							.fl_r.compare__header-links
								a(href="#").compare__header-link.mobile-hidden
									i.icon.icon--paper-plane.compare__header-icon
									span Отправить на почту
								a(href="#").compare__header-link
									i.icon.icon--close.compare__header-icon
									span Удалить все
					h2.cabinet-title.compare-cabinet-title Сравнение
					section.compared-category
						+compare-header("Ралли", 8)
						.compared-category__items
							.owl-compared-products.popular-products-block.clearfix.owl-carousel
								+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 2600, 2785)
								+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'летающее крыло skywalker falcon yf-0908 kit black', 1024)
								+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 56000)
						a(href="#").more-link.compared-category__more-link
							span Перейти к сравнению
					section.compared-category
						+compare-header("Комплектующие", 22)
						.compared-category__items
							.owl-compared-products.popular-products-block.clearfix.owl-carousel
								+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 2600, 2785)
								+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'летающее крыло skywalker falcon yf-0908 kit black', 1024)
								+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 56000)
						a(href="#").more-link.compared-category__more-link
							span Перейти к сравнению
					section.compared-category
						+compare-header("Багги", 3)
						.compared-category__items
							.owl-compared-products.popular-products-block.clearfix.owl-carousel
								+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 2600, 2785)
								+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'летающее крыло skywalker falcon yf-0908 kit black', 1024)
								+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 56000)
						a(href="#").more-link.compared-category__more-link
							span Перейти к сравнению

							
				// Сайдбар личного кабинета (общее)
				aside.cabinet-sidebar
					section.cabinet-extra-info
						.personal-discount-block
							.personal-status
								a(href="#").personal-status__link
									span.bb-solid Статус 
								|  VIP
								i.personal-status-icon.personal-status-icon--vip
							
							.personal-discount-label Алексей, Ваша скидка — 3%
							.personal-discount
								ul.personal-discount-list
									li.active 3%
									li 5%
									li 10%
									li 15%
								.status-bar.discount-status-bar
									.status-bar__progress.status-bar__progress--3
									// for 5%  .status-bar__progress--5
									// for 10% .status-bar__progress--10
									// for 15% .status-bar__progress--15
							.increase-discount
								.increase-discount__title Хотите скидку в 5%?
								a(href="#").increase-discount__link 
									span Докупите еще на 7 450 грн
									i.increase-discount__link-icon
						.personal-manager-block.clearfix
							.personal-manager-block__left
								h3.personal-manager__title Ваш менеджер
								p.personal-manager__info.
									Евгений<br>
									Никитенко
								p.personal-manager__info.
									(067) 234-52-68<br>
									<a mailto="ev@modelistam.com.ua">ev@modelistam.com.ua</a>
								a.chat-btn(href="#") Онлайн чат
							.personal-manager-block__right
								img(src="dist/images/personal-cabinet/photo-manager.jpg").personal-manager__photo
								
						.gift-certificate-block
							.gift-certificate__link
								a(href="#") Подарочные сертификаты
							form.gift-certificate__form(action="/", method="POST")
								select.gift-certificate__select
									option(value="500") 500 грн
									option(value="1000") 1000 грн
									option(value="1500") 1500 грн
								input.gift-certificate__btn.btn(type="submit" value="Купить")



					section.cabinet-signup
						.cabinet-signup__icon
						form.cabinet-signup-form(method="POST", action="/")
							h3.cabinet-signup__title Лучшие предложения
							.cabinet-signup__options
								.cabinet-signup__option
									input.custom-checkbox(type="checkbox", id="suStock")
									label.custom-checkbox__label.cabinet-signup__label(for="suStock")
										span.custom-checkbox__box
										span.cabinet-signup__option-label.cabinet-signup__option-label--stock Акции
								.cabinet-signup__option
									input.custom-checkbox(type="checkbox", id="suDiscount")
									label.custom-checkbox__label.cabinet-signup__label(for="suDiscount")
										span.custom-checkbox__box
										span.cabinet-signup__option-label.cabinet-signup__option-label--discount Скидки
								.cabinet-signup__option
									input.custom-checkbox(type="checkbox", id="suHits")
									label.custom-checkbox__label.cabinet-signup__label(for="suHits")
										span.custom-checkbox__box
										span.cabinet-signup__option-label.cabinet-signup__option-label--hits Хиты
								.cabinet-signup__option
									input.custom-checkbox(type="checkbox", id="suNovelty")
									label.custom-checkbox__label.cabinet-signup__label(for="suNovelty")
										span.custom-checkbox__box
										span.cabinet-signup__option-label.cabinet-signup__option-label--novelty Новинки
								.cabinet-signup__option
									input.custom-checkbox(type="checkbox", id="suOverviews")
									label.custom-checkbox__label.cabinet-signup__label(for="suOverviews")
										span.custom-checkbox__box
										span.cabinet-signup__option-label.cabinet-signup__option-label--overviews Обзоры
							input.btn.cabinet-signup__btn(type="submit", value="Следить за лучшими предложениями")

							p.cabinet-signup__legend.
								Без спама.<br>
								Отписка в любое время
		.prefooter
			// signup block
			.container
				.h-signup
					p.h-signup__heading Получайте только акции и важные новости
					form.h-signup__form
						input.h-signup__email-input(type="email", placeholder="Эл. почта для рассылки", required)
						input.h-signup__submit(type="submit", value="Держите в курсе")
					p.h-signup__form-caption 1 раз в неделю. Без спама
		include includes/footer.pug
	