extends ./cart-constructor.jade

block order-block

	// ************************************************
	// Начало блока с формой заказа

	.order-block__left#orderBlock

		// start of old-buyer or logged in buyer
		.old-buyer-return
			form.order-form(method="post" action="" id="orderFormOld")
				.order-form__separator
					
					.buyer-info
						span.buyer-info__item Алексей
						span.buyer-info__item +38 067 777-77-77
						span.buyer-info__item alexey@mysite.com

					a.contentToggleLink.cotentToggleLink--nb(href="#") Изменить мои данные
					.change-info
						// Имя
						.form-group
							input.form-control.inp-required(type="text" minlength="3" placeholder="Имя" name="Name" required id="name" value="Алексей")
						// Телефон
						.form-group
							input.inp-required#phone-number.form-control(type="tel" name="Tel" required pattern="0[0-9]{9}|[+]{0,1}38{0,1}[ -]{0,1}0[0-9 -]{9,13}" placeholder="Моб. телефон" title="0хх-ххх-хх-хх,\n0хх ххх хх хх,\n0xxxxxxxxx,\n+38 0хх ххх-хх-хх" value="+38 067 777-77-77")
						// Email
						.form-group
							input.form-control(type="email" placeholder="Эл. почта" data-id="email" pattern=".*@.*[.].*" value="alexey@mysite.com")
				.order-form__separator
					h3.order-form__heading Доставка
					.form-group
						select.custom-select(name="deliveryCompany" data-id="deliveryCompany")
							option(value="new post") Новая Почта
							option(value="ukrpost") Укрпочта
							option(value="courier") Курьером
					
					.buyer-info
						span.buyer-info__item Новая Почта
						span.buyer-info__item Киев
						span.buyer-info__item Склад №9, ул. Голосеевская, 1

					a.contentToggleLink.cotentToggleLink--nb(href="#") Изменить адрес доставки
					.change-info
						.form-group
							select.custom-select(name="city" data-id="city")
								option(value="1") Харьков
								option(value="2") Львов
								option(value="0" selected) Киев
						.form-group
							select.custom-select(name="address" data-id="address")
								option(value="0") Склад №9, ул. Ак. Грушевского 12
								option(value="1" selected) Склад №9, ул. Голосеевская, 1
								option(value="2") Склад №101, ул. Ак. Грушевского 13254
				.order-form__separator
					h3.order-form__heading Оплата
					.buyer-info
						span.buyer-info__item При получении
					a.contentToggleLink.cotentToggleLink--nb(href="#") Выбрать другой способ
					.change-info
						.form-group
							select.custom-select(name="paymentMethod" data-id="paymentMethod")
								option(value="0" selected) При получении
								option(value="1") Безналичный расчет
			
				a.contentToggleLink(href="#") Добавить примечание к заказу
				.order-comment
					.form-group
						textarea.form-control#orderComment(name="orderComment", cols="30", rows="3")

				.form-group.promokod-hint(data-title="Подсказка по промокоду")
						input.form-control.order-form__promokod(type="text" name="promokod" data-id="promokod" placeholder="промо-код (если есть)" title="Введите в поле вромокод, если он у вас есть для получения скидки")
						.promokod-icon
						.promokod-info Это попап окно с информацией по поводу промокода

				.order-form__hidden
					input(type="hidden" value="1" maxlength="7" id="qty_1" name="productQuantity")
					input(type="hidden" value="1" maxlength="7" id="qty_2" name="productQuantity")
					input(type="hidden" value="1" maxlength="7" id="qty_3" name="productQuantity")


				input.btn.btn-cart(type="submit" value="Подтвердить заказ")
