doctype html
html(lang="ru").no-js
	head
		title Корзина
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		link(rel="stylesheet" href="dist/normalize.css")
		link(rel="stylesheet" href="dist/template_styles.css")
		
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="dist/js/vendor/modernizr-2.8.3.min.js")

		script(src="dist/js/base/all.js")
		script(src="dist/js/pages/cart.js")

	body
		.cart-content-wrapper
			header.cart-main-header
				.container
					.cart-main-header__inner
						a.header-logo.cart-main-header__logo(href="#", title="Planeta Hobby")
							img(src="dist/images/logo.png", alt="Planeta Hobby", width="120", height="48")
						.header-phone.cart-main-header__phone
							.cart-main-header__phone-inner
								span.header-phone__number 0 800 218-817 
								span.header-phone__description  Бесплатно по Украине
								a(href="#").header-phone__callback.callback-link перезвонить мне

			// ХЛЕБНЫЕ КРОШКИ
			section.breadcrumbs
				.container
					a(href="#").breadcrumbs-item
						span.bb-solid Главная
					span.breadcrumbs-item Оформление заказа
					span.breadcrumbs-next Заказ оформлен
			main.cart-main
				.container
					h1.cart-page-title Оформление заказа
					// ФОРМА ОФОРМЛЕНИЯ ТОВАРА
					section.order-checkout
							ul.order-checkout-tabs.clearfix(data-js="tabsLinksContainer")
								li.order-checkout-tabs__tab.active(data-target="newBuyer", role="tab", data-js="tablink")
									span Новый покупатель
								li.order-checkout-tabs__tab(data-target="registeredBuyer", role="tab", tabindex="0", data-js="tablink")
									span Покупал(а) раньше
							////////////////////////////////////////////////////
							// ТАБ ДЛЯ НОВОГО ПОЛЬЗОВАТЕЛЯ
							.order-checkout-content.active#newBuyer(data-js="tabcontent")
								form.checkout-form(method="post")
									.checkout-form-group
										input.checkout-form__field.checkout-form__field--half.required(type="text", name="firstName", placeholder="Имя", required, pattern=".{2,}")
										input.checkout-form__field.checkout-form__field--half(type="text", name="lastName", placeholder="Фамилия")
									.checkout-form-group
										input.checkout-form__field.required(type="tel", placeholder="телефон", value="+380", required, pattern=".{9,}")
									.checkout-form-group.checkout-form-group--email
										label.checkout-form__label.checkout-form__label--email(for="email") Получите скидку и личный кабинет:
										input.checkout-form__field#email(type="email", placeholder="email", name="email")
										p.checkout-form__small-caption для информации о статусе заказа
										div.checkout-form__email-signup-checkbox
											input.custom-checkbox(type="checkbox", id="emailSignup")
											label.custom-checkbox__label.checkout-form__checkbox-label(for="emailSignup")
												span.custom-checkbox__box.checkout-form__checkbox-box
												span Подписаться на рассылку <br>
													span.checkout-form__small-caption только полезное: акции, распродажи, новинки&hellip;
									.checkout-form-group
										label.checkout-form__label(for="deliveryOption") Доставка и оплата:
										select.checkout-form__field.checkout-form__field--select.delivery-company-select.delivery-company-select--novaposhta#deliveryOption(name="deliveryOption")
											option(value="newPost") Новая почта
											option(value="intime") Интайм
											option(value="fromStore") Заберу в магазине
											option(value="courer") Доставка курьером
										.checkout-form__delivery-option.active
											.checkout-form-group.checkout-form-group--delivery
												select.checkout-form__field.checkout-form__field--select(name="city")
													option(selected, disabled, value="-1") Выберите город
													option(value="01") Харьков
													option(value="02") Киев
													option(value="03") Одесса
											.checkout-form-group.checkout-form-group--delivery
												select.checkout-form__field.checkout-form__field--select(name="city")
													option(selected, disabled, value="-1") В отделении
													option(value="01") Харьков
													option(value="02") Киев
													option(value="03") Одесса
											.checkout-form-group.checkout-form-group--delivery
												select.checkout-form__field.checkout-form__field--select(name="city")
													option(selected, disabled, value="-1") Выберите отделение
													option(value="01") Харьков
													option(value="02") Киев
													option(value="03") Одесса
									.checkout-form-group
										select.checkout-form__field.checkout-form__field--select(name="city")
											option(selected, disabled, value="-1") Выберите способ оплаты
											option(value="01") Наличными при получении
											option(value="02") На карту
											option(value="03") Банковский перевод
									.checkout-form-group
										.checkout-form-group.checkout-form-group--small-margin
											a.commentToggleLink(href="#") Добавить комментарий к заказу
										.checkout-form-group.checkout-form-group--small-margin.collapsed
											textarea.checkout-form__field.checkout-form__field--textarea(placeholder="Ваш комментарий ...")

									.checkout-form-group.checkout-form-group--small-margin.promokod
										input.checkout-form__field.promokod__field(type="text", placeholder="Промо-код (если есть)", name="promokod")
										a(href="#", data-popup-target="promokodPopup").promokod__icon.icon.popup-open-link
									.checkout-form-group
										input.btn.checkout-form__submit(type="submit", value="Подтвердить заказ")

							////////////////////////////////////////////////////
							// ТАБ ДЛЯ ЗАРЕГИСТРИРОВАННОГО ПОЛЬЗОВАТЕЛЯ
							.order-checkout-content#registeredBuyer(data-js="tabcontent")
								form.checkout-form(method="post")
									.checkout-form-group
										select.checkout-form__field.checkout-form__field--select(name="customerFullName")
													option(value="01", selected) Александра Гавриленкова
													option(value="02") Иван Грозный
													option(value="03") Петр Первый
									.checkout-form-group
										input.checkout-form__field.checkout-form__field--half.required(type="text", name="firstName", placeholder="Имя", required, pattern=".{2,}", value="Александра")
										input.checkout-form__field.checkout-form__field--half.valid(type="text", name="lastName", placeholder="Фамилия", value="Гавриленкова")
									.checkout-form-group
										input.checkout-form__field.required(type="tel", placeholder="телефон", value="+380 97 045 85 78", required, pattern=".{9,}")
									.checkout-form-group.checkout-form-group--small-margin
										input.checkout-form__field.valid(type="email", placeholder="email", name="email", value="alex@gmail.com")
									.checkout-form-group
										label.checkout-form__label(for="deliveryOption") Доставка и оплата:
										select.checkout-form__field.checkout-form__field--select.delivery-company-select.delivery-company-select--intime#deliveryOption(name="deliveryOption")
											option(value="newPost") Новая почта
											option(value="intime", selected) Интайм
											option(value="fromStore") Заберу в магазине
											option(value="courer") Доставка курьером
										.checkout-form__delivery-option.active
											.checkout-form-group.checkout-form-group--small-margin
												select.checkout-form__field.checkout-form__field--select(name="city")
													option(selected, disabled, value="-1") Город
													option(value="01") Харьков
													option(value="02") Киев
													option(value="03", selected) Одесса
											.checkout-form-group.checkout-form-group--small-margin
												select.checkout-form__field.checkout-form__field--select(name="city")
													option(selected, disabled, value="-1") Выберите способ доставки
													option(value="01", selected) Адрессная доставка
													option(value="02") Доставка в отделение											
											.checkout-form-group.checkout-form-group--small-margin
												input.checkout-form__field.checkout-form__field--street.valid(type="text", value="ул. Дерибасовская", placeholder="улица")
												input.checkout-form__field.checkout-form__field--house.valid(type="text", value="125-Б", placeholder="дом")
												input.checkout-form__field.checkout-form__field--apartment.valid(type="text", value="1055", placeholder="кв.")
									.checkout-form-group
										select.checkout-form__field.checkout-form__field--select(name="city")
											option(selected, disabled, value="-1") Выберите способ оплаты
											option(value="01", selected) Оплата при получении
											option(value="02") На карту
											option(value="03") Банковский перевод
									.checkout-form-group
										.checkout-form-group.checkout-form-group--small-margin
											a.commentToggleLink(href="#") Добавить комментарий к заказу
										.checkout-form-group.checkout-form-group--small-margin.collapsed
											textarea.checkout-form__field.checkout-form__field--textarea(placeholder="Ваш комментарий ...")

									.checkout-form-group.checkout-form-group--small-margin.promokod
										input.checkout-form__field.promokod__field(type="text", placeholder="Промо-код (если есть)", name="promokod")
										a(href="#", data-popup-target="promokodPopup").promokod__icon.icon.popup-open-link
									.checkout-form-group
										input.btn.checkout-form__submit(type="submit", value="Подтвердить заказ")

					//////////////////////////////////////////
					// ПРАВЫЙ БЛОК С СОДЕРЖИМЫМ КОРЗИНЫ
					section.cart-content
						header.cart-content-header
							.cart-content-header__text Ваш заказ: 6 товаров на 18 590 грн
							a(href="#").back-to-purchase.cart-content-header__back-link Вернуться к покупкам
						.sale-offer
								b Хотите скидку 3% на следующий заказ? 
								|  Сделайте покупку от 1 000 грн
						///////////////////////////////
						// СОДЕРЖИМОЕ КОРЗИНЫ
						section.cart-content-inner
							//- .popup-bcart__content
							.cart-products-set
								.cart-product-sticker.cart-product-sticker--set Набор

								// 1й товар
								.bcart-product.clearfix
									.bcart-product__img
										a(href="#")
											img(src="dist/images/temporary/big-images/3_b.jpeg", title="product img")
									h2.bcart-product__name
										a(href="#") Катер Joysway 8108 Magic Cat MK2 265 мм 2.4Ghz RTR (JW8108)

									.bcart-product__controls
										span.bcart-product__pprice
											.product-price--old 130 200 грн
											.product-price--current 128 182
												span.product-price__text--small грн
								// 2й товар
								.bcart-product.clearfix
									.bcart-product__img
										a(href="#")
											img(src="dist/images/temporary/cabinet-product-2.jpg", title="product img")
									h2.bcart-product__name
										a(href="#") Катер Joysway 8108 Magic Cat MK2 265 мм 2.4Ghz RTR (JW8108)

									.bcart-product__controls

										span.bcart-product__pprice
											.product-price--old 22 450 грн
											.product-price--current 17 169
												span.product-price__text--small грн
								// 3й товар
								.bcart-product.clearfix
									.bcart-product__img
										a(href="#")
											img(src="dist/images/temporary/big-images/3_b.jpeg", title="product img")
									h2.bcart-product__name
										a(href="#") Катер Joysway 8108 Magic Cat MK2 265 мм 2.4Ghz RTR (JW8108)

									.bcart-product__controls
										span.bcart-product__pprice
											.product-price--old 345 грн
											.product-price--current 256
												span.product-price__text--small грн
								.popup-bcart__set-footer.clearfix
									.bcart-product__controls
										span.u-control.u-control--del(data-target="prod-126")
										span.bcart-product__qty
											input(type="hidden" name="product-qty" id="prod-126" value="1")
											span.bcart-product__qty-label 1
											|  шт
										span.u-control.u-control--add(data-target="prod-126")

										span.bcart-product__pprice
											.product-price--old 135 684 грн
											.product-price--new 125 500
												span.product-price__text--small  грн

								a.bcart-product__delete(href="#")
								// Всплывающий блок редактирования товара
								div.popup-back-wrapper
									.popup-back.popup-bcart__product-back
										.close-popup
											a(href="#" rel="#").come-back
												i
												span Вернуть
										.product-wishlist-block.cart-wishlist-block
											a(href="#" class="top-wishlist-link wishlist-link cart-wishlist")
												i
												span В избранное
										.delete-detail-block
											a(href="#").page-cart__delete_checkbox
												i
												span Удалить
							// 1й товар вне комплекта
							.cart-product.bcart-product.clearfix
								span.cart-product-sticker Под заказ
								a.bcart-product__delete(href="#")
								.bcart-product__img
									a(href="#")
										img(src="dist/images/temporary/big-images/3_b.jpeg", title="product img")
								h2.bcart-product__name
									a(href="#") Самолет Hubsan Spy Hawk H301F 843 мм 2.4 & 5.8GHz с бортовой видеокамерой и системой FPV RTF

								.bcart-product__controls
									span.u-control.u-control--del(data-target="prod-127")
									span.bcart-product__qty
										span.bcart-product__qty-label 1
										|  шт
									span.u-control.u-control--add(data-target="prod-127")

									span.bcart-product__pprice
										span.product-price--current 1182
										|  грн
								// Всплывающий блок редактирования товара
								div.popup-back-wrapper
									.popup-back.popup-bcart__product-back
										.close-popup
											a(href="#" rel="#").come-back
												i
												span Вернуть
										.product-wishlist-block.cart-wishlist-block
											a(href="#" class="top-wishlist-link wishlist-link cart-wishlist")
												i
												span В избранное
										.delete-detail-block
											a(href="#").page-cart__delete_checkbox
												i
												span Удалить
							// 2й товар вне комплекта
							.cart-product.bcart-product.clearfix
								span.cart-product-sticker Предварительный заказ
								a.bcart-product__delete(href="#")
								.bcart-product__img
									a(href="#")
										img(src="dist/images/temporary/big-images/3_b.jpeg", title="product img")
								h2.bcart-product__name
									a(href="#") Самолет Hubsan Spy Hawk H301F 843 мм 2.4 & 5.8GHz с бортовой видеокамерой и системой FPV RTF
								.cart-recomended-goods
									h3.cart-recomended-goods__heading К этому товару подходят:
									ul.cart-recomended-goods__list
										li.cart-recomended-goods__item
											a(href="#") Батарейки
										li.cart-recomended-goods__item
											a(href="#") Аккумуляторы
										li.cart-recomended-goods__item
											a(href="#") Сумки
								.bcart-product__controls
									span.u-control.u-control--del(data-target="prod-127")
									span.bcart-product__qty
										span.bcart-product__qty-label 1
										|  шт
									span.u-control.u-control--add(data-target="prod-127")

									span.bcart-product__pprice
										span.product-price--current 1182
										|  грн

								// Всплывающий блок редактирования товара
								div.popup-back-wrapper
									.popup-back.popup-bcart__product-back
										.close-popup
											a(href="#" rel="#").come-back
												i
												span Вернуть
										.product-wishlist-block.cart-wishlist-block
											a(href="#" class="top-wishlist-link wishlist-link cart-wishlist")
												i
												span В избранное
										.delete-detail-block
											a(href="#").page-cart__delete_checkbox
												i
												span Удалить

						footer.cart-content__footer.cart-content-footer
							.product-total-block.product-total-block--discount
								.cart-content-footer__total.cart-content-footer__total-discount Ваша скидка 3% -745 грн
							.product-total-block
								.cart-content-footer__total Итого: 
									span.current-price 10 957 
										span.price-currency грн

		.popup-outer
			section.popup-b.popup-login#popupLogin
				header
					h2.popup-login__title Вход
					a(href="#").popup-login__reg-link Регистрация
				form(action="/", method="POST", name="login").login-form
					
					label(for="email").login-form__label E-mail
					input(type="email", required, autofocus).login-form__input.form-control
					
					label(for="email").login-form__label Пароль
					input(type="password", required).login-form__input.form-control

					.form-group
						input(type="checkbox", id="forgotPassword").custom-checkbox
						label(for="forgotPassword").custom-checkbox__label.login-form__label
							span.custom-checkbox__box.login-form__checkbox-box 
							|  Запомнить меня
					.form-group
						//- .login-form__invalid-data Неправильный логин или пароль
						input(type="submit", value="Войти").btn.login-form__btn
						a(href="#").login-form__reminder-link Забыли пароль?
				.social-login
					h2.social-login__title Вход через социальные сети
					ul.social-login__links.clearfix
						li.social-login__link.social-login__link--fb
							a(href="#", title="facebook")
						li.social-login__link.social-login__link--vk
							a(href="#", title="vkontakte")
						li.social-login__link.social-login__link--gp
							a(href="#", title="google plus")

				a.popup-b__close(href="#")
			// Промокод
			section.popup-b#promokodPopup
				.popup-b__header
					h2.popup-b__heading Что такое промокод?
				.popup-b__content
					p.
						Промокод дает скидку на товар, который вы приобретаете.
					p.
						Укажите промокод в соответствующем поле и получите скидку.
					a.popup-b__more(href="#") Подробнее
				a.popup-b__close(href="#")
		// ОСНОВНОЙ ФУТЕР КОРЗИНЫ
		footer.cart-main-footer
			.container
				.cart-main-footer__inner
					.header-phone.cart-main-footer__phone
							.cart-main-header__phone-inner
								span.header-phone__number 0 800 218-817 
								span.header-phone__description  Бесплатно по Украине
								a(href="#").header-phone__callback.callback-link перезвонить мне