doctype html
html(lang="ru").no-js
	head
		title Корзина
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		link(rel="stylesheet" href="dist/normalize.css")
		link(rel="stylesheet" href="dist/template_styles.css")
		
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="dist/js/vendor/modernizr-2.8.3.min.js")

		script(src="dist/js/base/all.js")
		script(src="dist/js/pages/cart.js")

	body
		.cart-content-wrapper
			header.cart-main-header
				.container
					.cart-main-header__inner
						a.header-logo.cart-main-header__logo(href="#", title="Planeta Hobby")
							img(src="dist/images/logo.png", alt="Planeta Hobby", width="120", height="48")
						.header-phone.cart-main-header__phone
							.cart-main-header__phone-inner
								span.header-phone__number 0 800 218-817 
								span.header-phone__description  Бесплатно по Украине
								a(href="#").header-phone__callback.callback-link перезвонить мне

			
			// Хлебные крошки
			section.breadcrumbs
				.container
					a(href="#").breadcrumbs-item
						span.bb-solid главная
					span.breadcrumbs-item оформление заказа
					span.breadcrumbs-next заказ оформлен
			main.cart-main
				.container
					h1.page-title Оформление заказа
				
					section.order-checkout
							ul.order-checkout-tabs.clearfix
								li.order-checkout-tabs__tab.active(data-target="newBuyer", role="tab")
									span Новый покупатель
								li.order-checkout-tabs__tab(data-target="registeredBuyer", role="tab", tabindex="0")
									span Покупал(а) раньше
							.order-checkout-content.active#newBuyer
								form.checkout-form(method="post")
									.checkout-form-group
										input.checkout-form__field.checkout-form__field--half.required(type="text", name="firstName", placeholder="Имя", required, pattern=".{2,}")
										input.checkout-form__field.checkout-form__field--half.required(type="text", name="lastName", placeholder="Фамилия")
									.checkout-form-group
										input.checkout-form__field.required(type="tel", placeholder="телефон", value="+380", required, pattern=".{9,}")
									.checkout-form-group.checkout-form-group--email
										label.checkout-form__label.checkout-form__label--email(for="email") Получите скидку и личный кабинет
										input.checkout-form__field#email(type="email", placeholder="email", name="email")
										p для информации о статусе заказа
										div
											input.custom-checkbox(type="checkbox", id="emailSignup")
											label.custom-checkbox__label(for="emailSignup")
												span.custom-checkbox__box
												span Подписаться на рассылку <br>
													small только полезное: акции, распродажи, новинки&hellip;
									.checkout-form-group
										label.checkout-form__label(for="deliveryOption") Доставка и оплата
										select.checkout-form__field.checkout-form__field--select#deliveryOption(name="deliveryOption")
											option(value="newPost") Новая почта
											option(value="intime") Интайм
											option(value="fromStore") Самовывоз
											option(value="courer") Доставка курьером
									.checkout-form-group
										input.checkout-form__field(type="text", placeholder="Промо-код (если есть)")
									.checkout-form-group
										input.btn.checkout-form__submit(type="submit", value="Оформить заказ")
							.order-checkout-content#registeredBuyer
								button.btn.btn--add.popup-open-link(data-popup-target="popupLogin") Авторизация
					section.cart-content
						header.cart-content-header
							.cart-content-header__text Ваш заказ: 6 товаров на 18 590 грн
							a(href="#").back-to-purchase.cart-content-header__back-link Вернуться к покупкам
						.sale-offer
								b Хотите скидку 3% на следующий заказ? 
								|  Сделайте покупку от 1000 грн
						section.cart-content-inner
							//- .popup-bcart__content
							.popup-bcart__set
								.popup-bcart__set-sticker Набор
								// 1й товар
								.bcart-product.clearfix
									.bcart-product__img
										a(href="#")
											img(src="dist/images/temporary/big-images/3_b.jpeg", title="product img")
									h2.bcart-product__name
										a(href="#") Катер Joysway 8108 Magic Cat MK2 265 мм 2.4Ghz RTR (JW8108)

									.bcart-product__controls
										span.bcart-product__pprice
											.product-price--old 130 200 грн
											.product-price--current 128 182
												span.product-price__text--small грн
								// 2й товар
								.bcart-product.clearfix
									.bcart-product__img
										a(href="#")
											img(src="dist/images/temporary/big-images/3_b.jpeg", title="product img")
									h2.bcart-product__name
										a(href="#") Катер Joysway 8108 Magic Cat MK2 265 мм 2.4Ghz RTR (JW8108)

									.bcart-product__controls

										span.bcart-product__pprice
											.product-price--old 22 450 грн
											.product-price--current 17 169
												span.product-price__text--small грн
								// 3й товар
								.bcart-product.clearfix
									.bcart-product__img
										a(href="#")
											img(src="dist/images/temporary/big-images/3_b.jpeg", title="product img")
									h2.bcart-product__name
										a(href="#") Катер Joysway 8108 Magic Cat MK2 265 мм 2.4Ghz RTR (JW8108)

									.bcart-product__controls
										span.bcart-product__pprice
											.product-price--old 345 грн
											.product-price--current 256
												span.product-price__text--small грн
								.popup-bcart__set-footer.clearfix
									.bcart-product__controls
										span.u-control.u-control--del(data-target="prod-126")
										span.bcart-product__qty
											input(type="hidden" name="product-qty" id="prod-126" value="1")
											span.bcart-product__qty-label 1
											|  шт
										span.u-control.u-control--add(data-target="prod-126")

										span.bcart-product__pprice
											.product-price--old 135 684 грн
											.product-price--new 125 500
												span.product-price__text--small  грн

								a.bcart-product__delete(href="#")
								// Всплывающий блок редактирования товара
								div.popup-back-wrapper
									.popup-back.popup-bcart__product-back
										.close-popup
											a(href="#" rel="#").come-back
												i
												span Вернуть
										.product-wishlist-block.cart-wishlist-block
											a(href="#" class="top-wishlist-link wishlist-link cart-wishlist")
												i
												span В избранное
										.delete-detail-block
											a(href="#").page-cart__delete_checkbox
												i
												span Удалить
							// 1й товар вне комплекта
							.bcart-product.clearfix
								span.bcart-product__sticker Под заказ
								a.bcart-product__delete(href="#")
								.bcart-product__img
									a(href="#")
										img(src="dist/images/temporary/big-images/3_b.jpeg", title="product img")
								h2.bcart-product__name
									a(href="#") Самолет Hubsan Spy Hawk H301F 843 мм 2.4 & 5.8GHz с бортовой видеокамерой и системой FPV RTF

								.bcart-product__controls
									span.u-control.u-control--del(data-target="prod-127")
									span.bcart-product__qty
										input(type="hidden" name="product-qty" id="prod-127" value="1")
										span.bcart-product__qty-label 1
										|  шт
									span.u-control.u-control--add(data-target="prod-127")

									span.bcart-product__pprice
										span.product-price--current 1182
										|  грн
								// Всплывающий блок редактирования товара
								div.popup-back-wrapper
									.popup-back.popup-bcart__product-back
										.close-popup
											a(href="#" rel="#").come-back
												i
												span Вернуть
										.product-wishlist-block.cart-wishlist-block
											a(href="#" class="top-wishlist-link wishlist-link cart-wishlist")
												i
												span В избранное
										.delete-detail-block
											a(href="#").page-cart__delete_checkbox
												i
												span Удалить



						footer.cart-content__footer.cart-content-footer
							.product-total-block
								.cart-content-footer__total Итого: 
									span.current-price 10 957 
										span.price-currency грн

		.popup-outer
			section.popup-b.popup-login#popupLogin
				header
					h2.popup-login__title Вход
					a(href="#").popup-login__reg-link Регистрация
				form(action="/", method="POST", name="login").login-form
					
					label(for="email").login-form__label E-mail
					input(type="email", required).login-form__input.form-control
					
					label(for="email").login-form__label Пароль
					input(type="password", required).login-form__input.form-control

					.form-group
						input(type="checkbox", id="forgotPassword").custom-checkbox
						label(for="forgotPassword").custom-checkbox__label.login-form__label
							span.custom-checkbox__box.login-form__checkbox-box 
							|  Запомнить меня
					.form-group
						.login-form__invalid-data Неправильный логин или пароль
						input(type="submit", value="Войти").btn.login-form__btn
						a(href="#").login-form__reminder-link Забыли пароль?
				.social-login
					h2.social-login__title Вход через социальные сети
					ul.social-login__links.clearfix
						li.social-login__link.social-login__link--fb
							a(href="#", title="facebook")
						li.social-login__link.social-login__link--vk
							a(href="#", title="vkontakte")
						li.social-login__link.social-login__link--gp
							a(href="#", title="google plus")

				a.popup-b__close(href="#")
		footer.cart-main-footer
			.container
				.cart-main-footer__inner
					.header-phone.cart-main-footer__phone
							.cart-main-header__phone-inner
								span.header-phone__number 0 800 218-817 
								span.header-phone__description  Бесплатно по Украине
								a(href="#").header-phone__callback.callback-link перезвонить мне