doctype html
html(lang="ru")
	head
		block title
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/assets/owl.carousel.min.css")
		link(rel="stylesheet" href="dist/normalize.css")
		link(rel="stylesheet" href="dist/template_styles.css")
		
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/owl.carousel.min.js")
		script(src="dist/js/vendor/modernizr-2.8.3.min.js")
	
		// main script
		script(src="dist/js/base/all.js")
		script(src="dist/js/pages/category-manufacturer.js")

	body
		include includes/header.pug
		
		.container
			// ХЛЕБНЫЕ КРОШКИ
			section.breadcrumbs
				a(href="#").breadcrumbs-item.breadcrumbs-menu-btn.btn Каталог
				a(href="#").breadcrumbs-item
					span.bb-solid Главная
				span Самолеты для FPV и съемки
			include includes/main-nav.pug
		// ОСНОВНОЙ КОНТЕНТ
		.container
			header.category-manufacturer-header.clearfix
				.category-manufacturer-header__left.clearfix
					.fl_l.manufacturer-logo
						img(src="dist/images/temporary/dickie-toys-logo.png", alt="")
					.manufacturer-name
						h2.manufacturer-title Dickie Toys 
							span.manufacturer-country США 
							a.manufacturer-about(href="#") О производителе
						.related-manufacturers Вместе с Dickie Toys покупатели также смотрят: 
							a.related-manufacturers__item(href="#") Vketch 
							a.related-manufacturers__item(href="#") Neewer 
							a.related-manufacturers__item(href="#") Midea Tech 
				.category-manufacturer-header__right.clearfix
					.catalog-view-changer
						a.view-changer-link.view-changer-link--active(title='Показать блоками', href='?view=block', data-view="block")
							span.icon-view-block
								i
								i
								i
								i
						a.view-changer-link(title='Показать списком', href='?view=list', data-view="list")
							span.icon-view-list
								i
								i
								i
					
					.filter-link.filter-link--half-mob Подбор 

					form#sort-form.category-sort-form.category-sort-form--half-mob(method='get', action='/')
						input#sort-order(type='hidden', name='sort', value='')
						input#paging(type='hidden', name='p', value='')
						.sort.sort-main-block
							ul#product-sort-simple.product-sort-simple
								li Сортировать
									ul
										li
											a.product-sort__link(href='/catalog/avtomobili?s=new') по новинкам
										li
											a.product-sort__link(href='/catalog/avtomobili?s=price') по стоимости
										li
											a.product-sort__link(href='/catalog/avtomobili?s=name') по имени
			main.category-content.clearfix.category-manufacturer-content
				section.category-content__products.search-results__products
					// product 1
					.category-product.category-product--noavail
						// товар, которого нет в наличии
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
									i.product-rank-star.category-product__photo-rank-star 1
								.category-product__product-status
									span.cp-status.cp-status--noavail Нет в наличии
									.category-product__product-info
										span.category-product__product-comments
											a(href="#") 3
												span.cp-list-visible  отзыва
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--noavail Нет в наличии
									// дублируется для вида списком (если есть возможность не выводить для мобильных телефонов)
							.category-product__content-right
								.category-product__price
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--buy-noavail(href="#") Купить
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link.cp-wished(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link.cp-compared(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link.cp-watched(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
										.cp-gallery__items-qty +1
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
													span.product-rank-star.category-product__rank-star 1
												td
													div
														a(href="#").category-product__review-link Обзор сравнение
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 2													
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/temporary/big-images/5_b.jpeg", alt="image")
									i.product-rank-star.category-product__photo-rank-star 2
								.category-product__product-status
									span.cp-status.cp-status--pre-order Предзаказ
									.category-product__product-info
										span.category-product__product-comments
											a(href="#") 0
												span.cp-list-visible  отзывов
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--pre-order Предзаказ
								// cp-status дублируется второй раз для отображения списком
							.category-product__content-right
								.category-product__price
									span.product-price--noprice Цена не установлена
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
													span.product-rank-star.category-product__rank-star 2
												td
													div
														a(href="#").category-product__review-link Обзор сравнение
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 3
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/temporary/big-images/3_b.jpeg", alt="image")
								.category-product__product-status
									span.cp-status.cp-status--available В наличии
									// span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									// span.product-status.product-status--sale Акция
									.category-product__product-info
										span.category-product__product-comments
											a(href="#") 16
												span.cp-list-visible  отзывов
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--available В наличии
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--buy(href="#") Купить
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
										.cp-gallery__items-qty +5
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 4
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/temporary/big-images/4_b.jpeg", alt="image")
								.category-product__product-status
									span.cp-status.cp-status--waiting Ожидается
									// span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									// span.product-status.product-status--sale Акция
									.category-product__product-info
										span.category-product__product-comments
											a(href="#") 16
												span.cp-list-visible  отзывов
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--waiting Ожидается
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									// span.product-price--current 13 600 
									// 	span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--waiting(href="#") Сообщить о поступлении
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 5
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.category-product__product-status
									span.cp-status.cp-status--to-order Под заказ
									// span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									// span.product-status.product-status--sale Акция
									.category-product__product-info
										span.category-product__product-comments
											a(href="#") 16
												span.cp-list-visible  отзывов
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--to-order Под заказ
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--pre-order(href="#") Заказать
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link.cp-watched(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 6
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.category-product__product-status
									span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									// span.product-status.product-status--sale Акция
									.category-product__product-info
										span.category-product__product-comments
											a(href="#") 0
												span.cp-list-visible  отзывов
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--available В наличии
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--show-similar(href="#") Показать аналоги
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link.cp-watched(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 7
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.category-product__product-status
									// span.product-status.product-status--new Новинка
									span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									// span.product-status.product-status--sale Акция
									.category-product__product-info
										// span.category-product__product-comments
										// 	a(href="#") 16
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--available В наличии
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--incart(href="#") В корзине
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link.cp-watched(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 8
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.category-product__product-status
									// span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									span.product-status.product-status--top Топ продаж
									// span.product-status.product-status--sale Акция
									.category-product__product-info
										span.category-product__product-comments
											a(href="#") 1
												span.cp-list-visible  отзыв
										span.product-info__code.category-product__product-code Код:&nbsp;94107
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--available В наличии
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--incart(href="#") В корзине
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link.cp-watched(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 9													
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/temporary/big-images/5_b.jpeg", alt="image")
									i.product-rank-star.category-product__photo-rank-star 2
								.category-product__product-status
									// span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									span.product-status.product-status--sale Акция
									.category-product__product-info
										span.product-info__code.category-product__product-code Код:&nbsp;789125K
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--available В наличии
							.category-product__content-right
								.category-product__price
									span.product-price--new 2600 
										span.product-price__text--small грн
									span.product-price--old 2785 грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--buy.category-product__btn--buy-avail(href="#") Купить
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
													span.product-rank-star.category-product__rank-star 2
												td
													div
														a(href="#").category-product__review-link Обзор сравнение
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 10
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/temporary/big-images/3_b.jpeg", alt="image")
								.category-product__product-status
									span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									// span.product-status.product-status--sale Акция
									.category-product__product-info
										span.category-product__product-comments
											a(href="#") 16
												span.cp-list-visible  отзывов
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--available В наличии
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--incart(href="#") В корзине
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
										.cp-gallery__items-qty +5
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 11
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/temporary/big-images/4_b.jpeg", alt="image")
								.category-product__product-status
									// span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									span.product-status.product-status--sale Акция
									.category-product__product-info
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--available В наличии
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--incart(href="#") В корзине
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 12
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.category-product__product-status
									// span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									// span.product-status.product-status--sale Акция
									.category-product__product-info
										span.category-product__product-comments
											a(href="#") 16
												span.cp-list-visible  отзывов
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--available В наличии
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--incart(href="#") В корзине
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link.cp-watched(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 13
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/temporary/avto.jpeg", alt="image")
								.category-product__product-status
									// span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									// span.product-status.product-status--sale Акция
									.category-product__product-info
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--available В наличии
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--incart(href="#") В корзине
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link.cp-watched(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 14
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/no-photo.jpg", alt="image")
								.category-product__product-status
									// span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									// span.product-status.product-status--sale Акция
									.category-product__product-info
										span.category-product__product-comments
											a(href="#") 16
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--available В наличии
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 133 700 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--buy(href="#") Купить
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link.cp-watched(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 15
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.category-product__product-status
									// span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									// span.product-status.product-status--sale Акция
									.category-product__product-info
										span.category-product__product-comments
											a(href="#") 3
												span.cp-list-visible  отзыва
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--available В наличии
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 78 350 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--buy(href="#") Купить
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link.cp-watched(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
				// блок навигации
				.catalog-bottom-pager.category-pager
					.pager-main-block
						.catalog-nav
							a.pmb-black.prev-navigation(href='#')
								i
								| Предыдущая
							.nav-elems
								span.pager__inner-elem(data-nav='1')
									a(href='/catalog/avtomobili?page=1') 1
								span.pager__inner-elem.pager__inner-elem--current.strong 2
								span.pager__inner-elem(data-nav='3')
									a(href='/catalog/avtomobili?page=3') 3
								|  →  
								span.pager__inner-elem(data-nav='55')
									a(href='/catalog/avtomobili?page=55') 55
							a.pmb-black.next-navigation(href='/catalog/avtomobili?page=2')
								| Следующая
								i
				// конец блока навигации
				section.manufacturer-description.category-prefooter-description
					h2 О производителе Dickie Toys
					p.
						Немецкая компания Simba Dickie Toys была создана в 1982 году. Именно с этого момента она начала предлагать в продажу очень реалистично выполненные радиоуправляемые модели, модели служебного транспорта, самые различные вертолеты, самолеты, машинки, катера, подъемные краны. Служебные модели Dickie (Дики) принципиально отличаются от аналогов максимальной функциональностью.
					p.
						Например, мусоровоз Dickie может самостоятельно забирать мусорные контейнеры, пожарная машина Dickie также имеет резервуары с водой, которую выливает потом из брандспойта. Вдобавок ко всему, все модели обладают звуковыми и световыми эффектами! Благодаря настолько реалистичным игрушкам, ваш ребенок сможет по-настоящему ощутить себя в роли пожарника или работника различных служб.
					p.
						Среди широкого ассортимента компании Simba Dickie Toys можно найти очень любимые детьми машинки на радиоуправлении. Также здесь присутствует набор необходимых дорожных знаков, различные виды парковок, игровые коврики. С таким набором ваш ребенок сможет регулировать движение «транспорта» и «пешеходов». Такая игра может прийтись по душе не только ребенку, но и взрослому.

			// САЙДБАР С ФИЛЬТРАМИ
			aside.category-sidebar
				section.sidebar-filter
					section.search-sidebar__category-menu
						.category-sidebar-menu.category-menu
							.category-menu__item
								.subcategory
									a(href="#") Самолеты и планеры
									span.found-items-amount (77)

								ul.category-menu__subcategories.sub-menu
									li
										a(href="#") Мини, электро
										span.found-items-amount (11)
									li
										a(href="#") С электродвигателем
										span.found-items-amount (43)
										ul.sub-menu.sub-menu-2
											li
												a(href="#") На батарейках
												span.found-items-amount (33)
											li
												a(href="#") На аккумуляторах
												span.found-items-amount (10)
									li
										a(href="#") С двс двигателем 
									li
										a(href="#") С бензиновым двигателем
							.category-menu__item
								.subcategory
									a(href="#") Самолеты
									span.found-items-amount (135)
								ul.category-menu__subcategories.sub-menu
									li
										a(href="#") Мини, электро
									li
										a(href="#") С электродвигателем
										ul.sub-menu.sub-menu-2
											li
												a(href="#") На батарейках
											li
												a(href="#") На аккумуляторах
									li
										a(href="#") С двс двигателем 
									li
										a(href="#") С бензиновым двигателем
							.category-menu__item
								.subcategory
									a(href="#") Вертолеты
									span.found-items-amount (15)
								ul.category-menu__subcategories.sub-menu
									li
										a(href="#") Мини, электро
									li
										a(href="#") С электродвигателем
										ul.sub-menu.sub-menu-2
											li
												a(href="#") На батарейках
											li
												a(href="#") На аккумуляторах
									li
										a(href="#") С двс двигателем 
									li
										a(href="#") С бензиновым двигателем
							.category-menu__item
								.subcategory
									a(href="#") Яхты
									span.found-items-amount (11)
								ul.category-menu__subcategories.sub-menu
									li
										a(href="#") Мини, электро
									li
										a(href="#") С электродвигателем
										ul.sub-menu.sub-menu-2
											li
												a(href="#") На батарейках
											li
												a(href="#") На аккумуляторах
									li
										a(href="#") С двс двигателем 
									li
										a(href="#") С бензиновым двигателем
							.category-menu__item.category-menu__item--no-subcategories
								.subcategory
									a(href="#") Квадракоптеры
									span.found-items-amount (86)
					form#filter-form(method="get" action="/")
						.product-filter
							.filter-header По цене
							.filter-values-block
								.product-filter__price-block
									| от
									input.price-min.numeric-min.filter-value-field(type='number', min="0", size='4', maxlength='10', name='price[min]', onchange='set_filter_price(0)', placeholder='0')
									| до
									input.price-max.numeric-max.filter-value-field(type='number', min="0", size='4', maxlength='10', name='price[max]', onchange='set_filter_price(1)', placeholder='29808')
								input.sidebar-filter__submit-btn(type='submit', value='Подобрать')

						.filter-popup(style="display: block;top: 456px;")
							.filter-popup-close
								a.filter-popup-close-link(href='#')
							p.filter-popup-info Найдено товаров: 131
							a.filter-popup-btn(href='') Показать

				// end if section .sidebar-filter
				section.category-viewed-products
					h2.category-viewed-products__heading Вы смотрели
					ul
						li.category-viewed-products__item
							a(href="#", title="avto model that you looked for")
								img(src="dist/images/temporary/avto.jpeg", alt="some img")
						li.category-viewed-products__item
							a(href="#", title="avto model that you looked for")
								img(src="dist/images/temporary/avto.jpeg", alt="some img")
						li.category-viewed-products__item
							a(href="#", title="avto model that you looked for")
								img(src="dist/images/temporary/avto.jpeg", alt="some img")
						li.category-viewed-products__item
							a(href="#", title="avto model that you looked for")
								img(src="dist/images/temporary/avto.jpeg", alt="some img")
				// /end of section .category-viewed-products
										
			// конец сайдбара с фильтром

		// ************************************************************************************
		// Начало нижней части сайта с адресами магазинов (префутера) 
		.prefooter
			.container
				// signup block
				.h-signup
					p.h-signup__heading Получайте только акции и важные новости
					form.h-signup__form
						input.h-signup__email-input(type="email", placeholder="Эл. почта для рассылки", required)
						input.h-signup__submit(type="submit", value="Держите в курсе")
					p.h-signup__form-caption 1 раз в неделю. Без спама

		include includes/footer.pug



