doctype html
html(lang="ru")
	head
		title Категории
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/assets/owl.carousel.min.css")
		link(rel="stylesheet" href="dist/normalize.css")
		link(rel="stylesheet" href="dist/template_styles.css")
		
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="dist/js/vendor/owl.carousel.js")
		script(src="dist/js/vendor/modernizr-2.8.3.min.js")

		script(src="dist/js/base/all.js")
		script(src="dist/js/pages/category.js")

	body
		include mixins/mixins.pug
		include includes/header.pug
		
		.container
			// ХЛЕБНЫЕ КРОШКИ
			section.breadcrumbs
				a(href="#").breadcrumbs-item.breadcrumbs-menu-btn.btn Каталог
				a(href="#").breadcrumbs-item
					span.bb-solid Главная
				a(href="#").breadcrumbs-item
					span.bb-solid Техника
				span Катера
			include includes/main-nav.pug

		.container
			
			section.category-menu-mobile.clearfix
				a.category-menu-back-link Все категории
				.filter-link Катера
			section.category-content
				h1.category-pagetitle Катера. 
					span Порекомендуем, что выбрать. Всегда есть аксессуары. Надежный сервис
				section.category-slider.page-slider-container
					.page-slider.owl-category-slider.owl-carousel
						.page-slide
							img.page-slide__image(src="dist/images/temporary/category/category-banner-1.jpg", alt="some slider image")
							.page-slide__desc
								.product-price--current 2 800
									span.product-price__text--small  грн
								a.page-slide__btn(href="#") Посмотреть модель
						.page-slide
							img.page-slide__image(src="dist/images/temporary/category/category-banner-1.jpg", alt="some slider image")
							.page-slide__desc
								.product-price--current 13 600
									span.product-price__text--small  грн
								a.page-slide__btn(href="#") Посмотреть модель
						.page-slide
							img.page-slide__image(src="dist/images/temporary/category/category-banner-1.jpg", alt="some slider image")
							.page-slide__desc
								.product-price--current 13 600
									span.product-price__text--small  грн
								a.page-slide__btn(href="#") Посмотреть модель
						.page-slide
							img.page-slide__image(src="dist/images/temporary/category/category-banner-1.jpg", alt="some slider image")
							.page-slide__desc
								.product-price--current 13 600
									span.product-price__text--small  грн
								a.page-slide__btn(href="#") Посмотреть модель
						.page-slide
							img.page-slide__image(src="dist/images/temporary/category/category-banner-1.jpg", alt="some slider image")
							.page-slide__desc
								.product-price--current 13 600
									span.product-price__text--small  грн
								a.page-slide__btn(href="#") Посмотреть модель
						.page-slide
							img.page-slide__image(src="dist/images/temporary/category/category-banner-1.jpg", alt="some slider image")
							.page-slide__desc
								.product-price--current 13 600
									span.product-price__text--small  грн
								a.page-slide__btn(href="#") Посмотреть модель
					
					.owl-controls.page-slider__controls
						// Кнопки перехода по слайдам. Порядок кнопок должен соответствовать порядку слайдов.
						.owl-dots#customDots
							.custom-dot(title="Электрокатера") Электрокатера
							.custom-dot(title="Подводные лодки") Подводные лодки
							.custom-dot(title="Модели яхт") Модели яхт
							.custom-dot(title="Катера с электродвигателем") Катера с электродвигателем
							.custom-dot(title="Лодки с бензиновым двигателем") Лодки с бензиновым двигателем
							.custom-dot(title="Модели яхт") Модели яхт
				section.category-content__categories.clearfix
					-for(x=0; x<5; x++)
						.categories-pitem
							.categories-pitem__inner
								.categories-pitem__img
									img(src="dist/images/temporary/category/component15.jpg", alt="some image")
								.categories-pitem__inner-content
									h2.categories-pitem__heading
										a(href="#") Электрокатера
									ul.categories-menu
										li.category-menu__item
											a(href="#") Мини, электро 
										li.category-menu__item
											a(href="#") С электродвигателем 
										li.category-menu__item
											a(href="#") С двс двигателем
										li.category-menu__item
											a(href="#") С бензиновым двигателем
									.categories-pitem__more
										a(href="#").categories-pitem__more-link
											span Больше категорий
					.categories-pitem
							.categories-pitem__inner
								.categories-pitem__img
									img(src="dist/images/temporary/category/component12.jpg", alt="some image")
								.categories-pitem__inner-content
									h2.categories-pitem__heading 
										a(href="#") Подводные лодки
									ul.categories-menu
										li.category-menu__item
											a(href="#") Мини, электро 
										li.category-menu__item
											a(href="#") С электродвигателем 

									.categories-pitem__more
										a(href="#").categories-pitem__more-link
											span Больше категорий
					.categories-pitem
							.categories-pitem__inner
								.categories-pitem__img
									img(src="dist/images/temporary/category/component13.jpg", alt="some image")
								.categories-pitem__inner-content
									h2.categories-pitem__heading
										a(href="#") Катера для рыбалки
									ul.categories-menu
										li.category-menu__item
											a(href="#") Мини, электро 
										li.category-menu__item
											a(href="#") С электродвигателем 

									.categories-pitem__more
										a(href="#").categories-pitem__more-link
											span Больше категорий
					.categories-pitem
							.categories-pitem__inner
								.categories-pitem__img
									img(src="dist/images/temporary/category/component14.jpg", alt="some image")
								.categories-pitem__inner-content
									h2.categories-pitem__heading
										a(href="#") Модели яхт
									ul.categories-menu
										li.category-menu__item
											a(href="#") Мини, электро 
										li.category-menu__item
											a(href="#") С электродвигателем 

				section.additional-blocks
					// Популярные товары
					h2.additional-blocks__heading Популярные товары
					#owl-popular-products.clearfix.owl-carousel.popular-products-block.custom-scrollbar
						.product-preview-item
							.product-preview-item__category
								a(href="#") Багги (1/8)
							.product-preview-item__inner
								.product-preview-item__photo
									a(href="#")
										img(src="dist/images/temporary/blocks/product1.jpg", alt="image")
								.product-preview-item__content
									.product-preview-item__product-status
										span.product-status.product-status--new Новинка
										span.category-product__product-comments
											a(href="#") 16
										span(class="product-info__code") Код:&nbsp;HSP-94107Pro
									h3.product-preview-item__heading
										a(href="#") Модель р/у планера VolantexRC FPVRaptor V2 (TW-757-V2) 2000мм 2.4GHz...
									.category-product__price
										// span.product-price--new 2600 
										// 	span.product-price__text--small грн
										// span.product-price--old 2785 грн
										span.product-price--current 13 600 
											span.product-price__text--small грн
									.category-product__buy
										a.product-btn.category-product__btn.category-product__btn--buy(href="#") Купить
										.category-product__product-links
											a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
											a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

						.product-preview-item
							.product-preview-item__category
								a(href="#") Квадракоптер DJI Phantom
							.product-preview-item__inner
								.product-preview-item__photo
									a(href="#")
										img(src="dist/images/temporary/blocks/product4.jpg", alt="image")
								.product-preview-item__content
									.product-preview-item__product-status
										span.product-status.product-status--new Новинка
										span.category-product__product-comments
											a(href="#") 16
										span.product-status.product-status--discount -10%
										
									h3.product-preview-item__heading
										a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
									.category-product__price
										// span.product-price--new 2600 
										// 	span.product-price__text--small грн
										// span.product-price--old 2785 грн
										span.product-price--current 13 600 
											span.product-price__text--small грн
									.category-product__buy
										a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
										.category-product__product-links
											a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
											a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

						.product-preview-item
							.product-preview-item__category
								a(href="#") Катера для рыбалки
							.product-preview-item__inner
								.product-preview-item__photo
									a(href="#")
										img(src="dist/images/temporary/blocks/product2.jpg", alt="image")
								.product-preview-item__content
									.product-preview-item__product-status
										span.product-status.product-status--top Топ продаж
										span.product-status.product-status--discount -10%
									h3.product-preview-item__heading
										a(href="#") Модель р/у планера VolantexRC FPVRaptor (TW-757) 1600мм 2.4GHz KIT
									.category-product__price
										// span.product-price--new 2600 
										// 	span.product-price__text--small грн
										// span.product-price--old 2785 грн
										span.product-price--current 13 600 
											span.product-price__text--small грн
									.category-product__buy
										a.product-btn.category-product__btn.category-product__btn--buy(href="#") Купить
										.category-product__product-links
											a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
											a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

						.product-preview-item
							.product-preview-item__category
								a(href="#") Катера с бензиновым двигателем
							.product-preview-item__inner
								.product-preview-item__photo
									a(href="#")
										img(src="dist/images/temporary/blocks/product3.jpg", alt="image")
								.product-preview-item__content
									.product-preview-item__product-status
										span.category-product__product-comments
											a(href="#") 16
										span(class="product-info__code") Код:&nbsp;HSP-94107Pro
										
									h3.product-preview-item__heading
										a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
									.category-product__price
										// span.product-price--new 2600 
										// 	span.product-price__text--small грн
										// span.product-price--old 2785 грн
										span.product-price--current 13 600 
											span.product-price__text--small грн
									.category-product__buy
										a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
										.category-product__product-links
											a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
											a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

						.product-preview-item
							.product-preview-item__category
								a(href="#") Багги
							.product-preview-item__inner
								.product-preview-item__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.product-preview-item__content
									.product-preview-item__product-status
										
									h3.product-preview-item__heading
										a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
									.category-product__price
										// span.product-price--new 2600 
										// 	span.product-price__text--small грн
										// span.product-price--old 2785 грн
										span.product-price--current 13 600 
											span.product-price__text--small грн
									.category-product__buy
										a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
										.category-product__product-links
											a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
											a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

						.product-preview-item
							.product-preview-item__category
								a(href="#") Катера с бензиновым двигателем
							.product-preview-item__inner
								.product-preview-item__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.product-preview-item__content
									.product-preview-item__product-status
										
									h3.product-preview-item__heading
										a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
									.category-product__price
										// span.product-price--new 2600 
										// 	span.product-price__text--small грн
										// span.product-price--old 2785 грн
										span.product-price--current 13 600 
											span.product-price__text--small грн
									.category-product__buy
										a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
										.category-product__product-links
											a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
											a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

			// начало сайдбара с меню по категориям
			aside.category-sidebar
				
						



				// end if section .sidebar-filter
				section.category-viewed-products
					h2.category-viewed-products__heading Вы смотрели
					ul
						li.category-viewed-products__item
							a(href="#", title="avto model that you looked for")
								img(src="dist/images/temporary/avto.jpeg", alt="some img")
						li.category-viewed-products__item
							a(href="#", title="avto model that you looked for")
								img(src="dist/images/temporary/avto.jpeg", alt="some img")
						li.category-viewed-products__item
							a(href="#", title="avto model that you looked for")
								img(src="dist/images/temporary/avto.jpeg", alt="some img")
						li.category-viewed-products__item
							a(href="#", title="avto model that you looked for")
								img(src="dist/images/temporary/avto.jpeg", alt="some img")
				// /end of section .category-viewed-products
										
			// конец сайдбара с меню по категориям
			// начало секции с брендами для данной категории
			+brands-block('Катера для рыбалки')


		// Все попапы
		.popup-outer
			// Попап для логина
			section.popup-b.popup-login#popupLogin
				header
					h2.popup-login__title Вход
					a(href="#").popup-login__reg-link Регистрация
				form(action="/", method="POST", name="login").login-form
					
					label(for="email").login-form__label E-mail
					input(type="email", required).login-form__input.form-control
					
					label(for="email").login-form__label Пароль
					input(type="password", required).login-form__input.form-control

					.form-group
						input(type="checkbox", id="forgotPassword").custom-checkbox
						label(for="forgotPassword").custom-checkbox__label.login-form__label
							span.custom-checkbox__box.login-form__checkbox-box 
							|  Запомнить меня
					.form-group
						.login-form__invalid-data Неправильный логин или пароль
						input(type="submit", value="Войти").btn.login-form__btn
						a(href="#").login-form__reminder-link Забыли пароль?
				.social-login
					h2.social-login__title Вход через социальные сети
					ul.social-login__links.clearfix
						li.social-login__link.social-login__link--fb
							a(href="#", title="facebook")
						li.social-login__link.social-login__link--vk
							a(href="#", title="vkontakte")
						li.social-login__link.social-login__link--gp
							a(href="#", title="google plus")

				a.popup-b__close(href="#")
		// Конец попапов

		// ************************************************************************************
		// Начало нижней части сайта с адресами магазинов (префутера) 
		section.prefooter
			.container
				h2.prefooter__heading Добро пожаловать в наши салоны
				.prefooter__description
					p Закажите на 20 000 грн и заберите товар в любом салоне
					p Получите <strong>скидочный купон на следующую покупку</strong> в интернет-магазине
				//- .store-address-tabs-menu__item.store-address-tabs-menu__item--active.u-mobile(tabindex="0", data-id="#KievVasilkovskaya") <i></i> <span>Киев, м. Васильковская</span>
				.stores-menu
					.mobile-custom-select.store-address-link <i></i> <span>Киев, м. Васильковская</span>
					ul.store-address-tabs-menu.mobile-custom-options
						li.store-address-tabs-menu__item.active.store-address-link(tabindex="0", data-id="#KievVasilkovskaya") <i></i> <span>Киев, м. Васильковская</span>
						li.store-address-tabs-menu__item.store-address-link(tabindex="0", data-id="#KievLesnaya") <i></i> <span>Киев, м. Лесная</span>
						li.store-address-tabs-menu__item.store-address-link(tabindex="0", data-id="#KharkovSumskaya") <i></i> <span>Харьков, ул. Сумская</span>
				.stores-wrapper
					.store.store--active.clearfix#KievVasilkovskaya
						.store__heading Салон и сервисный центр <br> м. Васильковская, ул. Михаила Максимовича 10, корп. А, офис 201

						.store-contacts
							.store-contacts__item
								i.store-contacts__icon.clock-icon
								| пн-пт: 9-17   сб-вс: ТЦ «Дарынок» 10-20
							.store-contacts__item
								i.store-contacts__icon.phone-icon
								| (044) 224-61-00 
							.store-contacts__item
								i.store-contacts__icon.skype-icon
								| modelistam.kiev
						.store__visual.clearfix
							.store-gallery
								.store-gallery__main-image
									a(href="#")
											img(src="dist/images/temporary/footer/footer-gallery/big1.jpg", alt="store in kiyv")
								.store-gallery__miniatures
									.store-gallery__miniatures-inner
										.store-gallery__miniature.store-gallery__miniature--active
											a(href="dist/images/temporary/footer/footer-gallery/big1.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kiyv")
										.store-gallery__miniature
											a(href="dist/images/temporary/footer/map.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kiyv")
										.store-gallery__miniature
											a(href="dist/images/temporary/footer/footer-gallery/big1.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kiyv")
										.store-gallery__miniature
											a(href="dist/images/temporary/footer/footer-gallery/big1.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kiyv")

							.store-map
								img(src="dist/images/temporary/footer/map.jpg")




					.store#KievLesnaya.clearfix
						.store__heading Салон и сервисный центр <br> м. Лесная, ул. Беломорская, 1, ТЦ «Дарынок», корп. «ТриД», 3 эт., торговое место ДС 30
						.store-contacts
							.store-contacts__item
								i.store-contacts__icon.clock-icon
								| пн-вс: 10-20
							.store-contacts__item
								i.store-contacts__icon.phone-icon
								| (044) 224-61-00 
							.store-contacts__item
								i.store-contacts__icon.skype-icon
								| modelistam.kiev
						.store__visual.clearfix
							.store-gallery
								.store-gallery__main-image
									a(href="#")
											img(src="dist/images/temporary/footer/footer-gallery/big1.jpg", alt="store in kiyv")
								.store-gallery__miniatures
									.store-gallery__miniatures-inner
										.store-gallery__miniature.store-gallery__miniature--active
											a(href="dist/images/temporary/footer/footer-gallery/big1.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kiyv")
										.store-gallery__miniature
											a(href="dist/images/temporary/footer/map.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kiyv")
										.store-gallery__miniature
											a(href="dist/images/temporary/footer/footer-gallery/big1.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kiyv")
										.store-gallery__miniature
											a(href="dist/images/temporary/footer/footer-gallery/big1.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kiyv")

							.store-map
								img(src="dist/images/temporary/footer/map.jpg")

					.store#KharkovSumskaya.clearfix
						.store__heading Салон и сервисный центр <br> м. Университет, ул. Сумская 77/79 возле парка им. Горького
						.store-contacts
							.store-contacts__item
								i.store-contacts__icon.clock-icon
								| пн-пт: 10-19   сб: 10-16   вс: Выходной
							.store-contacts__item
								i.store-contacts__icon.phone-icon
								| (057) 755-15-00
							.store-contacts__item
								i.store-contacts__icon.skype-icon
								| modelistam.kharkov
						.store__visual.clearfix
							.store-gallery
								.store-gallery__main-image
									a(href="#")
											img(src="dist/images/temporary/footer/footer-gallery/big1.jpg", alt="store in kharkov")
								.store-gallery__miniatures
									.store-gallery__miniatures-inner
										.store-gallery__miniature.store-gallery__miniature--active
											a(href="dist/images/temporary/footer/footer-gallery/big1.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kharkov")
										.store-gallery__miniature
											a(href="dist/images/temporary/footer/footer-gallery/magazin-planeta-hobby-kharkov-1.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kharkov")
										.store-gallery__miniature
											a(href="dist/images/temporary/footer/footer-gallery/magazin-planeta-hobby-kharkov-2.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kharkov")

							.store-map
								img(src="dist/images/temporary/footer/map.jpg")

				.prefooter__about
					p.
						Компания «Planeta Hobby» — ведущая украинская компания, которая работает на рынке радиоуправляемых моделей с 2007 года.
					p.
						Основа нашего бизнеса заключается в ответственности перед каждым клиентом, обеспечении вас исключительно качественными и современными товарами передовых всемирно известных брендов, высоким и оперативным уровнем техническогобслуживания.
					p.
						Изо дня в день высокопрофессиональная команда открывает для вас двери в инновационное будущее. Мы постоянно смотрим вперед и расширяем ассортимент не только продукции, но и услуг, чтобы ваше хобби приносило максимальное удовольствие и помогало по-настоящему расслабиться от ежедневных забот.
				ul.prefooter__delivery-cities
					li.prefooter__delivery-cities-heading Доставляем товары в города:
					li
						b Киев
					li Чернигов
					li
						b Харьков
					li Черкассы
					li
						b Одесса
					li Житомир
					li
						b Днепропетровск
					li Суммы
					li Запорожье
					li Хмельницкий
					li Львов
					li Ровно
					li Кривой Рог
					li Кировоград
					li Николаев
					li Черновцы
					li Винница
					li Кременчуг
					li Луцк
					li Ивано-Франковск
					li Полтава
					li Тернополь

				// signup block
				.h-signup

					p.h-signup__heading Получайте только акции и важные новости
					form.h-signup__form
						input.h-signup__email-input(type="email", placeholder="Эл.почта для рассылки", required)
						input.h-signup__submit(type="submit", value="Держите в курсе")
					p.h-signup__form-caption 1 раз в неделю. Без спама

		// Начало основного футера сайта
		include includes/footer.pug
