doctype html
html(lang="ru")
	head
		title Сравнение
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		//- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/assets/owl.carousel.min.css")
		link(rel="stylesheet" href="dist/normalize.css")
		link(rel="stylesheet" href="dist/template_styles.css")
		
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/owl.carousel.min.js")
		script(src="dist/js/vendor/owl.carousel.js")
		script(src="dist/js/vendor/modernizr-2.8.3.min.js")
	
		// main script
		script(src="dist/js/base/all.js")
		script(src="dist/js/pages/compare.js")

	body
		include includes/header.pug
		.container
			// ХЛЕБНЫЕ КРОШКИ
			section.breadcrumbs
				a(href="#").breadcrumbs-item.breadcrumbs-menu-btn.btn Каталог
				a(href="#").breadcrumbs-item
					span.bb-solid Главная
				span Сравнение
			include includes/main-nav.pug

		main.compare-content
			include mixins/mixins.pug
			.container
				header.compare__header.clearfix
					h2.pagetitle.compare__header-title.fl_l Сравнение
					.mobile-hidden.tablet-hidden.fl_r.compare__header-links
						a(href="#").compare__header-link
							i.icon.icon--circle-plus.compare__header-icon
							span Добавить еще к сравнению
						a(href="#").compare__header-link
							i.icon.icon--paper-plane.compare__header-icon
							span Отправить на почту
						a(href="#").compare__header-link.compare__header-link--delete
							i.icon.icon--close.compare__header-icon
							span Удалить всё
						// Всплывающий блок редактирования товара
						div.popup-back-wrapper
							.popup-back.popup-bcart__product-back
								.delete-detail-block
									a(href="#").page-cart__delete_checkbox
										i
										span Подтвердить удаление товаров
								.close-popup
									a(href="#" rel="#").come-back
										i
										span Оставить товары

				section.compare-items
					.compare-items__inner.clearfix
						.mobile-custom-select.compare-custom-select Багги
						ul.compare-menu.mobile-custom-options
							li.compare-menu__item.compare-menu__item-mobile.active(tabindex="0", data-target-class="baggy")
								span Багги
									| 
									span.compare__items-quantity 22
							li.compare-menu__item.compare-menu__item-mobile(tabindex="0", data-target-class="rally")
								span Ралли
									| 
									span.compare__items-quantity 8
							li.compare-menu__item.compare-menu__item-mobile(tabindex="0", data-target-class="ships")
								span Яхты
									| 
									span.compare__items-quantity 2
						.compare-items__tabs
							// класс .active у видимого блока
							.compare-item.active(data-class="baggy")
								#owl-viewed-products.popular-products-block.clearfix.owl-carousel.owl-compared-products
									+cabinet-product-incart('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 2600, 2785)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'летающее крыло skywalker falcon yf-0908 kit black', 1024)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 56000)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 2600, 2785)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'летающее крыло skywalker falcon yf-0908 kit black', 1024)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 56000)
							.compare-item(data-class="rally")
								.popular-products-block.clearfix.owl-carousel.owl-compared-products
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 2600, 2785)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'летающее крыло skywalker falcon yf-0908 kit black', 1024)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 56000)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 2600, 2785)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'летающее крыло skywalker falcon yf-0908 kit black', 1024)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 56000)
							
							.compare-item(data-class="ships")
								.popular-products-block.clearfix.owl-carousel.owl-compared-products
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 2600, 2785)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'летающее крыло skywalker falcon yf-0908 kit black', 1024)
						form.compare-items__show-differences-btn
							input(type="checkbox" id="differences-btn")
							label(for="differences-btn")
								span Показать только отличия
			.container
				.compare-characheristics-tab(data-class="baggy").active
					section.compare-characteristics
						h3.compare-characteristics__heading.main-bg Характеристики
						.compare-table
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Класс
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell Off-road (внедорожники) и очень длинная строка будет здесь
									.compare-table__cell.tbl__cell Off-road (внедорожники)
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Масштаб
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 1:5 
									.compare-table__cell.tbl__cell 1:8
									.compare-table__cell.tbl__cell 1:6
									.compare-table__cell.tbl__cell 1:24
									.compare-table__cell.tbl__cell 1:48
									.compare-table__cell.tbl__cell 1:5

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Длина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Ширина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Высота
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
					section.compare-characteristics
						h3.compare-characteristics__heading.main-bg Шасси
						.compare-table
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Класс
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Масштаб
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 1:5 
									.compare-table__cell.tbl__cell 1:8
									.compare-table__cell.tbl__cell 1:6
									.compare-table__cell.tbl__cell 1:24
									.compare-table__cell.tbl__cell 1:48
									.compare-table__cell.tbl__cell 1:5

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Длина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Ширина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Высота
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм

				.compare-characheristics-tab(data-class="rally")
					section.compare-characteristics
						h3.compare-characteristics__heading.main-bg Характеристики ралли
						.compare-table
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Класс
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Масштаб
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 1:5 
									.compare-table__cell.tbl__cell 1:8
									.compare-table__cell.tbl__cell 1:6
									.compare-table__cell.tbl__cell 1:24
									.compare-table__cell.tbl__cell 1:48
									.compare-table__cell.tbl__cell 1:5

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Длина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Ширина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Высота
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
					section.compare-characteristics
						h3.compare-characteristics__heading.main-bg Шасси
						.compare-table
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Класс
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Масштаб
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 1:5 
									.compare-table__cell.tbl__cell 1:8
									.compare-table__cell.tbl__cell 1:6
									.compare-table__cell.tbl__cell 1:24
									.compare-table__cell.tbl__cell 1:48
									.compare-table__cell.tbl__cell 1:5

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Длина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Ширина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Высота
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм

				.compare-characheristics-tab(data-class="ships")
					section.compare-characteristics
						h3.compare-characteristics__heading.main-bg Характеристики яхты
						.compare-table
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Класс
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Масштаб
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 1:5 
									.compare-table__cell.tbl__cell 1:8

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Длина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Ширина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Высота
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм

					section.compare-characteristics
						h3.compare-characteristics__heading.main-bg Шасси
						.compare-table
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Класс
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины


							.compare-table__row.clearfix
								.compare-table__heading
									h4 Масштаб
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 1:5 
									.compare-table__cell.tbl__cell 1:8


							.compare-table__row.clearfix
								.compare-table__heading
									h4 Длина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Ширина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Высота
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм




				// signup block
		include includes/footer-signup.pug

		include includes/footer.pug

		.popup-outer
			section.popup-b.popup-b__compare#sendCompareProductPopup
				.popup-b__header
					h2.popup-b__heading Отправлено!
				.popup-b__content
					p.
						Александра, список подобранных вами товаров отправлен на почту <span class="popup-b__content-email">firstname.lastname@gmail.com</span>.
					p.
						Если у вас остались вопросы, мы можем <a href="#" data-popup-target="id" class="popup-b__callback">перезвонить вам</a>.<br>
						Наши операторы имеют техническое образование и хорошо разбираются в технике.
						Они смогут оперативно помочь вам подыскать подходящий вариант.
					a.popup-b__more(href="#") Вернуться к покупкам
				a.popup-b__close(href="#")


			section.popup-b.popup-b__compare#enterEmailComparePopup
				.popup-b__header
					h2.popup-b__heading Отправить товары на почту
				.popup-b__content
					p.
						Список подобранных товаров удобно хранить под рукой на своей почте, 
						если вам нужно больше времени для принятия решения.
				.product-add__fast-order.pa-fast-order.clearfix
						.form-group
							input(type="text" placeholder="Эл. почта" name="Contacts" required).pa-fast-order__field.form-control
						.form-group
							input(type="text" placeholder="Ваше имя" name="Name" required).pa-fast-order__field.form-control
						.form-group
							input(type="submit" value="Отправить" ).pa-fast-order__form-btn
				a.popup-b__close(href="#")