doctype html
html(lang="ru")
	head
		title Сравнение
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		//- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/assets/owl.carousel.min.css")
		link(rel="stylesheet" href="dist/normalize.css")
		link(rel="stylesheet" href="dist/template_styles.css")
		
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/owl.carousel.min.js")
		script(src="dist/js/vendor/owl.carousel.js")
		script(src="dist/js/vendor/modernizr-2.8.3.min.js")
	
		// main script
		script(src="dist/js/base/all.js")
		script(src="dist/js/pages/compare.js")

	body
		include includes/header.pug
		.container
			// ХЛЕБНЫЕ КРОШКИ
			section.breadcrumbs
				a(href="#").breadcrumbs-item.breadcrumbs-menu-btn.btn Каталог
				a(href="#").breadcrumbs-item
					span.bb-solid Главная
				span Сравнение
			include includes/main-nav.pug

		main.compare-content
			include mixins/mixins.pug
			.container
				header.compare__header.clearfix
					h2.pagetitle.compare__header-title.fl_l Сравнение
					.mobile-hidden.tablet-hidden.fl_r.compare__header-links
						a(href="#").compare__header-link
							i.icon.icon--circle-plus.compare__header-icon
							span Добавить еще к сравнению
						a(href="#").compare__header-link
							i.icon.icon--paper-plane.compare__header-icon
							span Отправить на почту
						a(href="#").compare__header-link
							i.icon.icon--close.compare__header-icon
							span Удалить всё
				section.compare-items
					.compare-items__inner.clearfix
						.mobile-custom-select.compare-custom-select Багги
						ul.compare-menu.mobile-custom-options
							li.compare-menu__item.active(tabindex="0", data-target-class="baggy")
								span Багги
							li.compare-menu__item(tabindex="0", data-target-class="rally")
								span Ралли
							li.compare-menu__item(tabindex="0", data-target-class="ships")
								span Яхты 
						.compare-items__tabs
							// класс .active у видимого блока
							.compare-item.compared-category.active(data-class="baggy")
								#owl-viewed-products.popular-products-block.clearfix.owl-carousel.owl-compared-products
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 2600, 2785)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'летающее крыло skywalker falcon yf-0908 kit black', 1024)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 56000)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 2600, 2785)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'летающее крыло skywalker falcon yf-0908 kit black', 1024)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 56000)
							.compare-item.compared-category(data-class="rally")
								.popular-products-block.clearfix.owl-carousel.owl-compared-products
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 2600, 2785)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'летающее крыло skywalker falcon yf-0908 kit black', 1024)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 56000)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 2600, 2785)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'летающее крыло skywalker falcon yf-0908 kit black', 1024)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 56000)
							
							.compare-item.compared-category(data-class="ships")
								.popular-products-block.clearfix.owl-carousel.owl-compared-products
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 2600, 2785)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'летающее крыло skywalker falcon yf-0908 kit black', 1024)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 56000)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 2600, 2785)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'летающее крыло skywalker falcon yf-0908 kit black', 1024)
									+cabinet-product-preview-item('dist/images/sample-airplane.jpg', 'модель р/у планера volantexrc fpvraptor v2 (tw-757-v2) 2000мм 2.4ghz...', 56000)
				.compare-characheristics-tab(data-class="baggy").active
					section.compare-characteristics
						h3.compare-characteristics__heading.main-bg Характеристики
						.compare-table
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Класс
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Масштаб
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 1:5 
									.compare-table__cell.tbl__cell 1:8
									.compare-table__cell.tbl__cell 1:6
									.compare-table__cell.tbl__cell 1:24
									.compare-table__cell.tbl__cell 1:48
									.compare-table__cell.tbl__cell 1:5

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Длина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Ширина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Высота
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
					section.compare-characteristics
						h3.compare-characteristics__heading.main-bg Шасси
						.compare-table
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Класс
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Масштаб
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 1:5 
									.compare-table__cell.tbl__cell 1:8
									.compare-table__cell.tbl__cell 1:6
									.compare-table__cell.tbl__cell 1:24
									.compare-table__cell.tbl__cell 1:48
									.compare-table__cell.tbl__cell 1:5

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Длина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Ширина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Высота
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм

				.compare-characheristics-tab(data-class="rally")
					section.compare-characteristics
						h3.compare-characteristics__heading.main-bg Характеристики ралли
						.compare-table
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Класс
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Масштаб
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 1:5 
									.compare-table__cell.tbl__cell 1:8
									.compare-table__cell.tbl__cell 1:6
									.compare-table__cell.tbl__cell 1:24
									.compare-table__cell.tbl__cell 1:48
									.compare-table__cell.tbl__cell 1:5

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Длина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Ширина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Высота
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
					section.compare-characteristics
						h3.compare-characteristics__heading.main-bg Шасси
						.compare-table
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Класс
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Масштаб
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 1:5 
									.compare-table__cell.tbl__cell 1:8
									.compare-table__cell.tbl__cell 1:6
									.compare-table__cell.tbl__cell 1:24
									.compare-table__cell.tbl__cell 1:48
									.compare-table__cell.tbl__cell 1:5

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Длина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Ширина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Высота
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм

				.compare-characheristics-tab(data-class="ships")
					section.compare-characteristics
						h3.compare-characteristics__heading.main-bg Характеристики яхты
						.compare-table
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Класс
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Масштаб
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 1:5 
									.compare-table__cell.tbl__cell 1:8
									.compare-table__cell.tbl__cell 1:6
									.compare-table__cell.tbl__cell 1:24
									.compare-table__cell.tbl__cell 1:48
									.compare-table__cell.tbl__cell 1:5

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Длина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Ширина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Высота
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
					section.compare-characteristics
						h3.compare-characteristics__heading.main-bg Шасси
						.compare-table
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Класс
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины
									.compare-table__cell.tbl__cell Off-road внедорожники
									.compare-table__cell.tbl__cell On-road гоночные машины

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Масштаб
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 1:5 
									.compare-table__cell.tbl__cell 1:8
									.compare-table__cell.tbl__cell 1:6
									.compare-table__cell.tbl__cell 1:24
									.compare-table__cell.tbl__cell 1:48
									.compare-table__cell.tbl__cell 1:5

							.compare-table__row.clearfix
								.compare-table__heading
									h4 Длина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Ширина
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм
							.compare-table__row.clearfix
								.compare-table__heading
									h4 Высота
								.compare-table__characteristics-slider.owl-carousel
									.compare-table__cell.tbl__cell 490мм 
									.compare-table__cell.tbl__cell 485мм
									.compare-table__cell.tbl__cell 1010мм
									.compare-table__cell.tbl__cell 654мм
									.compare-table__cell.tbl__cell 586мм
									.compare-table__cell.tbl__cell 785мм


		.prefooter
			.container
				// signup block
				.h-signup
					p.h-signup__heading Получайте только акции и важные новости
					form.h-signup__form
						input.h-signup__email-input(type="email", placeholder="Эл. почта для рассылки", required)
						input.h-signup__submit(type="submit", value="Держите в курсе")
					p.h-signup__form-caption 1 раз в неделю. Без спама

		include includes/footer.pug