doctype html
html(lang="ru")
	head
		title Главная страница
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/assets/owl.carousel.min.css")
		link(rel="stylesheet" href="dist/normalize.css")
		link(rel="stylesheet" href="dist/template_styles.css")

		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/owl.carousel.min.js")
		script(src="dist/js/vendor/owl.carousel.js")
		script(src="dist/js/vendor/modernizr-2.8.3.min.js")
		script(src="dist/js/base/all.js")
		script(src="dist/js/pages/home.js")

	body
		include includes/header.pug

		main
			.container
				// Начало основного меню
				.home-top-left
					nav.main-nav.main-nav-home
						// класс main-nav-home  - только для главной страницы
						//- j-menu-item - для работы скрипта
						.main-nav__mobile-links
							.main-nav__item
								.main-nav-link.main-nav-link--wsub
									a(href="#") Покупателю
									.main-nav-link__btn <i></i><i></i>
								.main-nav-submenu.main-nav-submenu--l1
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Акции
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link
											a(href="#") Скидки
									.main-nav-submenu__item
										.main-nav-link.main-nav-submenu__link.main-nav-link--wsub
											a(href="#") Дисконтная программа

							.main-nav__item
								.main-nav-link
									a(href="#") Доставка и оплата
							.main-nav__item
								.main-nav-link
									a(href="#") Контакты
							.main-nav__item
								.main-nav-link
									a(href="#") О нас

						.main-nav__top-links
							a.main-nav__top-link.main-nav__top-link--discount(href="#") Акции и скидки
							a.main-nav__top-link.main-nav__top-link--new(href="#") Новинки
						// Основная часть меню, которая содержит ссылки на категории
						.main-nav__menu
							.main-nav__item
								.main-nav-link
									a(href="#") Автомобили
									.main-nav-link__btn <i></i><i></i>
								// Фоновое изображение прописывается как свойство дата, чтобы не подгружать картинки на мобильном
								.main-nav-submenu__wrapper(data-bg='dist/images/home-page/auto-menu-bg.jpg')
									.main-nav-submenu.main-nav-submenu--l1
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Багги
												.main-nav-link__btn <i></i><i></i>

											.main-nav-submenu.main-nav-submenu--l3
												h3.main-nav__submenu-heading Тип двигателя
												.main-nav__submenu-content
													.main-nav__link-3l
														a(href="#") ДВС
													.main-nav__link-3l
														a(href="#") Электромотор
												h3.main-nav__submenu-heading Привод
												.main-nav__submenu-content
													.main-nav__link-3l
														a(href="#") 4WD полный
													.main-nav__link-3l
														a(href="#") 2WD задний
												h3.main-nav__submenu-heading Масштаб
												.main-nav__submenu-content
													.main-nav__link-3l
														a(href="#") 1:8
													.main-nav__link-3l
														a(href="#") 1:10
													.main-nav__link-3l
														a(href="#") 1:18
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Трагги
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Монстры
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Шорт-корс
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Краулеры
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Ралли
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Картинг
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Шоссейные (скоростные)
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Шоссейные (для дрифта)
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Трассовые
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Игрушки
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a.media-link.media-top-link(href="#")
													i.media-choice-icon.media-icon
													| Как выбрать
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a.media-link.media-top-link(href="#")
													i.media-review-icon.media-icon
													| Обзоры
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a.media-link.media-top-link(href="#")
													i.media-video-icon.media-icon
													| Видео

							.main-nav__item
								.main-nav-link
									a(href="#") Самолеты
									.main-nav-link__btn <i></i><i></i>
								.main-nav-submenu__wrapper(data-bg='dist/images/home-page/2_plane.jpg')
									.main-nav-submenu.main-nav-submenu--l1.j-nav-submenu
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Для FPV и съемки
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") С камерой
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Полный комплект
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Модели планеров
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Реактивные
							.main-nav__item
								.main-nav-link
									a(href="#") Вертолеты
							.main-nav__item
								.main-nav-link
									a(href="#") Квадракоптеры
									.main-nav-link__btn <i></i><i></i>
								// Фоновое изображение прописывается как свойство дата, чтобы не подгружать картинки на мобильном
								.main-nav-submenu__wrapper(data-bg='dist/images/home-page/auto-menu-bg.jpg')
									.main-nav-submenu.main-nav-submenu--l1
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Квадракоптеры
												.main-nav-link__btn <i></i><i></i>

											.main-nav-submenu.main-nav-submenu--l3
												h3.main-nav__submenu-heading Сложность
												.main-nav__submenu-content
													.main-nav__link-3l
														a(href="#") Начинающим
													.main-nav__link-3l
														a(href="#") Профессионалам
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Гексакоптеры
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Октокоптеры
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Для хобби
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") С видеокамерой
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") С подвесом для GoPro или аналогов
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") С FPV системой
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a.media-link.media-top-link(href="#")
													i.media-choice-icon.media-icon
													| Как выбрать
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a.media-link.media-top-link(href="#")
													i.media-review-icon.media-icon
													| Обзоры
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a.media-link.media-top-link(href="#")
													i.media-video-icon.media-icon
													| Видео
							.main-nav__item
								.main-nav-link
									a(href="#") Авиамодели
							.main-nav__item
								.main-nav-link
									a(href="#") Катера и яхты
									.main-nav-link__btn <i></i><i></i>
								// Фоновое изображение прописывается как свойство дата, чтобы не подгружать картинки на мобильном
								.main-nav-submenu__wrapper(data-bg='dist/images/home-page/auto-menu-bg.jpg')
									.main-nav-submenu.main-nav-submenu--l1
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Электрокатера
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Катера для рыбалки
												.main-nav-link__btn <i></i><i></i>
											.main-nav-submenu.main-nav-submenu--l2
												.main-nav-submenu__item
													.main-nav-link.main-nav-submenu__link
														a(href="#") Мини, электро
												.main-nav-submenu__item
													.main-nav-link.main-nav-submenu__link
														a(href="#") С электродвигателем
														.main-nav-link__btn <i></i><i></i>
													.main-nav-submenu.main-nav-submenu--l3
														h3.main-nav__submenu-heading Источник питания
														.main-nav__submenu-content
															.main-nav__link-3l
																a(href="#") На батарейках
															.main-nav__link-3l
																a(href="#") На аккумуляторах
												.main-nav-submenu__item
													.main-nav-link.main-nav-submenu__link
														a(href="#") С двс двигателем
												.main-nav-submenu__item
													.main-nav-link.main-nav-submenu__link
														a(href="#") С бензиновым двигателем
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Подводные лодки
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Модели яхт
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a.media-link.media-top-link(href="#")
													i.media-choice-icon.media-icon
													| Как выбрать
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a.media-link.media-top-link(href="#")
													i.media-review-icon.media-icon
													| Обзоры
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a.media-link.media-top-link(href="#")
													i.media-video-icon.media-icon
													| Видео
							.main-nav__item
								.main-nav-link
									a(href="#") Танки
							.main-nav__item
								.main-nav-link
									a(href="#") Мотоциклы
							.main-nav__item
								.main-nav-link
									a(href="#") Коллекционные
							.main-nav__item
								.main-nav-link
									a(href="#") Стендовые
							.main-nav__item
								.main-nav-link
									a(href="#") Другая техника
							.main-nav__item
								.main-nav-link
									a(href="#") Копмплектующие
									.main-nav-link__btn <i></i><i></i>
								.main-nav-submenu__wrapper(data-bg='dist/images/home-page/auto-menu-bg.jpg')
									.main-nav-submenu.main-nav-submenu--l1
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Фото, видео
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Радиоуправление
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Аккумуляторы
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Зарядные устройства
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Электроника
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Двигатели
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Топливо
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Жидкости
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Запчасти
												.main-nav-link__btn <i></i><i></i>
											.main-nav-submenu.main-nav-submenu--l2
												.main-nav-submenu__item
													.main-nav-link.main-nav-submenu__link
														a(href="#") Инструменты
														.main-nav-link__btn <i></i><i></i>
													.main-nav-submenu.main-nav-submenu--l2
														.main-nav-submenu__item
															.main-nav-link.main-nav-submenu__link
																a(href="#") Отвертки
														.main-nav-submenu__item
															.main-nav-link.main-nav-submenu__link
																a(href="#") Ключи
														.main-nav-submenu__item
															.main-nav-link.main-nav-submenu__link
																a(href="#") Наборы инструментов
												.main-nav-submenu__item
													.main-nav-link.main-nav-submenu__link
														a(href="#") Болты
												.main-nav-submenu__item
													.main-nav-link.main-nav-submenu__link
														a(href="#") Подшипники
												.main-nav-submenu__item
													.main-nav-link.main-nav-submenu__link
														a(href="#") Кабели
										.main-nav-submenu__item
											.main-nav-link.main-nav-submenu__link
												a(href="#") Аксессуары

							.main-nav__item
								.main-nav-link
									a(href="#") Производители
						//- // Ссылки на медиа контент (.main-nav-home__media-links - класс для главной страницы)
						//- .main-nav__media-links.main-nav-home__media-links
						//- 	.main-nav-link.main-nav-media-link
						//- 		a.media-link.media-top-link(href="#")
						//- 			i.media-review-icon.media-icon
						//- 			| Обзоры
						//- 	.main-nav-link.main-nav-media-link
						//- 		a.media-link.media-top-link(href="#")
						//- 			i.media-article-icon.media-icon
						//- 			| Статьи
						//- 	.main-nav-link.main-nav-media-link
						//- 		a.media-link.media-top-link(href="#")
						//- 			i.media-news-icon.media-icon
						//- 			| Новости
						//- 	.main-nav-link.main-nav-media-link
						//- 		a.media-link.media-top-link(href="#")
						//- 			i.media-events-icon.media-icon
						//- 			| События
						//- 	.main-nav-link.main-nav-media-link
						//- 		a.media-link.media-top-link(href="#")
						//- 			i.media-video-icon.media-icon
						//- 			| Видео
				// Конец основного меню

				.home-top-right
					// Слайдер с баннерами
					section.home-slider-container
						.page-slider.home-slider.owl-carousel
							mixin page-slide(imgSrc)
								.page-slide
									img.page-slide__image(src=imgSrc, alt="some slider image")
									.page-slide__desc
										.product-price--current 2 800
											span.product-price__text--small  грн
										a.page-slide__btn(href="#") Посмотреть модель
							+page-slide("dist/images/temporary/home-slider/01.jpg")
							.page-slide
								img.page-slide__image(src="dist/images/temporary/home-slider/02.jpg", alt="some slider image")
								.page-slide__desc
									.product-price--current 13 600
										span.product-price__text--small  грн
									a.page-slide__btn(href="#") Посмотреть модель
							.page-slide
								img.page-slide__image(src="dist/images/temporary/home-slider/03.jpg", alt="some slider image")
								.page-slide__desc
									.product-price--current 13 600
										span.product-price__text--small  грн
									a.page-slide__btn(href="#") Посмотреть модель
							.page-slide
								img.page-slide__image(src="dist/images/temporary/category/category-banner-1.jpg", alt="some slider image")
								.page-slide__desc
									.product-price--current 13 600
										span.product-price__text--small  грн
									a.page-slide__btn(href="#") Посмотреть модель
							.page-slide
								img.page-slide__image(src="dist/images/temporary/category/category-banner-1.jpg", alt="some slider image")
								.page-slide__desc
									.product-price--current 13 600
										span.product-price__text--small  грн
									a.page-slide__btn(href="#") Посмотреть модель
							.page-slide
								img.page-slide__image(src="dist/images/temporary/category/category-banner-1.jpg", alt="some slider image")
								.page-slide__desc
									.product-price--current 13 600
										span.product-price__text--small  грн
									a.page-slide__btn(href="#") Посмотреть модель
							.page-slide
								img.page-slide__image(src="dist/images/temporary/category/category-banner-1.jpg", alt="some slider image")
								.page-slide__desc
									.product-price--current 2 800
										span.product-price__text--small  грн
									a.page-slide__btn(href="#") Посмотреть модель
							.page-slide
								img.page-slide__image(src="dist/images/temporary/category/category-banner-1.jpg", alt="some slider image")
								.page-slide__desc
									.product-price--current 2 800
										span.product-price__text--small  грн
									a.page-slide__btn(href="#") Посмотреть модель
							.page-slide
								img.page-slide__image(src="dist/images/temporary/category/category-banner-1.jpg", alt="some slider image")
								.page-slide__desc
									.product-price--current 2 800
										span.product-price__text--small  грн
									a.page-slide__btn(href="#") Посмотреть модель
							.page-slide
								img.page-slide__image(src="dist/images/temporary/category/category-banner-1.jpg", alt="some slider image")
								.page-slide__desc
									.product-price--current 2 800
										span.product-price__text--small  грн
									a.page-slide__btn(href="#") Посмотреть модель
						.home-slider__dots-wrapper
							.home-slider__dots#customDots
								.home-slider__custom-dot
									img(src="dist/images/temporary/home-slider/01.jpg", alt="some slider image")
								.home-slider__custom-dot
									img(src="dist/images/temporary/home-slider/02.jpg", alt="some slider image")
								.home-slider__custom-dot
									img(src="dist/images/temporary/home-slider/03.jpg", alt="some slider image")
								.home-slider__custom-dot
									img(src="dist/images/temporary/category/category-banner-1.jpg", alt="some slider image")
								.home-slider__custom-dot
									img(src="dist/images/temporary/category/category-banner-1.jpg", alt="some slider image")
								.home-slider__custom-dot
									img(src="dist/images/temporary/category/category-banner-1.jpg", alt="some slider image")
								.home-slider__custom-dot
									img(src="dist/images/temporary/category/category-banner-1.jpg", alt="some slider image")
								.home-slider__custom-dot
									img(src="dist/images/temporary/category/category-banner-1.jpg", alt="some slider image")
								.home-slider__custom-dot
									img(src="dist/images/temporary/category/category-banner-1.jpg", alt="some slider image")
								.home-slider__custom-dot
									img(src="dist/images/temporary/category/category-banner-1.jpg", alt="some slider image")
								.home-slider__custom-dot
									img(src="dist/images/temporary/category/category-banner-1.jpg", alt="some slider image")
							//- .home-slider__more
					// Конец слайдера с баннерами

					// Ссылки на медиа контент сайта
					.media-links.media-top-links
						a.media-link.media-top-link(href="#")
							i.media-review-icon.media-icon
							span Обзоры
						a.media-link.media-top-link(href="#")
							i.media-article-icon.media-icon
							span Статьи
						a.media-link.media-top-link(href="#")
							i.media-news-icon.media-icon
							span Новости
						a.media-link.media-top-link(href="#")
							i.media-events-icon.media-icon
							span События
						a.media-link.media-top-link(href="#")
							i.media-video-icon.media-icon
							span Видео

					// Блок с напоминанием о содержимом корзины
					.incart-reminder
						span.incart-reminder__text
							a(href="#") В корзине
							|  12 товаров на
							b  124 400
							|  грн

						a(href="#").btn.incart-reminder__btn Оформить заказ
				// конец блока со слайдером
				.home-middle
					// Просмотренные товары
					section.viewed
						header.viewed-heading
							h2.home-title.viewed-title Вы смотрели
							a.viewed-delete-link
								span очистить историю
						#owl-viewed-products.popular-products-block.clearfix.owl-carousel.custom-scrollbar
							// .custom-scrollbar  - класс для отображения нижнего скроллбара. HTML код для него генеририуется в home.js
							.product-preview-item
								.product-preview-item__inner
									.product-preview-item__photo
										a(href="#")
											img(src="dist/images/sample-airplane.jpg", alt="image")
									.product-preview-item__content
										.product-preview-item__product-status
											span.product-status.product-status--new Новинка
											span.category-product__product-comments
												a(href="#") 16
											span(class="product-info__code") Код:&nbsp;HSP-94107Pro
										div.product-preview-item__heading
											a(href="#") Модель р/у планера VolantexRC FPVRaptor V2 (TW-757-V2) 2000мм 2.4GHz...
										.category-product__price
											span.product-price--new 2600
												span.product-price__text--small грн
											span.product-price--old 2785 грн
											//- span.product-price--current 13 600
											//- 	span.product-price__text--small грн
										.category-product__buy
											a.product-btn.category-product__btn.category-product__btn--waiting(href="#") Сообщить о поступлении
											.category-product__product-links
												a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
												a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
												a.category-product__product-link.cp-watch-price-link(href="#", title="следить за ценой")

							.product-preview-item
								.product-preview-item__inner
									.product-preview-item__photo
										a(href="#")
											img(src="dist/images/sample-airplane.jpg", alt="image")
									.product-preview-item__content
										.product-preview-item__product-status
											span.product-status.product-status--new Новинка
											span.category-product__product-comments
												a(href="#") 16
											span.product-status.product-status--discount -10%

										div.product-preview-item__heading
											a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
										.category-product__price
											// span.product-price--new 2600
											// 	span.product-price__text--small грн
											// span.product-price--old 2785 грн
											span.product-price--current 13 600
												span.product-price__text--small грн
										.category-product__buy
											a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
											.category-product__product-links
												a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
												a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

							.product-preview-item
								.product-preview-item__inner
									.product-preview-item__photo
										a(href="#")
											img(src="dist/images/sample-airplane.jpg", alt="image")
									.product-preview-item__content
										.product-preview-item__product-status
											span.product-status.product-status--top Топ продаж
											span.product-status.product-status--discount -10%
										div.product-preview-item__heading
											a(href="#") Модель р/у планера VolantexRC FPVRaptor (TW-757) 1600мм 2.4GHz KIT
										.product-preview-item__price
											span.product-price--new 896
												span.product-price__text--small грн
											span.product-price--old 1024 грн
										.category-product__buy
											a.product-btn.category-product__btn.category-product__btn--buy(href="#") Купить
											.category-product__product-links
												a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
												a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

							.product-preview-item
								.product-preview-item__inner
									.product-preview-item__photo
										a(href="#")
											img(src="dist/images/sample-airplane.jpg", alt="image")
									.product-preview-item__content
										.product-preview-item__product-status
											span.category-product__product-comments
												a(href="#") 16
											span(class="product-info__code") Код:&nbsp;HSP-94107Pro

										div.product-preview-item__heading
											a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
										.product-preview-item__price
											.product-price.product-price--current 1024 грн
										.category-product__buy
											a.product-btn.category-product__btn.category-product__btn--incart(href="#") В корзине
											.category-product__product-links
												a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
												a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

							.product-preview-item
								.product-preview-item__inner
									.product-preview-item__photo
										a(href="#")
											img(src="dist/images/sample-airplane.jpg", alt="image")
									.product-preview-item__content
										.product-preview-item__product-status
											span.cp-status.cp-status--available В наличии

										div.product-preview-item__heading
											a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
										.product-preview-item__price
											.product-price.product-price--current 1024 грн
										.category-product__buy
											a.product-btn.category-product__btn.category-product__btn--buy(href="#") Купить
											.category-product__product-links
												a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
												a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

							.product-preview-item
								.product-preview-item__inner
									.product-preview-item__photo
										a(href="#")
											img(src="dist/images/sample-airplane.jpg", alt="image")
									.product-preview-item__content
										.product-preview-item__product-status
											span.cp-status.cp-status--available В наличии

										div.product-preview-item__heading
											a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
										.category-product__price
											// span.product-price--new 2600
											// 	span.product-price__text--small грн
											// span.product-price--old 2785 грн
											span.product-price--current 13 600
												span.product-price__text--small грн
										.category-product__buy
											a.product-btn.category-product__btn.category-product__btn--buy(href="#") Купить
											.category-product__product-links
												a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
												a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

					// Секция Новинки
					section.new-goods
						h2.home-title.new-goods-title Новинки
						#owl-new-products.owl-carousel.popular-products-block.custom-scrollbar
							.product-preview-item
								.product-preview-item__category
									a(href="#") Багги (1/8)
								.product-preview-item__inner
									.product-preview-item__photo
										a(href="#")
											img(src="dist/images/temporary/blocks/product1.jpg", alt="image")
									.product-preview-item__content
										.product-preview-item__product-status
											span.product-status.product-status--new Новинка
											span.category-product__product-comments
												a(href="#") 16
											span(class="product-info__code") Код:&nbsp;HSP-94107Pro
										div.product-preview-item__heading
											a(href="#") Модель р/у планера VolantexRC FPVRaptor V2 (TW-757-V2) 2000мм 2.4GHz...
										.category-product__price
											// span.product-price--new 2600
											// 	span.product-price__text--small грн
											// span.product-price--old 2785 грн
											span.product-price--current 13 600
												span.product-price__text--small грн
										.category-product__buy
											a.product-btn.category-product__btn.category-product__btn--buy(href="#") Купить
											.category-product__product-links
												a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
												a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

							.product-preview-item
								.product-preview-item__category
									a(href="#") Квадракоптер DJI Phantom
								.product-preview-item__inner
									.product-preview-item__photo
										a(href="#")
											img(src="dist/images/temporary/blocks/product4.jpg", alt="image")
									.product-preview-item__content
										.product-preview-item__product-status
											span.product-status.product-status--new Новинка
											span.category-product__product-comments
												a(href="#") 16
											span.product-status.product-status--discount -10%

										div.product-preview-item__heading
											a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
										.category-product__price
											// span.product-price--new 2600
											// 	span.product-price__text--small грн
											// span.product-price--old 2785 грн
											span.product-price--current 13 600
												span.product-price__text--small грн
										.category-product__buy
											a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
											.category-product__product-links
												a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
												a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

							.product-preview-item
								.product-preview-item__category
									a(href="#") Катера для рыбалки
								.product-preview-item__inner
									.product-preview-item__photo
										a(href="#")
											img(src="dist/images/temporary/blocks/product2.jpg", alt="image")
									.product-preview-item__content
										.product-preview-item__product-status
											span.product-status.product-status--top Топ продаж
											span.product-status.product-status--discount -10%
										div.product-preview-item__heading
											a(href="#") Модель р/у планера VolantexRC FPVRaptor (TW-757) 1600мм 2.4GHz KIT
										.category-product__price
											// span.product-price--new 2600
											// 	span.product-price__text--small грн
											// span.product-price--old 2785 грн
											span.product-price--current 13 600
												span.product-price__text--small грн
										.category-product__buy
											a.product-btn.category-product__btn.category-product__btn--buy(href="#") Купить
											.category-product__product-links
												a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
												a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

							.product-preview-item
								.product-preview-item__category
									a(href="#") Катера с бензиновым двигателем
								.product-preview-item__inner
									.product-preview-item__photo
										a(href="#")
											img(src="dist/images/temporary/blocks/product3.jpg", alt="image")
									.product-preview-item__content
										.product-preview-item__product-status
											span.category-product__product-comments
												a(href="#") 16
											span(class="product-info__code") Код:&nbsp;HSP-94107Pro

										div.product-preview-item__heading
											a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
										.category-product__price
											// span.product-price--new 2600
											// 	span.product-price__text--small грн
											// span.product-price--old 2785 грн
											span.product-price--current 13 600
												span.product-price__text--small грн
										.category-product__buy
											a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
											.category-product__product-links
												a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
												a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

							.product-preview-item
								.product-preview-item__category
									a(href="#") Багги
								.product-preview-item__inner
									.product-preview-item__photo
										a(href="#")
											img(src="dist/images/sample-airplane.jpg", alt="image")
									.product-preview-item__content
										.product-preview-item__product-status

										div.product-preview-item__heading
											a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
										.category-product__price
											// span.product-price--new 2600
											// 	span.product-price__text--small грн
											// span.product-price--old 2785 грн
											span.product-price--current 13 600
												span.product-price__text--small грн
										.category-product__buy
											a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
											.category-product__product-links
												a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
												a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

							.product-preview-item
								.product-preview-item__category
									a(href="#") Катера с бензиновым двигателем
								.product-preview-item__inner
									.product-preview-item__photo
										a(href="#")
											img(src="dist/images/sample-airplane.jpg", alt="image")
									.product-preview-item__content
										.product-preview-item__product-status

										div.product-preview-item__heading
											a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
										.category-product__price
											// span.product-price--new 2600
											// 	span.product-price__text--small грн
											// span.product-price--old 2785 грн
											span.product-price--current 13 600
												span.product-price__text--small грн
										.category-product__buy
											a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
											.category-product__product-links
												a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
												a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
					// Популярные товары
					section.popular-goods.home-goods-slider
						h2.home-title.popular-goods-title Популярные товары
						#owl-popular-products.clearfix.owl-carousel.popular-products-block.noborder
							.product-preview-item
								.product-preview-item__category
									a(href="#") Багги (1/8)
								.product-preview-item__inner
									.product-preview-item__photo
										a(href="#")
											img(src="dist/images/temporary/blocks/product1.jpg", alt="image")
									.product-preview-item__content
										.product-preview-item__product-status
											span.product-status.product-status--new Новинка
											span.category-product__product-comments
												a(href="#") 16
											span(class="product-info__code") Код:&nbsp;HSP-94107Pro
										div.product-preview-item__heading
											a(href="#") Модель р/у планера VolantexRC FPVRaptor V2 (TW-757-V2) 2000мм 2.4GHz...
										.category-product__price
											// span.product-price--new 2600
											// 	span.product-price__text--small грн
											// span.product-price--old 2785 грн
											span.product-price--current 13 600
												span.product-price__text--small грн
										.category-product__buy
											a.product-btn.category-product__btn.category-product__btn--buy(href="#") Купить
											.category-product__product-links
												a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
												a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

							.product-preview-item
								.product-preview-item__category
									a(href="#") Квадракоптер DJI Phantom
								.product-preview-item__inner
									.product-preview-item__photo
										a(href="#")
											img(src="dist/images/temporary/blocks/product4.jpg", alt="image")
									.product-preview-item__content
										.product-preview-item__product-status
											span.product-status.product-status--new Новинка
											span.category-product__product-comments
												a(href="#") 16
											span.product-status.product-status--discount -10%

										div.product-preview-item__heading
											a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
										.category-product__price
											// span.product-price--new 2600
											// 	span.product-price__text--small грн
											// span.product-price--old 2785 грн
											span.product-price--current 13 600
												span.product-price__text--small грн
										.category-product__buy
											a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
											.category-product__product-links
												a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
												a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

							.product-preview-item
								.product-preview-item__category
									a(href="#") Катера для рыбалки
								.product-preview-item__inner
									.product-preview-item__photo
										a(href="#")
											img(src="dist/images/temporary/blocks/product2.jpg", alt="image")
									.product-preview-item__content
										.product-preview-item__product-status
											span.product-status.product-status--top Топ продаж
											span.product-status.product-status--discount -10%
										div.product-preview-item__heading
											a(href="#") Модель р/у планера VolantexRC FPVRaptor (TW-757) 1600мм 2.4GHz KIT
										.category-product__price
											// span.product-price--new 2600
											// 	span.product-price__text--small грн
											// span.product-price--old 2785 грн
											span.product-price--current 13 600
												span.product-price__text--small грн
										.category-product__buy
											a.product-btn.category-product__btn.category-product__btn--buy(href="#") Купить
											.category-product__product-links
												a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
												a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

							.product-preview-item
								.product-preview-item__category
									a(href="#") Катера с бензиновым двигателем
								.product-preview-item__inner
									.product-preview-item__photo
										a(href="#")
											img(src="dist/images/temporary/blocks/product3.jpg", alt="image")
									.product-preview-item__content
										.product-preview-item__product-status
											span.category-product__product-comments
												a(href="#") 16
											span(class="product-info__code") Код:&nbsp;HSP-94107Pro

										div.product-preview-item__heading
											a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
										.category-product__price
											// span.product-price--new 2600
											// 	span.product-price__text--small грн
											// span.product-price--old 2785 грн
											span.product-price--current 13 600
												span.product-price__text--small грн
										.category-product__buy
											a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
											.category-product__product-links
												a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
												a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

							.product-preview-item
								.product-preview-item__category
									a(href="#") Багги
								.product-preview-item__inner
									.product-preview-item__photo
										a(href="#")
											img(src="dist/images/sample-airplane.jpg", alt="image")
									.product-preview-item__content
										.product-preview-item__product-status

										div.product-preview-item__heading
											a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
										.category-product__price
											// span.product-price--new 2600
											// 	span.product-price__text--small грн
											// span.product-price--old 2785 грн
											span.product-price--current 13 600
												span.product-price__text--small грн
										.category-product__buy
											a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
											.category-product__product-links
												a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
												a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

							.product-preview-item
								.product-preview-item__category
									a(href="#") Катера с бензиновым двигателем
								.product-preview-item__inner
									.product-preview-item__photo
										a(href="#")
											img(src="dist/images/sample-airplane.jpg", alt="image")
									.product-preview-item__content
										.product-preview-item__product-status

										div.product-preview-item__heading
											a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
										.category-product__price
											// span.product-price--new 2600
											// 	span.product-price__text--small грн
											// span.product-price--old 2785 грн
											span.product-price--current 13 600
												span.product-price__text--small грн
										.category-product__buy
											a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
											.category-product__product-links
												a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
												a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
					// Миниатюры категорий
					section.home-catalog
						mixin home-catalog-item(title, imageName)
							-var imagesDirectory = "dist/images/catalog-miniatures/"
							.home-catalog-item
								a(href="#").home-catalog-link
									.home-catalog-item__image
										img(src=imagesDirectory + imageName, alt=title)
									.home-catalog-item__title= title

						+home-catalog-item("Квадрокоптеры", "quadro.jpg")
						+home-catalog-item("Танки", "tank.jpg")
						+home-catalog-item("Катера и яхты", "boats.jpg")
						+home-catalog-item("Авиамодели", "avia.jpg")
						+home-catalog-item("Мотоциклы", "moto.jpg")
						+home-catalog-item("Автомобили", "avto.jpg")
						+home-catalog-item("Аккумуляторы", "accum.jpg")
						+home-catalog-item("Зарядные устройства", "chargers.jpg")
						+home-catalog-item("Топливо и жидкости", "fuel.jpg")
						+home-catalog-item("Радиоуправление", "radio.jpg")
						+home-catalog-item("FPV оборудование", "fpv.jpg")
						+home-catalog-item("Запчасти", "parts.jpg")

					// Топ по брендам
					section.top-brands
						h2.home-title.top-brands__title Топ по брендам

						.top-brands__inner.clearfix
							.top-brands__mob-menu-select.mobile-custom-select ТОП 10
							ul.top-brands-menu.mobile-custom-options
								li.top-brands-menu__item.active(tabindex="0", data-id="top10")
									span ТОП 10
								li.top-brands-menu__item(tabindex="0", data-id="topavia")
									span Авиа
								li.top-brands-menu__item(tabindex="0", data-id="topquadro")
									span Квадракоптеры
								li.top-brands-menu__item(tabindex="0", data-id="topships")
									span Корабли
								li.top-brands-menu__item(tabindex="0", data-id="topparts")
									span Комплектующие
							.top-brands-content
								// класс .active у видимого блока
								.top-brands-content__item.active#top10
									a(href="#").top-brands-content__link TOP 10
									a(href="#").top-brands-content__link Brio
									a(href="#").top-brands-content__link Himoto
									a(href="#").top-brands-content__link Pilotage
									a(href="#").top-brands-content__link Brio
									a(href="#").top-brands-content__link Himoto
									a(href="#").top-brands-content__link Pilotage
									a(href="#").top-brands-content__link Brio
									a(href="#").top-brands-content__link Himoto
									a(href="#").top-brands-content__link Pilotage
								.top-brands-content__item#topavia
									a(href="#").top-brands-content__link AVIA
									a(href="#").top-brands-content__link Brio
									a(href="#").top-brands-content__link Himoto
									a(href="#").top-brands-content__link Pilotage
									a(href="#").top-brands-content__link Brio
									a(href="#").top-brands-content__link Himoto
									a(href="#").top-brands-content__link Pilotage
									a(href="#").top-brands-content__link Brio
									a(href="#").top-brands-content__link Himoto
									a(href="#").top-brands-content__link Pilotage
								.top-brands-content__item#topquadro
									a(href="#").top-brands-content__link QUADRO
									a(href="#").top-brands-content__link Brio
									a(href="#").top-brands-content__link Himoto
									a(href="#").top-brands-content__link Pilotage
									a(href="#").top-brands-content__link Brio
									a(href="#").top-brands-content__link Himoto
									a(href="#").top-brands-content__link Pilotage
									a(href="#").top-brands-content__link Brio
									a(href="#").top-brands-content__link Himoto
									a(href="#").top-brands-content__link Pilotage
								.top-brands-content__item#topships
									a(href="#").top-brands-content__link SHIPS
									a(href="#").top-brands-content__link Brio
									a(href="#").top-brands-content__link Himoto
									a(href="#").top-brands-content__link Pilotage
									a(href="#").top-brands-content__link Brio
									a(href="#").top-brands-content__link Himoto
									a(href="#").top-brands-content__link Pilotage
									a(href="#").top-brands-content__link Brio
									a(href="#").top-brands-content__link Himoto
									a(href="#").top-brands-content__link Pilotage
								.top-brands-content__item#topparts
									a(href="#").top-brands-content__link PARTS
									a(href="#").top-brands-content__link Brio
									a(href="#").top-brands-content__link Himoto
									a(href="#").top-brands-content__link Pilotage
									a(href="#").top-brands-content__link Brio
									a(href="#").top-brands-content__link Himoto
									a(href="#").top-brands-content__link Pilotage
									a(href="#").top-brands-content__link Brio
									a(href="#").top-brands-content__link Himoto
									a(href="#").top-brands-content__link Pilotage

					// Медиа и соц.сети
					section.home-media-social.clearfix
						.media-content
							.mobile-custom-select
								a.media-link.media-content__link.active(href="#", title="Посмотреть все обзоры")
									i.media-review-icon.media-icon
									span Обзоры
							.media-links.media-content__links.mobile-custom-options
								// у активной ссылки есть класс active
								a.media-link.media-content__link.active(href="#", title="Посмотреть все обзоры")
									i.media-review-icon.media-icon
									span Обзоры
								a.media-link.media-content__link(href="#", title="Посмотреть все статьи")
									i.media-article-icon.media-icon
									span Статьи
								a.media-link.media-content__link(href="#", title="Посмотреть все новости")
									i.media-news-icon.media-icon
									span Новости
								a.media-link.media-content__link(href="#", title="Посмотреть все события")
									i.media-events-icon.media-icon
									span События
								a.media-link.media-content__link(href="#", title="Посмотреть все видео")
									i.media-video-icon.media-icon
									span Видео

							.media-content__content.clearfix
								.overview-preview.overview-preview-home
									.overview-preview__img
										a(href="#")
											img(src="dist/images/temporary/overview/ov1.jpg", alt="some overview")
									.overview-preview__content
										.overview-preview__status
											span.overview-status.overview-status--announce Анонс

										h2.overview-preview__title
											a(href="#") Краткий обзор наиболее популярных компаний, выпускающих R/C моделей
										.overview-preview__excerpt
											//- excerpt - отрывок.
											p.
												Hitec северокорейская компания, основанная в 1973 году, производитель радиоаппаратуры: передатчиков, приёмников, сервомашинок, прочей электроники, аксессуаров.
								.overview-preview.overview-preview-home
									.overview-preview__img
										a(href="#")
											img(src="dist/images/temporary/overview/ov2.jpg", alt="some overview")
									.overview-preview__content
										h2.overview-preview__title
											a(href="#") Багги или монстр? Как выбрать радиоуправляемую машину?
										.overview-preview__excerpt
											//- excerpt - отрывок.
											p.
												Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.



						.social-groups
							.social-groups__links
								h2.social-groups__title Обсуждения
								a(href="#").social-link.social-link--facebook.active
								a(href="#").social-link.social-link--vk
								a(href="#").social-link.social-link--twitter
								a(href="#").social-link.social-link--youtube
								a(href="#").social-link.social-link--google
							.social-groups__group
								img(src='dist/images/temporary/facebook-group.jpg')

		// ************************************************************************************
		// Начало нижней части сайта с адресами магазинов (префутера)
		section.prefooter
			.container
				h2.prefooter__heading Добро пожаловать в наши салоны
				.prefooter__description
					p Закажите на 20 000 грн и заберите товар в любом салоне
					p Получите <strong>скидочный купон на следующую покупку</strong> в интернет-магазине
				//- .store-address-tabs-menu__item.store-address-tabs-menu__item--active.u-mobile(tabindex="0", data-id="#KievVasilkovskaya") <i></i> <span>Киев, м. Васильковская</span>
				.stores-menu
					.mobile-custom-select.store-address-link <i></i> <span>Киев, м. Васильковская</span>
					ul.store-address-tabs-menu.mobile-custom-options
						li.store-address-tabs-menu__item.active.store-address-link(tabindex="0", data-id="#KievVasilkovskaya") <i></i> <span>Киев, м. Васильковская</span>
						li.store-address-tabs-menu__item.store-address-link(tabindex="0", data-id="#KievLesnaya") <i></i> <span>Киев, м. Лесная</span>
						li.store-address-tabs-menu__item.store-address-link(tabindex="0", data-id="#KharkovSumskaya") <i></i> <span>Харьков, ул. Сумская</span>
				.stores-wrapper
					.store.store--active.clearfix#KievVasilkovskaya
						.store__heading Салон и сервисный центр <br> м. Васильковская, ул. Михаила Максимовича 10, корп. А, офис 201

						.store-contacts
							.store-contacts__item
								i.store-contacts__icon.clock-icon
								| пн-пт: 9-17   сб-вс: ТЦ «Дарынок» 10-20
							.store-contacts__item
								i.store-contacts__icon.phone-icon
								| (044) 224-61-00
							.store-contacts__item
								i.store-contacts__icon.skype-icon
								| modelistam.kiev
						.store__visual.clearfix
							.store-gallery
								.store-gallery__main-image
									a(href="#")
											img(src="dist/images/temporary/footer/footer-gallery/big1.jpg", alt="store in kiyv")
								.store-gallery__miniatures
									.store-gallery__miniatures-inner
										.store-gallery__miniature.store-gallery__miniature--active
											a(href="dist/images/temporary/footer/footer-gallery/big1.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kiyv")
										.store-gallery__miniature
											a(href="dist/images/temporary/footer/map.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kiyv")
										.store-gallery__miniature
											a(href="dist/images/temporary/footer/footer-gallery/big1.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kiyv")
										.store-gallery__miniature
											a(href="dist/images/temporary/footer/footer-gallery/big1.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kiyv")

							.store-map
								img(src="dist/images/temporary/footer/map.jpg")




					.store#KievLesnaya.clearfix
						.store__heading Салон и сервисный центр <br> м. Лесная, ул. Беломорская, 1, ТЦ «Дарынок», корп. «ТриД», 3 эт., торговое место ДС 30
						.store-contacts
							.store-contacts__item
								i.store-contacts__icon.clock-icon
								| пн-вс: 10-20
							.store-contacts__item
								i.store-contacts__icon.phone-icon
								| (044) 224-61-00
							.store-contacts__item
								i.store-contacts__icon.skype-icon
								| modelistam.kiev
						.store__visual.clearfix
							.store-gallery
								.store-gallery__main-image
									a(href="#")
											img(src="dist/images/temporary/footer/footer-gallery/big1.jpg", alt="store in kiyv")
								.store-gallery__miniatures
									.store-gallery__miniatures-inner
										.store-gallery__miniature.store-gallery__miniature--active
											a(href="dist/images/temporary/footer/footer-gallery/big1.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kiyv")
										.store-gallery__miniature
											a(href="dist/images/temporary/footer/map.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kiyv")
										.store-gallery__miniature
											a(href="dist/images/temporary/footer/footer-gallery/big1.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kiyv")
										.store-gallery__miniature
											a(href="dist/images/temporary/footer/footer-gallery/big1.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kiyv")
										.store-gallery__miniature.store-gallery__miniature--active
											a(href="dist/images/temporary/footer/footer-gallery/big1.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kiyv")
										.store-gallery__miniature.store-gallery__miniature--active
											a(href="dist/images/temporary/footer/footer-gallery/big1.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kiyv")
									.store-gallery__more

							.store-map
								img(src="dist/images/temporary/footer/map.jpg")

					.store#KharkovSumskaya.clearfix
						.store__heading Салон и сервисный центр <br> м. Университет, ул. Сумская 77/79 возле парка им. Горького
						.store-contacts
							.store-contacts__item
								i.store-contacts__icon.clock-icon
								| пн-пт: 10-19   сб: 10-16   вс: Выходной
							.store-contacts__item
								i.store-contacts__icon.phone-icon
								| (057) 755-15-00
							.store-contacts__item
								i.store-contacts__icon.skype-icon
								| modelistam.kharkov
						.store__visual.clearfix
							.store-gallery
								.store-gallery__main-image
									a(href="#")
											img(src="dist/images/temporary/footer/footer-gallery/big1.jpg", alt="store in kharkov")
								.store-gallery__miniatures
									.store-gallery__miniatures-inner
										.store-gallery__miniature.store-gallery__miniature--active
											a(href="dist/images/temporary/footer/footer-gallery/big1.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kharkov")
										.store-gallery__miniature
											a(href="dist/images/temporary/footer/footer-gallery/magazin-planeta-hobby-kharkov-1.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kharkov")
										.store-gallery__miniature
											a(href="dist/images/temporary/footer/footer-gallery/magazin-planeta-hobby-kharkov-2.jpg")
												img(src="dist/images/temporary/footer/footer-gallery/small1.jpg", alt="store in kharkov")

							.store-map
								img(src="dist/images/temporary/footer/map.jpg")

				.prefooter__about
					p.
						Компания «Planeta Hobby» — ведущая украинская компания, которая работает на рынке радиоуправляемых моделей с 2007 года.
					p.
						Основа нашего бизнеса заключается в ответственности перед каждым клиентом, обеспечении вас исключительно качественными и современными товарами передовых всемирно известных брендов, высоким и оперативным уровнем техническогобслуживания.
					p.
						Изо дня в день высокопрофессиональная команда открывает для вас двери в инновационное будущее. Мы постоянно смотрим вперед и расширяем ассортимент не только продукции, но и услуг, чтобы ваше хобби приносило максимальное удовольствие и помогало по-настоящему расслабиться от ежедневных забот.
				ul.prefooter__delivery-cities
					li.prefooter__delivery-cities-heading Доставляем товары в города:
					li
						b Киев
					li Чернигов
					li
						b Харьков
					li Черкассы
					li
						b Одесса
					li Житомир
					li
						b Днепропетровск
					li Суммы
					li Запорожье
					li Хмельницкий
					li Львов
					li Ровно
					li Кривой Рог
					li Кировоград
					li Николаев
					li Черновцы
					li Винница
					li Кременчуг
					li Луцк
					li Ивано-Франковск
					li Полтава
					li Тернополь
			include includes/footer-signup.pug

		// ************************************************************************************
		include includes/footer.pug
