doctype html
html(lang="ru")
	head
		block title
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/assets/owl.carousel.min.css")
		link(rel="stylesheet" href="dist/normalize.css")
		link(rel="stylesheet" href="dist/template_styles.css")
		
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		//- script(src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/owl.carousel.min.js")
		script(src="dist/js/vendor/modernizr-2.8.3.min.js")
		//- script(src="dist/js/vendor/jquery.custom-scrollbar.js")
		//- link(rel="stylesheet", href="dist/css/custom-scrollbar/custom-scrollbar.css")
		// editable select для выбора количества в блоке требуется докупить
		script(src="dist/js/vendor/editable-select/jquery-editable-select.js")
		link(rel="stylesheet", href="dist/css/editable-select/editable-select.css") 
		
		// add fancybox
		link(rel="stylesheet", href="dist/css/fancybox/jquery.fancybox.css?v=2.1.5")
		script(src="dist/js/vendor/fancybox/jquery.fancybox.js?v=2.1.5")
		link(rel="stylesheet", href="dist/css/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7")
		script(src="dist/js/vendor/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7")
		
		// main script
		script(src="dist/js/pages/product.js")

		// rating mneniya.pro
		script(src="//dev.mneniya.pro/jquery.rating.pack.js")
			


		

	body
		.page-inner
			section.product-card
				block page-heading
					h1.product-card__title Самолет Hubsan Spy Hawk H301F 843 мм 2.4 & 5.8GHz с бортовой видеокамерой и системой FPV RTF
				// h1.product-card__title.product-card__title--sale Самолет Hubsan Spy Hawk H301F 843 мм 2.4 & 5.8GHz с бортовой видеокамерой и системой FPV RTF

				// Шапка товара с основной информацией для покупки
				section.product-card__header
					// Блок, который содержит информацию по товару: картинки, цену, производителя и т.д
					.product-card__image-block
						// Блок с изображениями товара
						.product-card__main-image
							a.link-to-images(href="dist/images/temporary/big-images/1_b.jpeg" title="Самолет Hubsan Spy Hawk")
								img(src="dist/images/temporary/big-images/1_b.jpeg", alt="some image")
							.product-img-stickers
								span.product-img-sticker.product-img-sticker--new Новинка
								span.product-img-sticker.product-img-sticker--top Топ продаж

						.product-card__gallery.gallery-product
							a.gallery-product__control.gallery-product__control--up(href="#")
							a.gallery-product__control.gallery-product__control--down(href="#")
							.gallery-product__content
								.gallery-product__item.gallery-product__item--active
									a.link-to-images(href="dist/images/temporary/big-images/1_b.jpeg" title="Самолет Hubsan Spy Hawk" data-fancybox-group="thumb")
										img(src="dist/images/temporary/thumbnails/1_s.jpeg", alt="some image")
								.gallery-product__item
									a.link-to-images(href="dist/images/temporary/big-images/2_b.jpeg" title="Самолет Hubsan Spy Hawk" data-fancybox-group="thumb")
										img(src="dist/images/temporary/thumbnails/2_s.jpeg", alt="some image")
								.gallery-product__item
									// ссылка активного элемента не содержит класса .fancybox-thumbs
									a.link-to-images(href="dist/images/temporary/big-images/3_b.jpeg" title="Самолет Hubsan Spy Hawk" data-fancybox-group="thumb")
										img(src="dist/images/temporary/thumbnails/3_s.jpeg", alt="some image")
								.gallery-product__item
									a.link-to-images(href="dist/images/temporary/big-images/4_b.jpeg" title="Самолет Hubsan Spy Hawk" data-fancybox-group="thumb")
										img(src="dist/images/temporary/thumbnails/4_s.jpeg", alt="some image")
								.gallery-product__item
									a.link-to-images(href="dist/images/temporary/big-images/5_b.jpeg" title="Самолет Hubsan Spy Hawk" data-fancybox-group="thumb")
										img(src="dist/images/temporary/thumbnails/5_s.jpeg", alt="some image")
								.gallery-product__item
									a.link-to-images(href="dist/images/temporary/big-images/2_b.jpeg" title="Самолет Hubsan Spy Hawk" data-fancybox-group="thumb")
										img(src="dist/images/temporary/thumbnails/2_s.jpeg", alt="some image")
								.gallery-product__item
									// ссылка активного элемента не содержит класса .fancybox-thumbs
									a.link-to-images(href="dist/images/temporary/big-images/3_b.jpeg" title="Самолет Hubsan Spy Hawk" data-fancybox-group="thumb")
										img(src="dist/images/temporary/thumbnails/3_s.jpeg", alt="some image")
								.gallery-product__item
									a.link-to-images(href="dist/images/temporary/big-images/4_b.jpeg" title="Самолет Hubsan Spy Hawk" data-fancybox-group="thumb")
										img(src="dist/images/temporary/thumbnails/4_s.jpeg", alt="some image")
								.gallery-product__item
									a.link-to-images(href="dist/images/temporary/big-images/5_b.jpeg" title="Самолет Hubsan Spy Hawk" data-fancybox-group="thumb")
										img(src="dist/images/temporary/thumbnails/5_s.jpeg", alt="some image")
								.gallery-product__item
									a.link-to-images(href="dist/images/temporary/big-images/2_b.jpeg" title="Самолет Hubsan Spy Hawk" data-fancybox-group="thumb")
										img(src="dist/images/temporary/thumbnails/2_s.jpeg", alt="some image")
								.gallery-product__item
									// ссылка активного элемента не содержит класса .fancybox-thumbs
									a.link-to-images(href="dist/images/temporary/big-images/3_b.jpeg" title="Самолет Hubsan Spy Hawk" data-fancybox-group="thumb")
										img(src="dist/images/temporary/thumbnails/3_s.jpeg", alt="some image")
								.gallery-product__item
									a.link-to-images(href="dist/images/temporary/big-images/4_b.jpeg" title="Самолет Hubsan Spy Hawk" data-fancybox-group="thumb")
										img(src="dist/images/temporary/thumbnails/4_s.jpeg", alt="some image")
								.gallery-product__item
									a.link-to-images(href="dist/images/temporary/big-images/5_b.jpeg" title="Самолет Hubsan Spy Hawk" data-fancybox-group="thumb")
										img(src="dist/images/temporary/thumbnails/5_s.jpeg", alt="some image")
								.gallery-product__item
									a.link-to-images(href="dist/images/temporary/big-images/2_b.jpeg" title="Самолет Hubsan Spy Hawk" data-fancybox-group="thumb")
										img(src="dist/images/temporary/thumbnails/2_s.jpeg", alt="some image")
								.gallery-product__item
									// ссылка активного элемента не содержит класса .fancybox-thumbs
									a.link-to-images(href="dist/images/temporary/big-images/3_b.jpeg" title="Самолет Hubsan Spy Hawk" data-fancybox-group="thumb")
										img(src="dist/images/temporary/thumbnails/3_s.jpeg", alt="some image")
								.gallery-product__item
									a.link-to-images(href="dist/images/temporary/big-images/4_b.jpeg" title="Самолет Hubsan Spy Hawk" data-fancybox-group="thumb")
										img(src="dist/images/temporary/thumbnails/4_s.jpeg", alt="some image")
								.gallery-product__item
									a.link-to-images(href="dist/images/temporary/big-images/5_b.jpeg" title="Самолет Hubsan Spy Hawk" data-fancybox-group="thumb")
										img(src="dist/images/temporary/thumbnails/5_s.jpeg", alt="some image")
							.colors-block-table
								span Цвета
								.product-colors__item
									label(for="color-1")
										span(style="background-color: white").color-product-info__color-label
										| Белый
								.product-colors__item
									label(for="color-2")
										span(style="background-color: red").color-product-info__color-label
										| Красный
								.product-colors__item
									label(for="color-3")
										span(style="background-color: yellow").color-product-info__color-label
										| Желтый
						//- // Вывод всех изображений во всплывающем окне
						//- // В этот блок добавляются все изображения, что не вошли в основные 4 штуки.
						//- .product-card__all-images

						//- 		a.fancybox-thumbs(href="dist/images/temporary/big-images/5_b.jpeg"  data-fancybox-group="thumb" rel="group")
						//- 			img(src="dist/images/temporary/thumbnails/5_s.jpeg", alt="some image")
					
					block buy-block

					aside.product-card__shop-info.shop-info
						.product-manufacturer Производитель:
							a.popup-open-link(href="#" data-popup-target="galleryPopup")  HSP Racing
						.product-warranty Гарантия: 24 мес
						.shop-info__work-time <a href="/about/shop/">Магазин</a> открыт до 21
						ul.shop-info__pages
							li.shop-info__page
								a.shop-info__page-link.popup-open-link(href='#', data-popup-target='deliveryPopup') Доставка и оплата
							li.shop-info__page
								a.shop-info__page-link.popup-open-link(href='#', data-popup-target='returnAndChangePopup') Возврат и обмен
							li.shop-info__page.mobile-hidden
								a.shop-info__page-link.popup-open-link(href='#', data-popup-target='qualityGuaranteePopup') Гарантия качества
							li.shop-info__page.mobile-hidden
								a.shop-info__page-link.popup-open-link(href='#', data-popup-target='serviceCenterPopup') Сервисный центр
							li.shop-info__page.mobile-hidden
								a.shop-info__page-link.popup-open-link(href='#', data-popup-target='consultationPopup') Консультация

				// Тело с детальным описанием, характеристиками и доп. блоками
				section.product-card__details.details-product
					// Блок который содержит детали по товару: описание, характеристики, отзывы и т.д
					block product-set-block
					.details-product__menu-wrapper
						ul.details-product__menu.menu-details
							// Меню по табам
							li.menu-details__item
								a.menu-details__link.menu-details__link--active(href="#" data-target="about") О товаре
							li.menu-details__item
								a.menu-details__link(href="#" data-target="characteristics") Характеристики
							li.menu-details__item
								a.menu-details__link(href="#" data-target="comments") Отзывы
							li.menu-details__item
								a.menu-details__link(href="#" data-target="accessories") Аксессуары
							li.menu-details__item
								a.menu-details__link(href="#" data-target="repairParts") Запчасти
							li.menu-details__item
								span.menu-details__tablet-toggler Детальнее
								ul.menu-details__tablet-toggled
									li.menu-details__item
										a.menu-details__link(href="#" data-target="questionsAndAnswers") Вопросы и ответы
									li.menu-details__item
										a.menu-details__link(href="#" data-target="consulting") Получить консультацию

					// 1 таб - О товаре
					div.item-detail__mobile-menu-item.mobile-menu-item--active О товаре
					article#about.details-product__detail-item.item-detail.about-product.clearfix.item-detail--active
						block specific-page-block
						section.about-product__video
							ul.videos-tabs
								li.video-tab(data-order="1").
									<iframe src="https://www.youtube.com/embed/UlIHuxD7RPY" frameborder="0" allowfullscreen="" style="width: 490px; height: 367.5px;"></iframe>
								li.video-tab(data-order="2").
									<iframe width="494" height="301" src="https://www.youtube.com/embed/ztHNNW7QFyE" frameborder="0" allowfullscreen></iframe>
								li.video-tab(data-order="3").
									<iframe width="494" height="301" src="https://www.youtube.com/embed/ztHNNW7QFyE" frameborder="0" allowfullscreen></iframe>
							//- ul.tabs-control
							//-         li.tabs-control__item
							//-                 a.tabs-nav(href="#" data-nav="1") 1
							//-         li.tabs-control__item
							//-                 a.tabs-nav.tabs-nav--active(href="#" data-nav="2") 2
							
						section.about-product__text
							h2.item-detail__title Описание
							p Улыбчивый планер станет отличным другом для мальчишек и девчонок. Пенолет Smily имеет довольно необычную форму.
							p.
								Выполнен он в форме круга, как и положено смайлику, однако у него есть свой нос с пропеллером и хвост для улучшенной аэродинамики. На верхней стороне корпуса нарисована улыбательная мордашка.
							p.
								Материал планера Smily очень прочный и легкий, а самое главное – неубиваемый. Это пенистый Flexipor/EPP, который стойко перенесет любые испытательные взлеты и падения. Несмотря на необычную форму, модель достаточно быстра и маневренна. С ней можно выполнять различные трюки, в том числе и элементы высшего пилотажа.
							p.
								Пенолет Smily идеально подходит для развлекательных полетов, а также для использования в гордских условиях. С ним необязательно искать огромное поле, так как он достаточно компактен.
							
							section.about-product__characteristics
								h2 Характеристики
								table.product-characteristics
									tbody
										tr.characteristic
											td.characteristic-name Класс модели
											td.characteristic-value Багги
										tr.characteristic
											td.characteristic-name Масштаб
											td.characteristic-value 1/10
										tr.characteristic
											td.characteristic-name Материал 
											td.characteristic-value Пластик
										tr.characteristic
											td.characteristic-name Комплектация модели
											td.characteristic-value Полная (RTR, RTF)
								
								a#characteristicsLink(href="#" data-id="characteristics") Детальные характеристики
							section.about-product__completing
								h2 Комплектация
								ol
									li Полностью собранная модель самолёта Spy Hawk с видеокамерой
									li Пульт управления
									li Li-Po аккумулятор 7.4v 450mAh
									li Зарядное устройство
									li Инструкция

						section.product-card__need-to-purchase.purchase-product
							h2.purchase-product__title Требуется докупить (не входит в комплекцию)
							.purchase-product__products.products-purchase
								.products-purchase__category-items
									.products-purchase__item.purchase-item
										.purchase-item__img
											a(href="#")
												img(src="dist/images/temporary/need-product2.jpg", alt="some image")
										.purchase-item__desc
											.purchase-item__name
												a(href="#") Батарейки 1.2 B, LR6/2B "АА" x 2шт. (Sanyo, LR6/2B)
											//- .purchase-item__category
											//- 	a(href="#") Батарейки
										form.purchase-item__form.purchase-form(action="/")
											select.purchase-form__qty(name="prod-qty")
												option(value="1" selected) 1
												option(value="2") 2
												option(value="3") 3
												option(value="5") 5
												option(value="7") 7
												option(value="10") 10
											span.purchase-item__price
												b 24
												|  грн
											input.product-btn.product-btn--buy.purchase-item__btn(type="submit" value="В корзину")
									
									.products-purchase__collapsed-items
										.products-purchase__item.purchase-item
											.purchase-item__img
												a(href="#")
													img(src="dist/images/temporary/need-product1.jpg", alt="some image")
											.purchase-item__desc
												.purchase-item__name
													a(href="#") Батарейка Duracell AAA LR03
												//- .purchase-item__category
												//- 	a(href="#") Батарейки
											form.purchase-item__form.purchase-form(action="/")
												select.purchase-form__qty(name="prod-qty")
													option(value="1" selected) 1
													option(value="2") 2
													option(value="3") 3
													option(value="5") 5
													option(value="7") 7
													option(value="10") 10
												span.purchase-item__price 
													b 1 124
													|  грн
												input.product-btn.product-btn--buy.purchase-item__btn(type="submit" value="В корзину")
										.products-purchase__item.purchase-item
											.purchase-item__img
												a(href="#")
													img(src="dist/images/temporary/need-product1.jpg", alt="some image")
											.purchase-item__desc
												.purchase-item__name
													a(href="#") Батарейка FUJITSU (2шт.)
												//- .purchase-item__category
												//- 	a(href="#") Батарейки
											form.purchase-item__form.purchase-form(action="/")
												select.purchase-form__qty(name="prod-qty")
													option(value="1" selected) 1
													option(value="2") 2
													option(value="3") 3
													option(value="5") 5
													option(value="7") 7
													option(value="10") 10
												span.purchase-item__price 
													b 156
													|  грн
												input.product-btn.product-btn--buy.purchase-item__btn(type="submit" value="В корзину")
									// ссылка раскрывает (показывает содержимое) предыдущего блока
									a.products-purchase__show-link(href="#")
										span.show-collapsed Показать
										span.show-open Скрыть
										|  все батарейки
					// 2 таб - характеристики
					div.item-detail__mobile-menu-item Характеристики
					article#characteristics.details-product__detail-item.item-detail.characteristics-product
						h2.item-detail__title Характеристики
						table.product-characteristics
							tbody
								tr.characteristic
									td.characteristic-name Класс модели
									td.characteristic-value Багги
								tr.characteristic
									td.characteristic-name Масштаб
									td.characteristic-value 1/10
								tr.characteristic
									td.characteristic-name Материал 
									td.characteristic-value Пластик
								tr.characteristic
									td.characteristic-name Комплектация модели
									td.characteristic-value Полная (RTR, RTF)
								tr.characteristic
									td.characteristic-name Класс модели
									td.characteristic-value Багги
								tr.characteristic
									td.characteristic-name Масштаб
									td.characteristic-value 1/10
								tr.characteristic
									td.characteristic-name Материал 
									td.characteristic-value Пластик
								tr.characteristic
									td.characteristic-name Комплектация модели
									td.characteristic-value Полная (RTR, RTF) 
								tr.characteristic
									td.characteristic-name Класс модели
									td.characteristic-value Багги
								tr.characteristic
									td.characteristic-name Масштаб
									td.characteristic-value 1/10
								tr.characteristic
									td.characteristic-name Материал 
									td.characteristic-value Пластик
								tr.characteristic
									td.characteristic-name Комплектация модели
									td.characteristic-value Полная (RTR, RTF)
	
					// 3 таб - отзывы
					div.item-detail__mobile-menu-item Отзывы
					section#comments.details-product__detail-item.item-detail.characteristics-product
						h2.item-detail__title Отзывы
							span.comments-amount (1)
						#mneniyapro_feeddata
							.clear
							#mneniya-head
								.mp-head-left.mp-floatl(itemscope='', itemtype='http://data-vocabulary.org/Review-aggregate')
									span.mp-title Средний рейтинг:
									.mp-total-score-wraper
										span(itemprop='itemreviewed', style='display:none;') Метательный планер Miniprop Felix iQ (F8060)
										.mp-total-score
											div(style='width:60%')
										.mp-floatl.mp-total-score-text
											span.mp-total-score-val(itemprop='rating', itemscope='', itemtype='http://data-vocabulary.org/Rating')
												| "
												span(itemprop='average') 3
												| "
											| на основании 
											span
												span(itemprop='votes') 6
												| отзывов
										.clear
									.mp-total-reccomend
										span.mp-total-recommend-val 67% 
										| покупателей рекомендуют этот товар
									.mp-calltoaction
										span Успели купить?
										a.addformlink.big-link.popup-open-link(data-popup-target="commentPopup", href='#', data-animation='fade') Оставить отзыв
								.mp-head-right.mp-floatl
									span.mp-title Распределение рейтингов:
									table.mp-rating-details
										tbody
											tr
												td.mp-range
													.mp-rating-value
														div(style='width:100%')
												td.mp-bar
													.mp-strip5(title='17%', style='width:17%')
												td.mp-count (1)
											tr
												td.mp-range
													.mp-rating-value
														div(style='width:80%')
												td.mp-bar
													.mp-strip4(title='33%', style='width:33%')
												td.mp-count (2)
											tr
												td.mp-range
													.mp-rating-value
														div(style='width:60%')
												td.mp-bar
													.mp-strip3(title='17%', style='width:17%')
												td.mp-count (1)
											tr
												td.mp-range
													.mp-rating-value
														div(style='width:40%')
												td.mp-bar
													.mp-strip2(title='0%', style='width:0%')
												td.mp-count (0)
											tr
												td.mp-range
													.mp-rating-value
														div(style='width:20%')
												td.mp-bar
													.mp-strip1(title='33%', style='width:33%')
												td.mp-count (2)
								.clear
								.mp-head-left.mp-floatl
									span.mp-reviews-title Отзывы о товаре:
								.mp-head-right.mp-floatl
									.mp-proof
										a.mp-logol-link(href='//mneniya.pro/trustmark/', target='_blank')
											img.mp-logo(src='//dev.mneniya.pro/images/logo.png', title='Отзывы покупателей собраны независимым сервисом Mneniya.Pro', alt='Отзывы покупателей собраны независимым сервисом Mneniya.Pro')
										span гарантирует достоверность отзывов
								.clear
							ul.mp-rating-items
								li.mp-rating-item
									.mp-wrap-left
										img(src='https://www.gravatar.com/avatar/375eec20ee9271f036e8e8e66caee356?d=%2F%2Fdev.mneniya.pro%2Fimages%2Fdefault-avatar.png&s=50')
										.mp-rating-value
											div(style='width:20%')
										.mp-rating-head
											.mp-rating-author-name Дмитрий
											.mp-rating-date 09.06.2016
										.mp-rating-prooved
											img.mp-rating-prooved-img(src='//dev.mneniya.pro/images/pokupatel.png', title='')
											.mp-proof-tooltip
												small
													| MNENIYA.PRO подтверждает, что человек, оставивший отзыв, приобрел товар в данном интернет-магазине
									.mp-wrap-right
										.mp-rating-notes
											.mp-rating-text
												| Кусок пинопласта за 600 грн...
											.mp-rating-pros
												.mp-plus Нравится детям
											.mp-rating-cons
												.mp-minus Отломился кусочек между пазами руля.
								li.mp-rating-item
									.mp-wrap-left
										img(src='https://www.gravatar.com/avatar/3f283f3f1e496846c4f8ed9e608bb3d8?d=%2F%2Fdev.mneniya.pro%2Fimages%2Fdefault-avatar.png&s=50')
										.mp-rating-value
											div(style='width:60%')
										.mp-rating-head
											.mp-rating-author-name Олександр Генералов
											.mp-rating-date 16.05.2016
										.mp-rating-prooved
											img.mp-rating-prooved-img(src='//dev.mneniya.pro/images/pokupatel.png', title='')
											.mp-proof-tooltip
												small
													| MNENIYA.PRO подтверждает, что человек, оставивший отзыв, приобрел товар в данном интернет-магазине
									.mp-wrap-right
										.mp-rating-notes
											.mp-rating-pros
												.mp-plus Небольшая цена, ударостойкий
											.mp-rating-cons
												.mp-minus
													| У планера крыло не аэродинамическое, на поверхности крыла какие-то звездочки непонятно зачем.
										.mp-i-recommend Я рекомендую этот товар другим!
								li.mp-rating-item
									.mp-wrap-left
										img(src='https://www.gravatar.com/avatar/29651e4826979cc838b144a188577049?d=%2F%2Fdev.mneniya.pro%2Fimages%2Fdefault-avatar.png&s=50')
										.mp-rating-value
											div(style='width:20%')
										.mp-rating-head
											.mp-rating-author-name Александр
											.mp-rating-date 18.08.2015
									.mp-wrap-right
										.mp-rating-notes
											.mp-rating-text
												| Купил сыну этот планер Miniprop Felix iQ. Вышли поиграть на стадионе. Играли около часа. При очередном приземлении на траву крыло сламалось на 2 равных части. Место разлома - в зажатой корпусом части - там, где при нормальном качестве материала, ломаться в принципе не должно. Эта игрушка недолговечна, поэтому не стоит таких денег.
								li.mp-rating-item
									.mp-wrap-left
										img(src='https://www.gravatar.com/avatar/94c7ac6376ca483be4e3b87213915d7c?d=%2F%2Fdev.mneniya.pro%2Fimages%2Fdefault-avatar.png&s=50')
										.mp-rating-value
											div(style='width:100%')
										.mp-rating-head
											.mp-rating-author-name Наталья
											.mp-rating-date 15.05.2015
										.mp-rating-prooved
											img.mp-rating-prooved-img(src='//dev.mneniya.pro/images/pokupatel.png', title='')
											.mp-proof-tooltip
												small
													| MNENIYA.PRO подтверждает, что человек, оставивший отзыв, приобрел товар в данном интернет-магазине
									.mp-wrap-right
										.mp-rating-notes
											.mp-rating-text
												| Очень интересная штука, увлекательная. Удобная в использовании, безопасная для ребенка, потому как легкая без острых углов. Даже если на площадке попадет в других детей - беды не будет. Сыну 5 лет, увлекается самолетами, ему очень понравилась игрушка. Это будет оригинальный подарок (не такой как у всех) для наших друзей. Спасибо
										.mp-i-recommend Я рекомендую этот товар другим!
										.mp-rating-customer-comment
											b Комментарий Planeta Hobby:
											br
											|             Добрый день. Спасибо Вам за обратную связь. Нам очень приятно, что Вы остались довольны покупкой в нашем интернет-магазине. Желаем Вам удачных полетов. 
											br
											| С Уважением, интернет-магазин Planeta Hobby.
								li.mp-rating-item
									.mp-wrap-left
										img(src='https://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=%2F%2Fdev.mneniya.pro%2Fimages%2Fdefault-avatar.png&s=50')
										.mp-rating-value
											div(style='width:80%')
										.mp-rating-head
											.mp-rating-author-name Алексей
											.mp-rating-date 14.01.2015
									.mp-wrap-right
										.mp-rating-notes
											.mp-rating-text
												| Купил такой планер своему малому летом 2013го. Пользовались до осени 2014го пока сын с мамой не потерял хвостовой стабилизатор. Кстати его можно переставлять на 2 режима полета - прямо, по кругу (мертвая петля). Модель просто НЕУБИВЕМАЯ. За 1 год эксплуатации счесан нос, и то, падал на все что угодно - грунтовку, траву, асфальт. Всем рекомендую!
										.mp-i-recommend Я рекомендую этот товар другим!
								li.mp-rating-item
									.mp-wrap-left
										img(src='https://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=%2F%2Fdev.mneniya.pro%2Fimages%2Fdefault-avatar.png&s=50')
										.mp-rating-value
											div(style='width:80%')
										.mp-rating-head
											.mp-rating-author-name George
											.mp-rating-date 31.10.2013
									.mp-wrap-right
										.mp-rating-notes
											.mp-rating-text
												| Метательный планер просто идеален для активного отдыха в парке на пляже на стадионе в огороде:)
												br
												| купил такой своим детям 4 и 6 лет, дети терзают его уже три месяца, качество материала наивысшего качества, у нашей семьи был полнейший восторг!
												br
												| Однозначно стоит своих денег, рекомендую!
										.mp-i-recommend Я рекомендую этот товар другим!

					// 4 таб - Аксессуары
					div.item-detail__mobile-menu-item Аксессуары
					section#accessories.details-product__detail-item.item-detail
						.accessories-tab__menu.clearfix
							ul.tabs-menu.clearfix
								li.tabs-menu__item.tabs-menu__item--active(data-tabid="actab1") Сумки
								li.tabs-menu__item(data-tabid="actab2") Аккумуляторы

						.accessories-tabs.accessories__tabs
							// Tab 1


							.item-detail.accessories-tabs__item.accessories-tabs__item--active.clearfix#actab1
								
								.product-preview-item
									.product-preview-item__inner
										.product-preview-item__photo
											a(href="#")
												img(src="dist/images/temporary/product/item1.jpg", alt="image")
										.product-preview-item__content
											.product-preview-item__product-status
												span.product-status.product-status--top Топ продаж
											h3.product-preview-item__heading
												a(href="#") Аккумулятор Hubsan Li-Po 7,4В 450 мАч 2S
											.product-preview-item__price
												span.product-price--current 288
													span.product-price__text--small грн
											.product-preview-item__buy
												a.product-btn.product-preview-item__btn.product-preview-item__btn--incart(href="#") В корзине
												.product-preview-item__wishlist
													a.o-wishlist-link.o-wished(href="#")
														span.o-wishlist__text В избранном
								.product-preview-item
									.product-preview-item__inner
										.product-preview-item__photo
											a(href="#")
												img(src="dist/images/temporary/product/item2.jpg", alt="image")
										.product-preview-item__content
											.product-preview-item__product-status
												span.product-status.product-status--new Новинка
											h3.product-preview-item__heading
												a(href="#") Мини трагги WL-Toys Speed Racing 1:32 красный RTR
											.product-preview-item__price
												span.product-price--current 556
													span.product-price__text--small грн
											.product-preview-item__buy
												a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
												.product-preview-item__wishlist
													a.o-wishlist-link(href="#")
														span.o-wishlist__text В избранное
								.product-preview-item
									.product-preview-item__inner
										.product-preview-item__photo
											a(href="#")
												img(src="dist/images/temporary/product/item3.jpg", alt="image")
										.product-preview-item__content
											.product-preview-item__product-status
												span.product-status.product-status--new Новинка
												span.product-status.product-status--discount -10%
											h3.product-preview-item__heading
												a(href="#") Передатчик Hubsan H301C-09 для планера Spy Hawk 2.4GHz
											.product-preview-item__price
												span.product-price--new 600
													span.product-price__text--small грн
												span.product-price--old 785 грн
											.product-preview-item__buy
												a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
												.product-preview-item__wishlist
													a.o-wishlist-link(href="#")
														span.o-wishlist__text В избранное
								.product-preview-item
									.product-preview-item__inner
										.product-preview-item__photo
											a(href="#")
												img(src="dist/images/temporary/product/item4.jpg", alt="image")
										.product-preview-item__content
											.product-preview-item__product-status
												// no status
											h3.product-preview-item__heading
												a(href="#") Плата видеомодуля планера Hubsan Spy Hawk H301C
											.product-preview-item__price
												span.product-price--current 600 
													span.product-price__text--small грн
											.product-preview-item__buy
												a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
												.product-preview-item__wishlist
													a.o-wishlist-link(href="#")
														span.o-wishlist__text В избранное
								.product-preview-item
									.product-preview-item__inner
										.product-preview-item__photo
											a(href="#")
												img(src="dist/images/temporary/product/item5.jpg", alt="image")
										.product-preview-item__content
											.product-preview-item__product-status
												// no status
											h3.product-preview-item__heading
												a(href="#") Сервопривод планера Hubsan Spy Hawk
											.product-preview-item__price
												span.product-price--current 338
													span.product-price__text--small грн
											.product-preview-item__buy
												a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
												.product-preview-item__wishlist
													a.o-wishlist-link(href="#")
														span.o-wishlist__text В избранное 
								.product-preview-item
									.product-preview-item__inner
										.product-preview-item__photo
											a(href="#")
												img(src="dist/images/temporary/product/item1.jpg", alt="image")
										.product-preview-item__content
											.product-preview-item__product-status
												span.product-status.product-status--top Топ продаж
											h3.product-preview-item__heading
												a(href="#") Аккумулятор Hubsan Li-Po 7,4В 450 мАч 2S
											.product-preview-item__price
												span.product-price--current 288
													span.product-price__text--small грн
											.product-preview-item__buy
												a.product-btn.product-preview-item__btn.product-preview-item__btn--incart(href="#") В корзине
												.product-preview-item__wishlist
													a.o-wishlist-link.o-wished(href="#")
														span.o-wishlist__text В избранном
								.product-preview-item
									.product-preview-item__inner
										.product-preview-item__photo
											a(href="#")
												img(src="dist/images/temporary/product/item2.jpg", alt="image")
										.product-preview-item__content
											.product-preview-item__product-status
												span.product-status.product-status--new Новинка
											h3.product-preview-item__heading
												a(href="#") Мини трагги WL-Toys Speed Racing 1:32 красный RTR
											.product-preview-item__price
												span.product-price--current 556
													span.product-price__text--small грн
											.product-preview-item__buy
												a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
												.product-preview-item__wishlist
													a.o-wishlist-link(href="#")
														span.o-wishlist__text В избранное
								.product-preview-item
									.product-preview-item__inner
										.product-preview-item__photo
											a(href="#")
												img(src="dist/images/temporary/product/item3.jpg", alt="image")
										.product-preview-item__content
											.product-preview-item__product-status
												span.product-status.product-status--new Новинка
												span.product-status.product-status--discount -10%
											h3.product-preview-item__heading
												a(href="#") Передатчик Hubsan H301C-09 для планера Spy Hawk 2.4GHz
											.product-preview-item__price
												span.product-price--new 600
													span.product-price__text--small грн
												span.product-price--old 785 грн
											.product-preview-item__buy
												a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
												.product-preview-item__wishlist
													a.o-wishlist-link(href="#")
														span.o-wishlist__text В избранное
								.product-preview-item
									.product-preview-item__inner
										.product-preview-item__photo
											a(href="#")
												img(src="dist/images/temporary/product/item4.jpg", alt="image")
										.product-preview-item__content
											.product-preview-item__product-status
												// no status
											h3.product-preview-item__heading
												a(href="#") Плата видеомодуля планера Hubsan Spy Hawk H301C
											.product-preview-item__price
												span.product-price--current 600 
													span.product-price__text--small грн
											.product-preview-item__buy
												a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
												.product-preview-item__wishlist
													a.o-wishlist-link(href="#")
														span.o-wishlist__text В избранное
								.product-preview-item
									.product-preview-item__inner
										.product-preview-item__photo
											a(href="#")
												img(src="dist/images/temporary/product/item5.jpg", alt="image")
										.product-preview-item__content
											.product-preview-item__product-status
												// no status
											h3.product-preview-item__heading
												a(href="#") Сервопривод планера Hubsan Spy Hawk
											.product-preview-item__price
												span.product-price--current 338
													span.product-price__text--small грн
											.product-preview-item__buy
												a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
												.product-preview-item__wishlist
													a.o-wishlist-link(href="#")
														span.o-wishlist__text В избранное 

								.accessories-tabs__item-footer
									a.product-btn.accessories-tabs__btn(href="#") Еще 10 сумок
							// Tab 2

							.item-detail.accessories-tabs__item.clearfix#actab2

								.product-preview-item
									.product-preview-item__inner
										.product-preview-item__photo
											a(href="#")
												img(src="dist/images/temporary/product/item1.jpg", alt="image")
										.product-preview-item__content
											.product-preview-item__product-status
												span.product-status.product-status--top Топ продаж
											h3.product-preview-item__heading
												a(href="#") Аккумулятор Hubsan Li-Po 7,4В 450 мАч 2S
											.product-preview-item__price
												span.product-price--current 288
													span.product-price__text--small грн
											.product-preview-item__buy
												a.product-btn.product-preview-item__btn.product-preview-item__btn--incart(href="#") В корзине
												.product-preview-item__wishlist
													a.o-wishlist-link.o-wished(href="#")
														span.o-wishlist__text В избранном
								.product-preview-item
									.product-preview-item__inner
										.product-preview-item__photo
											a(href="#")
												img(src="dist/images/temporary/product/item2.jpg", alt="image")
										.product-preview-item__content
											.product-preview-item__product-status
												span.product-status.product-status--new Новинка
											h3.product-preview-item__heading
												a(href="#") Мини трагги WL-Toys Speed Racing 1:32 красный RTR
											.product-preview-item__price
												span.product-price--current 556
													span.product-price__text--small грн
											.product-preview-item__buy
												a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
												.product-preview-item__wishlist
													a.o-wishlist-link(href="#")
														span.o-wishlist__text В избранное
								.product-preview-item
									.product-preview-item__inner
										.product-preview-item__photo
											a(href="#")
												img(src="dist/images/temporary/product/item3.jpg", alt="image")
										.product-preview-item__content
											.product-preview-item__product-status
												span.product-status.product-status--new Новинка
												span.product-status.product-status--discount -10%
											h3.product-preview-item__heading
												a(href="#") Передатчик Hubsan H301C-09 для планера Spy Hawk 2.4GHz
											.product-preview-item__price
												span.product-price--new 600
													span.product-price__text--small грн
												span.product-price--old 785 грн
											.product-preview-item__buy
												a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
												.product-preview-item__wishlist
													a.o-wishlist-link(href="#")
														span.o-wishlist__text В избранное
								.product-preview-item
									.product-preview-item__inner
										.product-preview-item__photo
											a(href="#")
												img(src="dist/images/temporary/product/item4.jpg", alt="image")
										.product-preview-item__content
											.product-preview-item__product-status
												// no status
											h3.product-preview-item__heading
												a(href="#") Плата видеомодуля планера Hubsan Spy Hawk H301C
											.product-preview-item__price
												span.product-price--current 600 
													span.product-price__text--small грн
											.product-preview-item__buy
												a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
												.product-preview-item__wishlist
													a.o-wishlist-link(href="#")
														span.o-wishlist__text В избранное
								.product-preview-item
									.product-preview-item__inner
										.product-preview-item__photo
											a(href="#")
												img(src="dist/images/temporary/product/item5.jpg", alt="image")
										.product-preview-item__content
											.product-preview-item__product-status
												// no status
											h3.product-preview-item__heading
												a(href="#") Сервопривод планера Hubsan Spy Hawk
											.product-preview-item__price
												span.product-price--current 338
													span.product-price__text--small грн
											.product-preview-item__buy
												a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
												.product-preview-item__wishlist
													a.o-wishlist-link(href="#")
														span.o-wishlist__text В избранное

								.accessories-tabs__item-footer
									a.product-btn.accessories-tabs__btn(href="#") Еще 10 аккумуляторов
						

					// 5 таб - Запчасты
					div.item-detail__mobile-menu-item Запчасти
					section#repairParts.details-product__detail-item.item-detail
						h2.item-detail__title Запчасти
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quas quasi, ipsa amet eius numquam unde odio quo, aut reprehenderit, consectetur! Optio autem cupiditate totam, excepturi, iure aspernatur vero minus.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum dignissimos voluptate nisi at fugit quos sit reprehenderit quaerat vitae dicta aspernatur, corporis consequatur animi quas iure, ea tempora fugiat. Adipisci.

					// 6 таб - вопросы и ответы
					div.item-detail__mobile-menu-item Вопросы и ответы
					article#questionsAndAnswers.details-product__detail-item.item-detail.qaa
						h2.item-detail__title Вопросы и ответы 
							span.comments-amount (1)
						#mneniyapro_qnadata
							.clear
							#mneniya-qna-head
								.mp-calltoaction
									span Есть вопрос?
									a.addformlink.big-link.popup-open-link(data-popup-target='askPopup', href='#', data-animation='fade') Спросить
							ul.mp-rating-items
								li.mp-rating-item
									.mp-wrap-left
										img(src='https://www.gravatar.com/avatar/d8ac75d7fbe20d0320412a9ebadb66f3?d=%2F%2Fdev.mneniya.pro%2Fimages%2Fdefault-avatar.png&s=50')
										.mp-rating-head
											.mp-rating-author-name Евгений Билитюк
											.mp-rating-date 05.11.2015
									.mp-wrap-right
										.mp-rating-notes
											.mp-rating-text
												| Что делать если при запуске машинки и пульта машинка начинает ехать сама по себе на максимальной скорости ?
										.mp-rating-customer-comment
											b Ответ Planeta Hobby:
											br
											| Добрый день. Причин может быть много (от заводского брака до сбоя настроек). Вам стоит обратиться в магазин к специалистам по ремонту и обслуживанию моделей.






					// 7 таб - Получить консультацию
					div.item-detail__mobile-menu-item Получить консультацию
					article#consulting.details-product__detail-item.item-detail
						h2.item-detail__title Получить консультацию
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quam eligendi quasi, culpa quis sunt, illo, quae, odio odit placeat dolores enim vitae officia itaque! Soluta officiis dolores, molestiae rerum!
					
					// Начало секции с аксессуарами (нижний блок аксессуаров)
					section#accessories-bottom.accessories
						h2.accessories__heading <strong>Аксессуары</strong> к Самолет Hubsan Spy Hawk H301F 843 мм 2.4 & 5.8GHz с бортовой видеокамерой и системой FPV RTF
						.accessories__tabs-menu
							ul.tabs-menu.clearfix
								li.tabs-menu__item.tabs-menu__item--active(data-tabid="tab1") Аккумуляторы
								li.tabs-menu__item(data-tabid="tab2") Сумки

						.accessories__tabs
							// Tab 1
							div.item-detail__mobile-menu-item.mobile-menu-item--active Аккумуляторы

							.item-detail.item-detail--active.accessories__item#tab1
								.owl-carousel
									.product-preview-item
										.product-preview-item__inner
											.product-preview-item__photo
												a(href="#")
													img(src="dist/images/temporary/product/item1.jpg", alt="image")
											.product-preview-item__content
												.product-preview-item__product-status
													span.product-status.product-status--top Топ продаж
												h3.product-preview-item__heading
													a(href="#") Аккумулятор Hubsan Li-Po 7,4В 450 мАч 2S
												.product-preview-item__price
													span.product-price--current 288
														span.product-price__text--small грн
												.product-preview-item__buy
													a.product-btn.product-preview-item__btn.product-preview-item__btn--incart(href="#") В корзине
													.product-preview-item__wishlist
														a.o-wishlist-link.o-wished(href="#")
															span.o-wishlist__text В избранном
									.product-preview-item
										.product-preview-item__inner
											.product-preview-item__photo
												a(href="#")
													img(src="dist/images/temporary/product/item2.jpg", alt="image")
											.product-preview-item__content
												.product-preview-item__product-status
													span.product-status.product-status--new Новинка
												h3.product-preview-item__heading
													a(href="#") Мини трагги WL-Toys Speed Racing 1:32 красный RTR
												.product-preview-item__price
													span.product-price--current 556
														span.product-price__text--small грн
												.product-preview-item__buy
													a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
													.product-preview-item__wishlist
														a.o-wishlist-link(href="#")
															span.o-wishlist__text В избранное
									.product-preview-item
										.product-preview-item__inner
											.product-preview-item__photo
												a(href="#")
													img(src="dist/images/temporary/product/item3.jpg", alt="image")
											.product-preview-item__content
												.product-preview-item__product-status
													span.product-status.product-status--new Новинка
													span.product-status.product-status--discount -10%
												h3.product-preview-item__heading
													a(href="#") Передатчик Hubsan H301C-09 для планера Spy Hawk 2.4GHz
												.product-preview-item__price
													span.product-price--new 600
														span.product-price__text--small грн
													span.product-price--old 785 грн
												.product-preview-item__buy
													a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
													.product-preview-item__wishlist
														a.o-wishlist-link(href="#")
															span.o-wishlist__text В избранное
									.product-preview-item
										.product-preview-item__inner
											.product-preview-item__photo
												a(href="#")
													img(src="dist/images/temporary/product/item4.jpg", alt="image")
											.product-preview-item__content
												.product-preview-item__product-status
													// no status
												h3.product-preview-item__heading
													a(href="#") Плата видеомодуля планера Hubsan Spy Hawk H301C
												.product-preview-item__price
													span.product-price--current 600 
														span.product-price__text--small грн
												.product-preview-item__buy
													a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
													.product-preview-item__wishlist
														a.o-wishlist-link(href="#")
															span.o-wishlist__text В избранное
									.product-preview-item
										.product-preview-item__inner
											.product-preview-item__photo
												a(href="#")
													img(src="dist/images/temporary/product/item5.jpg", alt="image")
											.product-preview-item__content
												.product-preview-item__product-status
													// no status
												h3.product-preview-item__heading
													a(href="#") Сервопривод планера Hubsan Spy Hawk
												.product-preview-item__price
													span.product-price--current 338
														span.product-price__text--small грн
												.product-preview-item__buy
													a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
													.product-preview-item__wishlist
														a.o-wishlist-link(href="#")
															span.o-wishlist__text В избранное 
							// Tab 2
							div.item-detail__mobile-menu-item Сумки
							.item-detail.accessories__item#tab2
								.owl-carousel
									.product-preview-item
										.product-preview-item__inner
											.product-preview-item__photo
												a(href="#")
													img(src="dist/images/temporary/product/item1.jpg", alt="image")
											.product-preview-item__content
												.product-preview-item__product-status
													span.product-status.product-status--top Топ продаж
												h3.product-preview-item__heading
													a(href="#") Аккумулятор Hubsan Li-Po 7,4В 450 мАч 2S
												.product-preview-item__price
													span.product-price--current 288
														span.product-price__text--small грн
												.product-preview-item__buy
													a.product-btn.product-preview-item__btn.product-preview-item__btn--incart(href="#") В корзине
													.product-preview-item__wishlist
														a.o-wishlist-link.o-wished(href="#")
															span.o-wishlist__text В избранном
									.product-preview-item
										.product-preview-item__inner
											.product-preview-item__photo
												a(href="#")
													img(src="dist/images/temporary/product/item2.jpg", alt="image")
											.product-preview-item__content
												.product-preview-item__product-status
													span.product-status.product-status--new Новинка
												h3.product-preview-item__heading
													a(href="#") Мини трагги WL-Toys Speed Racing 1:32 красный RTR
												.product-preview-item__price
													span.product-price--current 556
														span.product-price__text--small грн
												.product-preview-item__buy
													a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
													.product-preview-item__wishlist
														a.o-wishlist-link(href="#")
															span.o-wishlist__text В избранное
									.product-preview-item
										.product-preview-item__inner
											.product-preview-item__photo
												a(href="#")
													img(src="dist/images/temporary/product/item3.jpg", alt="image")
											.product-preview-item__content
												.product-preview-item__product-status
													span.product-status.product-status--new Новинка
													span.product-status.product-status--discount -10%
												h3.product-preview-item__heading
													a(href="#") Передатчик Hubsan H301C-09 для планера Spy Hawk 2.4GHz
												.product-preview-item__price
													span.product-price--new 600
														span.product-price__text--small грн
													span.product-price--old 785 грн
												.product-preview-item__buy
													a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
													.product-preview-item__wishlist
														a.o-wishlist-link(href="#")
															span.o-wishlist__text В избранное
									.product-preview-item
										.product-preview-item__inner
											.product-preview-item__photo
												a(href="#")
													img(src="dist/images/temporary/product/item4.jpg", alt="image")
											.product-preview-item__content
												.product-preview-item__product-status
													// no status
												h3.product-preview-item__heading
													a(href="#") Плата видеомодуля планера Hubsan Spy Hawk H301C
												.product-preview-item__price
													span.product-price--current 600 
														span.product-price__text--small грн
												.product-preview-item__buy
													a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
													.product-preview-item__wishlist
														a.o-wishlist-link(href="#")
															span.o-wishlist__text В избранное
									.product-preview-item
										.product-preview-item__inner
											.product-preview-item__photo
												a(href="#")
													img(src="dist/images/temporary/product/item5.jpg", alt="image")
											.product-preview-item__content
												.product-preview-item__product-status
													// no status
												h3.product-preview-item__heading
													a(href="#") Сервопривод планера Hubsan Spy Hawk
												.product-preview-item__price
													span.product-price--current 338
														span.product-price__text--small грн
												.product-preview-item__buy
													a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
													.product-preview-item__wishlist
														a.o-wishlist-link(href="#")
															span.o-wishlist__text В избранное
				
				// Начало дополнительных блоков: похожие товары, вы смотрели и т.д.
				section.additional-blocks
					// Похожие товары
					h2.additional-blocks__heading С этой моделью также смотрят
					.similar-products-block.clearfix#owl-similar-products.owl-carousel
						.product-preview-item
							.product-preview-item__inner
								.product-preview-item__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.product-preview-item__content
									.product-preview-item__product-status
										span.product-status.product-status--new Новинка
									h3.product-preview-item__heading
										a(href="#") Модель р/у планера VolantexRC FPVRaptor V2 (TW-757-V2) 2000мм 2.4GHz...
									.product-preview-item__price
										span.product-price--current 5 025 
											span.product-price__text--small грн
									.product-preview-item__buy
										a.product-btn.product-preview-item__btn.product-preview-item__btn--incart(href="#") В корзине
										.product-preview-item__wishlist
											a.o-wishlist-link.o-wished(href="#")
												span.o-wishlist__text В избранном

						.product-preview-item
							.product-preview-item__inner
								.product-preview-item__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.product-preview-item__content
									.product-preview-item__product-status
										span.product-status.product-status--new Новинка
										span.product-status.product-status--discount -10%
										
									h3.product-preview-item__heading
										a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
									.product-preview-item__price
										span.product-price--new 2600 
											span.product-price__text--small грн
										span.product-price--old 2785 грн
									.product-preview-item__buy
										a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
										.product-preview-item__wishlist
											a.o-wishlist-link(href="#")
												span.o-wishlist__text В избранное

						.product-preview-item
							.product-preview-item__inner
								.product-preview-item__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.product-preview-item__content
									.product-preview-item__product-status
										span.product-status.product-status--top Топ продаж
										span.product-status.product-status--discount -10%
									h3.product-preview-item__heading
										a(href="#") Модель р/у планера VolantexRC FPVRaptor (TW-757) 1600мм 2.4GHz KIT
									.product-preview-item__price
										span.product-price--new 896 
											span.product-price__text--small грн
										span.product-price--old 1024 грн
									.product-preview-item__buy
										a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
										.product-preview-item__wishlist
											a.o-wishlist-link(href="#")
												span.o-wishlist__text В избранное

						.product-preview-item
							.product-preview-item__inner
								.product-preview-item__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.product-preview-item__content
									.product-preview-item__product-status
										
									h3.product-preview-item__heading
										a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
									.product-preview-item__price
										.product-price.product-price--current 1024 грн
									.product-preview-item__buy
										a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
										.product-preview-item__wishlist
											a.o-wishlist-link(href="#")
												span.o-wishlist__text В избранное

						.product-preview-item
							.product-preview-item__inner
								.product-preview-item__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.product-preview-item__content
									.product-preview-item__product-status
										
									h3.product-preview-item__heading
										a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
									.product-preview-item__price
										.product-price.product-price--current 1024 грн
									.product-preview-item__buy
										a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
										.product-preview-item__wishlist
											a.o-wishlist-link(href="#")
												span.o-wishlist__text В избранное

						.product-preview-item
							.product-preview-item__inner
								.product-preview-item__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.product-preview-item__content
									.product-preview-item__product-status
										
									h3.product-preview-item__heading
										a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
									.product-preview-item__price
										.product-price.product-price--current 1024 грн
									.product-preview-item__buy
										a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
										.product-preview-item__wishlist
											a.o-wishlist-link.o-wished(href="#")
												span.o-wishlist__text В избранном

			//- .product-add-popup
			//-         .product-add
			//-                 .product-add__header
			//-                         h2.product-add__title Добавлен в 
			//-   a(href="#")  корзину
			//-                         a.product-add__close#productAddCloseBtn
			//-                 form.pa-fast-order__form
			//-                         .product-add__content

			//-   .product-add__added
			//-           .product-add__description
			//-                   .product-add__img
			//-                           a(href="#")
			//-     img(src="dist/images/temporary/product/item2.jpg", alt="some image")
			//-                   .product-add__name
			//-                           a(href="#") Самолет Hubsan Spy Hawk H301F 843 мм 2.4 & 5.8GHz с бортовой видеокамерой и системой FPV RTF
			//-                   .cart-product__quantity.product-add__quantity
			//-                           a(href="#" data-product="qty_1").cart-product__quantity-btn.cart-product__quantity--del.product-add__quantity-btn
			//-     i
			//-                           input(type="number" value="2" min="1" name="productAddQuantity" data-product="qty_1" data-product-price="120045.5").product-add__quantity-field.cart-product__quantity-field
			//-                           span.product-add__quantity-field-label шт
			//-                           a.cart-product__quantity-btn.cart-product__quantity--add.product-add__quantity-btn(href="#" data-product="qty_1")
			//-     i
			//-                           span.cart-product__price.product-add__price 120 045.5 грн
			//-                         .product-add__fast-order.pa-fast-order.clearfix
			//-   .pa-fast-order__title Быстрый заказ
							
			//-   .order-form__hidden
			//-           input(type="hidden" value="2" id="qty_1" name="productQuantity")
			//-   .form-group
			//-           input(type="text" placeholder="Телефон или эл. почта" name="Contacts" required).pa-fast-order__field.form-control
			//-   .form-group
			//-           input(type="text" placeholder="Имя" name="Name" required).pa-fast-order__field.form-control
			//-   .form-group
			//-           input(type="submit" value="Подтвердить заказ" ).pa-fast-order__form-btn
			//-                 .product-add__footer.clearfix
			//-                         a(href="#").product-add__backshop#productAddCloseLink
			//-   span Вернуться к покупкам

			// Начало попапов один контейнер для всех попапов
			.popup-outer

				// Попап корзины (при добавлении товара в корзину или заказ, предзаказ)
				section.popup-b.popup-bcart#cartPopup.clearfix
					.popup-b__header.popup-b__header--dbb
						h2.popup-b__heading.popup-b__heading--cart В корзине 5 товаров
					a.popup-b__close(href="#")
					
					form.popup-bcart__form(action="/" method="get")
						.popup-bcart__content
							.popup-bcart__set
								.popup-bcart__set-sticker Набор
								// 1й товар
								.bcart-product.clearfix
									.bcart-product__img
										a(href="#")
											img(src="dist/images/temporary/big-images/3_b.jpeg", title="product img")
									h2.bcart-product__name
										a(href="#") Катер Joysway 8108 Magic Cat MK2 265 мм 2.4Ghz RTR (JW8108)

									.bcart-product__controls
										span.bcart-product__pprice
											.product-price--old 130 200 грн
											.product-price--current 128 182
												span.product-price__text--small грн
								// 2й товар
								.bcart-product.clearfix
									.bcart-product__img
										a(href="#")
											img(src="dist/images/temporary/big-images/3_b.jpeg", title="product img")
									h2.bcart-product__name
										a(href="#") Катер Joysway 8108 Magic Cat MK2 265 мм 2.4Ghz RTR (JW8108)

									.bcart-product__controls

										span.bcart-product__pprice
											.product-price--old 22 450 грн
											.product-price--current 17 169
												span.product-price__text--small грн
								// 3й товар
								.bcart-product.clearfix
									.bcart-product__img
										a(href="#")
											img(src="dist/images/temporary/big-images/3_b.jpeg", title="product img")
									h2.bcart-product__name
										a(href="#") Катер Joysway 8108 Magic Cat MK2 265 мм 2.4Ghz RTR (JW8108)

									.bcart-product__controls
										span.bcart-product__pprice
											.product-price--old 345 грн
											.product-price--current 256
												span.product-price__text--small грн
								.popup-bcart__set-footer.clearfix
									.bcart-product__controls
										span.u-control.u-control--del(data-target="prod-126")
										span.bcart-product__qty
											input(type="hidden" name="product-qty" id="prod-126" value="1")
											span.bcart-product__qty-label 1
											|  шт
										span.u-control.u-control--add(data-target="prod-126")

										span.bcart-product__pprice
											.product-price--old 135 684 грн
											.product-price--new 125 500
												span.product-price__text--small  грн

								a.bcart-product__delete(href="#")
								// Всплывающий блок редактирования товара
								div.popup-back-wrapper
									.popup-back.popup-bcart__product-back
										.close-popup
											a(href="#" rel="#").come-back
												i
												span Вернуть
										.product-wishlist-block.cart-wishlist-block
											a(href="#" class="top-wishlist-link wishlist-link cart-wishlist")
												i
												span В избранное
										.delete-detail-block
											a(href="#").page-cart__delete_checkbox
												i
												span Удалить
							// 1й товар вне комплекта
							.bcart-product.clearfix
								span.bcart-product__sticker Под заказ
								a.bcart-product__delete(href="#")
								.bcart-product__img
									a(href="#")
										img(src="dist/images/temporary/big-images/3_b.jpeg", title="product img")
								h2.bcart-product__name
									a(href="#") Самолет Hubsan Spy Hawk H301F 843 мм 2.4 & 5.8GHz с бортовой видеокамерой и системой FPV RTF

								.bcart-product__controls
									span.u-control.u-control--del(data-target="prod-127")
									span.bcart-product__qty
										input(type="hidden" name="product-qty" id="prod-127" value="1")
										span.bcart-product__qty-label 1
										|  шт
									span.u-control.u-control--add(data-target="prod-127")

									span.bcart-product__pprice
										span.product-price--current 1182
										|  грн
								// Всплывающий блок редактирования товара
								div.popup-back-wrapper
									.popup-back.popup-bcart__product-back
										.close-popup
											a(href="#" rel="#").come-back
												i
												span Вернуть
										.product-wishlist-block.cart-wishlist-block
											a(href="#" class="top-wishlist-link wishlist-link cart-wishlist")
												i
												span В избранное
										.delete-detail-block
											a(href="#").page-cart__delete_checkbox
												i
												span Удалить

						

						.popup-bcart__footer.popup-b__footer.clearfix
							// footer right block
							.popup-bcart__fright
								span.popup-bcart__total Итого 
									span.popup-bcart__total-price 123 856 
									| грн
								input.popup-bcart__submit(type="submit" value="Подтвердить заказ")
							// footer left block
							.popup-bcart__fleft
								a.popup-b__back(href="#") Вернуться к покупкам

				// Попап "Быстрая покупка"
				section.popup-b.popup-bcart.popup-bquick-order#quickOrder.clearfix
					.popup-b__header.popup-b__header--dbb
						h2.popup-b__heading.popup-b__heading--cart Добавлен в корзину
					a.popup-b__close(href="#")
					
					form.popup-bcart__form(action="/" method="get")
						.popup-bcart__content
							.bcart-product.clearfix
								span.bcart-product__sticker Под заказ
								a.bcart-product__delete(href="#")
								.bcart-product__img
									a(href="#")
										img(src="dist/images/temporary/big-images/3_b.jpeg", title="product img")
								h2.bcart-product__name
									a(href="#") Самолет Hubsan Spy Hawk H301F 843 мм 2.4 & 5.8GHz с бортовой видеокамерой и системой FPV RTF

								.bcart-product__controls
									span.u-control.u-control--del(data-target="prod-128")
									span.bcart-product__qty
										input(type="hidden" name="product-qty" id="prod-128" value="1")
										span.bcart-product__qty-label 1
										| шт
									span.u-control.u-control--add(data-target="prod-128")

									span.bcart-product__pprice
										span.product-price--current 1182
										| грн
								// Всплывающий блок редактирования товара
								div.popup-back-wrapper
									.popup-back.popup-bcart__product-back
										.close-popup
											a(href="#" rel="#").come-back
												i
												span Вернуть
										.product-wishlist-block.cart-wishlist-block
											a(href="#" class="top-wishlist-link wishlist-link cart-wishlist")
												i
												span В избранное
										.delete-detail-block
											a(href="#").page-cart__delete_checkbox
												i
												span Удалить
						.product-add__fast-order.pa-fast-order.clearfix
							.pa-fast-order__title Быстрый заказ
							
							.order-form__hidden
								input(type="hidden" value="2" id="qty_1" name="productQuantity")
							.form-group
								input(type="text" placeholder="Телефон или эл. почта" name="Contacts" required).pa-fast-order__field.form-control
							.form-group
								input(type="text" placeholder="Имя" name="Name" required).pa-fast-order__field.form-control
							.form-group
								input(type="submit" value="Подтвердить заказ" ).pa-fast-order__form-btn
					.product-add__footer.clearfix
						a.popup-b__back(href="#") Вернуться к покупкам



				// Попап "купить в рассрочку" при нажатии ссылки купить в кредит
				section.popup-b.popup-bcredit#creditPopup.clearfix
					.popup-b__header
						h2.popup-b__heading Купить в рассрочку
					.popup-b__content.popup-bcredit__content
						p.
							Выбирайте выгодные для вас условия рассрочки (3, 6 или 10 платежей) и выплачивайте стоимость покупки равными частями.
						p.
							Подготовьте ксерокопию паспорта и ИНН и отправляйтесь за своим товаром. На пункте выдачи подпишите договор о рассрочке, оплатив первую часть.
						p.
							Остальные платежи, начиная со следующего месяца, вы сможете оплатить в любом отделении банка.  Суммы платежей, указанные ниже, окончательны.
						p
							strong Оформление рассрочки возможно для любого товара и по всей территории Украины 
					.popup-bcredit__announce  Рассрочка оформляется на стоимость товара 
						span  12&nbsp;100&nbsp;
						| грн
					form(name="productCredit" method="get" action="/")
						table.popup-bcredit__cond
							caption Общая стоимость товара
							tr.r-active
								td
									input.custom-radio__input#creditOption-1(type="radio" name="paymentsAmount" value="3" checked)
									label.custom-radio__label-b(for="creditOption-1")
										span.custom-radio__circle-b
										|  Три платежа
								td.r-desctop 3 платежa по 4&nbsp;481&nbsp;грн
								td
									.r-mobile x4 481
									span.popup-bcredit__total-sum 13 443 грн
							tr
								td
									input.custom-radio__input#creditOption-2(type="radio" name="paymentsAmount" value="6")
									label.custom-radio__label-b(for="creditOption-2")
										span.custom-radio__circle-b
										|  Шесть платежей
								td.r-desctop 6 платежей по 2&nbsp;520&nbsp;грн
								td
									.r-mobile x2 520
									span.popup-bcredit__total-sum 15 120 грн
							tr
								td
									input.custom-radio__input#creditOption-3(type="radio" name="paymentsAmount" value="10")
									label.custom-radio__label-b(for="creditOption-3")
										span.custom-radio__circle-b
										|  Десять платежей
								td.r-desctop 10 платежей по 1 728 грн
								td
									.r-mobile x1 728
									span.popup-bcredit__total-sum 17 443 грн

					
						.popup-bcart__footer.popup-b__footer.clearfix
							// footer right block
							.popup-bcart__fright
								input.popup-bcart__submit(type="submit" value="Оформить рассрочку")
							// footer left block
							.popup-bcart__fleft
								a.popup-b__back(href="#") Вернуться к покупкам
					a.popup-b__close(href="#")

				// попап "добавить комментарий"
				section.popup-b.popup-bcomment#commentPopup.clearfix
					.popup-b__header.popup-b__header--dbb
						h2.popup-b__heading Самолет Hubsan Spy Hawk H301F 843 мм 2.4 & 5.8GHz с бортовой видеокамерой и системой FPV RTF
					form.popup-bcomment__form#reviewform(action method="get")
						input(type='hidden', name='producturl', value='http://modelistam.com.ua/kvadrokopter-syma-x5sw-kameroi-p-31298/')
						input(type='hidden', name='customerid', value='090BF0F9-E3E6-033A-176E-F813CCAF')
						input(type='hidden', name='sendingqueueid', value='')
						input(type='hidden', name='productuid', value='31298')
						input(type='hidden', name='productname', value='Квадрокоптер Syma X5SW с FPV Wi-Fi камерой и 6-осевым гироскопом')
						input#rate(type='hidden', name='rate', value='')
						input(type='hidden', name='customerurl', value='http://modelistam.com.ua')
						.popup-bcomment__row
							.popup-bcomment__hf
								label(for="productPros") Достоинства:
								textarea#productPros(name="pros", rows="5")
							.popup-bcomment__hf
								label(for="productCons") Недостатки:
								textarea#productCons(name="cons", rows="5")
						.popup-bcomment__row
							.popup-bcomment__fl
								label(for="productComment") Комментарий:
								textarea#productComment(name="feedback", rows="10")
						.popup-bcomment__row
							.popup-bcomment__rating.clearfix
								p.rate_text Оцените товар*:
								.mp-rate-block
									div
										span.star-rating-control
											.star-rating.rater-0.star.star-rating-applied.star-rating-live(role='text', aria-label='')
												a(title='1') 1
											.star-rating.rater-0.star.star-rating-applied.star-rating-live(role='text', aria-label='')
												a(title='2') 2
											.star-rating.rater-0.star.star-rating-applied.star-rating-live(role='text', aria-label='')
												a(title='3') 3
											.star-rating.rater-0.star.star-rating-applied.star-rating-live(role='text', aria-label='')
												a(title='4') 4
											.star-rating.rater-0.star.star-rating-applied.star-rating-live(role='text', aria-label='')
												a(title='5') 5
										input.star.star-rating-applied(name='star1', type='radio', value='1', style='display: none;')
										input.star.star-rating-applied(name='star1', type='radio', value='2', style='display: none;')
										input.star.star-rating-applied(name='star1', type='radio', value='3', style='display: none;')
										input.star.star-rating-applied(name='star1', type='radio', value='4', style='display: none;')
										input.star.star-rating-applied(name='star1', type='radio', value='5', style='display: none;')
							.popup-bcomment__share
								p Рекомендуете ли вы этот товар другим покупателям?
								ul.share-options.clearfix
									li.share-options__item
										input#shareOptionYes.custom-radio__input(type="radio" value="true" name="recomend" checked)
										label.custom-radio__tab-label.share-options__tab(for="shareOptionYes") Да
									li.share-options__item
										input#shareOptionNo.custom-radio__input(type="radio" value="false" name="recomend")
										label.custom-radio__tab-label.share-options__tab(for="shareOptionNo") Нет
						.popup-bcomment__footer
							.popup-bcomment__name
								label(for="commentName").name-title Ваше имя*:
								input#commentName.popup-bcomment__text-input(type="text" required name="name" placeholder="Иван Петров")
							.popup-bcomment__email
								label(for="commentEmail").email-title Ваш email*:
								input#commentEmail.popup-bcomment__text-input(type="email" name="email" required placeholder="ivanpetrov@gmail.com")
							input.popup-bcomment__submit(type="submit" value="ДОБАВИТЬ ОТЗЫВ")
					a.popup-b__close(href="#")

				// попап "задать вопрос"
				section.popup-b.popup-bcomment.clearfix#askPopup
					.popup-b__header.popup-b__header--dbb
						h2.popup-b__heading Hubsan Spy Hawk H301F 843 мм 2.4 & 5.8GHz с бортовой видеокамерой и системой FPV RTF
					form.popup-bcomment__form(action="/" name="comment" method="post")
						input(type='hidden', name='producturl', value='http://modelistam.com.ua/kvadrokopter-syma-x5sw-kameroi-p-31298/')
						input(type='hidden', name='customerid', value='090BF0F9-E3E6-033A-176E-F813CCAF')
						input(type='hidden', name='productuid', value='31298')
						input(type='hidden', name='productname', value='Квадрокоптер Syma X5SW с FPV Wi-Fi камерой и 6-осевым гироскопом')
						input#rate2(type='hidden', name='rate', value='')
						input(type='hidden', name='customerurl', value='http://modelistam.com.ua')
						.popup-bcomment__row
							.popup-bcomment__fl
								label(for="productQuestion") Ваш вопрос:
								textarea#productQuestion
						.popup-bcomment__footer
							.popup-bcomment__name
								label(for="commentName2") Ваше имя*:
								input#commentName2.popup-bcomment__text-input(type="text" required name="name" placeholder="Иван Петров")
							.popup-bcomment__email
								label(for="commentEmail2") Ваш email*:
								input#commentEmail2.popup-bcomment__text-input(type="email" name="email" required placeholder="ivanpetrov@gmail.com")
							input.popup-bcomment__submit(type="submit" value="СПРОСИТЬ")
					a.popup-b__close(href="#")
				// Попап галереи
				section.popup-b.popup-gallery.clearfix#galleryPopup
					a.popup-b__close(href="#")
					.popup-b__header.popup-gallery__header.clearfix
						h2.popup-b__heading.popup-gallery__heading Hubsan Spy Hawk H301F 843 мм 2.4 & 5.8GHz с бортовой видеокамерой и системой FPV RTF
						.popup-gallery__price-block
							span.product-price.product-price--current 3 170 грн
							a.product-btn.product-btn--buy.popup-gallery__btn Купить
					.popup-gallery__content.clearfix
						.popup-gallery__nav
							.nav-prev.disabled
							.nav-next
						.popup-gallery__main-image
							// добавляется автоматически при первом вызове попапа
						a.popup-gallery__bigger-link(href="#") Увеличить фото
					.popup-gallery__all-images
						// добавляется автоматически при первом вызове попапа

				#fullImagePopup.full-image-popup.popup-b.clearfix
					a.popup-b__close(href="#")


						

				// -------------------------------------------------------------
				// ----------------- Статичные попапы -----------------------

				// Гарантия лучшей цены
				section.popup-b#bestPricePopup
					.popup-b__header
						h2.popup-b__heading Гарантия лучшей цены
					.popup-b__content
						p.
							Если вы нашли этот товар дешевле, мы продадим вам его по той цене.
						p.
							Укажите ссылку на товар с ценой при оформлении заказа в поле Комментарии к заказу и после проверки менеджер изменит цену в вашем заказе.
						a.popup-b__more(href="#") Подробнее
					a.popup-b__close(href="#")
				// Доставка и оплата
				section.popup-b#deliveryPopup
					.popup-b__header
						h2.popup-b__heading Доставка по городам
					.popup-b__content
						p.
							Если вы нашли этот товар дешевле, мы доставим вам его по той цене.
						p.
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
						a.popup-b__more(href="#") Подробнее
					a.popup-b__close(href="#")
				// Купить со скидкой
				section#withDiscountPopup.popup-b
					.popup-b__header
						h2.popup-b__heading Купить со скидкой
					.popup-b__content
						p Купите товар со скидкой, если у вас есть промокод.
						p
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
						a.popup-b__more(href='#') Подробнее
					a.popup-b__close(href='#')
				// Возврат и обмен
				section#returnAndChangePopup.popup-b
					.popup-b__header
						h2.popup-b__heading Возврат и обмен
					.popup-b__content
						p Если товар имеет дефект, то вы можете вернуть его в установленый законом срок.
						p
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
						a.popup-b__more(href='#') Подробнее
					a.popup-b__close(href='#')
				// Гарантия качества
				section#qualityGuaranteePopup.popup-b
					.popup-b__header
						h2.popup-b__heading Гарантия качества
					.popup-b__content
						p Если вы нашли этот товар дешевле, мы доставим вам его по той цене.
						p
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
						a.popup-b__more(href='#') Подробнее
					a.popup-b__close(href='#')
				// Консультация
				section#consultationPopup.popup-b
					.popup-b__header
						h2.popup-b__heading Консультация
					.popup-b__content
						p Если вы нашли этот товар дешевле, мы доставим вам его по той цене.
						p
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
						a.popup-b__more(href='#') Подробнее
					a.popup-b__close(href='#')
				// Сервисный центр
				section#serviceCenterPopup.popup-b
					.popup-b__header
						h2.popup-b__heading Сервисный центр
					.popup-b__content
						p Если вы нашли этот товар дешевле, мы доставим вам его по той цене.
						p
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
						a.popup-b__more(href='#') Подробнее
					a.popup-b__close(href='#')
				// Сервисный центр
				section#setInfoPopup.popup-b
					.popup-b__header
						h2.popup-b__heading Купить комплект
					.popup-b__content
						p Покупая товар в комплекте вы экономите, т.к. получаете дополнительную скидку.
						p
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
						a.popup-b__more(href='#') Подробнее
					a.popup-b__close(href='#')
				// Конец статичных попапов



