extend product-page.pug

block title
	title Product - Set

block buy-block
	// блок с информацией для заказа\покупки	
	.product-card__buy-block.product-info
		// Блок с основной информацией для заказа товара и кнопкой купить: цена, цвет, код товара и т.д.
		.product-feature.product-feature--best-price(title="узнать подробности") Гарантия лучшей цены
		// .product-feature.product-feature--order Товар под заказ
		div.product-group
			span.product-info__status.product-info__status--available Есть в наличии
			//span.product-info__status.product-info__status--not-available Нет в наличии
			//span.product-info__status.product-info__status--waiting Ожидается
			span.product-info__code Код:&nbsp;TM503018-T86
		form(action="/" name="product-buy" id="productCardBuy" class="product-card__order-form")
			// Блок выбора цвета, выбор цвета в через радио кнопку. Показ цвета через инлайновый стиль спану.
			.product-info__color.color-product-info
				| Цвета:
				.color-product-info__choosed-color
					span(style="background: white").color-product-info__color-label
				.color-product-info__colors.product-colors
					.product-colors__item
						input.product-colors__radio(type="radio" name="productColors" id="color-1" value="white" checked)
						label(for="color-1")
							span(style="background-color: white").color-product-info__color-label
							| Белый
					.product-colors__item
						input.product-colors__radio(type="radio" name="productColors" value="red" id="color-2")
						label(for="color-2")
							span(style="background-color: red").color-product-info__color-label
							| Красный
					.product-colors__item
						input.product-colors__radio(type="radio" name="productColors" value="yellow" id="color-3")
						label(for="color-3")
							span(style="background-color: yellow").color-product-info__color-label
							| Желтый
			// Блок с опцией выбора набора
			ul.product-info__set-option.set-option-product.clearfix
				li.set-option-product__item
					input.set-option-product__radio.radio-hidden(type="radio" name="productSet" value="0" id="productWithoutSet")
					label.set-option-product__label(for="productWithoutSet") Без набора
						// a.tip-btn.popup-open-link(href="#", data-popup-target="setInfoPopup")
						// ^ эта подсказка была удалена в новом варианте дизайна

				li.set-option-product__item
					input.set-option-product__radio.radio-hidden(type="radio" name="productSet" value="1" id="productWithSet" checked)
					label.set-option-product__label(for="productWithSet") С набором
			
			div.product-info__buy-block
				.product-info__price-block
					// span.product-info__price-current 3 160
					// 	i.price__sm  грн
					span.product-info__price-new.new-price 3 160
						i.price__sm  грн
					span.product-info__price-old 3 500 грн
				input.product-btn.product-btn--buy#submitOrderBtn(type="submit" value="Купить")
				//input.product-btn.product-btn--order(type="submit" value="Заказать")
				//input.product-btn.product-btn--inform(type="submit" value="Сообщить о поступлении")
				//- span.mobile-buy-option
				//- 	a(href="#fast_buy").fastbuy-link Быстрая покупка
				//- ^ нет в новой версии дизайна

			
		ul.product-info__buy-options.p-buy-options
			li.p-buy-options__heading Другие варианты покупки:
				ul.p-buy-options__inner
					li.p-buy-options__option
						a.popup-open-link(href="#", data-popup-target='withDiscountPopup') Со скидкой
					li.p-buy-options__option
						a.popup-open-link(href="#", data-popup-target='creditPopup') В кредит
					li.p-buy-options__option
						.p-buy-options__table-show
							span.p-buy-options__table-show-title еще
							span.p-buy-options__table-hidden
								a.popup-open-link(href="#fast_buy", data-popup-target='quickOrder').fastbuy-link Быстрая покупка
		.product-info__actions
			.personal-actions
				.personal-actions__action.action-personal.action-personal--wishlist
					i
					span.action-personal__title Отложить
				.personal-actions__action.action-personal.action-personal--compare
					i
					span.action-personal__title Сравнить
				.personal-actions__action.action-personal.action-personal--watch-price.action-personal--selected
					i
					span.action-personal__title Следить за ценой
			div.product-info__rating-block
				a(href="#").category-product__review-link Обзор-сравнение
				.rateit-block
					.rateit__range
						.rateit__selected
							.rateit__hover
					|  на базе 122 оценок
	// конец блока с информацией для заказа\покупки

block product-set-block
	// секция "Вместе дешевле"
	section.product-wset.clearfix
		.product-wset__header
			h2.product-wset__heading Дешевле в наборе
			p.product-wset__desc Экономия 850 грн
		.product-wset__set.clearfix
			// товар 1 
			.product-preview-item.product-wset-item.clearfix
				.product-preview-item__photo.product-wset-item__photo
					a(href="#")
						img(src="dist/images/temporary/product/item3.jpg", alt="some item image")
				.product-preview-item__content.product-wset-item__content
					h3.product-preview-item__heading.product-wset-item__heading
						a(href="#") Эта модель
					.product-preview-item__price.product-wset-item__price
						span.product-price--new 113 500
							span.product-price__text--small  грн
						span.product-price--old 113 685 грн
			// товар 2
			.product-preview-item.product-wset-item.clearfix
				.product-preview-item__photo.product-wset-item__photo
					a(href="#")
						img(src="dist/images/temporary/product/item2.jpg", alt="some item image")
				.product-preview-item__content.product-wset-item__content
					h3.product-preview-item__heading.product-wset-item__heading
						a(href="#") Аккумулятор Hubsan Li-Po 7,4В 450 мАч 2S
					.product-preview-item__price.product-wset-item__price
						span.product-price--new 280
							span.product-price__text--small  грн
						span.product-price--old 310 грн
			// товар 3
			.product-preview-item.product-wset-item.clearfix
				.product-preview-item__photo.product-wset-item__photo
					a(href="#")
						img(src="dist/images/temporary/product/item3.jpg", alt="some item image")
				.product-preview-item__content.product-wset-item__content
					h3.product-preview-item__heading.product-wset-item__heading
						a(href="#") Передатчик Hubsan H301C-09 для планера Spy Hawk 2.4GHz
					.product-preview-item__price.product-wset-item__price
						span.product-price--new 600
							span.product-price__text--small  грн
						span.product-price--old 785 грн
			// товар 4
			.product-preview-item.product-wset-item.clearfix
				.product-preview-item__photo.product-wset-item__photo
					a(href="#")
						img(src="dist/images/temporary/product/item5.jpg", alt="some item image")
				.product-preview-item__content.product-wset-item__content
					h3.product-preview-item__heading.product-wset-item__heading
						a(href="#") Сервопривод планера Hubsan Spy Hawk
					.product-preview-item__price.product-wset-item__price
						span.product-price--new 320
							span.product-price__text--small  грн
						span.product-price--old 355 грн
		.product-wset__total-price
			.product-wset__total-price-left
				span.product-info__price-old.product-wset__price-old 113 500 грн
				span.product-info__price-new.product-wset__price-new 113 1610
					i.price__sm.product-wset__price-sm  грн
			
			a(href="#").product-btn.product-btn--buy.product-wset-btn Купить набор
	// Конец секции "Вместе дешевле"
