extend product-page.pug

block title
	title Product - Outstock

block buy-block
	// блок с информацией для заказа\покупки
	.product-card__buy-block.product-info
		.product-feature.product-feature--best-price Гарантия лучшей цены
		.product-group
			span.product-info__status.product-info__status--not-available Нет в наличии
			span.product-info__code Код:&nbsp;TM503018-T86
		form(action="" name="product-buy" id="productCardBuy" class="product-card__order-form")
			div.product-info__buy-block
				.product-info__price-block
					span.product-info__price-current 3 160
						i.price__sm  грн		
			input.product-input.form-control(type="text" name="contact" placeholder="Эл. почта или телефон")
			input.product-btn.product-btn--inform(type="submit" value="Сообщить о поступлении" role="button")

		ul.product-info__buy-options.p-buy-options
			li.p-buy-options__heading Другие варианты покупки:
				ul.p-buy-options__inner
					li.p-buy-options__option
						a.popup-open-link(href="#", data-popup-target='withDiscountPopup') Со скидкой
					li.p-buy-options__option
						a.popup-open-link(href="#", data-popup-target='creditPopup') В кредит
					li.p-buy-options__option
						.p-buy-options__table-show
							span.p-buy-options__table-show-title еще
							span.p-buy-options__table-hidden
								a.popup-open-link(href="#fast_buy", data-popup-target='quickOrder').fastbuy-link Быстрая покупка
		.product-info__actions
			.personal-actions
				.personal-actions__action.action-personal.action-personal--wishlist
					i
					span.action-personal__title Отложить
				.personal-actions__action.action-personal.action-personal--compare
					i
					span.action-personal__title Сравнить
				.personal-actions__action.action-personal.action-personal--watch-price.action-personal--selected
					i
					span.action-personal__title Следить за ценой
			div.product-info__rating-block
				a(href="#").category-product__review-link Обзор-сравнение
				.rateit-block
					.rateit__range
						.rateit__selected
							.rateit__hover
					|  на базе 122 оценок
	// конец блока с информацией для заказа\покупки	

block specific-page-block
	// секция "Похожие товары в наличии"
	section.about-product__similar-products
		h2.additional-blocks__heading Похожие товары в наличии
		.similar-products-block.clearfix#owl-similar-products.owl-carousel
			.product-preview-item
				.product-preview-item__inner
					.product-preview-item__photo
						a(href="#")
							img(src="dist/images/sample-airplane.jpg", alt="image")
					.product-preview-item__content
						.product-preview-item__product-status
							span.product-status.product-status--new Новинка
						h3.product-preview-item__heading
							a(href="#") Модель р/у планера VolantexRC FPVRaptor V2 (TW-757-V2) 2000мм 2.4GHz...
						.product-preview-item__price
							span.product-price--current 5 025 
								span.product-price__text--small грн
						.product-preview-item__buy
							a.product-btn.product-preview-item__btn.product-preview-item__btn--incart(href="#") В корзине
							.product-preview-item__wishlist
								a.o-wishlist-link.o-wished(href="#")
									span.o-wishlist__text В избранном

			.product-preview-item
				.product-preview-item__inner
					.product-preview-item__photo
						a(href="#")
							img(src="dist/images/sample-airplane.jpg", alt="image")
					.product-preview-item__content
						.product-preview-item__product-status
							span.product-status.product-status--new Новинка
							span.product-status.product-status--discount -10%
							
						h3.product-preview-item__heading
							a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
						.product-preview-item__price
							span.product-price--new 2600 
								span.product-price__text--small грн
							span.product-price--old 2785 грн
						.product-preview-item__buy
							a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
							.product-preview-item__wishlist
								a.o-wishlist-link(href="#")
									span.o-wishlist__text В избранное

			.product-preview-item
				.product-preview-item__inner
					.product-preview-item__photo
						a(href="#")
							img(src="dist/images/sample-airplane.jpg", alt="image")
					.product-preview-item__content
						.product-preview-item__product-status
							span.product-status.product-status--top Топ продаж
							span.product-status.product-status--discount -10%
						h3.product-preview-item__heading
							a(href="#") Модель р/у планера VolantexRC FPVRaptor (TW-757) 1600мм 2.4GHz KIT
						.product-preview-item__price
							span.product-price--new 896 
								span.product-price__text--small грн
							span.product-price--old 1024 грн
						.product-preview-item__buy
							a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
							.product-preview-item__wishlist
								a.o-wishlist-link(href="#")
									span.o-wishlist__text В избранное

			.product-preview-item
				.product-preview-item__inner
					.product-preview-item__photo
						a(href="#")
							img(src="dist/images/sample-airplane.jpg", alt="image")
					.product-preview-item__content
						.product-preview-item__product-status
							
						h3.product-preview-item__heading
							a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
						.product-preview-item__price
							.product-price.product-price--current 1024 грн
						.product-preview-item__buy
							a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
							.product-preview-item__wishlist
								a.o-wishlist-link(href="#")
									span.o-wishlist__text В избранное

			.product-preview-item
				.product-preview-item__inner
					.product-preview-item__photo
						a(href="#")
							img(src="dist/images/sample-airplane.jpg", alt="image")
					.product-preview-item__content
						.product-preview-item__product-status
							
						h3.product-preview-item__heading
							a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
						.product-preview-item__price
							.product-price.product-price--current 1024 грн
						.product-preview-item__buy
							a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
							.product-preview-item__wishlist
								a.o-wishlist-link(href="#")
									span.o-wishlist__text В избранное

			.product-preview-item
				.product-preview-item__inner
					.product-preview-item__photo
						a(href="#")
							img(src="dist/images/sample-airplane.jpg", alt="image")
					.product-preview-item__content
						.product-preview-item__product-status
							
						h3.product-preview-item__heading
							a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
						.product-preview-item__price
							.product-price.product-price--current 1024 грн
						.product-preview-item__buy
							a.product-btn.product-preview-item__btn.product-preview-item__btn--buy(href="#") Купить
							.product-preview-item__wishlist
								a.o-wishlist-link.o-wished(href="#")
									span.o-wishlist__text В избранном
	// конец секции "Похожие товары в наличии"
