//- economy-item.jade

extends ./personal-cabinet.jade

block item
	.economy-item.clearfix
		h2 Как сэкономить
		.e-accordion
			h3.e-heading Накопительная система скидок
				i.e-heading__arrow
			div.e-accordion__text-item 
				p Описание накопительной системы скидок

			h3.e-heading Правило 10/15%
				i.e-heading__arrow
			div.e-accordion__text-item 
				p Описание Правило 10/15%

			h3.e-heading Акции и специальные предложения
				i.e-heading__arrow
			div.e-accordion__text-item 
				p Описание Акции и специальные предложения  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque eius ab eveniet quos ex, possimus doloremque excepturi fugiat aliquid placeat omnis ipsam praesentium alias sapiente, incidunt quidem tenetur dolore veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam doloremque, cum odit ipsam quidem soluta, sapiente vero quam recusandae maxime inventore, dolorum harum vel laudantium magni aperiam accusantium excepturi enim.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel illo obcaecati consequatur possimus ut dicta minima odio nemo laborum quos! Molestias accusamus, dolor, adipisci dolores omnis autem error veniam iure. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam doloremque, cum odit ipsam quidem soluta, sapiente vero quam recusandae maxime inventore, dolorum harum vel laudantium magni aperiam accusantium excepturi enim.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel illo obcaecati consequatur possimus ut dicta minima odio nemo laborum quos! Molestias accusamus, dolor, adipisci dolores omnis autem error veniam iure. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam doloremque, cum odit ipsam quidem soluta, sapiente vero quam recusandae maxime inventore, dolorum harum vel laudantium magni aperiam accusantium excepturi enim.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel illo obcaecati consequatur possimus ut dicta minima odio nemo laborum quos! Molestias accusamus, dolor, adipisci dolores omnis autem error veniam iure. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam doloremque, cum odit ipsam quidem soluta, sapiente vero quam recusandae maxime inventore, dolorum harum vel laudantium magni aperiam accusantium excepturi enim.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel illo obcaecati consequatur possimus ut dicta minima odio nemo laborum quos! Molestias accusamus, dolor, adipisci dolores omnis autem error veniam iure.
				p Описание Акции и специальные предложения  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque eius ab eveniet quos ex, possimus doloremque excepturi fugiat aliquid placeat omnis ipsam praesentium alias sapiente, incidunt quidem tenetur dolore veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam doloremque, cum odit ipsam quidem soluta, sapiente vero quam recusandae maxime inventore, dolorum harum vel laudantium magni aperiam accusantium excepturi enim.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel illo obcaecati consequatur possimus ut dicta minima odio nemo laborum quos! Molestias accusamus, dolor, adipisci dolores omnis autem error veniam iure. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam doloremque, cum odit ipsam quidem soluta, sapiente vero quam recusandae maxime inventore, dolorum harum vel laudantium magni aperiam accusantium excepturi enim.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel illo obcaecati consequatur possimus ut dicta minima odio nemo laborum quos! Molestias accusamus, dolor, adipisci dolores omnis autem error veniam iure. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam doloremque, cum odit ipsam quidem soluta, sapiente vero quam recusandae maxime inventore, dolorum harum vel laudantium magni aperiam accusantium excepturi enim.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel illo obcaecati consequatur possimus ut dicta minima odio nemo laborum quos! Molestias accusamus, dolor, adipisci dolores omnis autem error veniam iure. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam doloremque, cum odit ipsam quidem soluta, sapiente vero quam recusandae maxime inventore, dolorum harum vel laudantium magni aperiam accusantium excepturi enim.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel illo obcaecati consequatur possimus ut dicta minima odio nemo laborum quos! Molestias accusamus, dolor, adipisci dolores omnis autem error veniam iure.

			h3.e-heading Гарантия низкой цены
				i.e-heading__arrow
			div.e-accordion__text-item 
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam doloremque, cum odit ipsam quidem soluta, sapiente vero quam recusandae maxime inventore, dolorum harum vel laudantium magni aperiam accusantium excepturi enim.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel illo obcaecati consequatur possimus ut dicta minima odio nemo laborum quos! Molestias accusamus, dolor, adipisci dolores omnis autem error veniam iure. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam doloremque, cum odit ipsam quidem soluta, sapiente vero quam recusandae maxime inventore, dolorum harum vel laudantium magni aperiam accusantium excepturi enim.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel illo obcaecati consequatur possimus ut dicta minima odio nemo laborum quos! Molestias accusamus, dolor, adipisci dolores omnis autem error veniam iure. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam doloremque, cum odit ipsam quidem soluta, sapiente vero quam recusandae maxime inventore, dolorum harum vel laudantium magni aperiam accusantium excepturi enim.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel illo obcaecati consequatur possimus ut dicta minima odio nemo laborum quos! Molestias accusamus, dolor, adipisci dolores omnis autem error veniam iure. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam doloremque, cum odit ipsam quidem soluta, sapiente vero quam recusandae maxime inventore, dolorum harum vel laudantium magni aperiam accusantium excepturi enim.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel illo obcaecati consequatur possimus ut dicta minima odio nemo laborum quos! Molestias accusamus, dolor, adipisci dolores omnis autem error veniam iure.

			h3.e-heading Бонусы по партнерской программе
				i.e-heading__arrow
			div.e-accordion__text-item 
				p Описание Бонусы по партнерской программе  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis vel aliquid, vero, molestias tempore recusandae. Officia vitae nesciunt minus dolorem deserunt, nostrum ipsam illo voluptate suscipit, facilis maxime at tenetur.
	script(src="dist/js/pages/howSave.js")
