extends extends/sales-one-template.pug
include mixins/mixins.pug

block title
	title Акция с подарком

block sales-header
	header.sale-info.clearfix
		.sale-info__banner
			img(src='dist/images/temporary/sale-one.jpg')
		.sale-info__period.clearfix
			.sale-info__period-timer
				|Осталось
				.sale-timer.sale-timer--gift.clearfix(data-countdown="2017/09/01 19:00:00")
			.sale-info__period-text Акция действует с 1 по 31 марта


block aside
	+category-filter-sidebar('sale-tree-sidebar')

block category-content
	section.category-content__products.search-results__products
		// product 1
		+category-product-with-gift("dist/images/sample-airplane.jpg", 'incart',
						 "Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...",
						  "Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.", "13 600")
		// product 2
		+category-product-with-gift("dist/images/temporary/big-images/5_b.jpeg", 'noavail',
						 "Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...",
						  "Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.")
		// product 3
		+category-product-with-gift("dist/images/temporary/big-images/1_b.jpeg", 'available',
						 "Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...",
						  "Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.", "13 600")
		// product 4
		+category-product-with-gift("dist/images/temporary/big-images/2_b.jpeg", 'waiting',
						 "Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...",
						  "Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.", "13 600")


block sale-info-more
	section.sale-info-more#sale-more-info
		h2.sale-info-more__title Подробнее об акции

		p Период проведения акции: 22 февраля — 14 марта 2017 г. 
		p Спешите, количество подарков ограничено! 
		p.sale-info-more__special-conditions *Внешний вид подарка может отличаться от изображенного на странице.