doctype html
html(lang="ru")
	head
		title Новогодние скидки на квадрокоптеры DJI и бесплатная доставка
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		//- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/assets/owl.carousel.min.css")
		link(rel="stylesheet" href="dist/normalize.css")
		link(rel="stylesheet" href="dist/template_styles.css")
		
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/owl.carousel.min.js")
		script(src="dist/js/vendor/owl.carousel.js")
		script(src="dist/js/vendor/modernizr-2.8.3.min.js")
	
		// main script
		script(src="dist/js/base/all.js")
		script(src="dist/js/vendor/countdown/jquery.countdown.js")
		script(src="dist/js/pages/sales.js")

	body
		include includes/header.pug
		include mixins/mixins.pug
		.container
			// ХЛЕБНЫЕ КРОШКИ
			section.breadcrumbs
				a(href="#").breadcrumbs-item.breadcrumbs-menu-btn.btn Каталог
				a(href="#").breadcrumbs-item
					span.bb-solid Главная
				span Акции
			include includes/main-nav.pug
		.container
			h1.pagetitle.sale-pagetitle Новогодние скидки на квадрокоптеры DJI и бесплатная доставка
			block sales-header
				header.sale-info.clearfix
					.sale-info__banner
						img(src='dist/images/temporary/sale-one.jpg')
					.sale-info__period.clearfix
						.sale-info__period-text Акция завершена
						.sale-info__period-text Акция действовала с 28 февраля по 1 апреля
		.container
			main.main-content.sale-end-content.clearfix
				header.category-content__header.clearfix
					.fl_l
						h2.fl_l.category-content__header-title Акционные товары
						a.category-content__header-anchor.mobile-hidden(href='#sale-more-info')
							span.bb-dashed Подробнее об акции

					.share-links.mobile-hidden.fl_r
						span Отправить
						a(href="#" target="_blank").share-icon.share-icon__mail
						a(href="#" target="_blank").share-icon.share-icon__fb
						a(href="#" target="_blank").share-icon.share-icon__vk
						a(href="#" target="_blank").share-icon.share-icon__tw
						a(href="#" target="_blank").share-icon.share-icon__g
				block category-content
					section.category-content__products.category-content__products--4inrow
						// product 1
						+category-product("dist/images/sample-airplane.jpg", 'noavail',
										 "Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...",
										  "Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.", "13 600")
						// product 2
						+category-product("dist/images/temporary/big-images/5_b.jpeg", 'noavail',
										 "Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...",
										  "Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.")
						// product 3
						+category-product("dist/images/temporary/big-images/1_b.jpeg", 'available',
										 "Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...",
										  "Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.", "13 600")
						// product 4
						+category-product("dist/images/temporary/big-images/2_b.jpeg", 'waiting',
										 "Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...",
										  "Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.", "13 600")
						// product 5
						+category-product("dist/images/temporary/big-images/3_b.jpeg", 'to-order',
										 "Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...",
										  "Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.", "13 600")
						// product 6
						+category-product("dist/images/temporary/big-images/5_b.jpeg", 'incart',
										 "Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...",
										  "Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.", "13 600")
						// product 7
						+category-product("dist/images/temporary/big-images/4_b.jpeg", 'new',
										 "Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...",
										  "Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.", "13 600")
						// product 8
						+category-product("dist/images/temporary/big-images/2_b.jpeg", 'top',
										 "Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...",
										  "Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.", "13 600")
						// product 9
						+category-product("dist/images/temporary/big-images/3_b.jpeg", 'sale',
										 "Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...",
										  "Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.", "2 785", "2 600")
				block navigation
					// блок навигации
					.catalog-bottom-pager.category-pager.category-pager--fullwidth
						.pager-main-block
							.catalog-nav
								a.pmb-black.prev-navigation(href='#')
									i
									| Предыдущая
								.nav-elems
									span.pager__inner-elem(data-nav='1')
										a(href='/catalog/avtomobili?page=1') 1
									span.pager__inner-elem.pager__inner-elem--current.strong 2
									span.pager__inner-elem(data-nav='3')
										a(href='/catalog/avtomobili?page=3') 3
									|  →  
									span.pager__inner-elem(data-nav='55')
										a(href='/catalog/avtomobili?page=55') 55
								a.pmb-black.next-navigation(href='/catalog/avtomobili?page=2')
									| Следующая
									i
				block sale-info-more
					section.sale-info-more#sale-more-info
						h2.sale-info-more__title Подробнее об акции
						p.
							В акции принимают участие:<br>
							- Квадрокоптеры DJI Phantom 3 и 4 серии<br>
							-li Стедикамы Ronin и Ronin-M

						p В период <b>с 14 декабря до 5 января 2017 года</b> у вас есть возможность осуществить свою мечту с максимальной выгодой. Но не откладывайте это важное дело на последний момент – <b>количество акционного товара ограничено</b>.
						p Кстати, если вы успеете оформить заказ до 31 декабря, мы доставим вашу покупку по указанному вами адресу совершенно бесплатно!
				section.sales-items.sale-one-items.category-content
					mixin sales_item(imgSrc)
						.sales-item.clearfix
							.sales-item__image
								a(href="#")
									img(src=imgSrc)
							.sales-item__counter.clearfix
								.sales-item__description Осталось
								.sale-timer.promo-extra-timer.clearfix(data-countdown="2017/09/1 19:00:00")
					+sales_item("dist/images/temporary/sale-1.jpg")
					+sales_item("dist/images/temporary/sale-2.jpg")
					+sales_item("dist/images/temporary/sale-3.jpg")
		.prefooter
			.container
				// signup block
				.h-signup
					p.h-signup__heading Получайте только акции и важные новости
					form.h-signup__form
						input.h-signup__email-input(type="email", placeholder="Эл. почта для рассылки", required)
						input.h-signup__submit(type="submit", value="Держите в курсе")
					p.h-signup__form-caption 1 раз в неделю. Без спама

		include includes/footer.pug