doctype html
html(lang="ru")
	head
		title Акция с подарком
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		//- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/assets/owl.carousel.min.css")
		link(rel="stylesheet" href="dist/normalize.css")
		link(rel="stylesheet" href="dist/template_styles.css")
		
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/owl.carousel.min.js")
		script(src="dist/js/vendor/owl.carousel.js")
		script(src="dist/js/vendor/modernizr-2.8.3.min.js")
	
		// main script
		script(src="dist/js/base/all.js")
		script(src="dist/js/vendor/countdown/jquery.countdown.js")
		script(src="dist/js/pages/sales.js")

	body
		include includes/header.pug
		.container
			// ХЛЕБНЫЕ КРОШКИ
			section.breadcrumbs
				a(href="#").breadcrumbs-item.breadcrumbs-menu-btn.btn Каталог
				a(href="#").breadcrumbs-item
					span.bb-solid Главная
				span Акции
			include includes/main-nav.pug
		.promo-page.promo-gift
			.container
				h1.pagetitle.promo-content__title Новогодние скидки на квадрокоптеры DJI и бесплатная доставка
				main.promo-content
					include mixins/mixins.pug
					section.promo-description.clearfix
						.promo-description__image
							img(src='dist/images/temporary/sale-one.jpg')
						.promo-description__counter.clearfix
							.sales-item__description Осталось
							.sale-timer.clearfix(data-countdown="2016/05/10 19:00:00")
							.sales-item__description.promo-description__text Акция действует с 28 февраля по 1 апреля

					section.promo-products
						.promo-products__header.clearfix
							.promo-products__header-tabs.clearfix
								h3.promo-products__header-tab-products Акционные товары
								a(href="#promo-more-info") 
									h3.mobile-hidden.promo-products__header-tab-info Подробнее об акции
							.mobile-hidden.promo-products__header-share
								span Отправить
								a(href="#" target="_blank").promo-products__header-share-icon.share-icon__mail
								a(href="#" target="_blank").promo-products__header-share-icon.share-icon__fb
								a(href="#" target="_blank").promo-products__header-share-icon.share-icon__vk
								a(href="#" target="_blank").promo-products__header-share-icon.share-icon__tw
								a(href="#" target="_blank").promo-products__header-share-icon.share-icon__g

						.promo-products__items.clearfix
							mixin category-product(imgName)
								.category-product
									.category-product__inner
										.category-product__header
											.category-product__photo
												a(href="#")
													img(src="dist/images/temporary/big-images/" + imgName + ".jpeg", alt="image")
												i.product-rank-star.category-product__photo-rank-star 2
											.category-product__product-status
												span.cp-status.cp-status--pre-order Предзаказ
												.category-product__product-info
													span.category-product__product-comments
														a(href="#") 0
															span.cp-list-visible  отзывов
													span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
										.category-product__content
											h3.category-product__heading
												a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
											p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
											span.cp-status.cp-status--pre-order Предзаказ
											// cp-status дублируется второй раз для отображения списком
										.category-product__content-right
											.category-product__price
												span.product-price--noprice Цена не установлена
											.category-product__buy
												a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
												.category-product__product-links
													a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
													a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
													a.category-product__product-link.cp-watch-price-link(href="#", title="следить за ценой")
										.category-product__hidden-content
												.category-product__gallery
													ul.cp-gallery
														li.cp-gallery__item
															a(href="#")
																img(src="dist/images/sample-airplane.jpg", alt="image")
														li.cp-gallery__item
															a(href="#")
																img(src="dist/images/sample-airplane.jpg", alt="image")
														li.cp-gallery__item
															a(href="#")
																img(src="dist/images/sample-airplane.jpg", alt="image")
												.category-product__characteristics
													ul
														li с пультом управления
														li литий ионный аккумулятор
														li автономное время - 3ч
												.category-product__rating
													table
														tr
															td
																span.product-rank-star.category-product__rank-star 2
															td
																div
																	a(href="#").category-product__review-link Обзор сравнение
																.rateit-block
																	.rateit__range
																		.rateit__selected
																			.rateit__hover
										.category-product__gift
											p.category-product__gift-title в подарок
											a(href="#").category-product__gift-image
												img(src="dist/images/temporary/product-gift.jpg")
											a(href="#").category-product__gift-name.
												Аккумулятор Dinogy Giant 


							+category-product("5_b")
							+category-product("3_b")
							+category-product("4_b")
							+category-product("1_b")
							+category-product("3_b")

						.mobile-hidden.tablet-hidden.catalog-bottom-pager.promo-pager
							.pager-main-block
								.catalog-nav
									a.pmb-black.prev-navigation(href='#')
										i
										| Предыдущая
									.nav-elems
										span.pager__inner-elem(data-nav='1')
											a(href='/catalog/avtomobili?page=1') 1
										span.pager__inner-elem.pager__inner-elem--current.strong 2
										span.pager__inner-elem(data-nav='3')
											a(href='/catalog/avtomobili?page=3') 3
										|  →  
										span.pager__inner-elem(data-nav='55')
											a(href='/catalog/avtomobili?page=55') 55
									a.pmb-black.next-navigation(href='/catalog/avtomobili?page=2')
										| Следующая
										i

					section.promo-details__more-info#promo-more-info
						h4.promo-details__more-info-title Подробнее об акции
						p Период проведения акции: 22 февраля — 14 марта 2017 г. 
						p Спешите, количество подарков ограничено! 
						p.promo-details__special-conditions *Внешний вид подарка может отличаться от изображенного на странице.


				section.sales-items.promo-extra
						mixin sales_item
							.sales-item.clearfix
								.sales-item__image
									a(href="#")
										img(src="dist/images/temporary/sale-1.jpg")
								.sales-item__counter.clearfix
									.sales-item__description Осталось
									.sale-timer.promo-extra-timer.clearfix(data-countdown="2017/05/19 19:00:00")
								.sales-item__info
									a(href="#")
										p.sales-item__title.
											Будь мобильным. Стань на гироборд! Гарантия лучшей цены. До окончания товарных запасов
									.sales-item__description Акция действует с 28 февраля по 1 апреля
						+sales_item
						+sales_item




		.prefooter
			.container
				// signup block
				.h-signup
					p.h-signup__heading Получайте только акции и важные новости
					form.h-signup__form
						input.h-signup__email-input(type="email", placeholder="Эл. почта для рассылки", required)
						input.h-signup__submit(type="submit", value="Держите в курсе")
					p.h-signup__form-caption 1 раз в неделю. Без спама

		include includes/footer.pug