doctype html
html(lang="ru")
	head
		block title
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/assets/owl.carousel.min.css")
		link(rel="stylesheet" href="dist/normalize.css")
		link(rel="stylesheet" href="dist/template_styles.css")
		
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/owl.carousel.min.js")
		script(src="dist/js/vendor/modernizr-2.8.3.min.js")
	
		// main script
		script(src="dist/js/base/all.js")
		script(src="dist/js/pages/search.js")

	body
		// ШАПКА
		include includes/header.pug
		// Конец шапки сайта
		// ОСНОВНОЙ КОНТЕНТ
		.container
			.search-nav.fl_l
				section.breadcrumbs
					a(href="#").breadcrumbs-menu-btn.btn Каталог

				include includes/main-nav.pug
			header.search-page-header.clearfix
				.search-page-header__left
					h2.search-page-title Результаты поиска
					.search-results-qty Найдено 451 товар по запросу 
						span.search-query самолёты
				.search-page-header__right.clearfix
					.catalog-view-changer
						a.view-changer-link.view-changer-link--active(title='Показать блоками', href='?view=block', data-view="block")
							span.icon-view-block
								i
								i
								i
								i
						a.view-changer-link(title='Показать списком', href='?view=list', data-view="list")
							span.icon-view-list
								i
								i
								i
					
					.filter-link.filter-link--half-mob Подбор 

					include includes/category-sort
			main.category-content.search-results.clearfix
				section.category-content__products.search-results__products
					// product 1
					.category-product.category-product--noavail
						// товар, которого нет в наличии
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
									i.product-rank-star.category-product__photo-rank-star 1
								.category-product__product-status
									span.cp-status.cp-status--noavail Нет в наличии
									.category-product__product-info
										span.category-product__product-comments
											a(href="#") 3
												span.cp-list-visible  отзыва
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--noavail Нет в наличии
									// дублируется для вида списком (если есть возможность не выводить для мобильных телефонов)
							.category-product__content-right
								.category-product__price
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--buy-noavail(href="#") Купить
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link.cp-wished(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link.cp-compared(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link.cp-watched(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
										.cp-gallery__items-qty +1
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
													span.product-rank-star.category-product__rank-star 1
												td
													div
														a(href="#").category-product__review-link Обзор сравнение
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 2													
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/temporary/big-images/5_b.jpeg", alt="image")
									i.product-rank-star.category-product__photo-rank-star 2
								.category-product__product-status
									span.cp-status.cp-status--pre-order Предзаказ
									.category-product__product-info
										span.category-product__product-comments
											a(href="#") 0
												span.cp-list-visible  отзывов
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--pre-order Предзаказ
								// cp-status дублируется второй раз для отображения списком
							.category-product__content-right
								.category-product__price
									span.product-price--noprice Цена не установлена
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
													span.product-rank-star.category-product__rank-star 2
												td
													div
														a(href="#").category-product__review-link Обзор сравнение
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 3
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/temporary/big-images/3_b.jpeg", alt="image")
								.category-product__product-status
									span.cp-status.cp-status--available В наличии
									// span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									// span.product-status.product-status--sale Акция
									.category-product__product-info
										span.category-product__product-comments
											a(href="#") 16
												span.cp-list-visible  отзывов
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--available В наличии
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--buy(href="#") Купить
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
										.cp-gallery__items-qty +5
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 4
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/temporary/big-images/4_b.jpeg", alt="image")
								.category-product__product-status
									span.cp-status.cp-status--waiting Ожидается
									// span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									// span.product-status.product-status--sale Акция
									.category-product__product-info
										span.category-product__product-comments
											a(href="#") 16
												span.cp-list-visible  отзывов
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--waiting Ожидается
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									// span.product-price--current 13 600 
									// 	span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--waiting(href="#") Сообщить о поступлении
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 5
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.category-product__product-status
									span.cp-status.cp-status--to-order Под заказ
									// span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									// span.product-status.product-status--sale Акция
									.category-product__product-info
										span.category-product__product-comments
											a(href="#") 16
												span.cp-list-visible  отзывов
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--to-order Под заказ
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--pre-order(href="#") Заказать
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link.cp-watched(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 6
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.category-product__product-status
									span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									// span.product-status.product-status--sale Акция
									.category-product__product-info
										span.category-product__product-comments
											a(href="#") 0
												span.cp-list-visible  отзывов
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--available В наличии
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--incart(href="#") В корзине
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link.cp-watched(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 7
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.category-product__product-status
									// span.product-status.product-status--new Новинка
									span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									// span.product-status.product-status--sale Акция
									.category-product__product-info
										// span.category-product__product-comments
										// 	a(href="#") 16
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--available В наличии
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--incart(href="#") В корзине
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link.cp-watched(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 8
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.category-product__product-status
									// span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									span.product-status.product-status--top Топ продаж
									// span.product-status.product-status--sale Акция
									.category-product__product-info
										span.category-product__product-comments
											a(href="#") 1
												span.cp-list-visible  отзыв
										span.product-info__code.category-product__product-code Код:&nbsp;94107
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--available В наличии
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--incart(href="#") В корзине
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link.cp-watched(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 9													
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/temporary/big-images/5_b.jpeg", alt="image")
									i.product-rank-star.category-product__photo-rank-star 2
								.category-product__product-status
									// span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									span.product-status.product-status--sale Акция
									.category-product__product-info
										span.product-info__code.category-product__product-code Код:&nbsp;789125K
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--available В наличии
							.category-product__content-right
								.category-product__price
									span.product-price--new 2600 
										span.product-price__text--small грн
									span.product-price--old 2785 грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--buy.category-product__btn--buy-avail(href="#") Купить
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
													span.product-rank-star.category-product__rank-star 2
												td
													div
														a(href="#").category-product__review-link Обзор сравнение
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 10
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/temporary/big-images/3_b.jpeg", alt="image")
								.category-product__product-status
									span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									// span.product-status.product-status--sale Акция
									.category-product__product-info
										span.category-product__product-comments
											a(href="#") 16
												span.cp-list-visible  отзывов
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--available В наличии
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--incart(href="#") В корзине
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
										.cp-gallery__items-qty +5
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 11
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/temporary/big-images/4_b.jpeg", alt="image")
								.category-product__product-status
									// span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									span.product-status.product-status--sale Акция
									.category-product__product-info
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--available В наличии
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--incart(href="#") В корзине
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 12
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.category-product__product-status
									// span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									// span.product-status.product-status--sale Акция
									.category-product__product-info
										span.category-product__product-comments
											a(href="#") 16
												span.cp-list-visible  отзывов
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--available В наличии
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--incart(href="#") В корзине
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link.cp-watched(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 13
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/temporary/avto.jpeg", alt="image")
								.category-product__product-status
									// span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									// span.product-status.product-status--sale Акция
									.category-product__product-info
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--available В наличии
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--incart(href="#") В корзине
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link.cp-watched(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 14
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/no-photo.jpg", alt="image")
								.category-product__product-status
									// span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									// span.product-status.product-status--sale Акция
									.category-product__product-info
										span.category-product__product-comments
											a(href="#") 16
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--available В наличии
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 133 700 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--buy(href="#") Купить
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link.cp-watched(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
					// product 15
					.category-product
						.category-product__inner
							.category-product__header
								.category-product__photo
									a(href="#")
										img(src="dist/images/sample-airplane.jpg", alt="image")
								.category-product__product-status
									// span.product-status.product-status--new Новинка
									// span.product-status.product-status--discount -10%
									// span.product-status.product-status--top Топ продаж
									// span.product-status.product-status--sale Акция
									.category-product__product-info
										span.category-product__product-comments
											a(href="#") 3
												span.cp-list-visible  отзыва
										span.product-info__code.category-product__product-code Код:&nbsp;HSP-94107Pro
							.category-product__content
								h3.category-product__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								p.category-product__description Модель отличается исключительными маневренными и скоростными качествами. Описание может достигать 2-3 строки. Описание может достигать 2-3 строки.
								span.cp-status.cp-status--available В наличии
							.category-product__content-right
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 78 350 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--buy(href="#") Купить
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
										a.category-product__product-link.cp-watch-price-link.cp-watched(href="#", title="следить за ценой")
							.category-product__hidden-content
									.category-product__gallery
										ul.cp-gallery
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
											li.cp-gallery__item
												a(href="#")
													img(src="dist/images/sample-airplane.jpg", alt="image")
									.category-product__characteristics
										ul
											li с пультом управления
											li литий ионный аккумулятор
											li автономное время - 3ч
									.category-product__rating
										table
											tr
												td
												td
													.rateit-block
														.rateit__range
															.rateit__selected
																.rateit__hover
				// блок навигации
				.catalog-bottom-pager.category-pager
					.pager-main-block
						.catalog-nav
							a.pmb-black.prev-navigation(href='#')
								i
								| Предыдущая
							.nav-elems
								span.pager__inner-elem(data-nav='1')
									a(href='/catalog/avtomobili?page=1') 1
								span.pager__inner-elem.pager__inner-elem--current.strong 2
								span.pager__inner-elem(data-nav='3')
									a(href='/catalog/avtomobili?page=3') 3
								|  →  
								span.pager__inner-elem(data-nav='55')
									a(href='/catalog/avtomobili?page=55') 55
							a.pmb-black.next-navigation(href='/catalog/avtomobili?page=2')
								| Следующая
								i
				// конец блока навигации
				section.manufacturer-description.category-prefooter-description
					h2 Что выбрать: радиоуправляемые автомобили с ДВС или с электродвигателем?
					.category-prefooter-description__text
						p.
							Прежде всего, стоит определиться с выбором двигателя. Тут могут быть два варианта: электрические и машины, работающие на двигателе внутреннего сгорания. Радиоуправляемые автомобили первого типа  – самый популярный и распространенный вид. С управлением такого аппарата сможет справиться даже ребенок. Они просты в эксплуатации – достаточно зарядить аккумулятор, не требуют дополнительных затрат, имеют привлекательный вид. Прямое назначение электромашин – приносить радость и удовольствие от заездов как на улице, так и в помещении.
						p.
							Машины второго типа являются уменьшенной копией реальных автомобилей. Они оснащены двигателем внутреннего сгорания и работают на специальном топливе, требуют опытной настройки, а иногда даже замены свечей и модернизации. Такие автомобили отлично справляются с длительными заездами по любым трассам и локациям. Экспериментируйте с горючей смесью, настраивайте двигатель под себя и вперед – покорять пьедестал автогонщика!
						p.
							К наиболее интересным машинам с ДВС относятся «Монстры», которые обладают превосходной проходимостью и маневренностью, а поэтому вы сможете использовать их на природе. Не менее интересны по своим функциям автомобили спортивного класса «Багги» и «Трагги».
					a(href="#", data-state="expand").content-show-link
						span Развернуть



			// САЙДБАР С ФИЛЬТРАМИ
			include includes/category-filter-sidebar.pug
										
			// конец сайдбара с фильтром

		// ************************************************************************************
		// Начало нижней части сайта с адресами магазинов (префутера) 
		section.prefooter
			.container
				// signup block
				.h-signup

					p.h-signup__heading Получайте только акции и важные новости
					form.h-signup__form
						input.h-signup__email-input(type="email", placeholder="Эл. почта для рассылки", required)
						input.h-signup__submit(type="submit", value="Держите в курсе")
					p.h-signup__form-caption 1 раз в неделю. Без спама

		// Начало основного футера сайта
		footer.main-footer
			.container
				.footer-nav-wrapper.clearfix
					.footer-nav.footer-nav--categories
						h2.main-footer__heading Всегда в наличии
						ul.footer-nav__links
							li.footer-nav__link
								a(href="#") Автомобили
							li.footer-nav__link
								a(href="#") Квадракоптеры
							li.footer-nav__link
								a(href="#") Самолеты
							li.footer-nav__link
								a(href="#") Вертолеты
							li.footer-nav__link
								a(href="#") Яхты
							li.footer-nav__link
								a(href="#") Аксессуары
					.footer-nav.footer-nav--info
						h2.main-footer__heading Ваши покупки
						ul.footer-nav__links
							li.footer-nav__link
								a(href="#") Вопросы и ответы 
							li.footer-nav__link
								a(href="#") Оплата и доставка 
							li.footer-nav__link
								a(href="#") Гарантия
							li.footer-nav__link
								a(href="#") Условия использования сайта
						.footer-payment-methods
							p Принимаем к оплате
							img(src="dist/images/payment-methods.png", alt="методы оплаты виза, мастеркард, приватбанк")
					.footer-nav.footer-nav--site-links
						ul.footer-nav__links
							li.footer-nav__link
								a(href="#") Блог
							li.footer-nav__link
								a(href="#") Новости и события 
							li.footer-nav__link
								a(href="#") О компании 
							li.footer-nav__link
								a(href="#") Вакансии 

				.main-footer__contacts.clearfix
					.footer-contact-info
						h2.main-footer__heading Киев
						.footer-contact-info__schedule
							span.footer-contact-info__icon.footer-contact-info__icon--schedule
							| пн-пт: 9-20, сб: 10-20
						.footer-contact-info__phone
							span.footer-contact-info__icon.footer-contact-info__icon--phone
							| (044) 221-61-00
						a(href="#").callback-link.footer-contact-info__callback перезвонить мне

						.footer-contact-info__country-phone
							p 0 800 218-817
							p.footer-contact-info__desc Бесплатно по Украине

					.footer-contact-info
						h2.main-footer__heading Харьков
						.footer-contact-info__schedule
							span.footer-contact-info__icon.footer-contact-info__icon--schedule
							| пн-пт: 9-20, сб: 10-20
						.footer-contact-info__phone
							span.footer-contact-info__icon.footer-contact-info__icon--phone
							| (057) 755-15-00
						a(href="#").callback-link.footer-contact-info__callback перезвонить мне
				.main-footer__socials
					p Следите за нами в соцсетях
					a(href="#", title="Facebook", target="_blank").footer-socials-link.fb-social-link
					a(href="#", title="Vkontakte", target="_blank").footer-socials-link.vk-social-link
					a(href="#", title="Youtube", target="_blank").footer-socials-link.youtube-social-link


				a(href="#top").footer-up-link
					span.footer-up-link__icon
					| Вверх



