input:required{
	background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-image: url(images/icon-asterix.png);
}

input:required:valid{
    background-image: url(images/ui-icon-avail-yes.png);
    border: 1px solid #659812;
    padding: 12px 15px;
}

::-webkit-input-placeholder {
   color: #777777;
}

:-moz-placeholder { /* Firefox 18- */
  color: #777777; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #777777; 
}

:-ms-input-placeholder {  
   color: #777777;
}

label{
	display: inline-block;
	margin-bottom: 8px;
}
input.form-control{
    display: block;
    width: 100%;
    height: 42px;
    padding: 0 15px;
    font-size: 1em;
    line-height: 42px;
    color: #000;
    background-color: #fff;
    border: 1px solid #787878;
    border-radius: 4px;
    box-sizing: border-box;
    letter-spacing: 0;
    font-family: OpenSans, sans-serif;
}
textarea.form-control{
	display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100px;
    padding: 12px 15px;
    font-size: 1em;
    color: #000;
    background-color: #fff;
    border: 1px solid #787878;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: OpenSans, sans-serif;
}
.form-control:focus,
.form-control:hover{
    border: 2px solid #4b80bb;
    outline: none;
    padding: 11px 14px;
    background-position: right 9px top 50%;
}

.form-group{
	margin-bottom: 16px;
	font-size: 16px;
	position: relative;
}

.text-muted{
	font-size: .9375em;
	color: #777777;

	font-family: OpenSans_Italic;
	margin-top: 5px;
}

// Custom radio input element
.custom-radio__input{
	position: absolute;
	left: -99999px;
}
.custom-radio__label{
	position: relative;
	padding: 15px 0px 15px 54px;
	display: block;
	cursor: pointer;

	@media (min-width: 768px){
		padding-left: 70px;
	}
}



.custom-radio__circle{
	position: absolute;
	left: 0;
	top: 50%;
	display: inline-block;
    border-radius: 50%;
    border: 2px solid #1581be;
    background: #fff;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    text-align: center;
    margin-top: -12px;
}
.custom-radio__circle-inner{
    display: none;
    border-radius: 50%;
    background: #3b9dcd;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.custom-radio__input:checked + .custom-radio__label .custom-radio__circle-inner{
	display: inline-block;
}
.custom-radio__toggled-content{
	display: none;
}
.custom-radio__input:checked + .custom-radio__label + .custom-radio__toggled-content{
	display: block;
}

.custom-radio__heading{
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	border-bottom: 1px dashed #787878;
	font: normal 16px OpenSans_SemiBold, sans-serif;
}
// Custom checkbox element
.custom-checkbox{
	position: absolute;
	left: -99999px;
}

.custom-checkbox__label{
	position: relative;
	padding: 5px 0 5px 40px;
	display: inline-block;
	cursor: pointer;
}
.custom-checkbox__box{
	display: inline-block;
    height: 18px;
    width: 18px;
    background: #fff;
    border: 1px #000 solid;
    border-radius: 3px;
    margin-right: 15px;
    vertical-align: middle;
    position: absolute;
	left: 0;
	top: 50%;
	margin-top: -9px;
}
.custom-checkbox:checked + .custom-checkbox__label > .custom-checkbox__box{
	background: #4b80bb url("images/personal-cabinet/icon-checked.png") no-repeat center center;;
}
// Custom select item

.custom-select{
	width: 100%;
	height: 42px;
	padding-left: 15px;
	padding-right: 60px;
	background: #fff url(images/select-arrow-icon.png) no-repeat right 0 top 0;
	color: #000;
	border: 0;
	border: 1px solid #787878;
	border-radius: 4px;
	cursor: pointer;
	overflow: hidden !important;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: OpenSans, sans-serif;
	font-size: 16px;
	// remove the arrow
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-select:hover,
.custom-select:focus{
	border-color:#1581be;
	outline: 0;
}