/* start of header.scss*/
.main-header {
    position: relative;

    min-width: 360px;
    margin-bottom: 25px;
    @media (min-width: 768px) {
        margin-bottom: 20px;
    }
    @media (min-width: 994px) {
        margin-bottom: 20px;
    }
}
.header-top-info {
    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
    height: 80px;
    padding-top: 13px;
    // min-width: 360px;
    @media (min-width: $tablet-min) {
    	height: 83px;
    }
    @media (min-width: $desktop-min) {
        height: 47px;
        padding-top: 8px;
    }
}
.header-logo {
    display: inline-block;

    margin-right: 9px;

    img {
        width: 100px;
    }
    @media (min-width: $tablet-min) {
        margin-right: 21px;
        margin-left: 25px;

        img {
            width: 135px;
        }
    }
    @media (min-width: 994px) {
        position: relative;
        top: -3px;

        img {
            width: 230px;
        }
    }
    @media (min-width: $desktop-min) {
        position: absolute;
        top: 55px;
        margin-left: 24px;

        img {
            width: 214px;
            height: auto;
        }
    }
}
.header-nav {
    display: none;
    @media (min-width: 768px) {
        display: inline-block;
        vertical-align: top;
    }
}

.for-customer {
	display: inline-block;
	margin-right: 6px;

	@media (min-width: 1235px) {
		margin-right: 11px;
	}

    li {
        list-style: none;
    }

	&__btn{
		cursor: pointer;

		span {
			display: block;
			height: 30px;
			background: #1581be url(images/header-menu-down-icon.png) no-repeat right 9px top 50%;
			color: #fff;
			font: 14px/30px $main-font;
			padding: 0 24px 0 9px;
			border-radius: 3px;
		}

		&:hover > ul, &:focus > ul {
			display: block;
			box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
            z-index: 999;
		}
	}
	& li > ul {
		display: none;
		position: absolute;
		background: #fff;
		border: 1px solid #777;
		border-radius: 3px;
	}

	&  li > a{
		display: block;
		height: 40px;
		line-height: 40px;
		color: #151515;
		padding: 0 15px;
	}

	& li > a:hover {
		background: #e8f1f9;
		text-decoration: none;

	}
}
.header-nav-links {
	display: inline-block;
	vertical-align: baseline;
	font: 14px $main-font;

	@media (min-width: 1235px) {
		// font-size: 14px;
	}

	&__item {
		display: inline-block;
		margin-right: 15px;

		white-space: nowrap;

        &:nth-child(4),
        &:nth-child(5) {
            display: none;

            @media (min-width: 1235px) {
                display: inline-block;
            }
        }

		&--desctop {

		}

		a {
			display: inline-block;
			color: #111111;
			border-bottom: 1px solid #a1a1a1;
			text-decoration: none;
			line-height: 14px;
		}

		&:hover, &:focus {

			a {
				text-decoration: none;
				border: 0;
				color: #d34f27;
			}
		}
	}
}
.header-phone {
    display: inline-block;

    width: auto;
    white-space: nowrap;
    margin-right: 0;

    vertical-align: top;
    @media (min-width: $tablet-min) {
        width: 438px;
        position: absolute;
        top: 51px;
    }
    @media (min-width: $desktop-min) {

        top: 52px;
        margin-left: 300px;
    }
    & > * {
        display: block;
        @media (min-width: $tablet-min) {
            display: inline-block;
        }
    }
    &__number {
        font: 17px $main-font-semibold;
        width: auto;
        text-indent: -.5px;

        color: #0d0d0d;

        @media (min-width: $tablet-min) {
            text-indent: initial;
            width: 34%;
            display: inline-block;
            margin-right: 11px;
        }
    }
    &__description {
        font-size: 12px;
        line-height: 15px;

        width: 100%;

        color: #777;
        @media (min-width: 768px) {
            // width: auto;
            // margin-left: 10px;
            // font-size: 13px;
            display: none;
        }
    }
    &__callback {
        display: none;
        @media (min-width: 768px) {
            display: inline-block;

    		font-size: 13px;
    		line-height: 14px;
        }
    }
}


.callback-link {
    color: #4b80bb;
    border-bottom: 1px dashed #8ca0b8;
    &:hover, &:focus {
        text-decoration: none;
        color: $hovered-link-color;
        border-bottom-color: #ecbdb3;
    }
}

.header-profile-link {
	font: 15px $main-font;
	color: #151515;
    display: inline-block;
    float: right;
    overflow: hidden;

    width: 33px;
    height: 33px;
    margin-top: 3px;
    margin-right: 5px;

    vertical-align: top;
    text-indent: -99999px;

    background: url('images/svg/user-profile-icons-sprite.svg') no-repeat center 0;
    &:hover,
    &:focus {
        background-position: center -33px;
        text-decoration: none;
    }
    @media (min-width: 544px) {
    	margin-right: 25px;
    }

    @media (min-width: $tablet-min) {
        margin-right: 12px;
        margin-top: 0;
    }

    @media (min-width: $desktop-min) {
    	margin: 0;
    	width: auto;
        height: auto;

        text-indent: 0;

        background: #fff;
    }

    // подчеркивание текста
    & > span {
    	display: inline-block;
    	white-space: nowrap;
    	line-height: 15px;

    	&:hover {
    		border-bottom-color: #000;
    	}
    }

    & .authorized {

    	background: url(images/svg/user-profile-icons-sprite.svg) no-repeat 0 0;
        height: 33px;
        line-height: 33px;
        padding-left: 40px;
    }

    &__discount {
    	color: red;
    	font-style: normal;
    }
}

.header-link-indicator {
    font: 13px $main-font-semibold;

    padding: 2px 8px;

    color: #fff;
    border-radius: 12px;
    background-color: #fa4300;

    @media (min-width: 1235px) {
    	font-size: 15px;
    }

}

.mobile-cart-link {
    position: relative;

    display: inline-block;
    float: right;

    width: 52px;
    height: 48px;

    vertical-align: top;

    border: 1px solid #f8db84;
    border-radius: 2px;
    background: #fff5ce url('images/svg/Cart-menu.svg') no-repeat 3px 0px;
    @media (min-width: 768px) {
        display: none;
    }
    &__indicator {
        position: absolute;
	    top: 23px;
	    font-size: 11px;
	    left: 20px;
    	padding: 2px 6px 2px 5px;
    }
}

.header-stripe {
    box-sizing: border-box;
    height: 80px;

    background: #f6f6f6;

    @media (min-width: 1235px)  {
    	height: 85px;
    }
}



.header-menu-link {
    font: 10px $main-font-bold;

    float: left;

    box-sizing: border-box;
    width: 63px;
    height: 100%;
    min-height: 80px;
    margin-left: -10px;
    padding: 1px 0 0;

    text-align: center;

    color: #fff;
    border: 0;
    outline: 0;
    background-color: #0082c2;
    @media (min-width: 768px) {
        margin-left: -15px;
    }
    @media (min-width: 994px) {
    	margin-left: 0;
    }
    @media (min-width: 1235px) {
        display: none;
    }
    &__icon {
        display: block;

        height: 22px;
        margin-top: 5px;
        margin-bottom: 11px;

        background: url('images/main-header-spritesheet.png') no-repeat 50% -10px;
    }
}
// Форма поиска
.header-search {
    position: absolute;
    z-index: 102;
    top: 160px;
    right: 0;
    left: 0;
    border: 1px solid #e2e2e2;
	border-right: 0;
	border-left: 0;
	background: #fff;
	padding: 15px 10px;

    display: none;

    & > .container {
    	padding: 0;
    }

    @media (min-width: $tablet-min) {
    	display: block;
    	border: 0;
		padding: 0;
		background: transparent;
    	height: 40px;
        position: relative;
        top: auto;

        float: left;

        width: 370px;
        margin: 18px 26px 20px 29px;
    }

    @media (min-width: $desktop-min) {
        width: 440px;
        margin: 33px 10px 0 301px;
    }

    &__input {
        font-size: 16px;
        height: 40px;

        box-sizing: border-box !important;
        width: 230px;
        padding: 10px 45px 11px 12px;

        border: 1px solid #4b80bb;
        border-radius: 3px;
        overflow: hidden;
        background: #fff;
        &:focus {
            padding: 9px 44px 10px 11px;

            border: 2px solid #4b80bb;
            outline: 0;

            & + .header-search__submit {
                text-indent: 0;
                background: #4b80bb;
                width: 69px;
                height: 40px;
                font-size: 16px;
                color: #fff;
                border-radius: 3px;
                padding: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                &:hover {
                    background: darken(#4b80bb, 5%);
                }
            }
        }

        @media (min-width: 768px) {
        	width: 100%;
        }

        @media (min-width: 1235px) {
            box-sizing: border-box;
            padding-right: 75px;

            &:focus {
                padding-right: 74px;
            }

        }

        &::placeholder {
            color: #a8a8a8;
        }
    }

    &__submit {
    	width: 45px;
    	height: 40px;
    	vertical-align: middle;
        text-indent: -99999px;

        cursor: pointer;

        border: 0;
        outline: 0;
        background: url('images/main-header-spritesheet.png') no-repeat 0 -397px;
    	@media (min-width: $tablet-min) {
    		position: absolute;
	        top: 0;
	        right: 0;
	        height: 100%;
	        background-position: 5px -394px;
        }
    }

}

.header-search-results-wrapper {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    // margin-top: -20px;
    // min-height: 100%;
    z-index: 101;
    right: 0;
    left: 0;
    display: none;
    top: 232px;
    bottom: 0;
    overflow: hidden;


    @media (min-width: 768px) {
        top: 163px;
    }

    @media (min-width: 1235px) {
        top: 131px;
    }
}

.header-search-results {
    max-width: 470px;
    border: 1px solid #959595;
    border-radius: 3px;
    background: #fff;
    position: absolute;
    z-index: 101;
    display: none;

    @media (min-width: 768px) {
        position: relative;
        top: 1px;
    }
    &__list-products,
    &__list-category {
        border-bottom: 1px solid #dfdfdf;
    }

    &__category-title {
        margin-bottom: 0;
        font: 15px $main-font;

        span {
            color: #a8a8a8;
            font-size: 13px;
            margin-left: 9px;
        }
    }

    &__all-results {
        display: block;
        padding: 12px 11px;
        font-size: 15px;

        &:hover {
            background: #f3f3f3;
        }
    }
}

.header-search-results__item {

    display: block;
    color: #555555;
    text-decoration: none;
    padding: 10px 10px 6px;
    transition: background ease .25s;

    &:last-child {
        padding-bottom: 9px;
    }

    &:hover {
        color: #555555;
        text-decoration: none;
        background: #f3f3f3;
    }

    &-category {
        padding: 8px 11px;

        &:first-child {
            padding-top: 11px;
        }

        &:last-child {
            padding-bottom: 12px;
        }
    }

    &-image {
        width: 60px;
        height: 60px;
        float: left;

        img {
            width: 100%;
        }
    }

    &-details {
        margin-left: 75px;
    }

    &-title {
        font: 14px $main-font;
        margin-bottom: 0;
    }

    &-price {
        color: #da7600;
        font: 15px $main-font-bold;
        margin-bottom: 0;
    }
}




.mobile-search-link {
    display: inline-block;
    float: right;
    width: 35px;
    height: 80px;
    vertical-align: middle;
    background: url(images/main-header-spritesheet.png) no-repeat -10px -384px;

    &.active {
    	background: url(images/product-close-icon.png)  0 21px no-repeat;
    	background-size: 20px;
    }

    @media (min-width: 768px) {
    	display: none;
    }
}
// Персональные ссылки, представленные иконками, в шапке (желания, сравнить и т.д)
.header-personal {
    font: 12px $main-font;

    float: left;

    width: 56%;
    margin-left: 17%;

    @media (min-width: $tablet-min) {
        width: 26%;
        margin-left: 0;
    }

    @media (min-width: $desktop-min) {
        width: 20%;
    }
    &__item {
        display: block;
        float: left;

        width: 33%;

        cursor: pointer;
        text-align: center;

        color: #aaa;
        @media (min-width: 1235px) {
            margin-top: 6px;
        }
        &:link,
        &:active {
            outline: 0;
        }
        &:hover, &:focus {
            text-decoration: none;

            color: #346cab;
            .header-personal__icon {
                border-color: #346cab;

            }
        }

        @media (max-width: 1234px) {
        	&:hover, &:focus {
        		// Смена цвета иконки при ховере для планшета и мобильного
        		.header-personal__icon {
	                &--wishlist {
		                background-position: 0 -169px;
		            }
		            &--waiting {
		                background-position: 0 -86px;
		            }
		            &--compare {
		                background-position: -4px -347px;
		            }
		            &--watch-price {
		                background-position: -2px -262px;
	            }

	            }
        	}
        }
    }
    // Активная иконка
    &__item.active {
    	.header-personal__icon {
    		border-color: #346cab;
    		@media (max-width: 1234px) {
    			&--wishlist {
	                background-position: 0 -169px;
	            }
	            &--waiting {
	                background-position: 0 -86px;
	            }
	            &--compare {
	                background-position: -4px -347px;
	            }
	            &--watch-price {
	                background-position: -2px -262px;
	            }
    		}

    	}
    	.header-personal__indicator {
    		display: block;
    	}
    }
    // Стили иконки
    &__icon {
        position: relative;

        display: block;

        width: 44px;
        height: 44px;
        margin: 5px auto 3px;

        border-radius: 50%;
        background: url('images/main-header-spritesheet.png') no-repeat 0 -125px;
        @media (min-width: 768px) {
        	margin: 6px auto 3px;
        }
        @media (min-width: 1235px) {
            margin: 5px auto 3px;

            border: 1px solid #c2c2c2;
        }
        &--wishlist {
            background-position: 0 -127px;
        }
        &--waiting {
            background-position: 0 -42px;
        }
        &--compare {
            background-position: -4px -305px;
        }
        &--watch-price {
            background-position: -2px -215px;
        }
    }
    &__indicator {
    	display: none;
        position: absolute;
        right: -8px;
    	bottom: -3px;
    }
    // Блок попапов
    &__popups {
    	position: absolute;
    	top: 98%;
    	z-index: 101;
    	max-width: 510px;
    	left: 0;
    	padding: 0 5px;

    	font-size: 15px;
    	@media (min-width: 544px) {
    		left: auto;
    	}
    }
}

.header-popup {
	border: 1px solid #b8b8b8;
    border-radius: 5px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.35);
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    display: none;

    @media (min-width: 768px) {
    	padding: 22px 35px 25px;
    }

    &.active {
    	display: block;
    }

    &__text {
    	margin-left: 100px;

    	@media (min-width: 768px) {
    		margin-left: 115px;
    	}
    }

    &__title {
    	margin-bottom: 10px;
        font: 20px/1.6 $main-font-semibold;
    }

    &__unlogin {
    	border-top: 1px dashed #c2c2c2;
    	padding-top: 15px;

    	p {
    		margin-bottom: 0;
    	}

    	a {
    		border-bottom: 1px solid #b1c5de;
    		display: inline-block;
    		line-height: 15px;

    		&:hover {
    			text-decoration: none;
    			border-color: #346cab;
    		}
    	}
    }
}
.header-popup-icon {
	display: inline-block;
	float: left;
	width: 90px;
	height: 65px;
	background: url('images/header-popup-icons.png') no-repeat 15px -5px;

	&--waiting {
		background-position: 15px -125px;
	}

	&--wishlist {
		background-position: 17px -185px;
	}

	&--compare {
		background-position: 0px 5px;
	}

	&--watch-price {
		background-position: 15px -60px
	}
}
.header-cart {
    display: none;
    @media (min-width: 768px) {
        font: 18px $main-font-semibold;
        // line-height: 64px;

        position: relative;

        display: block;
        float: right;
        // min-width: 65px;

        height: 64px;
        margin-top: 10px;
        padding: 0 0px 0 65px;

        color: #151515;
        background: url('images/svg/Cart-menu.svg') no-repeat 15px 5px;
    }
    @media (min-width: 994px) {
        border: 1px solid #f8db84;
        border-radius: 2px;
        background-color: #fff5ce;
        margin-top: 11px;
    	padding: 0 0 0 64px;
    	background-position: 11px 5px;
    	// line-height: 59px;
    	height: 60px;
    	width: 104px;

    	&:after {
	    	content: "В корзину";
	    	display: block;
	    	opacity: 0;
	    	transition: none;
	    	background: url('images/ui-arrow-cart.png') no-repeat 100% 0;
	    	position: absolute;
	    	top: 5px;
	    	padding-top: 10px;
	    	left: 65px;
	    }
	    &:hover:after {
	    	opacity: 1;
	    	transition: opacity .25s ease;
	    	color: #000;
	    }
    }
    @media (min-width: 1235px) {

    }

    &:hover > span{
    	display: none;
    }

    &__indicator {
        position: absolute;
        top: 28px;
	    left: 26px;


    }
    &__total {
        display: none;
        font-size: inherit;
        @media (min-width: 994px) {
            display: inline;
            line-height: 59px;
        }
        &--text-smaller {
        	font: 15px $main-font;
        }

    }

    &__empty {
	    font: 16px/23px $main-font;
	    margin-top: 6px;
	    margin-left: 5px;
	    display: none;
	    @media (min-width: 994px) {
            display: inline-block;
        }
    }


}

.main-nav {
    font: 16px $main-font;
    display: none;

    position: absolute;
    z-index: 100;

    box-sizing: border-box;
    width: 310px;
    // прижимаем к шапке
    margin-top: -25px;
    margin-left: -10px;
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.2);

    border-radius: 3px;
    background: #fff;
    padding: 10px 0 25px;

    &:hover {
    	box-shadow: 0 0 10px 0 #dbe1e4;
    }
    @media (min-width: 768px) {
    	border: 1px solid #dae2e5;
    	padding-top: 0;
    	margin-top: -28px;
    	margin-left: -15px;
    	width: 250px;

    	&__mobile-links {
	    	display: none;
	    }
    }
    @media (min-width: 994px) {
    	margin-left: 0;
    	margin-top: -20px;
    }
    @media (min-width: $desktop-min) {
    	border-color: #eee;
        width: 268px;
        margin-top: -24px;

        .media-link {
        	padding-left: 8px;
        }
    }
    // ССылки, которые видны только в мобильном виде (покупателю и т.д) те, что были в шапке
    &__mobile-links {
    	.main-nav__item {
    		border-bottom: 0;
    	}

    	.main-nav-link  a{
    		color: #000;
    		font-family: $main-font;
    	}
    }
    &__menu {
    	@media (min-width: 1235px) {
    		padding-bottom: 9px;
    	}
    }

    // Блок элемента меню, внутри него содержится пункт меню и его подменю
    &__item {
		border-bottom: 1px solid #e2e2e2;

		@media (min-width: 768px) {
			border-bottom: 0;
		}

    }

    // Непосредственно пункт меню
    &-link {

    	padding-left: 10px;
        padding-right: 35px;

    	line-height: 22px;
    	width: 100%;
    	position: relative;
    	box-sizing: border-box;
    	font-family: $main-font-semibold;

    	a {
    		padding: 9px 0;
    		display: block;
    		height: 100%;
    		@media (min-width: 1235px) {
    			padding: 6px 0 6px;
	    		padding-left: 42px;
                // padding-right: 35px;
	    	}
    	}



    	&__btn {
    		// .main-nav-link__btn
    		height: 100%;
    		width: 60px;
    		display: block;
    		font-size: 0;
    		position: absolute;
    		top: 0;
    		right: 0;

    		@media (min-width: 1235px) {
    			width: 0;
    			display: none;
    		}

    		// составная иконка из двух частей. В мобильном виде - пллюсик.
    		// В планшетном виде стрелка
    		i {
    			position: absolute;
    			display: block;
    			width: 14px;
    			height: 4px;
    			background-color: #a3c7e2;
    			@media (min-width: 768px) {
					transform: rotate(45deg);
				}

				// @media (min-width: 1235px) {
				// 	display: none;
				// }

    			&:first-child {
    				right: 22px;
    				top: 18px;

    				@media (min-width: 768px) {
    					height: 3px;
    					right: 17px;
    					top: 14px;
    				}
    				@media (min-width: 1235px) {
    					top: 11px;
    				}
    			}

    			&:last-child {
	    			width: 4px;
	    			height: 14px;
	    			right: 27px;
	    			top: 13px;

	    			@media (min-width: 768px) {
	    				width: 3px;
    					right: 22px;
    					top: 17px;
    				}

    				@media (min-width: 1235px) {
    					top: 14px;
    				}
	    		}
    		}
    	}

    	&.active {
    		background-color: #e8f1f9;
    		// Кнопка раскрытия меню
    		.main-nav-link__btn {
    			i {
    				background-color: #346cab;

    				&:last-child {
    					display: none;

    					@media (min-width: 768px) {
    						display: inline-block;
    					}
    				}
    			}
    		}

    		& + .main-nav-submenu,
    		& + .main-nav-submenu__wrapper > .main-nav-submenu {
    			display: block;
    		}
    		& + .main-nav-submenu__wrapper > .main-nav-submenu {
    			left: 0;
    		}
    		@media (min-width: $tablet-min) {
    			& + .main-nav-submenu__wrapper {
	    			position: absolute;
	    			top: -1px;
	    			bottom: 0;
	    			left: 100%;
                    background-position: center;
                    background-color: #fff;
	    			// width: 517px;
	    			// width: calc(768px - 251px);
	    			// height: 100%;
	    			background-size: cover;
	    			box-shadow: 5px 0 10px 0 #dbe1e4;
	    		}
    		}

    		@media (min-width: 1235px) {
    			& + .main-nav-submenu__wrapper {
	    			width: 902px;
	    			width: calc(1170px - 268px);
	    		}
	    		.main-nav-link__btn {
	    			display: block;
	    		}
    		}

    	}
    	&:hover, &:focus {
    		background-color: #e8f1f9;

    		a {
    			text-decoration: none;
    		}

    		@media (min-width: 1235px) {
    			& + .main-nav-submenu__wrapper {
	    			width: 902px;
	    		}
	    		.main-nav-link__btn {
	    			display: block;
	    		}
    		}
    	}
    }

    &__link-3l {
		font-size: 15px;
		a {
			display: block;
			width: 100%;
			padding: 5px 0;
			&:hover {
				color: #d34f27;
				text-decoration: none;
			}
		}
	}
    // Две статичные ссылки с иконками вверху меню (Акции, Скидки)
    &__top-links {


        padding: 0;

        background: #f6f6f6;

        display: none;
    }
    // непосредственно сами ссылки (Акции, Скидки)
    &__top-link {
        display: block;
        font-family: $main-font-semibold;

        padding: 9px 15px 9px 45px;

        &:hover, &:focus {
            text-decoration: none;

            background-color: #e8f1f9;
        }

        &--new {


            color: #008c92;
            background: url('images/svg/Menu-down-new.svg') no-repeat 10px 9px;
        }
        &--discount {


            color: #fc1535;
            background: url('images/svg/Menu-down-sale.svg') no-repeat 10px 9px;
        }


        @media (min-width: 768px) {
        	padding: 5px 15px 6px 52px;

        	&--new {
        		padding-bottom: 11px;
	            background-position: 15px 5px;
	        }
	        &--discount {
	        	padding-top: 13px;
	            background-position: 15px 13px;
	        }
        }
    }

    &-submenu {
    	display: none;
    	font: 15px $main-font;

    	& & .main-nav-link__btn {
    		display: none;
    	}

    	&--l1 {
    		.main-nav-link {
    			padding-left: 25px;
    		}
    		@media (min-width: 1235px) {
    			.main-nav-link__btn {
	    			display: block;
	    		}
    		}
    	}

    	&--l2 {
    		.main-nav-link {
    			padding-left: 45px;
    		}


    	}

    	&--l3 {
    		padding: 5px 0px 5px 45px;
    	}


    	&__link {
    		font-family: $main-font;
    		a {
    			color: #000;
    			padding-left: 0;

                @media (min-width: $desktop-min) {
                    padding-left: 0;
                }
    		}
    	}

    	@media (min-width: 768px) {
    		position: absolute;
    		top: 0;
    		left: 100%;
    		background-color: #fff;
    		width: 250px;
    		border: 1px solid #e2e2e2;
    		border-radius: 1px;
    		border-bottom: 0;
    		margin-top: 0;

    		&__item {
    			border-bottom: 1px solid #e2e2e2;
    		}

    		&--l1 {
    			.main-nav-link {
    				padding-left: 15px;
    			}
    			// box-shadow: inset 3px 0px 4px #ecf0f3;
    		}
    		&--l2 {
	    		.main-nav-link {
	    			padding-left: 15px;
	    		}
	    		top: -1px;
	    		box-shadow: inset 3px 0px 4px #ecf0f3;
	    	}
	    	&--l3 {
	    		width: 230px;
	    		top: -1px;
	    		padding-left: 15px;
	    		box-shadow: inset 3px 0px 4px #ecf0f3;
	    	}
    	}

    	@media (min-width: 1235px) {
    		& & .main-nav-link__btn {
    			display: block;
    		}
    	}
    }

    &__submenu-heading {
    	font: 17px $main-font-semibold;
    	margin: 0;
    	padding: 5px 0;

    }

    // Статичные ссылки на медиа контент снизу меню
    &__media-links {

    }
    &-media-link {
    	font-family: $main-font;

    	a {
    		padding: 6px 0 5px;
    	}
    }
}
// Ссылки на медиа контент сайта
.media-link {
    display: inline-block;

    color: #151515;
}
.media-icon {
    display: inline-block;

    width: 27px;
    height: 25px;
    margin-right: 6px;

    vertical-align: middle;

    background: url('images/social-media-spritesheet.png') no-repeat -10px -10px;
}
.media-review-icon {
    background-position: -10px -254px ;
}
.media-article-icon {
    background-position: -10px -7px ;
}

.media-news-icon {
    background-position: -10px -170px ;
}

.media-events-icon {
    background-position: -10px -86px ;
}

.media-video-icon {
    background-position: -10px -750px ;
}
.media-choice-icon {
	background: url('images/ui-icon-catalog-choise.png') no-repeat 0 0;
}




.media-link.active,
.media-link:hover {
    text-decoration: none;
    .media-review-icon {
        background-position: -10px -297px ;
    }
    .media-article-icon {
        background-position: -10px -45px ;
    }
    .media-news-icon {
        background-position: -10px -212px ;
    }
    .media-events-icon {
        background-position: -10px -128px ;
    }
    .media-video-icon {
        background-position: -10px -794px ;
    }
}



// Popups
.popup-outer {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    overflow: hidden;
    overflow-y: auto;

    background-color: rgba(255, 255, 255, .2);
    text-align: center;
}

.popup-b {
    font: 14px/24px OpenSans;

    position: relative;

    display: none;

    box-sizing: border-box;
    margin: 0 auto 50px;
    text-align: left;
    // max-width: 800px;
    // padding: 23px 55px 25px 20px;
    // padding: 20px 0 25px;

    color: #151515;
    background: white;
    box-shadow: 0 3px 9px 1px rgba(0, 0, 0, .4);
    @media (min-width: 544px) {
        max-width: 550px;

        border: 10px solid rgba(75, 128, 187, .75);
        border-radius: 18px;
        background-clip: padding-box;
    }
    @media (min-width: 768px) {
        width: 95%;
        max-width: 800px;
        // padding: 23px 125px 25px 34px;
        margin: 50px auto 0;
    }
    &__header {
        padding: 23px 50px 15px 17px;
        @media (min-width: 768px) {
            padding-right: 90px;
            padding-left: 30px;
        }
        &--dbb {
            margin-bottom: 10px;
            padding-bottom: 25px;

            border-bottom: 1px dashed #c2c2c2;
        }
    }
    &__heading {
        font: 20px $main-font-semibold;

        margin: 0;
        // padding-right: 55px;
        // padding-left: 20px;
        &--cart {
            // margin-bottom: 20px;
            padding-left: 48px;

            background: url(images/product-cart-icon.png) no-repeat 0 0;
        }
    }
    &__content,
    &__footer {
        padding: 0 27px 15px 17px;
    }
    &__content {
        margin-bottom: 10px;
        @media (min-width: 768px) {
            padding-left: 30px;
        }
        p {
            margin: 0 0 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__more {
        font-size: 16px;

        color: #346cab;
    }
    &__close {
        position: absolute;
        top: 24px;
        right: 15px;

        display: block;

        width: 30px;
        height: 30px;

        cursor: pointer;

        background: url(images/product-close-icon.png) no-repeat 0 0;
        background-size: 30px;
        @media (min-width: 768px) {
            right: 25px;
        }
    }
    &__back {
        font: 17px $main-font-semibold;

        display: inline-block;

        padding-left: 25px;

        color: #346cab;
        background: url('images/product-arrow-icon.png') no-repeat 0 50%;
        // margin-top: 35px;
    }
}
.header-popup-wrapper {

    position: absolute;
    z-index: 9999;
    box-sizing: border-box;
    width: 100%;
    top: 47px;

    .container {
        display: flex;
        justify-content: flex-end;
    }
}
.popup-login {
	max-width: 350px !important;
	padding: 41px 40px 27px;
    position: relative;

    margin: 0;
    margin-left: auto;
    float: right;

    @media (min-width: $tablet-min) {
        margin: 0;
    }

	.popup-b__close {
		top: 18px;
		right: 18px;
	}

	&__title {
		font-size: 18px;
        font-family: $main-font-semibold;
		display: inline-block;
		margin-right: 16px;
		margin-bottom: 8px;
	}

	&__reg-link {
		border-bottom: 1px dashed #4777b0;
		display: inline-block;
		font: 18px/19px $main-font-semibold;

		&:hover {
			text-decoration: none;
			border: 0;
			color: #d34f27;
		}
	}
}

.login-form {

	&__label {
		margin-bottom: 2px;
		font-size: 15px;
		font-family: $main-font;
	}
	.form-group {
		margin-bottom: 8px;
        white-space: nowrap;
	}

	&__input {
		height: 40px;
		line-height: 40px;
		margin-bottom: 6px;
	}

	&__checkbox-box {
		border-color: #777;
	}
	&__invalid-data {
		font-size: 13px;
		color: #c03911;
	}

	&__btn {
		width: auto;
		background-color: #659913;
		color: #fff;
		padding: 0 25px 0 20px;
		height: 40px;
		margin-right: 21px;
		transition: all 0.2s ease;

		&:hover {
			background-color: #528600;
		}
	}
}

.social-login {
	border-top: 1px dashed #c2c2c2;
	padding-top: 15px;
	margin-top: 21px;

	&__title {
		font: 15px $main-font;
		margin-bottom: 10px;
	}

	&__link {
		float: left;
		font-size: 0;
		margin-right: 10px;

		a {
			display: block;
			width: 35px;
			height: 35px;
			background: url(images/social-login.png) no-repeat -5px -5px;
		}

		&--fb {
			a {
				background-position: -5px -5px;
			}
		}
		&--vk {
			a {
				background-position: -5px -95px;
			}
		}

		&--gp {
			a {
				background-position: -5px -50px;
			}
		}
	}
}


.breadcrumbs {
	display: none;
	color: #000;
	font: 15px $main-font;

	@media (min-width: 1235px) {
		margin-bottom: 22px;
		display: block;
	}

	&-item {
		display: inline-block;
		margin-right: 46px;
		position: relative;
		height: 34px;
		padding: 5px 0;
		vertical-align: baseline;
		box-sizing: border-box;
		color: inherit;
		text-decoration: none;



		&:after {
			display: block;
			content: "";
			position: absolute;
			right: -38px;
			top: 12px;
			width: 25px;
			height: 10px;
			background-image: url('images/svg/arrow-right.svg');
			background-repeat: no-repeat;
		}

		span {
			border-bottom-color: #afafaf;
			display: inline-block;
			line-height: 16px;
		}
	}

    &-next {
        color: $text-grey;
    }

	&-menu-btn {
        font: 16px $main-font;
        background: #1581be url(images/header-menu-down-icon.png) no-repeat right 12px top 50%;
        max-width: 107px;
        color: #fff;
        text-align: left;
        padding: 5px 33px 5px 9px;
        box-sizing: border-box;
        line-height: 22px;
	}
}
/* end of header.scss*/
