$promo-color: #c84911;
$buy-btn-bg: #d34f27;
$buy-btn-color: #fff;
$text-color: #151515;

.l-good
{
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 510px;
    padding: 77px 5px 20px;
    color: $text-color;
    border-bottom: 1px solid #eae9e7;

    @media (min-width: 544px)

    {
        float: left;
        width: 50%;
        padding-right: 30px;
        padding-left: 30px;
    }
    @media (min-width: 768px)
    {
        width: 33.333%;
    }
    // @media (min-width: 994px) {
    // }
    @media (min-width: 1200px)
    {
        float: left;

        width: 50%;
        padding-right: 30px;
        padding-left: 30px;
        &:nth-child(even) .w-good__wrapper
        {
            border: 0;
        }
    }
}

.l-good--your-price
{
    background: #fefdf6;
}

.l-good__header-title
{
    font: 15px OpenSans, sans-serif;

    margin-top: 15px;
    margin-bottom: 3px;

    color: #000;
}

.l-good__buy-your-price
{
    font: 15px OpenSans_Bold, sans-serif;

    box-sizing: border-box;
    margin-bottom: 5px;
    padding: 5px 10px 6px 32px;

    color: #568820;
    border: 1px solid #dcedc2;
    border-radius: 2px;
    background: #fafff6 url('images/personal-cabinet/icon-check.png') no-repeat 10px 50%;

    @media (min-width: 768px)
    {
        padding: 5px 4px 6px 22px;

        background-position: 3px 50%;
    }

    @media (min-width: 994px)
    {
        padding: 5px 10px 6px 32px;

        background-position: 10px 50%;
    }

}

.l-good__your-price
{
    margin-right: 15px;
}

.l-good__change-your-price
{
    padding-left: 18px;

    background-repeat: no-repeat;
    background-position: 0 50%;
}

.l-good__change-your-price a
{
    font: 15px OpenSans, sans-serif;

    text-decoration: none;

    color: #346cab;
    border-bottom: 1px dashed #abc4df;
}

.l-good__change-your-price a:hover
{
    text-decoration: none;

    color: #000;
    border: 0;
}

.l-good__change-your-price--edit
{
    background-image: url('images/personal-cabinet/ui-icon-personal-edit.png');
}

.l-good__change-your-price--set
{
    padding-left: 24px;

    background-image: url('images/personal-cabinet/set-price-icon.png');
}

.l-good__wrapper
{
    @media (min-width: 544px)
    {
        margin-right: -30px;
        padding-right: 30px;

        border-right: 1px solid #eae9e7;
    }
}

.l-good--available
{
    background: #fffdf6;
}

.l-good__header
{
    position: absolute;
    top: 14px;
    left: 5px;
    @media (min-width: 544px)
    {
        top: 5px;
        left: 30px;
    }
}

.l-good__delete-good
{
    position: absolute;
    top: 70px;
    right: 5px;

    display: block;

    width: 30px;
    height: 30px;

    cursor: pointer;

    border-radius: 2px;
    background: #ddd url('images/personal-cabinet/icon-close.png') no-repeat center center;
    &:hover
    {
        cursor: pointer;

        background-color: #c3c3c3;
    }
    @media (min-width: 544px)
    {
        top: 83px;
        right: 0;
    }
}

.l-good__good-img
{
    font-size: 0;
    line-height: 180px;

    height: 180px;
    margin-bottom: 20px;

    text-align: center;
    img
    {
        max-width: 100%;
        max-height: 100%;

        vertical-align: middle;
    }
}

.l-good__good-status
{
    overflow: hidden;

    height: 22px;
    margin-bottom: 15px;
}

.l-good__status-top
{
    font: 15px Opensans, sans-serif;

    color: #da761c;

    margin-right: 15px;
}

.l-good__status-new
{
    font: 15px Opensans, sans-serif;

    color: #568800;

    margin-right: 15px;
}

.l-good__discount-amount
{
    font-size: 18px;
    font-weight: bold;

    color: #f01834;
}

.l-good__good-title
{
    font: 15px/21px OpenSans, sans-serif;

    overflow: hidden;

    height: 65px;
    margin: 0 0 10px;
    a
    {
        text-decoration: none;

        color: #000;
        &:hover
        {
            color: #346cab;
        }
    }
}

.l-good__price-block
{
    height: 35px;
}

.l-good__price
{
    font: 18px OpenSans_Semibold, sans-serif;

    margin-right: 15px;

    color: $text-color;
}

.l-good__price--new
{
    font-size: 1.25em;
    font-weight: bold;

    margin-right: 20px;

    color: #f01834;
}

.l-good__price-change
{
    font: 15px OpenSans, sans-serif;

    padding-left: 15px;

    background-repeat: no-repeat;
    background-position: 0 50%;
}

.l-good__price-change--up
{
    color: #c84903;
    background-image: url('images/personal-cabinet/price-up-arrow.png');
}

.l-good__price-change--down
{
    color: #568800;
    background-image: url('images/personal-cabinet/price-down-arrow.png');
}

.l-good__buy-btn
{
    font: 16px OpenSans_Semibold, sans-serif;

    display: inline-block;

    margin-bottom: 7px;
    padding: 9px 13px;

    text-align: center;
    white-space: nowrap;

    color: #fff;
    border-radius: 4px;
    background-color: #f24e1f;
    &:hover
    {
        text-decoration: none;

        color: $buy-btn-color;
        background: $buy-btn-bg;
    }
}

.l-good__promo
{
    font: 15px OpenSans_SemiBold, sans-serif;

    color: $promo-color;
}
