.personal-cabinet-content {
    margin-bottom: 40px;
    @media (min-width: 768px) {
        margin-bottom: 50px;
    }
    @media (min-width: 1235px) {
        margin-top: 8px;
    }
}
.cabinet-menu-block {
    margin-bottom: 31px;
    position: relative;
    & * {
        box-sizing: border-box;
    }
    @media (min-width: 1235px) {
        float: left;

        box-sizing: border-box;
        width: 270px;
        margin-bottom: 0;
    }
}
// Cabinet menu
.cabinet-menu {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
    max-width: 360px;

    border: 1px solid #dfdfdf;
    border-radius: 2px;
    @media (min-width: 1235px) {
        display: block;
        position: static;
    }
}

.cabinet-menu__custom-select {
    font: 18px $main-font-semibold;
    line-height: 50px;

    max-width: 360px;
    height: 50px;
    padding: 0 30px 0 12px;

    border: 1px solid #777;
    border-radius: 3px;
    outline: 0;
    background: url(images/ui-icon-catalog-tabs-mobile.png) no-repeat right 13px top 50%;
    @media (min-width: 768px) {
        display: block;
    }
    @media (min-width: 1235px) {
        display: none;
    }
}

.cabinet-menu-link {
    font-family: $main-font;
    font-size: 16px;
    line-height: 46px;

    position: relative;

    display: block;

    height: 46px;
    padding: 0 45px 0 50px;

    color: #000;
    border-bottom: 1px solid #dfdfdf;
    &:last-child {
        border-bottom: 0;
    }
    &:hover,
    &.active {
        font-family: $main-font-bold;

        background: #fafafa;
        .cabinet-menu-link__icon {
            &--orders {
                background-position: 5px -283px;
            }
            &--profile {
                background-position: 5px -1004px;
            }
        }
    }
    &__icon {
        position: absolute;
        top: 0;
        left: 0;

        display: block;

        width: 50px;
        height: 100%;

        background: url('images/personal-cabinet/spritesheet.png') no-repeat 0 0;
        &--save {
            background-position: 5px -789px;
        }
        &--orders {
            background-position: 5px -247px;
        }
        &--profile {
            background-position: 5px -968px;
        }
    }
    @media (min-width: 1235px) {
        &:hover,
        &.active {
            background: #fafafa url(images/personal-cabinet/spritesheet.png) no-repeat right -45px top 6px;
        }
    }
}

// Cabinet content

.cabinet-link {
    font: 15px $main-font;
    color: #346cab;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;

    span {
        border-bottom: 1px dashed #b6c6dc;
        display: inline-block;
        line-height: 16px;
    }
}
.cabinet-content-block {
    @media (min-width: 1235px) {
        float: right;

        width: 870px;
    }
}
.cabinet-main-content {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 30px;
    padding-bottom: 30px;

    @media (min-width: 768px) {
        padding-bottom: 49px;
    }
    @media (min-width: 1235px) {
        float: left;
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;

        width: 570px;
    }
}
.cabinet-title {
    font: 20px/16px $main-font-semibold;

    margin: 0 0 19px;

    color: #151515;

    @media (min-width: 768px) {

    }
    @media (min-width: 1235px) {
        margin-bottom: 21px;
    }
}
h3.cabinet-title {
    margin-bottom: 7px;
}

// Sidebar with extra info
.cabinet-sidebar {
    & * {
        box-sizing: border-box;
    }
    @media (min-width: 1235px) {
        float: right;

        width: 270px;
        padding-top: 35px;
    }
}

.cabinet-extra-info {
    max-width: 430px;
    margin-bottom: 31px;
    padding: 12px 0 0;

    border: 1px solid #dfdfdf;
    border-radius: 2px;
    background-color: #fcfcfc;
    @media (min-width: 768px) {
        float: left;

        width: 430px;
    }
    @media (min-width: 1235px) {
        float: none;

        width: auto;
    }
    & > div {
        padding-right: 12px;
    }
}
.personal-discount-block {
    padding-left: 12px;
    padding-bottom: 25px;

    border-bottom: 1px dashed #c2c2c2;

    @media (min-width: 768px) {
        padding-bottom: 16px;
    }
    @media (min-width: 1235px) {
        padding-bottom: 27px;
    }
}

.personal-status {
    font: 18px $main-font;

    margin-bottom: 5px;
    padding-left: 5px;

    color: #151515;
    @media (min-width: 544px) {
        display: inline-block;

        margin-right: 5px;
    }
    @media (min-width: 1235px) {
        display: block;

        margin-right: 0;
    }
    &__link {
        font: 16px $main-font;

        color: #000;
        span {
            line-height: 13px;

            display: inline-block;
        }
    }
}
.personal-discount-label {
    font-size: 15px;

    margin-bottom: 15px;
    padding-left: 5px;

    color: #151515;
    @media (min-width: 544px) {
        display: inline-block;
    }
}
.personal-status-icon {
    display: inline-block;

    width: 25px;
    height: 25px;

    vertical-align: middle;

    background: url(images/personal-cabinet/spritesheet.png) no-repeat -2px -358px;
    &--vip {
        background-position: -5px -359px;
    }
}
.personal-discount {
    max-width: 245px;
    margin-bottom: 6px;
    padding: 10px 10px 12px;

    border: 2px solid #f0da88;
    border-radius: 5px;
    background-color: #fff;
    &-list {
        font: 14px $main-font;
        // padding-left: 28px;

        margin-bottom: 3px;
        & > li {
            display: inline-block;

            margin-left: 24px;
            &.active {
                font-family: $main-font-semibold;
            }
        }
    }
}

.status-bar {
    position: relative;

    box-sizing: border-box;
    height: 12px;

    border: 1px solid #777;
    border-radius: 5px;
    &__progress {
        position: absolute;
        top: -1px;
        left: -1px;

        height: 12px;

        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: #76962a;
        &--3 {
            width: 20%;
        }
        &--5 {
            width: 33.3333%;
        }
        &--10 {
            width: 66.6666%;
        }
        &--15 {
            width: 100%;
            width: calc(100% + 2px);

            border-radius: 5px;
        }
    }
}

.increase-discount {
    font-size: 16px;
    &__title {
        padding: 10px 0 8px;
        padding-left: 38px;

        color: #ce1e36;
        background: url(images/personal-cabinet/spritesheet.png) no-repeat -2px -791px;
    }
    &__link {
        font-size: 15px;
        line-height: 20px;

        display: block;

        padding: 0 0 0 5px;

        white-space: nowrap;

        color: #000;
        &-icon {
            display: inline-block;

            width: 20px;
            height: 21px;
            margin-left: 6px;

            vertical-align: middle;

            background: url(images/personal-cabinet/spritesheet.png) no-repeat -8px -43px;
        }
        span {
            line-height: 16px;

            display: inline-block;

            border-bottom: 1px solid #acacac;
        }
        &:hover {
            span {
                border-color: #000;
            }
        }
    }
}

.personal-manager-block {
    padding-top: 24px;
    padding-bottom: 31px;
    padding-left: 16px;
    position: relative;
    

    border-bottom: 1px dashed #c2c2c2;

    @media (min-width: 768px) {
        padding-top: 21px;
    }
    @media (min-width: 1235px) {
        padding-top: 24px;
    }
    &__left {
        float: left;

        width: 50%;
    }
    &__right {
        float: right;

        width: 50%;

        text-align: right;
    }
}

.personal-manager {
    &__title {
        font: 15px $main-font-bold;

        margin-bottom: 5px;
    }

    &__info {
        line-height: 25px;
        color: #000;
        margin-bottom: 9px;

        a {
            color: inherit;
            border-bottom: 1px solid #777;
            display: inline-block;
            line-height: 15px;
        }
    }

    &__photo {
        height: 90px;
        width: 90px;
        margin-right: 21px;

        @media (min-width: 544px) {
            margin-right: 24px;
        }
        @media (min-width: 1235px) {
            margin-right: 0;
        }
    }
}
.chat-btn {
    font: 15px/35px $main-font-bold;

    display: inline-block;

    height: 38px;
    width: 122px;

    text-align: center;
    text-decoration: none;

    color: #76972a;
    border: 1px #76972a solid;
    border-radius: 3px;
    background: #fff;
    position: absolute;
    right: 20px;
    top: 133px;
    @media (min-width: 544px) {
        right: 20px;
    }
    @media (min-width: 1235px) {
        position: static;
    }

    &:hover {
    text-decoration: none;

    color: #76972a;
    background-color: #f9fef4;
    }
}


.gift-certificate-block {
    padding: 21px 12px 27px 17px;

    background-color: #f3f3f3;
    @media (min-width: 768px) {
        padding: 17px 12px 13px 17px;
    }
    @media (min-width: 1235px) {
        padding-top: 26px;
        padding-bottom: 32px;
    }
}

.gift-certificate {
    &__link {
        margin-bottom: 4px;

        a {
            font: 15px $main-font-semibold;

            display: inline-block;

            padding: 10px 0 10px 35px;

            text-decoration: underline;

            color: #3d6cab;
            background: url(images/personal-cabinet/spritesheet.png) no-repeat -5px -617px;
        }
        @media (min-width: 768px) {
            display: inline-block;
            width: 150px;
            vertical-align: middle;

            a {
                background: url("images/ui-icon-personal-present.png") no-repeat 0 6px;
                padding: 2px 0 10px 27px;
            }
        }
        @media (min-width: 1235px) {
            display: block;
            width: auto;
            a {
                background: url(images/personal-cabinet/spritesheet.png) no-repeat -9px -623px;
            }
            
        }
        
    }

    &__form {
        @media (min-width: 768px) {
            display: inline-block;
            vertical-align: middle;
        }
        @media (min-width: 1235px) {
            display: block;
        }
    }
    &__select {
        font-size: 15px;
        line-height: 38px;

        box-sizing: border-box;
        width: 119px;
        height: 38px;
        padding: 0 30px 0 10px;

        cursor: pointer;

        border: 1px solid #777;
        border-radius: 2px;
        background: #fff url(images/personal-cabinet/select-arrow-cabinet.png) no-repeat right 12px top 50%;

        appearance: none;
    }
    &__btn {
        font: 17px $main-font-semibold;
        line-height: 38px;

        box-sizing: border-box;
        width: 104px;
        height: 38px;
        margin-left: 10px;

        cursor: pointer;
        text-align: center;

        color: white;
        border: none;
        border-radius: 3px;
        outline: none;
        background: #76972a;
        padding: 0;
        vertical-align: top;
    }
}

// sidebar signup block
.cabinet-signup {
    max-width: 430px;
    padding: 20px 15px 20px 18px;

    color: #000;
    border-radius: 3px;
    background-color: #fef4ce;
    @media (min-width: 768px) {
        float: right;

        width: 270px;
        padding-top: 18px;
        padding-bottom: 29px;
        &__icon {
            width: 100%;
            height: 84px;

            background: url('images/personal-cabinet/spritesheet.png') no-repeat center -536px;
        }
    }
    @media (min-width: 1235px) {
        float: none;

        width: auto;
        padding-bottom: 19px;
    }
    &__title {
        font-family: $main-font-bold;

        margin-bottom: 15px;
    }
    &__options {
        margin-bottom: 27px;
        @media (min-width: 768px) {
            margin-bottom: 23px;
        }
    }
    &__option {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }

        @media (min-width: 768px) {
            margin-bottom: 6px;
        }
    }
    &__label {
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    &__option-label {
        font: 15px $main-font-semibold;
        line-height: 28px;

        display: inline-block;

        width: 122px;
        height: 32px;
        margin-left: 4px;
        padding: 0 35px 0 12px;

        color: #fff;
        border-radius: 2px;
        background: #e53326 url(images/personal-cabinet/spritesheet.png) no-repeat right -48px top -146px;
        &--stock {
            background-color: #e53326;
        }
        &--novelty {
            background-color: #33955d;
        }
        &--discount {
            background-color: #eb9000;
        }
        &--hits {
            background-color: #d65826;
        }
        &--overviews {
            background-color: #5182b9;
        }

        @media (min-width: 768px) {
            height: 28px;
        }
    }
    &__btn {
        font: 17px/25px $main-font-semibold;

        max-width: 320px;
        margin-bottom: 7px;
        padding: 6px 12px 9px;

        white-space: normal;

        color: #fff;
        background-color: #76972a;
        &:hover {
            background-color: #6b8925;
        }
    }
    &__legend {
        font: 15px $main-font-light;

        margin-bottom: 0;
    }
}




// ===============================================================================
// ****************************** 10 - Profile Page ******************************
.profile-form {
    & * {
        box-sizing: border-box;
    }
    &__input-field {
        font-size: 17px;
        line-height: 46px;

        width: 100%;
        height: 46px;
        margin-bottom: 10px;
        padding: 0 10px;

        color: #151515;
        border: 1px solid #777;
        border-radius: 3px;
        @media (min-width: 768px) {
            width: 49.1%;
            margin-bottom: 0;
            & + & {
                margin: 0;
                margin-left: 1%;
            }
            &--full {
                width: 100%;
            }

            &--phone {
                width: 248px;
                display: block;

                & + & {
                    margin-left: 0;
                    margin-top: 11px;
                }
            }
        }
        @media (min-width: 1235px) {
            width: 248px;
            & + & {
                margin: 0;
                margin-left: 10px;
            }
            &--full {
                width: 100%;
            }

            &--phone {

                & + & {
                    margin-left: 0;
                    margin-top: 11px;
                }
            }
        }
    }
}
.profile-field-group {
    margin-bottom: 11px;
    padding-left: 45px;

    background: url(images/svg/Enter-user-profile.svg) no-repeat 0 6px;
    &--name {
        background-image: url(images/svg/Enter-user-profile.svg);
    }
    &--email {
        background-image: url('images/personal-cabinet/ui-icon-personal-envelope.png');
    }
    &--phone {
        background-image: url('images/personal-cabinet/ui-icon-personal-phone.png');
        position: relative;
    }
    &--password {
        background-image: url('images/personal-cabinet/ui-icon-personal-lock.png');
    }
    @media (min-width: 1235px) {
        padding-left: 60px;

        background-position: 17px 6px;
    }
}
.profile-form-add-phone {
    

    @media (min-width: 768px) {
        position: absolute;
        left: 310px;
        top: 11px;
    }

    @media (min-width: 1235px) {
        left: 325px;
    }
}
.profile-form-group {
    margin-bottom: 20px;
    padding: 16px 7px 7px 11px;

    border: 1px solid #959595;
    border-radius: 3px;
    @media (min-width: 768px) {
        padding-left: 14px;
    }
    p {
        font-size: 15px;
        line-height: 25px;

        margin-bottom: 11px;
    }
}

// start of profile-socials block
.profile-socials {
    margin-bottom: 20px;
    margin-top: 21px;
    padding: 13px 15px 17px;

    background-color: #fffae8;
    &__title {
        font-size: 17px ;

        margin: 0;
        margin-bottom: 11px;
    }
    &__links {
        font-size: 15px;
        span {
            display: block;

            margin-bottom: 12px;
            @media (min-width: 544px) {
                display: inline-block;

                margin: 0;
            }
        }
    }
    &__link {
        display: inline-block;

        width: 40px;
        height: 40px;
        margin-right: 19px;

        vertical-align: middle;
        @media (min-width: 544px) {
            margin: 0;
            margin-left: 16px;
        }
    }
}

.tw-link {
    background: url(images/personal-cabinet/twitter-icon.png) no-repeat 0 0;
}
.gplus-link {
    background: url(images/personal-cabinet/gplus-icon.png) no-repeat 0 0;
}
.fb-link {
    background: url(images/personal-cabinet/fb-icon.png) no-repeat 0 0;
}
.tw-link:hover,
.fb-link:hover,
.gplus-link:hover {
    background-position: 0 -40px;
}
// end of profile socials block
.cabinet-sab-block {
    margin-bottom: 7px;
}
.sex-block {
    font-size: 0;

    margin-bottom: 10px;
    @media (min-width: 768px) {
        display: inline-block;

        margin-right: 10px;
        margin-bottom: 0;

        vertical-align: middle;
    }
    input {
        position: absolute;
        left: -9999px;
    }
    label {
        display: inline-block;

        box-sizing: border-box;
        width: 58px;
        height: 58px;
        margin: 0;
        margin-right: 5px;

        cursor: pointer;

        border: 1px solid transparent;
        border-radius: 4px;
        background: url(images/icon-male-sprite.png) no-repeat 0 0;
    }
    input:checked + label {
        border: 1px solid #6a8eb0;
        background-position: 0 -57px;
    }
    #femaleSex + label {
        background-image: url(images/icon-female-sprite.png);
    }
}

.birthday-block {
    @media (min-width: 768px) {
        display: inline-block;

        margin-bottom: 0;

        vertical-align: middle;
    }
    &__heading {
        font-size: 15px;
        line-height: 15px;

        margin-bottom: 9px;
    }
}



.select-date__select {
    font: 15px $main-font;

    box-sizing: border-box;
    height: 30px;
    padding: 0 34px 0 7px;

    cursor: pointer;

    color: #0d0d0d;
    border: 1px solid  #c2c2c2;
    border-radius: 2px;
    outline: none;
    background: #fff url(images/select-arrow-small.png) no-repeat right 6px top 55%;
    background-size: 12px;
    box-shadow: none;
    // remove the arrow

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    &:focus {
        border-color: #4b80bb;
    }

    & + & {
        margin-left: 6px;
    }
}

.cabinet-subscription {

    &__item {
        

        @media (min-width: 0px)  and (max-width: 520px){
            margin-right: 12px;       
            &:nth-child(2n) {
                margin-right: 0;
            }
        }

        @media (min-width: 768px) {
            &:nth-child(2n) {
                margin-right: 15px;
            }
        }

        @media (min-width: 1235px) {

            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}

.profile-form__btn {
    font: 18px $main-font-semibold;

    box-sizing: border-box;
    width: 245px;
    height: 46px;

    color: #fff;
    background-color: #659913;
}

.profile-form__delete-link {
    display: block;
    margin-top: 25px;
    font-size: 16px;

    @media (min-width: 768px) {
        float: right;
        display: inline-block;
        margin-top: 15px;
    }
}