
.filter-inner-fastfilter {
    margin: 0 0 12px;
    font-size: 13px;
}
.fastfilter-header {
    margin: 0 0 4px;
    color: #888;
    font-weight: 600;
}
.fastfilter-submit-block {
    padding-top: 20px;
}
.fastfilter-submit-block .submit {
    width: 100%;
}
.fastfilter-values-block {
    display: none;
}
.fastfilter-select {
    margin: 0 0 10px;
    width: 100%;
    border: 2px solid #dbdbdb;
}